* text=auto

*.md text eol=lf
*.mjs text eol=lf
*.js text eol=lf
http-generic-api/migrations/1023_sprint69_sql_cache_runtime_policy.sql text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.env* text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.cmd text eol=lf
*.dockerignore text eol=lf
Dockerfile text eol=lf
