openapi: 3.1.0
info:
  title: Hostinger API
  version: 1.1.0
  description: Expanded and hardened OpenAPI schema generated from the uploaded Hostinger
    Postman collection. Examples are preserved from the collection and common error
    responses are aligned to Postman.
servers:
- url: https://developers.hostinger.com
  description: Hostinger API base URL from Postman collection variable baseUrl
security:
- bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
      description: 'Hostinger API token sent as Authorization: Bearer <token>.'
  schemas:
    ErrorResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
        correlation_id:
          type: string
      required:
      - message
      - correlation_id
    ValidationErrorResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        correlation_id:
          type: string
      required:
      - message
      - errors
      - correlation_id
    MessageResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
      required:
      - message
    Action:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        state:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - state
      - created_at
      - updated_at
    DomainRequest:
      type: object
      additionalProperties: false
      properties:
        domain:
          type: string
      required:
      - domain
    PostInstallScript:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        content:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - content
      - created_at
      - updated_at
    PaginationMeta:
      type: object
      additionalProperties: false
      properties:
        current_page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
      required:
      - current_page
      - per_page
      - total
    ContactProfileInput:
      type: object
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        surname:
          type: string
        note:
          type: string
      required:
      - email
      - name
      - surname
      - note
    DnsRecordInput:
      type: object
      additionalProperties: false
      properties:
        content:
          type: string
      required:
      - content
    DnsZoneWriteEntry:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        records:
          type: array
          items:
            $ref: '#/components/schemas/DnsRecordInput'
        type:
          type: string
        ttl:
          type: integer
      required:
      - name
      - records
      - type
      - ttl
    DnsZoneUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        zone:
          type: array
          items:
            $ref: '#/components/schemas/DnsZoneWriteEntry'
        overwrite:
          type: boolean
      required:
      - zone
      - overwrite
    PasswordUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        password:
          type: string
          minLength: 1
      required:
      - password
    Subscription:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        billing_period:
          type: integer
        billing_period_unit:
          type: string
        currency_code:
          type: string
        total_price:
          type: integer
        renewal_price:
          type: integer
        is_auto_renewed:
          type: boolean
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        next_billing_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - status
      - billing_period
      - billing_period_unit
      - currency_code
      - total_price
      - renewal_price
      - is_auto_renewed
      - created_at
      - expires_at
      - next_billing_at
    VmIpAddress:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        address:
          type: string
        ptr:
          type: string
      required:
      - id
      - address
      - ptr
    VmTemplate:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        documentation:
          type: string
      required:
      - id
      - name
      - description
      - documentation
    VpsVirtualMachineDetailed:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        firewall_group_id:
          type: integer
        subscription_id:
          type: string
        data_center_id:
          type: integer
        plan:
          type: string
        hostname:
          type: string
        state:
          type: string
        actions_lock:
          type: string
        cpus:
          type: integer
        memory:
          type: integer
        disk:
          type: integer
        bandwidth:
          type: integer
        ns1:
          type: string
        ns2:
          type: string
        ipv4:
          type: array
          items:
            $ref: '#/components/schemas/VmIpAddress'
        ipv6:
          type: array
          items:
            $ref: '#/components/schemas/VmIpAddress'
        template:
          $ref: '#/components/schemas/VmTemplate'
        created_at:
          type: string
          format: date-time
      required:
      - id
      - firewall_group_id
      - subscription_id
      - data_center_id
      - plan
      - hostname
      - state
      - actions_lock
      - cpus
      - memory
      - disk
      - bandwidth
      - ns1
      - ns2
      - ipv4
      - ipv6
      - template
      - created_at
    WhoisProfile:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        tld:
          type: string
        country:
          type: string
        entity_type:
          type: string
        whois_details:
          type: object
          additionalProperties: true
        tld_details:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - tld
      - country
      - entity_type
      - whois_details
      - tld_details
      - created_at
      - updated_at
    Subscriber:
      type: object
      additionalProperties: false
      properties:
        uuid:
          type: string
        name:
          type: string
        surname:
          type: string
        email:
          type: string
          format: email
        subscription_status:
          type: string
        subscribed_at:
          type: string
          format: date-time
        source:
          type: string
        note:
          type: string
      required:
      - uuid
      - name
      - surname
      - email
      - subscription_status
      - subscribed_at
      - source
      - note
    SubscriberPage:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Subscriber'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
      - data
      - meta
    PublicKey:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        key:
          type: string
      required:
      - id
      - name
      - key
    PublicKeyPage:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PublicKey'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
      - data
      - meta
    FirewallRule:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        action:
          type: string
        protocol:
          type: string
        port:
          type: string
        source:
          type: string
        source_detail:
          type: string
      required:
      - id
      - action
      - protocol
      - port
      - source
      - source_detail
    FirewallRuleInput:
      type: object
      additionalProperties: false
      properties:
        protocol:
          type: string
        port:
          type: string
        source:
          type: string
        source_detail:
          type: string
      required:
      - protocol
      - port
      - source
      - source_detail
    FirewallGroup:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        is_synced:
          type: boolean
        rules:
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - is_synced
      - rules
      - created_at
      - updated_at
    ProjectSegment:
      type: object
      additionalProperties: false
      properties:
        uuid:
          type: string
        name:
          type: string
        query:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - uuid
      - name
      - query
      - created_at
      - updated_at
    DomainForwarding:
      type: object
      additionalProperties: false
      properties:
        domain:
          type: string
        redirect_type:
          type: string
          enum:
          - '301'
          - '302'
        redirect_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - domain
      - redirect_type
      - redirect_url
      - created_at
      - updated_at
    ActionPage:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Action'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
      - data
      - meta
  parameters:
    actionId:
      name: actionId
      in: path
      required: true
      description: (Required) Action ID
      schema:
        type: integer
    backupId:
      name: backupId
      in: path
      required: true
      description: (Required) Backup ID
      schema:
        type: integer
    domain:
      name: domain
      in: path
      required: true
      description: (Required) Domain name
      schema:
        type: string
    firewallId:
      name: firewallId
      in: path
      required: true
      description: (Required) Firewall ID
      schema:
        type: integer
    ipAddressId:
      name: ipAddressId
      in: path
      required: true
      description: (Required) IP Address ID
      schema:
        type: integer
    paymentMethodId:
      name: paymentMethodId
      in: path
      required: true
      description: (Required) Payment method ID
      schema:
        type: integer
    postInstallScriptId:
      name: postInstallScriptId
      in: path
      required: true
      description: (Required) Post-install script ID
      schema:
        type: integer
    profileUuid:
      name: profileUuid
      in: path
      required: true
      description: (Required) Profile uuid parameter
      schema:
        type: string
        format: uuid
    projectName:
      name: projectName
      in: path
      required: true
      description: (Required) Docker Compose project name using alphanumeric characters,
        dashes, and underscores only
      schema:
        type: string
    publicKeyId:
      name: publicKeyId
      in: path
      required: true
      description: (Required) Public Key ID
      schema:
        type: integer
    ruleId:
      name: ruleId
      in: path
      required: true
      description: (Required) Firewall Rule ID
      schema:
        type: integer
    segmentUuid:
      name: segmentUuid
      in: path
      required: true
      description: (Required) Segment uuid parameter
      schema:
        type: string
        format: uuid
    snapshotId:
      name: snapshotId
      in: path
      required: true
      description: (Required) Snapshot ID
      schema:
        type: integer
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: (Required) Subscription ID
      schema:
        type: string
    templateId:
      name: templateId
      in: path
      required: true
      description: (Required) Template ID
      schema:
        type: integer
    uuid:
      name: uuid
      in: path
      required: true
      description: (Required) UUID of the contact to delete
      schema:
        type: string
        format: uuid
    virtualMachineId:
      name: virtualMachineId
      in: path
      required: true
      description: (Required) Virtual Machine ID
      schema:
        type: integer
    whoisId:
      name: whoisId
      in: path
      required: true
      description: (Required) WHOIS ID
      schema:
        type: integer
  responses:
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
paths:
  /api/billing/v1/catalog:
    get:
      operationId: getCatalogItemList
      summary: Get catalog item list
      description: 'Retrieve catalog items available for order.


        Prices in catalog items is displayed as cents (without floating point),

        e.g: float `17.99` is displayed as integer `1799`.


        Use this endpoint to view available services and pricing before placing orders.'
      tags:
      - 'Billing: Catalog'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    category:
                      type: string
                    metadata:
                      type: object
                      additionalProperties: true
                    prices:
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          currency:
                            type: string
                          price:
                            type: integer
                          first_period_price:
                            type: integer
                          period:
                            type: integer
                          period_unit:
                            type: string
                        required:
                        - id
                        - name
                        - currency
                        - price
                        - first_period_price
                        - period
                        - period_unit
                  required:
                  - id
                  - name
                  - category
                  - metadata
                  - prices
              example:
              - id: <string>
                name: <string>
                category: <string>
                metadata: {}
                prices:
                - id: <string>
                  name: <string>
                  currency: <string>
                  price: <integer>
                  first_period_price: <integer>
                  period: <integer>
                  period_unit: year
                - id: <string>
                  name: <string>
                  currency: <string>
                  price: <integer>
                  first_period_price: <integer>
                  period: <integer>
                  period_unit: year
              - id: <string>
                name: <string>
                category: <string>
                metadata: {}
                prices:
                - id: <string>
                  name: <string>
                  currency: <string>
                  price: <integer>
                  first_period_price: <integer>
                  period: <integer>
                  period_unit: day
                - id: <string>
                  name: <string>
                  currency: <string>
                  price: <integer>
                  first_period_price: <integer>
                  period: <integer>
                  period_unit: month
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - name: category
        in: query
        required: false
        description: Filter catalog items by category (This can only be one of DOMAIN,VPS)
        schema:
          type: string
        example: VPS
      - name: name
        in: query
        required: false
        description: Filter catalog items by name. Use `*` for wildcard search, e.g.
          `.COM*` to find .com domain
        schema:
          type: string
        example: <string>
  /api/billing/v1/payment-methods:
    get:
      operationId: getPaymentMethodList
      summary: Get payment method list
      description: 'Retrieve available payment methods that can be used for placing
        new orders.


        If you want to add new payment method,

        please use [hPanel](https://hpanel.hostinger.com/billing/payment-methods).


        Use this endpoint to view available payment options before creating orders.'
      tags: &id001
      - 'Billing: Payment methods'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    identifier:
                      type: string
                    payment_method:
                      type: string
                    is_default:
                      type: boolean
                    is_expired:
                      type: boolean
                    is_suspended:
                      type: boolean
                    created_at:
                      type: string
                      format: date-time
                    expires_at:
                      type: string
                      format: date-time
                  required:
                  - id
                  - name
                  - identifier
                  - payment_method
                  - is_default
                  - is_expired
                  - is_suspended
                  - created_at
                  - expires_at
              example:
              - id: <integer>
                name: <string>
                identifier: <string>
                payment_method: <string>
                is_default: <boolean>
                is_expired: <boolean>
                is_suspended: <boolean>
                created_at: <dateTime>
                expires_at: <dateTime>
              - id: <integer>
                name: <string>
                identifier: <string>
                payment_method: <string>
                is_default: <boolean>
                is_expired: <boolean>
                is_suspended: <boolean>
                created_at: <dateTime>
                expires_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/billing/v1/payment-methods/{paymentMethodId}:
    post:
      operationId: setDefaultPaymentMethod
      summary: Set default payment method
      description: 'Set the default payment method for your account.


        Use this endpoint to configure the primary payment method for future orders.'
      tags: *id001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/paymentMethodId'
    delete:
      operationId: deletePaymentMethod
      summary: Delete payment method
      description: 'Delete a payment method from your account.


        Use this endpoint to remove unused payment methods from user accounts.'
      tags: *id001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/paymentMethodId'
  /api/billing/v1/subscriptions:
    get:
      operationId: getSubscriptionList
      summary: Get subscription list
      description: 'Retrieve a list of all subscriptions associated with your account.


        Use this endpoint to monitor active services and billing status.'
      tags: &id002
      - 'Billing: Subscriptions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
              example:
              - id: <string>
                name: <string>
                status: in_trial
                billing_period: <integer>
                billing_period_unit: <string>
                currency_code: <string>
                total_price: <integer>
                renewal_price: <integer>
                is_auto_renewed: <boolean>
                created_at: <dateTime>
                expires_at: <dateTime>
                next_billing_at: <dateTime>
              - id: <string>
                name: <string>
                status: paused
                billing_period: <integer>
                billing_period_unit: <string>
                currency_code: <string>
                total_price: <integer>
                renewal_price: <integer>
                is_auto_renewed: <boolean>
                created_at: <dateTime>
                expires_at: <dateTime>
                next_billing_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/disable:
    delete:
      operationId: disableAutoRenewal
      summary: Disable auto-renewal
      description: 'Disable auto-renewal for a subscription.


        Use this endpoint when disable auto-renewal for a subscription.'
      tags: *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: <string>
                name: <string>
                status: not_renewing
                billing_period: <integer>
                billing_period_unit: <string>
                currency_code: <string>
                total_price: <integer>
                renewal_price: <integer>
                is_auto_renewed: <boolean>
                created_at: <dateTime>
                expires_at: <dateTime>
                next_billing_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
  /api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/enable:
    patch:
      operationId: enableAutoRenewal
      summary: Enable auto-renewal
      description: 'Enable auto-renewal for a subscription.


        Use this endpoint when enable auto-renewal for a subscription.'
      tags: *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: <string>
                name: <string>
                status: not_renewing
                billing_period: <integer>
                billing_period_unit: <string>
                currency_code: <string>
                total_price: <integer>
                renewal_price: <integer>
                is_auto_renewed: <boolean>
                created_at: <dateTime>
                expires_at: <dateTime>
                next_billing_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
  /api/dns/v1/snapshots/{domain}:
    get:
      operationId: getDnsSnapshotList
      summary: Get DNS snapshot list
      description: 'Retrieve DNS snapshots for a domain.


        Use this endpoint to view available DNS backup points for restoration.'
      tags: &id003
      - 'DNS: Snapshot'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    id:
                      type: integer
                    reason:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                  required:
                  - id
                  - reason
                  - created_at
              example:
              - id: <integer>
                reason: <string>
                created_at: <dateTime>
              - id: <integer>
                reason: <string>
                created_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
  /api/dns/v1/snapshots/{domain}/{snapshotId}:
    get:
      operationId: getDnsSnapshot
      summary: Get DNS snapshot
      description: 'Retrieve particular DNS snapshot with contents of DNS zone records.


        Use this endpoint to view historical DNS configurations for domains.'
      tags: *id003
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  reason:
                    type: string
                  snapshot:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                        records:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              content:
                                type: string
                              is_disabled:
                                type: boolean
                            required:
                            - content
                            - is_disabled
                        ttl:
                          type: integer
                        type:
                          type: string
                      required:
                      - name
                      - records
                      - ttl
                      - type
                  created_at:
                    type: string
                    format: date-time
                required:
                - id
                - reason
                - snapshot
                - created_at
              example:
                id: <integer>
                reason: <string>
                snapshot:
                - name: <string>
                  records:
                  - content: <string>
                    is_disabled: <boolean>
                  - content: <string>
                    is_disabled: <boolean>
                  ttl: <integer>
                  type: CNAME
                - name: <string>
                  records:
                  - content: <string>
                    is_disabled: <boolean>
                  - content: <string>
                    is_disabled: <boolean>
                  ttl: <integer>
                  type: TXT
                created_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
      - $ref: '#/components/parameters/snapshotId'
  /api/dns/v1/snapshots/{domain}/{snapshotId}/restore:
    post:
      operationId: restoreDnsSnapshot
      summary: Restore DNS snapshot
      description: 'Restore DNS zone to the selected snapshot.


        Use this endpoint to revert domain DNS to a previous configuration.'
      tags: *id003
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
      - $ref: '#/components/parameters/snapshotId'
  /api/dns/v1/zones/{domain}:
    get:
      operationId: getDnsRecords
      summary: Get DNS records
      description: 'Retrieve DNS zone records for a specific domain.


        Use this endpoint to view current DNS configuration for domain management.'
      tags: &id004
      - 'DNS: Zone'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                    records:
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        properties:
                          content:
                            type: string
                          is_disabled:
                            type: boolean
                        required:
                        - content
                        - is_disabled
                    ttl:
                      type: integer
                    type:
                      type: string
                  required:
                  - name
                  - records
                  - ttl
                  - type
              example:
              - name: <string>
                records:
                - content: <string>
                  is_disabled: <boolean>
                - content: <string>
                  is_disabled: <boolean>
                ttl: <integer>
                type: SRV
              - name: <string>
                records:
                - content: <string>
                  is_disabled: <boolean>
                - content: <string>
                  is_disabled: <boolean>
                ttl: <integer>
                type: TXT
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
    put:
      operationId: updateDnsRecords
      summary: Update DNS records
      description: "Update DNS records for the selected domain.\n\nUsing `overwrite\
        \ = true` will replace existing records with the provided ones. \nOtherwise\
        \ existing records will be updated and new records will be added.\n\nUse this\
        \ endpoint to modify domain DNS configuration."
      tags: *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                zone:
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                      records:
                        type: array
                        items:
                          $ref: '#/components/schemas/DnsRecordInput'
                      type:
                        type: string
                      ttl:
                        type: integer
                    required:
                    - name
                    - records
                    - type
                    - ttl
                overwrite:
                  type: boolean
              required:
              - zone
              - overwrite
            example:
              zone:
              - name: <string>
                records:
                - content: <string>
                - content: <string>
                type: CNAME
                ttl: <integer>
              - name: <string>
                records:
                - content: <string>
                - content: <string>
                type: SOA
                ttl: <integer>
              overwrite: true
    delete:
      operationId: deleteDnsRecords
      summary: Delete DNS records
      description: "Delete DNS records for the selected domain.\n\nTo filter which\
        \ records to delete, add the `name` of the record and `type` to the filter.\
        \ \nMultiple filters can be provided with single request.\n\nIf you have multiple\
        \ records with the same name and type, and you want to delete only part of\
        \ them,\nrefer to the `Update zone records` endpoint.\n\nUse this endpoint\
        \ to remove specific DNS records from domains."
      tags: *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                      type:
                        type: string
                    required:
                    - name
                    - type
              required:
              - filters
            example:
              filters:
              - name: <string>
                type: AAAA
              - name: <string>
                type: CAA
  /api/dns/v1/zones/{domain}/reset:
    post:
      operationId: resetDnsRecords
      summary: Reset DNS records
      description: 'Reset DNS zone to the default records.


        Use this endpoint to restore domain DNS to original configuration.'
      tags: *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                sync:
                  type: boolean
                reset_email_records:
                  type: boolean
                whitelisted_record_types:
                  type: array
                  items:
                    type: string
              required:
              - sync
              - reset_email_records
              - whitelisted_record_types
            example:
              sync: true
              reset_email_records: true
              whitelisted_record_types:
              - <string>
              - <string>
  /api/dns/v1/zones/{domain}/validate:
    post:
      operationId: validateDnsRecords
      summary: Validate DNS records
      description: 'Validate DNS records prior to update for the selected domain.


        If the validation is successful, the response will contain `200 Success` code.

        If there is validation error, the response will fail with `422 Validation
        error` code.


        Use this endpoint to verify DNS record validity before applying changes.'
      tags: *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                zone:
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                      records:
                        type: array
                        items:
                          $ref: '#/components/schemas/DnsRecordInput'
                      type:
                        type: string
                      ttl:
                        type: integer
                    required:
                    - name
                    - records
                    - type
                    - ttl
                overwrite:
                  type: boolean
              required:
              - zone
              - overwrite
            example:
              zone:
              - name: <string>
                records:
                - content: <string>
                - content: <string>
                type: CNAME
                ttl: <integer>
              - name: <string>
                records:
                - content: <string>
                - content: <string>
                type: SOA
                ttl: <integer>
              overwrite: true
  /api/domains/v1/availability:
    post:
      operationId: checkDomainAvailability
      summary: Check domain availability
      description: 'Check availability of domain names across multiple TLDs.


        Multiple TLDs can be checked at once.

        If you want alternative domains with response, provide only one TLD and set
        `with_alternatives` to `true`.

        TLDs should be provided without leading dot (e.g. `com`, `net`, `org`).


        Endpoint has rate limit of 10 requests per minute.


        Use this endpoint to verify domain availability before purchase.'
      tags:
      - 'Domains: Availability'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    domain:
                      type: string
                    is_available:
                      type: boolean
                    is_alternative:
                      type: boolean
                    restriction:
                      type: string
                  required:
                  - domain
                  - is_available
                  - is_alternative
                  - restriction
              example:
              - domain: <string>
                is_available: <boolean>
                is_alternative: <boolean>
                restriction: <string>
              - domain: <string>
                is_available: <boolean>
                is_alternative: <boolean>
                restriction: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domain:
                  type: string
                tlds:
                  type: array
                  items:
                    type: string
                with_alternatives:
                  type: boolean
              required:
              - domain
              - tlds
              - with_alternatives
            example:
              domain: <string>
              tlds:
              - <string>
              - <string>
              with_alternatives: false
  /api/domains/v1/forwarding:
    post:
      operationId: createDomainForwarding
      summary: Create domain forwarding
      description: 'Create domain forwarding configuration.


        Use this endpoint to set up domain redirects to other URLs.'
      tags: &id005
      - 'Domains: Forwarding'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  domain:
                    type: string
                  redirect_type:
                    type: string
                  redirect_url:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                required:
                - domain
                - redirect_type
                - redirect_url
                - created_at
                - updated_at
              example:
                domain: <string>
                redirect_type: '302'
                redirect_url: <string>
                created_at: <dateTime>
                updated_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domain:
                  type: string
                redirect_type:
                  type: string
                redirect_url:
                  type: string
              required:
              - domain
              - redirect_type
              - redirect_url
            example:
              domain: <string>
              redirect_type: '301'
              redirect_url: <string>
  /api/domains/v1/forwarding/{domain}:
    get:
      operationId: getDomainForwarding
      summary: Get domain forwarding
      description: 'Retrieve domain forwarding data.


        Use this endpoint to view current redirect configuration for domains.'
      tags: *id005
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  domain:
                    type: string
                  redirect_type:
                    type: string
                  redirect_url:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                required:
                - domain
                - redirect_type
                - redirect_url
                - created_at
                - updated_at
              example:
                domain: <string>
                redirect_type: '302'
                redirect_url: <string>
                created_at: <dateTime>
                updated_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
    delete:
      operationId: deleteDomainForwarding
      summary: Delete domain forwarding
      description: 'Delete domain forwarding data.


        Use this endpoint to remove redirect configuration from domains.'
      tags: *id005
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
  /api/domains/v1/portfolio:
    get:
      operationId: getDomainList
      summary: Get domain list
      description: 'Retrieve all domains associated with your account.


        Use this endpoint to view user''s domain portfolio.'
      tags: &id006
      - 'Domains: Portfolio'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    id:
                      type: integer
                    domain:
                      type: string
                    type:
                      type: string
                    status:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    expires_at:
                      type: string
                      format: date-time
                  required:
                  - id
                  - domain
                  - type
                  - status
                  - created_at
                  - expires_at
              example:
              - id: <integer>
                domain: <string>
                type: free_domain_transfer
                status: active
                created_at: <dateTime>
                expires_at: <dateTime>
              - id: <integer>
                domain: <string>
                type: domain_transfer
                status: requested
                created_at: <dateTime>
                expires_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: purchaseNewDomain
      summary: Purchase new domain
      description: 'Purchase and register a new domain name.


        If registration fails, login to [hPanel](https://hpanel.hostinger.com/) and
        check domain registration status.


        If no payment method is provided, your default payment method will be used
        automatically.


        If no WHOIS information is provided, default contact information for that
        TLD will be used.

        Before making request, ensure WHOIS information for desired TLD exists in
        your account.


        Some TLDs require `additional_details` to be provided and these will be validated
        before completing purchase.


        Use this endpoint to register new domains for users.'
      tags: *id006
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  subscription_id:
                    type: string
                  status:
                    type: string
                  currency:
                    type: string
                  subtotal:
                    type: integer
                  total:
                    type: integer
                  billing_address:
                    type: object
                    additionalProperties: false
                    properties:
                      first_name:
                        type: string
                      last_name:
                        type: string
                      company:
                        type: string
                      address_1:
                        type: string
                      address_2:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zip:
                        type: string
                      country:
                        type: string
                      phone:
                        type: string
                      email:
                        type: string
                    required:
                    - first_name
                    - last_name
                    - company
                    - address_1
                    - address_2
                    - city
                    - state
                    - zip
                    - country
                    - phone
                    - email
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                required:
                - id
                - subscription_id
                - status
                - currency
                - subtotal
                - total
                - billing_address
                - created_at
                - updated_at
              example:
                id: <integer>
                subscription_id: <string>
                status: completed
                currency: <string>
                subtotal: <integer>
                total: <integer>
                billing_address:
                  first_name: <string>
                  last_name: <string>
                  company: <string>
                  address_1: <string>
                  address_2: <string>
                  city: <string>
                  state: <string>
                  zip: <string>
                  country: <string>
                  phone: <string>
                  email: <string>
                created_at: <dateTime>
                updated_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domain:
                  type: string
                item_id:
                  type: string
                payment_method_id:
                  type: integer
                domain_contacts:
                  type: object
                  additionalProperties: false
                  properties:
                    owner_id:
                      type: integer
                    admin_id:
                      type: integer
                    billing_id:
                      type: integer
                    tech_id:
                      type: integer
                  required:
                  - owner_id
                  - admin_id
                  - billing_id
                  - tech_id
                additional_details:
                  type: object
                  additionalProperties: true
                coupons:
                  type: array
                  items:
                    type: string
              required:
              - domain
              - item_id
              - payment_method_id
              - domain_contacts
              - additional_details
              - coupons
            example:
              domain: <string>
              item_id: <string>
              payment_method_id: <integer>
              domain_contacts:
                owner_id: <integer>
                admin_id: <integer>
                billing_id: <integer>
                tech_id: <integer>
              additional_details: {}
              coupons:
              - ''
              - ''
  /api/domains/v1/portfolio/{domain}:
    get:
      operationId: getDomainDetails
      summary: Get domain details
      description: 'Retrieve detailed information for specified domain.


        Use this endpoint to view comprehensive domain configuration and status.'
      tags: *id006
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  domain:
                    type: string
                  status:
                    type: string
                  message:
                    type: string
                  is_privacy_protection_allowed:
                    type: boolean
                  is_privacy_protected:
                    type: boolean
                  is_lockable:
                    type: boolean
                  is_locked:
                    type: boolean
                  name_servers:
                    type: object
                    additionalProperties: false
                    properties:
                      ns1:
                        type: string
                      ns2:
                        type: string
                    required:
                    - ns1
                    - ns2
                  child_name_servers:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                  domain_contacts:
                    type: object
                    additionalProperties: false
                    properties:
                      admin_id:
                        type: integer
                      owner_id:
                        type: integer
                      billing_id:
                        type: integer
                      tech_id:
                        type: integer
                    required:
                    - admin_id
                    - owner_id
                    - billing_id
                    - tech_id
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                  60_days_lock_expires_at:
                    type: string
                    format: date-time
                  registered_at:
                    type: string
                    format: date-time
                  expires_at:
                    type: string
                    format: date-time
                required:
                - domain
                - status
                - message
                - is_privacy_protection_allowed
                - is_privacy_protected
                - is_lockable
                - is_locked
                - name_servers
                - child_name_servers
                - domain_contacts
                - created_at
                - updated_at
                - 60_days_lock_expires_at
                - registered_at
                - expires_at
              example:
                domain: <string>
                status: failed
                message: <string>
                is_privacy_protection_allowed: <boolean>
                is_privacy_protected: <boolean>
                is_lockable: <boolean>
                is_locked: <boolean>
                name_servers:
                  ns1: <string>
                  ns2: <string>
                child_name_servers:
                - - <string>
                  - <string>
                - - <string>
                  - <string>
                domain_contacts:
                  admin_id: <integer>
                  owner_id: <integer>
                  billing_id: <integer>
                  tech_id: <integer>
                created_at: <dateTime>
                updated_at: <dateTime>
                60_days_lock_expires_at: <dateTime>
                registered_at: <dateTime>
                expires_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
  /api/domains/v1/portfolio/{domain}/domain-lock:
    put:
      operationId: enableDomainLock
      summary: Enable domain lock
      description: 'Enable domain lock for the domain.


        When domain lock is enabled,

        the domain cannot be transferred to another registrar without first disabling
        the lock.


        Use this endpoint to secure domains against unauthorized transfers.'
      tags: *id006
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
    delete:
      operationId: disableDomainLock
      summary: Disable domain lock
      description: 'Disable domain lock for the domain.


        Domain lock needs to be disabled before transferring the domain to another
        registrar.


        Use this endpoint to prepare domains for transfer to other registrars.'
      tags: *id006
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
  /api/domains/v1/portfolio/{domain}/nameservers:
    put:
      operationId: updateDomainNameservers
      summary: Update domain nameservers
      description: 'Set nameservers for a specified domain.


        Be aware, that improper nameserver configuration can lead to the domain being
        unresolvable or unavailable.


        Use this endpoint to configure custom DNS hosting for domains.'
      tags: *id006
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                ns1:
                  type: string
                ns2:
                  type: string
                ns3:
                  type: string
                ns4:
                  type: string
              required:
              - ns1
              - ns2
              - ns3
              - ns4
            example:
              ns1: <string>
              ns2: <string>
              ns3: <string>
              ns4: <string>
  /api/domains/v1/portfolio/{domain}/privacy-protection:
    put:
      operationId: enablePrivacyProtection
      summary: Enable privacy protection
      description: 'Enable privacy protection for the domain.


        When privacy protection is enabled, domain owner''s personal information is
        hidden from public WHOIS database.


        Use this endpoint to protect domain owner''s personal information from public
        view.'
      tags: *id006
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
    delete:
      operationId: disablePrivacyProtection
      summary: Disable privacy protection
      description: 'Disable privacy protection for the domain.


        When privacy protection is disabled, domain owner''s personal information
        is visible in public WHOIS database.


        Use this endpoint to make domain owner''s information publicly visible.'
      tags: *id006
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/domain'
  /api/domains/v1/whois:
    get:
      operationId: getWhoisProfileList
      summary: Get WHOIS profile list
      description: 'Retrieve WHOIS contact profiles.


        Use this endpoint to view available contact profiles for domain registration.'
      tags: &id007
      - 'Domains: WHOIS'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WhoisProfile'
              example:
              - id: <integer>
                tld: <string>
                country: <string>
                entity_type: organization
                whois_details: {}
                tld_details: {}
                created_at: <dateTime>
                updated_at: <dateTime>
              - id: <integer>
                tld: <string>
                country: <string>
                entity_type: organization
                whois_details: {}
                tld_details: {}
                created_at: <dateTime>
                updated_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - name: tld
        in: query
        required: false
        description: Filter by TLD (without leading dot)
        schema:
          type: string
        example: <string>
    post:
      operationId: createWhoisProfile
      summary: Create WHOIS profile
      description: 'Create WHOIS contact profile.


        Use this endpoint to add new contact information for domain registration.'
      tags: *id007
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisProfile'
              example:
                id: <integer>
                tld: <string>
                country: <string>
                entity_type: organization
                whois_details: {}
                tld_details: {}
                created_at: <dateTime>
                updated_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                tld:
                  type: string
                entity_type:
                  type: string
                country:
                  type: string
                whois_details:
                  type: object
                  additionalProperties: true
                tld_details:
                  type: object
                  additionalProperties: true
              required:
              - tld
              - entity_type
              - country
              - whois_details
              - tld_details
            example:
              tld: <string>
              entity_type: organization
              country: <string>
              whois_details: {}
              tld_details: {}
  /api/domains/v1/whois/{whoisId}:
    get:
      operationId: getWhoisProfile
      summary: Get WHOIS profile
      description: 'Retrieve a WHOIS contact profile.


        Use this endpoint to view domain registration contact information.'
      tags: *id007
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisProfile'
              example:
                id: <integer>
                tld: <string>
                country: <string>
                entity_type: organization
                whois_details: {}
                tld_details: {}
                created_at: <dateTime>
                updated_at: <dateTime>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/whoisId'
    delete:
      operationId: deleteWhoisProfile
      summary: Delete WHOIS profile
      description: 'Delete WHOIS contact profile.


        Use this endpoint to remove unused contact profiles from account.'
      tags: *id007
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/whoisId'
  /api/domains/v1/whois/{whoisId}/usage:
    get:
      operationId: getWhoisProfileUsage
      summary: Get WHOIS profile usage
      description: 'Retrieve domain list where provided WHOIS contact profile is used.


        Use this endpoint to view which domains use specific contact profiles.'
      tags: *id007
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - <string>
              - <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/whoisId'
  /api/hosting/v1/datacenters:
    get:
      operationId: listAvailableDatacenters
      summary: List available datacenters
      description: 'Retrieve a list of datacenters available for setting up hosting
        plans

        based on available datacenter capacity and hosting plan of your order.

        The first item in the list is the best match for your specific order

        requirements.'
      tags:
      - 'Hosting: Datacenters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    title:
                      type: string
                    code:
                      type: string
                    coordinates:
                      type: object
                      additionalProperties: false
                      properties:
                        latitude:
                          type: string
                        longitude:
                          type: string
                      required:
                      - latitude
                      - longitude
                  required:
                  - title
                  - code
                  - coordinates
              example:
              - title: <string>
                code: <string>
                coordinates:
                  latitude: <float>
                  longitude: <float>
              - title: <string>
                code: <string>
                coordinates:
                  latitude: <float>
                  longitude: <float>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - name: order_id
        in: query
        required: false
        description: (Required) Order ID
        schema:
          type: integer
        example: <integer>
  /api/hosting/v1/domains/free-subdomains:
    post:
      operationId: generateAFreeSubdomain
      summary: Generate a free subdomain
      description: 'Generate a unique free subdomain that can be used for hosting
        services without purchasing custom domains.

        Free subdomains allow you to start using hosting services immediately

        and you can always connect a custom domain to your site later.'
      tags: &id008
      - 'Hosting: Domains'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRequest'
              example:
                domain: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/hosting/v1/domains/verify-ownership:
    post:
      operationId: verifyDomainOwnership
      summary: Verify domain ownership
      description: 'Verify ownership of a single domain and return the verification
        status.


        Use this endpoint to check if a domain is accessible for you before using
        it for new websites.

        If the domain is accessible, the response will have `is_accessible: true`.

        If not, add the given TXT record to your domain''s DNS records and try verifying
        again.

        Keep in mind that it may take up to 10 minutes for new TXT DNS records to
        propagate.


        Skip this verification when using Hostinger''s free subdomains (*.hostingersite.com).'
      tags: *id008
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  domain:
                    type: string
                  is_accessible:
                    type: boolean
                  txt_to_verify:
                    type: string
                required:
                - domain
                - is_accessible
                - txt_to_verify
              example:
                domain: <string>
                is_accessible: <boolean>
                txt_to_verify: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequest'
            example:
              domain: <string>
  /api/hosting/v1/orders:
    get:
      operationId: listOrders
      summary: List orders
      description: 'Retrieve a paginated list of orders accessible to the authenticated
        client.


        This endpoint returns orders of your hosting accounts as well as orders

        of other client hosting accounts that have shared access with you.


        Use the available query parameters to filter results by order statuses

        or specific order IDs for more targeted results.'
      tags:
      - 'Hosting: Orders'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: integer
                        client_id:
                          type: integer
                        subscription_id:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        plan:
                          type: object
                          additionalProperties: false
                          properties:
                            name:
                              type: string
                          required:
                          - name
                        status:
                          type: string
                      required:
                      - id
                      - client_id
                      - subscription_id
                      - created_at
                      - plan
                      - status
                  meta:
                    type: object
                    additionalProperties: false
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                    required:
                    - current_page
                    - per_page
                    - total
                required:
                - data
                - meta
              example:
                data:
                - id: <integer>
                  client_id: <integer>
                  subscription_id: <string>
                  created_at: <dateTime>
                  plan:
                    name: <string>
                  status: <string>
                - id: <integer>
                  client_id: <integer>
                  subscription_id: <string>
                  created_at: <dateTime>
                  plan:
                    name: <string>
                  status: <string>
                meta:
                  current_page: <integer>
                  per_page: <integer>
                  total: <integer>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
        example: <integer>
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        schema:
          type: string
        example: 25
      - name: statuses
        in: query
        required: false
        description: Filter by order statuses
        schema:
          type: string
        example: deleted
      - name: statuses
        in: query
        required: false
        description: Filter by order statuses
        schema:
          type: string
        example: deleted
      - name: order_ids
        in: query
        required: false
        description: Filter by specific order IDs
        schema:
          type: integer
        example: <integer>
      - name: order_ids
        in: query
        required: false
        description: Filter by specific order IDs
        schema:
          type: integer
        example: <integer>
  /api/hosting/v1/websites:
    get:
      operationId: listWebsites
      summary: List websites
      description: 'Retrieve a paginated list of websites (main and addon types) accessible
        to the authenticated client.


        This endpoint returns websites from your hosting accounts as well as

        websites from other client hosting accounts that have shared access

        with you.


        Use the available query parameters to filter results by username,

        order ID, enabled status, or domain name for more targeted results.'
      tags: &id009
      - 'Hosting: Websites'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        domain:
                          type: string
                        vhost_type:
                          type: string
                        is_enabled:
                          type: boolean
                        username:
                          type: string
                        client_id:
                          type: integer
                        order_id:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
                        root_directory:
                          type: string
                        parent_domain:
                          type: [string, "null"]
                      required:
                      - domain
                      - vhost_type
                      - is_enabled
                      - username
                      - client_id
                      - order_id
                      - created_at
                      - root_directory
                      - parent_domain
                  meta:
                    type: object
                    additionalProperties: false
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                    required:
                    - current_page
                    - per_page
                    - total
                required:
                - data
                - meta
              example:
                data:
                - domain: <string>
                  vhost_type: main
                  is_enabled: <boolean>
                  username: <string>
                  client_id: <integer>
                  order_id: <integer>
                  created_at: <dateTime>
                  root_directory: <string>
                  parent_domain: <string>
                - domain: <string>
                  vhost_type: parked
                  is_enabled: <boolean>
                  username: <string>
                  client_id: <integer>
                  order_id: <integer>
                  created_at: <dateTime>
                  root_directory: <string>
                  parent_domain: <string>
                meta:
                  current_page: <integer>
                  per_page: <integer>
                  total: <integer>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
        example: <integer>
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        schema:
          type: string
        example: 25
      - name: username
        in: query
        required: false
        description: Filter by specific username
        schema:
          type: string
        example: <string>
      - name: order_id
        in: query
        required: false
        description: Order ID
        schema:
          type: integer
        example: <integer>
      - name: is_enabled
        in: query
        required: false
        description: Filter by enabled status
        schema:
          type: boolean
        example: <boolean>
      - name: domain
        in: query
        required: false
        description: Filter by domain name (exact match)
        schema:
          type: string
        example: <string>
    post:
      operationId: createWebsite
      summary: Create website
      description: 'Create a new website for the authenticated client.


        Provide the domain name and associated order ID to create a new website.

        The datacenter_code parameter is required when creating the first website

        on a new hosting plan - this will set up and configure new hosting account

        in the selected datacenter.


        Subsequent websites will be hosted on the same datacenter automatically.


        Website creation takes up to a few minutes to complete. Check the

        websites list endpoint to see when your new website becomes available.'
      tags: *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domain:
                  type: string
                order_id:
                  type: integer
                datacenter_code:
                  type: string
              required:
              - domain
              - order_id
              - datacenter_code
            example:
              domain: <string>
              order_id: <integer>
              datacenter_code: <string>
  /api/reach/v1/contacts:
    get:
      operationId: listContacts
      summary: List contacts
      description: 'Get a list of contacts, optionally filtered by group and subscription
        status.


        This endpoint returns a paginated list of contacts with their basic information.

        You can filter contacts by group UUID and subscription status.'
      tags: &id010
      - 'Reach: Contacts'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        uuid:
                          type: string
                        name:
                          type: string
                        surname:
                          type: string
                        email:
                          type: string
                        subscription_status:
                          type: string
                        subscribed_at:
                          type: string
                          format: date-time
                        source:
                          type: string
                        note:
                          type: string
                      required:
                      - uuid
                      - name
                      - surname
                      - email
                      - subscription_status
                      - subscribed_at
                      - source
                      - note
                  meta:
                    type: object
                    additionalProperties: false
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                    required:
                    - current_page
                    - per_page
                    - total
                required:
                - data
                - meta
              example:
                data:
                - uuid: <string>
                  name: <string>
                  surname: <string>
                  email: <string>
                  subscription_status: subscribed
                  subscribed_at: <dateTime>
                  source: sync
                  note: <string>
                - uuid: <string>
                  name: <string>
                  surname: <string>
                  email: <string>
                  subscription_status: subscribed
                  subscribed_at: <dateTime>
                  source: manual
                  note: <string>
                meta:
                  current_page: <integer>
                  per_page: <integer>
                  total: <integer>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - name: group_uuid
        in: query
        required: false
        description: Filter contacts by group UUID
        schema:
          type: string
          format: uuid
        example: <string>
      - name: subscription_status
        in: query
        required: false
        description: Filter contacts by subscription status (This can only be one
          of subscribed,unsubscribed)
        schema:
          type: string
        example: subscribed
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
        example: <integer>
    post:
      operationId: createANewContact
      summary: Create a new contact
      description: 'Create a new contact in the email marketing system.


        This endpoint allows you to create a new contact with basic information like
        name, email, and surname.


        If double opt-in is enabled,

        the contact will be created with a pending status and a confirmation email
        will be sent.'
      tags: *id010
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  type: string
                name:
                  type: string
                surname:
                  type: string
                note:
                  type: string
              required:
              - email
              - name
              - surname
              - note
            example:
              email: <string>
              name: <string>
              surname: <string>
              note: <string>
  /api/reach/v1/contacts/groups:
    get:
      operationId: listContactGroups
      summary: List contact groups
      description: 'Get a list of all contact groups.


        This endpoint returns a list of contact groups that can be used to organize
        contacts.'
      tags: *id010
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    uuid:
                      type: string
                    title:
                      type: string
                  required:
                  - uuid
                  - title
              example:
              - uuid: <string>
                title: <string>
              - uuid: <string>
                title: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/reach/v1/contacts/{uuid}:
    delete:
      operationId: deleteAContact
      summary: Delete a contact
      description: 'Delete a contact with the specified UUID.


        This endpoint permanently removes a contact from the email marketing system.'
      tags: *id010
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: <string>
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      parameters:
      - $ref: '#/components/parameters/uuid'
  /api/reach/v1/profiles:
    get:
      operationId: listProfiles
      summary: List Profiles
      description: This endpoint returns all profiles available to the client, including
        their basic information.
      tags:
      - 'Reach: Profiles'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    limits:
                      type: object
                      additionalProperties: false
                      properties:
                        ai_messages_limit:
                          type: integer
                        subscribers_limit:
                          type: integer
                        emails_monthly_limit:
                          type: integer
                        ai_messages_additional:
                          type: integer
                      required:
                      - ai_messages_limit
                      - subscribers_limit
                      - emails_monthly_limit
                      - ai_messages_additional
                    is_trial:
                      type: boolean
                    expires_at:
                      type: string
                      format: date-time
                    resource_id:
                      type: integer
                    status:
                      type: string
                    profiles:
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        properties:
                          uuid:
                            type: string
                          domain:
                            type: string
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                        required:
                        - uuid
                        - domain
                        - created_at
                        - updated_at
                  required:
                  - limits
                  - is_trial
                  - expires_at
                  - resource_id
                  - status
                  - profiles
              example:
              - limits:
                  ai_messages_limit: <integer>
                  subscribers_limit: <integer>
                  emails_monthly_limit: <integer>
                  ai_messages_additional: <integer>
                is_trial: <boolean>
                expires_at: <dateTime>
                resource_id: <integer>
                status: <string>
                profiles:
                - uuid: <string>
                  domain: <string>
                  created_at: <dateTime>
                  updated_at: <dateTime>
                - uuid: <string>
                  domain: <string>
                  created_at: <dateTime>
                  updated_at: <dateTime>
              - limits:
                  ai_messages_limit: <integer>
                  subscribers_limit: <integer>
                  emails_monthly_limit: <integer>
                  ai_messages_additional: <integer>
                is_trial: <boolean>
                expires_at: <dateTime>
                resource_id: <integer>
                status: <string>
                profiles:
[...]
