Warning: truncated output (original token count: 82131)
Total output lines: 8552

openapi: 3.1.0
info:
  title: MAD4B Runtime Route Operation Index
  version: 1.0.0-generated
  description: Generated from mounted Express routes. This document closes operation-discovery gaps only; x-contract-completeness=operation-index-only is not a reviewed request/response schema contract.
servers:
  - url: https://auth.mad4b.com
tags:
  - name: runtime-route-index
    description: Fail-closed generated inventory of runtime operations with explicit authentication evidence.
paths:
  /:
    delete:
      operationId: deleted81d1ce6
      summary: DELETE / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: &a1 []
    get:
      operationId: getc767025d
      summary: GET / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
    patch:
      operationId: patche11ce362
      summary: PATCH / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
    post:
      operationId: post7571cce8
      summary: POST / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
    put:
      operationId: put1e71fdac
      summary: PUT / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
  /admin/data-tables/{table_key}/rows/{row_id}:
    delete:
      operationId: deleteAdminDataTablesByTableKeyRowsByRowIdc5cc5bef
      summary: DELETE /admin/data-tables/{table_key}/rows/{row_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: row_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getAdminDataTablesByTableKeyRowsByRowId18fde086
      summary: GET /admin/data-tables/{table_key}/rows/{row_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: row_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    patch:
      operationId: patchAdminDataTablesByTableKeyRowsByRowIdd727420b
      summary: PATCH /admin/data-tables/{table_key}/rows/{row_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: row_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agents/{id}/skills/{skill_id}:
    delete:
      operationId: deleteAgentsByIdSkillsBySkillId51649c3c
      summary: DELETE /agents/{id}/skills/{skill_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: skill_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /api-credentials/{id}:
    delete:
      operationId: deleteApiCredentialsById47c3e4d9
      summary: DELETE /api-credentials/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /connected-systems/{id}:
    delete:
      operationId: deleteConnectedSystemsById38d31292
      summary: DELETE /connected-systems/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putConnectedSystemsByIddc28667e
      summary: PUT /connected-systems/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /contacts/{id}:
    delete:
      operationId: deleteContactsById18d4e272
      summary: DELETE /contacts/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putContactsById58d10474
      summary: PUT /contacts/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /customers/{id}:
    delete:
      operationId: deleteCustomersById6e7fb7e3
      summary: DELETE /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getCustomersById2c79165f
      summary: GET /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putCustomersByIdcc0a3676
      summary: PUT /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /developer-apps/{id}:
    delete:
      operationId: deleteDeveloperAppsById03aacf10
      summary: DELETE /developer-apps/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putDeveloperAppsByIdb5b7e580
      summary: PUT /developer-apps/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /entitlements/{id}:
    delete:
      operationId: deleteEntitlementsByIde5e5273d
      summary: DELETE /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getEntitlementsByIdf7aa7325
      summary: GET /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putEntitlementsById3155c351
      summary: PUT /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /incidents/{id}:
    delete:
      operationId: deleteIncidentsByIdf5055a4f
      summary: DELETE /incidents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/securityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putIncidentsByIddc8572fe
      summary: PUT /incidents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/securityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /installations/{id}:
    delete:
      operationId: deleteInstallationsById02b5c766
      summary: DELETE /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getInstallationsById24883803
      summary: GET /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putInstallationsById0cf3e205
      summary: PUT /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /logic-definitions/{id}:
    delete:
      operationId: deleteLogicDefinitionsById123a3885
      summary: DELETE /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getLogicDefinitionsById2415dbed
      summary: GET /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putLogicDefinitionsById7066c037
      summary: PUT /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /me/workspaces/{tenant_id}/data-tables/{table_key}/rows/{row_id}:
    delete:
      operationId: deleteMeWorkspacesByTenantIdDataTablesByTableKeyRowsByRowId6d044eaa
      summary: DELETE /me/workspaces/{tenant_id}/data-tables/{table_key}/rows/{row_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: row_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireActiveMembership
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
    get:
      operationId: getMeWorkspacesByTenantIdDataTablesByTableKeyRowsByRowId96588232
      summary: GET /me/workspaces/{tenant_id}/data-tables/{table_key}/rows/{row_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: row_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireActiveMembership
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
    patch:
      operationId: patchMeWorkspacesByTenantIdDataTablesByTableKeyRowsByRowId09a36e90
      summary: PATCH /me/workspaces/{tenant_id}/data-tables/{table_key}/rows/{row_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: row_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireActiveMembership
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /tenants/{id}:
    delete:
      operationId: deleteTenantsById22872ff3
      summary: DELETE /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getTenantsById4ca55820
      summary: GET /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putTenantsById3d6a4037
      summary: PUT /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /threads/{id}:
    delete:
      operationId: deleteThreadsById8fa07828
      summary: DELETE /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getThreadsById7deb97ea
      summary: GET /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putThreadsByIdee182ff5
      summary: PUT /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /tickets/{id}:
    delete:
      operationId: deleteTicketsById31b0d094
      summary: DELETE /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getTicketsByIdc8e55555
      summary: GET /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putTicketsByIdd6b48b98
      summary: PUT /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /uploads/{upload_id}:
    delete:
      operationId: deleteUploadsByUploadId478b6a41
      summary: DELETE /uploads/{upload_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/uploadRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getUploadsByUploadIde45dc11e
      summary: GET /uploads/{upload_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/uploadRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /users/{id}:
    delete:
      operationId: deleteUsersById92658ed2
      summary: DELETE /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getUsersByIde870987d
      summary: GET /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putUsersById38ddba82
      summary: PUT /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /webhooks/{id}:
    delete:
      operationId: deleteWebhooksById027168fb
      summary: DELETE /webhooks/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putWebhooksById0c259cb0
      summary: PUT /webhooks/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /activation/env-bootstrap:
    get:
      operationId: getActivationEnvBootstrap07e553bb
      summary: GET /activation/env-bootstrap (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/activationRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /activation/session-context/read-only:
    get:
      operationId: getActivationSessionContextReadOnly5a159207
      summary: GET /activation/session-context/read-only (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/activationRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /admin/container-authority/topology-verification:
    get:
      operationId: getAdminContainerAuthorityTopologyVerificationd629050f
      summary: GET /admin/container-authority/topology-verification (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/dynamicContainerAuthorityRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdmin
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/data-tables:
    get:
      operationId: getAdminDataTables036c58f4
      summary: GET /admin/data-tables (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/data-tables/{table_key}/rows:
    get:
      operationId: getAdminDataTablesByTableKeyRowsa42e376a
      summary: GET /admin/data-tables/{table_key}/rows (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    post:
      operationId: postAdminDataTablesByTableKeyRows7c551cdc
      summary: POST /admin/data-tables/{table_key}/rows (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: table_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/registryDataManagementRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/onboarding/escalations:
    get:
      operationId: getAdminOnboardingEscalationse6551410
      summary: GET /admin/onboarding/escalations (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/adminOnboardingRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/onboarding/tenantless-users:
    get:
      operationId: getAdminOnboardingTenantlessUsers4e596d4f
      summary: GET /admin/onboarding/tenantless-users (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/adminOnboardingRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/release/readiness:
    get:
      operationId: getAdminReleaseReadiness83f8ceaa
      summary: GET /admin/release/readiness (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      ta…52131 tokens truncated…cies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/brands:
    post:
      operationId: postMeWorkspacesByTenantIdBrands7d9489f1
      summary: POST /me/workspaces/{tenant_id}/brands (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/workspaceResourceRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/invitations/{invitation_id}/resend:
    post:
      operationId: postMeWorkspacesByTenantIdInvitationsByInvitationIdResend4c57c689
      summary: POST /me/workspaces/{tenant_id}/invitations/{invitation_id}/resend (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: invitation_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireTenantUserJwt
          - requireUserJwt
          - requireWorkspaceOwner
        configuration_dependencies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/invitations/{invitation_id}/revoke:
    post:
      operationId: postMeWorkspacesByTenantIdInvitationsByInvitationIdRevoke88ffb7b4
      summary: POST /me/workspaces/{tenant_id}/invitations/{invitation_id}/revoke (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: invitation_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireTenantUserJwt
          - requireUserJwt
          - requireWorkspaceOwner
        configuration_dependencies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/invitations/expire-stale:
    post:
      operationId: postMeWorkspacesByTenantIdInvitationsExpireStale9fe21774
      summary: POST /me/workspaces/{tenant_id}/invitations/expire-stale (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireTenantUserJwt
          - requireUserJwt
          - requireWorkspaceOwner
        configuration_dependencies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/members/{user_id}/remove:
    post:
      operationId: postMeWorkspacesByTenantIdMembersByUserIdRemove6d542ab5
      summary: POST /me/workspaces/{tenant_id}/members/{user_id}/remove (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireTenantUserJwt
          - requireUserJwt
          - requireWorkspaceOwner
        configuration_dependencies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/ownership/transfer:
    post:
      operationId: postMeWorkspacesByTenantIdOwnershipTransfer1522ee89
      summary: POST /me/workspaces/{tenant_id}/ownership/transfer (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireTenantUserJwt
          - requireUserJwt
          - requireWorkspaceOwner
        configuration_dependencies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/resource-grants/{grant_id}/revoke:
    post:
      operationId: postMeWorkspacesByTenantIdResourceGrantsByGrantIdRevoke59ecec8f
      summary: POST /me/workspaces/{tenant_id}/resource-grants/{grant_id}/revoke (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: grant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/workspaceResourceRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
          - requireWorkspaceOwner
        configuration_dependencies:
          - JWT_SECRET
  /output-sink/replay:
    post:
      operationId: postOutputSinkReplay82ec5ef1
      summary: POST /output-sink/replay (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/outputSinkRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /planner/plans/{id}/cancel:
    post:
      operationId: postPlannerPlansByIdCancelb4da479c
      summary: POST /planner/plans/{id}/cancel (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/plannerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /planner/plans/{id}/compile:
    post:
      operationId: postPlannerPlansByIdCompile0a449397
      summary: POST /planner/plans/{id}/compile (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/plannerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /planner/plans/{id}/enqueue:
    post:
      operationId: postPlannerPlansByIdEnqueuef317cd4c
      summary: POST /planner/plans/{id}/enqueue (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/plannerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /planner/plans/{id}/execute:
    post:
      operationId: postPlannerPlansByIdExecute1bab701b
      summary: POST /planner/plans/{id}/execute (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/plannerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /planner/plans/{id}/resume:
    post:
      operationId: postPlannerPlansByIdResume68047324
      summary: POST /planner/plans/{id}/resume (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/plannerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /planner/plans/{id}/run:
    post:
      operationId: postPlannerPlansByIdRunecf39d02
      summary: POST /planner/plans/{id}/run (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/plannerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /planner/plans/{id}/tick:
    post:
      operationId: postPlannerPlansByIdTick93a08a2c
      summary: POST /planner/plans/{id}/tick (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/plannerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /platform/remote-runtime/hosting/ssh-probe:
    post:
      operationId: postPlatformRemoteRuntimeHostingSshProbe6e667530
      summary: POST /platform/remote-runtime/hosting/ssh-probe (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/platformPluginRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdmin
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/apply/request:
    post:
      operationId: postPlatformSessionInsightPromotionsApplyRequestbdc29859
      summary: POST /platform/session-insight-promotions/apply/request (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightPromotionApplyRequestRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/backlog-target-writes/execute:
    post:
      operationId: postPlatformSessionInsightPromotionsBacklogTargetWritesExecute1acbbe43
      summary: POST /platform/session-insight-promotions/backlog-target-writes/execute (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightBacklogTargetWriteRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/backlog-target-writes/rollback:
    post:
      operationId: postPlatformSessionInsightPromotionsBacklogTargetWritesRollbackbb921b9d
      summary: POST /platform/session-insight-promotions/backlog-target-writes/rollback (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightBacklogTargetWriteRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-actual-requests/create:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeActualRequestsCreate3937ff7c
      summary: POST /platform/session-insight-promotions/capability-envelope-actual-requests/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeActualRequestRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-actual-requests/preflights/create:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeActualRequestsPreflightsCreate9a829ad2
      summary: POST /platform/session-insight-promotions/capability-envelope-actual-requests/preflights/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeActualRequestPreflightRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-adapter-execution-gates/create:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeAdapterExecutionGatesCreate0b1e2306
      summary: POST /platform/session-insight-promotions/capability-envelope-adapter-execution-gates/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeAdapterExecutionGateRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-approvals/decision:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeApprovalsDecision69a4c0b7
      summary: POST /platform/session-insight-promotions/capability-envelope-approvals/decision (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeApprovalRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-dispatch-dry-runs/create:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeDispatchDryRunsCreatebe459705
      summary: POST /platform/session-insight-promotions/capability-envelope-dispatch-dry-runs/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeDispatchDryRunRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-dispatch-dry-runs/review/decision:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeDispatchDryRunsReviewDecision86086a83
      summary: POST /platform/session-insight-promotions/capability-envelope-dispatch-dry-runs/review/decision (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeDispatchDryRunReviewRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-dispatch-readbacks/create:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeDispatchReadbacksCreateb079fc97
      summary: POST /platform/session-insight-promotions/capability-envelope-dispatch-readbacks/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeDispatchReadbackRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-plans/create:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopePlansCreateba05d86c
      summary: POST /platform/session-insight-promotions/capability-envelope-plans/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopePlanRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-request-gates/create:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeRequestGatesCreate57dd541b
      summary: POST /platform/session-insight-promotions/capability-envelope-request-gates/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeRequestGateRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/capability-envelope-request-gates/review/decision:
    post:
      operationId: postPlatformSessionInsightPromotionsCapabilityEnvelopeRequestGatesReviewDecision2424f791
      summary: POST /platform/session-insight-promotions/capability-envelope-request-gates/review/decision (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightCapabilityEnvelopeRequestGateReviewRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/executor/dry-run:
    post:
      operationId: postPlatformSessionInsightPromotionsExecutorDryRun0f50742f
      summary: POST /platform/session-insight-promotions/executor/dry-run (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightPromotionDryRunExecutorRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/payload-preview/generate:
    post:
      operationId: postPlatformSessionInsightPromotionsPayloadPreviewGenerate5204409c
      summary: POST /platform/session-insight-promotions/payload-preview/generate (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightPromotionPayloadPreviewRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/payload-preview/review/decision:
    post:
      operationId: postPlatformSessionInsightPromotionsPayloadPreviewReviewDecision5587a8fe
      summary: POST /platform/session-insight-promotions/payload-preview/review/decision (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightPayloadPreviewReviewRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/remaining-scope-completions/create:
    post:
      operationId: postPlatformSessionInsightPromotionsRemainingScopeCompletionsCreate9798d42d
      summary: POST /platform/session-insight-promotions/remaining-scope-completions/create (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightRemainingScopeCompletionRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /platform/session-insight-promotions/review/decision:
    post:
      operationId: postPlatformSessionInsightPromotionsReviewDecisionb9f67311
      summary: POST /platform/session-insight-promotions/review/decision (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionInsightPromotionReviewRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /release/session-archive-backfill:
    post:
      operationId: postReleaseSessionArchiveBackfillcf7b0537
      summary: POST /release/session-archive-backfill (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/releaseRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /session-assimilation-queue/{id}/process:
    post:
      operationId: postSessionAssimilationQueueByIdProcesseb03e3d6
      summary: POST /session-assimilation-queue/{id}/process (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sessionRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /session-assimilation-queue/process-pending:
    post:
[...]
