openapi: 3.1.0
info:
  title: MAD4B Runtime Route Operation Index
  version: 1.0.0-generated
  description: Generated from mounted Express routes. This document closes operation-discovery gaps only; x-contract-completeness=operation-index-only is not a reviewed request/response schema contract.
servers:
  - url: https://auth.mad4b.com
tags:
  - name: runtime-route-index
    description: Fail-closed generated inventory of runtime operations with explicit authentication evidence.
paths:
  /agents/{id}/skills/{skill_id}:
    delete:
      operationId: deleteAgentsByIdSkillsBySkillId51649c3c
      summary: DELETE /agents/{id}/skills/{skill_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: skill_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /api-credentials/{id}:
    delete:
      operationId: deleteApiCredentialsById47c3e4d9
      summary: DELETE /api-credentials/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /connected-systems/{id}:
    delete:
      operationId: deleteConnectedSystemsById38d31292
      summary: DELETE /connected-systems/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putConnectedSystemsByIddc28667e
      summary: PUT /connected-systems/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /contacts/{id}:
    delete:
      operationId: deleteContactsById18d4e272
      summary: DELETE /contacts/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putContactsById58d10474
      summary: PUT /contacts/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /customers/{id}:
    delete:
      operationId: deleteCustomersById6e7fb7e3
      summary: DELETE /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getCustomersById2c79165f
      summary: GET /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putCustomersByIdcc0a3676
      summary: PUT /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /developer-apps/{id}:
    delete:
      operationId: deleteDeveloperAppsById03aacf10
      summary: DELETE /developer-apps/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putDeveloperAppsByIdb5b7e580
      summary: PUT /developer-apps/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /entitlements/{id}:
    delete:
      operationId: deleteEntitlementsByIde5e5273d
      summary: DELETE /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getEntitlementsByIdf7aa7325
      summary: GET /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putEntitlementsById3155c351
      summary: PUT /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /incidents/{id}:
    delete:
      operationId: deleteIncidentsByIdf5055a4f
      summary: DELETE /incidents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/securityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putIncidentsByIddc8572fe
      summary: PUT /incidents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/securityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /installations/{id}:
    delete:
      operationId: deleteInstallationsById02b5c766
      summary: DELETE /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getInstallationsById24883803
      summary: GET /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putInstallationsById0cf3e205
      summary: PUT /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /local-connector/uninstall:
    delete:
      operationId: deleteLocalConnectorUninstall7811632d
      summary: DELETE /local-connector/uninstall (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/localConnectorInstallRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /logic-definitions/{id}:
    delete:
      operationId: deleteLogicDefinitionsById123a3885
      summary: DELETE /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getLogicDefinitionsById2415dbed
      summary: GET /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putLogicDefinitionsById7066c037
      summary: PUT /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /tenants/{id}:
    delete:
      operationId: deleteTenantsById22872ff3
      summary: DELETE /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getTenantsById4ca55820
      summary: GET /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putTenantsById3d6a4037
      summary: PUT /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /threads/{id}:
    delete:
      operationId: deleteThreadsById8fa07828
      summary: DELETE /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getThreadsById7deb97ea
      summary: GET /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putThreadsByIdee182ff5
      summary: PUT /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /tickets/{id}:
    delete:
      operationId: deleteTicketsById31b0d094
      summary: DELETE /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getTicketsByIdc8e55555
      summary: GET /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putTicketsByIdd6b48b98
      summary: PUT /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /uploads/{upload_id}:
    delete:
      operationId: deleteUploadsByUploadId478b6a41
      summary: DELETE /uploads/{upload_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/uploadRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getUploadsByUploadIde45dc11e
      summary: GET /uploads/{upload_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/uploadRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /users/{id}:
    delete:
      operationId: deleteUsersById92658ed2
      summary: DELETE /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    get:
      operationId: getUsersByIde870987d
      summary: GET /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putUsersById38ddba82
      summary: PUT /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /webhooks/{id}:
    delete:
      operationId: deleteWebhooksById027168fb
      summary: DELETE /webhooks/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    put:
      operationId: putWebhooksById0c259cb0
      summary: PUT /webhooks/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /activation/env-bootstrap:
    get:
      operationId: getActivationEnvBootstrap07e553bb
      summary: GET /activation/env-bootstrap (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/activationRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /activation/session-context/read-only:
    get:
      operationId: getActivationSessionContextReadOnly5a159207
      summary: GET /activation/session-context/read-only (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/activationRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/onboarding/escalations:
    get:
      operationId: getAdminOnboardingEscalationse6551410
      summary: GET /admin/onboarding/escalations (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/adminOnboardingRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/onboarding/tenantless-users:
    get:
      operationId: getAdminOnboardingTenantlessUsers4e596d4f
      summary: GET /admin/onboarding/tenantless-users (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/adminOnboardingRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/release/readiness:
    get:
      operationId: getAdminReleaseReadiness83f8ceaa
      summary: GET /admin/release/readiness (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/releaseRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/endpoints:
    get:
      operationId: getAdminSqlEndpointRegistryEndpoints16ee7289
      summary: GET /admin/sql/endpoint-registry/endpoints (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/resolve:
    get:
      operationId: getAdminSqlEndpointRegistryResolve1e99cf61
      summary: GET /admin/sql/endpoint-registry/resolve (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/resolve-action:
    get:
      operationId: getAdminSqlEndpointRegistryResolveAction472ce756
      summary: GET /admin/sql/endpoint-registry/resolve-action (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/simulated-sheet-rows:
    get:
      operationId: getAdminSqlEndpointRegistrySimulatedSheetRows19a6583c
      summary: GET /admin/sql/endpoint-registry/simulated-sheet-rows (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/source-status:
    get:
      operationId: getAdminSqlEndpointRegistrySourceStatusbbf1e116
      summary: GET /admin/sql/endpoint-registry/source-status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agent-chain-events:
    get:
      operationId: getAgentChainEvents1f67ea09
      summary: GET /agent-chain-events (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/outputSinkRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    post:
      operationId: postAgentChainEventsa18b001e
      summary: POST /agent-chain-events (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/outputSinkRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agent-delegations:
    get:
      operationId: getAgentDelegationsa9726210
      summary: GET /agent-delegations (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agent-skills:
    get:
      operationId: getAgentSkillsdf5a023f
      summary: GET /agent-skills (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    post:
      operationId: postAgentSkills32433cd4
      summary: POST /agent-skills (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agent-skills/{id}:
    get:
      operationId: getAgentSkillsByIdd4afbfbd
      summary: GET /agent-skills/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agents:
    get:
      operationId: getAgents84edaf1c
      summary: GET /agents (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    post:
      operationId: postAgents2484d560
      summary: POST /agents (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agents/{id}:
    get:
      operationId: getAgentsByIdccca62d2
      summary: GET /agents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agents/{id}/skills:
    get:
      operationId: getAgentsByIdSkillsc8263f15
      summary: GET /agents/{id}/skills (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agents/{id}/skills/check:
    get:
      operationId: getAgentsByIdSkillsCheck41544b45
      summary: GET /agents/{id}/skills/check (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agents/resolve/{route_key}:
    get:
      operationId: getAgentsResolveByRouteKey093fc5ee
      summary: GET /agents/resolve/{route_key} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: route_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /bootstrap/onboarding/{tenant_id}:
    get:
      operationId: getBootstrapOnboardingByTenantId9590b3be
      summary: GET /bootstrap/onboarding/{tenant_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/bootstrapRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /connect/assets/{file}:
    get:
      operationId: getConnectAssetsByFiled931d73d
      summary: GET /connect/assets/{file} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      parameters:
        - name: file
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: []
  /customers/{id}/contacts:
    get:
      operationId: getCustomersByIdContacts2bfb3b94
      summary: GET /customers/{id}/contacts (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /customers/{id}/timeline:
    get:
      operationId: getCustomersByIdTimelinef1a14c0b
      summary: GET /customers/{id}/timeline (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/model-readiness:
    get:
      operationId: getDevAgentModelReadiness289ccfca
      summary: GET /dev-agent/model-readiness (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/model-settings:
    get:
      operationId: getDevAgentModelSettings6e6dbdd1
      summary: GET /dev-agent/model-settings (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    patch:
      operationId: patchDevAgentModelSettingsa63464f6
      summary: PATCH /dev-agent/model-settings (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/openclaude/bridge/v1/health:
    get:
      operationId: getDevAgentOpenclaudeBridgeV1Health0e7a91f0
      summary: GET /dev-agent/openclaude/bridge/v1/health (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/proposals:
    get:
      operationId: getDevAgentProposals26320970
      summary: GET /dev-agent/proposals (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/proposals/{id}:
    get:
      operationId: getDevAgentProposalsById52ff7f5f
      summary: GET /dev-agent/proposals/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/proposals/{id}/discussion:
    get:
      operationId: getDevAgentProposalsByIdDiscussion5ca8660e
      summary: GET /dev-agent/proposals/{id}/discussion (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    post:
      operationId: postDevAgentProposalsByIdDiscussion3440fec6
      summary: POST /dev-agent/proposals/{id}/discussion (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/runs:
    get:
      operationId: getDevAgentRuns6b0cf60e
      summary: GET /dev-agent/runs (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/session-summaries:
    get:
      operationId: getDevAgentSessionSummariesf9f547e1
      summary: GET /dev-agent/session-summaries (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/session-summaries/health:
    get:
      operationId: getDevAgentSessionSummariesHealth6a88afb7
      summary: GET /dev-agent/session-summaries/health (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/summary-comparison/report:
    get:
      operationId: getDevAgentSummaryComparisonReport449f7048
      summary: GET /dev-agent/summary-comparison/report (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/summary-development/codex-interactive-execution/{runId}:
    get:
      operationId: getDevAgentSummaryDevelopmentCodexInteractiveExecutionByRunId0783e8b5
      summary: GET /dev-agent/summary-development/codex-interactive-execution/{runId} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/summary-development/providers:
    get:
      operationId: getDevAgentSummaryDevelopmentProvidersa11e116b
      summary: GET /dev-agent/summary-development/providers (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/summary-development/runtimes:
    get:
      operationId: getDevAgentSummaryDevelopmentRuntimesc49f537f
      summary: GET /dev-agent/summary-development/runtimes (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dev-agent/summary-development/signals:
    get:
      operationId: getDevAgentSummaryDevelopmentSignals98ad3217
      summary: GET /dev-agent/summary-development/signals (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /dispatch/routes:
    get:
      operationId: getDispatchRoutes71aab304
      summary: GET /dispatch/routes (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/dispatchRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /github/pr-status:
    get:
      operationId: getGithubPrStatus9cd28a16
      summary: GET /github/pr-status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/githubRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /governance/execution-log-latest-inspect:
    get:
      operationId: getGovernanceExecutionLogLatestInspecte0eaa55d
      summary: GET /governance/execution-log-latest-inspect (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/governanceRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /installations/{id}/permission-grants:
    get:
      operationId: getInstallationsByIdPermissionGrants1e498aa7
      summary: GET /installations/{id}/permission-grants (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /local-connector/device-routes:
    get:
      operationId: getLocalConnectorDeviceRoutes1f1eff6f
      summary: GET /local-connector/device-routes (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/localConnectorDeviceRouteRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
    post:
      operationId: postLocalConnectorDeviceRoutes3553e6ba
      summary: POST /local-connector/device-routes (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/localConnectorDeviceRouteRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /local-connector/install/status:
    get:
      operationId: getLocalConnectorInstallStatusb2b9ed63
      summary: GET /local-connector/install/status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/localConnectorInstallRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /local-manager/device/desktop-commands/{commandId}:
    get:
      operationId: getLocalManagerDeviceDesktopCommandsByCommandIda0bf356c
      summary: GET /local-manager/device/desktop-commands/{commandId} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: commandId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/localManagerDesktopCommandRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /logic-definitions/{id}/children:
    get:
      operationId: getLogicDefinitionsByIdChildren419dc15b
      summary: GET /logic-definitions/{id}/children (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /mcp/tools/list:
    get:
      operationId: getMcpToolsList059bf2a1
      summary: GET /mcp/tools/list (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - mcpQueryTokenAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/mcpRoutes.js
      x-mad4b-runtime-auth:
        profile: mcp_query_token
        principal: mcp_client
        guard_chain:
          - requireMcpToken
        configuration_dependencies:
          - MCP_QUERY_TOKEN
  /me/access-requests:
    get:
      operationId: getMeAccessRequests9a2a3346
      summary: GET /me/access-requests (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/infrastructure/connections/{connection_id}/status:
    get:
      operationId: getMeInfrastructureConnectionsByConnectionIdStatusb88eb07e
      summary: GET /me/infrastructure/connections/{connection_id}/status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantInfrastructureRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/infrastructure/database/connections/{connection_id}/schema:
    get:
      operationId: getMeInfrastructureDatabaseConnectionsByConnectionIdSchema58b69789
      summary: GET /me/infrastructure/database/connections/{connection_id}/schema (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantInfrastructureRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/infrastructure/database/connections/{connection_id}/status:
    get:
      operationId: getMeInfrastructureDatabaseConnectionsByConnectionIdStatus867b4f5c
      summary: GET /me/infrastructure/database/connections/{connection_id}/status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantInfrastructureRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/infrastructure/ssh/connections/{connection_id}/status:
    get:
      operationId: getMeInfrastructureSshConnectionsByConnectionIdStatus8b835d1a
      summary: GET /me/infrastructure/ssh/connections/{connection_id}/status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantInfrastructureRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/support/tickets:
    get:
      operationId: getMeSupportTicketsafd33fa8
      summary: GET /me/support/tickets (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
    post:
      operationId: postMeSupportTickets55e44a32
      summary: POST /me/support/tickets (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/support/tickets/{ticket_id}:
    get:
      operationId: getMeSupportTicketsByTicketIdf7a9a9b2
      summary: GET /me/support/tickets/{ticket_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
  /me/workspaces/{tenant_id}/access-requests:
    get:
      operationId: getMeWorkspacesByTenantIdAccessRequestse1f5aa22
      summary: GET /me/workspaces/{tenant_id}/access-requests (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
        principal: tenant_user
        guard_chain:
          - requireUserJwt
        configuration_dependencies:
          - JWT_SECRET
    post:
      operationId: postMeWorkspacesByTenantIdAccessRequestsc5e288a8
      summary: POST /me/workspaces/{tenant_id}/access-requests (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - userJwtAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantLifecycleRoutes.js
      x-mad4b-runtime-auth:
        profile: user_jwt
[...]
