openapi: 3.1.0
info:
  title: MAD4B Runtime Route Operation Index
  version: 1.0.0-generated
  description: Generated from mounted Express routes. This document closes operation-discovery gaps only; x-contract-completeness=operation-index-only is not a reviewed request/response schema contract.
servers:
  - url: https://auth.mad4b.com
tags:
  - name: runtime-route-index
    description: Fail-closed generated inventory of runtime operations with explicit authentication evidence.
paths:
  /:
    delete:
      operationId: deleted81d1ce6
      summary: DELETE / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: &a1 []
    get:
      operationId: getc767025d
      summary: GET / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
    patch:
      operationId: patche11ce362
      summary: PATCH / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
    post:
      operationId: post7571cce8
      summary: POST / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
    put:
      operationId: put1e71fdac
      summary: PUT / (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/rootDiscoveryRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: *a1
  /agents/{id}/skills/{skill_id}:
    delete:
      operationId: deleteAgentsByIdSkillsBySkillId51649c3c
      summary: DELETE /agents/{id}/skills/{skill_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: skill_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /api-credentials/{id}:
    delete:
      operationId: deleteApiCredentialsById47c3e4d9
      summary: DELETE /api-credentials/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /connected-systems/{id}:
    delete:
      operationId: deleteConnectedSystemsById38d31292
      summary: DELETE /connected-systems/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putConnectedSystemsByIddc28667e
      summary: PUT /connected-systems/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /contacts/{id}:
    delete:
      operationId: deleteContactsById18d4e272
      summary: DELETE /contacts/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putContactsById58d10474
      summary: PUT /contacts/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /customers/{id}:
    delete:
      operationId: deleteCustomersById6e7fb7e3
      summary: DELETE /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getCustomersById2c79165f
      summary: GET /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putCustomersByIdcc0a3676
      summary: PUT /customers/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /developer-apps/{id}:
    delete:
      operationId: deleteDeveloperAppsById03aacf10
      summary: DELETE /developer-apps/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putDeveloperAppsByIdb5b7e580
      summary: PUT /developer-apps/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /entitlements/{id}:
    delete:
      operationId: deleteEntitlementsByIde5e5273d
      summary: DELETE /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getEntitlementsByIdf7aa7325
      summary: GET /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putEntitlementsById3155c351
      summary: PUT /entitlements/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /incidents/{id}:
    delete:
      operationId: deleteIncidentsByIdf5055a4f
      summary: DELETE /incidents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/securityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putIncidentsByIddc8572fe
      summary: PUT /incidents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/securityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /installations/{id}:
    delete:
      operationId: deleteInstallationsById02b5c766
      summary: DELETE /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getInstallationsById24883803
      summary: GET /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putInstallationsById0cf3e205
      summary: PUT /installations/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectedSystemsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /logic-definitions/{id}:
    delete:
      operationId: deleteLogicDefinitionsById123a3885
      summary: DELETE /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getLogicDefinitionsById2415dbed
      summary: GET /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putLogicDefinitionsById7066c037
      summary: PUT /logic-definitions/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/logicRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /tenants/{id}:
    delete:
      operationId: deleteTenantsById22872ff3
      summary: DELETE /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getTenantsById4ca55820
      summary: GET /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putTenantsById3d6a4037
      summary: PUT /tenants/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/tenantsRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /threads/{id}:
    delete:
      operationId: deleteThreadsById8fa07828
      summary: DELETE /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getThreadsById7deb97ea
      summary: GET /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putThreadsByIdee182ff5
      summary: PUT /threads/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /tickets/{id}:
    delete:
      operationId: deleteTicketsById31b0d094
      summary: DELETE /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getTicketsByIdc8e55555
      summary: GET /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putTicketsByIdd6b48b98
      summary: PUT /tickets/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /uploads/{upload_id}:
    delete:
      operationId: deleteUploadsByUploadId478b6a41
      summary: DELETE /uploads/{upload_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/uploadRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getUploadsByUploadIde45dc11e
      summary: GET /uploads/{upload_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/uploadRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /users/{id}:
    delete:
      operationId: deleteUsersById92658ed2
      summary: DELETE /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    get:
      operationId: getUsersByIde870987d
      summary: GET /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putUsersById38ddba82
      summary: PUT /users/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/identityRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /webhooks/{id}:
    delete:
      operationId: deleteWebhooksById027168fb
      summary: DELETE /webhooks/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    put:
      operationId: putWebhooksById0c259cb0
      summary: PUT /webhooks/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/developerApiRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /activation/env-bootstrap:
    get:
      operationId: getActivationEnvBootstrap07e553bb
      summary: GET /activation/env-bootstrap (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/activationRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /activation/session-context/read-only:
    get:
      operationId: getActivationSessionContextReadOnly5a159207
      summary: GET /activation/session-context/read-only (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/activationRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /admin/activation/ticket-inbox:
    get:
      operationId: getAdminActivationTicketInbox9a51fad4
      summary: GET /admin/activation/ticket-inbox (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/container-authority/topology-verification:
    get:
      operationId: getAdminContainerAuthorityTopologyVerificationd629050f
      summary: GET /admin/container-authority/topology-verification (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/dynamicContainerAuthorityRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdmin
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/onboarding/escalations:
    get:
      operationId: getAdminOnboardingEscalationse6551410
      summary: GET /admin/onboarding/escalations (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/adminOnboardingRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/onboarding/tenantless-users:
    get:
      operationId: getAdminOnboardingTenantlessUsers4e596d4f
      summary: GET /admin/onboarding/tenantless-users (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/adminOnboardingRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/release/readiness:
    get:
      operationId: getAdminReleaseReadiness83f8ceaa
      summary: GET /admin/release/readiness (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/releaseRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /admin/sql/endpoint-registry/endpoints:
    get:
      operationId: getAdminSqlEndpointRegistryEndpoints16ee7289
      summary: GET /admin/sql/endpoint-registry/endpoints (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/resolve:
    get:
      operationId: getAdminSqlEndpointRegistryResolve1e99cf61
      summary: GET /admin/sql/endpoint-registry/resolve (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/resolve-action:
    get:
      operationId: getAdminSqlEndpointRegistryResolveAction472ce756
      summary: GET /admin/sql/endpoint-registry/resolve-action (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/simulated-sheet-rows:
    get:
      operationId: getAdminSqlEndpointRegistrySimulatedSheetRows19a6583c
      summary: GET /admin/sql/endpoint-registry/simulated-sheet-rows (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/sql/endpoint-registry/source-status:
    get:
      operationId: getAdminSqlEndpointRegistrySourceStatusbbf1e116
      summary: GET /admin/sql/endpoint-registry/source-status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/sqlEndpointRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets:
    get:
      operationId: getAdminSupportTicketsa33218db
      summary: GET /admin/support/tickets (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/{ticket_id}:
    get:
      operationId: getAdminSupportTicketsByTicketId34de8d91
      summary: GET /admin/support/tickets/{ticket_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: ticket_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/auth-email-outbox/attempts:
    get:
      operationId: getAdminSupportTicketsAuthEmailOutboxAttempts52691406
      summary: GET /admin/support/tickets/auth-email-outbox/attempts (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/authEmailTargetedDeliveryRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/auth-email-outbox/status:
    get:
      operationId: getAdminSupportTicketsAuthEmailOutboxStatus8ae36b97
      summary: GET /admin/support/tickets/auth-email-outbox/status (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/auto-resolve/candidates:
    get:
      operationId: getAdminSupportTicketsAutoResolveCandidatescfcd91e9
      summary: GET /admin/support/tickets/auto-resolve/candidates (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/external-delivery/control/overview:
    get:
      operationId: getAdminSupportTicketsExternalDeliveryControlOverviewa56f0a2c
      summary: GET /admin/support/tickets/external-delivery/control/overview (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/external-delivery/credential-candidates:
    get:
      operationId: getAdminSupportTicketsExternalDeliveryCredentialCandidates077c71b5
      summary: GET /admin/support/tickets/external-delivery/credential-candidates (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/external-send/provider-contracts:
    get:
      operationId: getAdminSupportTicketsExternalSendProviderContracts279aabb8
      summary: GET /admin/support/tickets/external-send/provider-contracts (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/notifications/adapters:
    get:
      operationId: getAdminSupportTicketsNotificationsAdapters86915061
      summary: GET /admin/support/tickets/notifications/adapters (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/support/tickets/notifications/queue:
    get:
      operationId: getAdminSupportTicketsNotificationsQueue13364791
      summary: GET /admin/support/tickets/notifications/queue (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/supportTicketRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /admin/workspace-authority/reconciliation:
    get:
      operationId: getAdminWorkspaceAuthorityReconciliationfb57a37f
      summary: GET /admin/workspace-authority/reconciliation (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/adminWorkspaceAuthorityRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdmin
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /agent-chain-events:
    get:
      operationId: getAgentChainEvents1f67ea09
      summary: GET /agent-chain-events (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/outputSinkRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    post:
      operationId: postAgentChainEventsa18b001e
      summary: POST /agent-chain-events (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/outputSinkRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agent-delegations:
    get:
      operationId: getAgentDelegationsa9726210
      summary: GET /agent-delegations (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agent-skills:
    get:
      operationId: getAgentSkillsdf5a023f
      summary: GET /agent-skills (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    post:
      operationId: postAgentSkills32433cd4
      summary: POST /agent-skills (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agent-skills/{id}:
    get:
      operationId: getAgentSkillsByIdd4afbfbd
      summary: GET /agent-skills/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agents:
    get:
      operationId: getAgents84edaf1c
      summary: GET /agents (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    post:
      operationId: postAgents2484d560
      summary: POST /agents (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agents/{id}:
    get:
      operationId: getAgentsByIdccca62d2
      summary: GET /agents/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agents/{id}/skills:
    get:
      operationId: getAgentsByIdSkillsc8263f15
      summary: GET /agents/{id}/skills (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agents/{id}/skills/check:
    get:
      operationId: getAgentsByIdSkillsCheck41544b45
      summary: GET /agents/{id}/skills/check (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentSkillRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /agents/resolve/{route_key}:
    get:
      operationId: getAgentsResolveByRouteKey093fc5ee
      summary: GET /agents/resolve/{route_key} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: route_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/agentRegistryRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /bootstrap/onboarding/{tenant_id}:
    get:
      operationId: getBootstrapOnboardingByTenantId9590b3be
      summary: GET /bootstrap/onboarding/{tenant_id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/bootstrapRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /browser-runtime/runtimes:
    get:
      operationId: getBrowserRuntimeRuntimes2fc626f6
      summary: GET /browser-runtime/runtimes (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/browserRuntimeRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdmin
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /browser-runtime/runtimes/{runtime_key}:
    get:
      operationId: getBrowserRuntimeRuntimesByRuntimeKey9ffc0af7
      summary: GET /browser-runtime/runtimes/{runtime_key} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - adminBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: runtime_key
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/browserRuntimeRoutes.js
      x-mad4b-runtime-auth:
        profile: admin_backend
        principal: admin
        guard_chain:
          - requireAdmin
          - requireAdminPrincipal
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
  /connect/assets/{file}:
    get:
      operationId: getConnectAssetsByFiled931d73d
      summary: GET /connect/assets/{file} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security: []
      parameters:
        - name: file
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/connectRoutes.js
      x-mad4b-runtime-auth:
        profile: public
        principal: anonymous
        guard_chain: []
        configuration_dependencies: []
  /customers/{id}/contacts:
    get:
      operationId: getCustomersByIdContacts2bfb3b94
      summary: GET /customers/{id}/contacts (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /customers/{id}/timeline:
    get:
      operationId: getCustomersByIdTimelinef1a14c0b
      summary: GET /customers/{id}/timeline (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/customerRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/model-readiness:
    get:
      operationId: getDevAgentModelReadiness289ccfca
      summary: GET /dev-agent/model-readiness (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/model-settings:
    get:
      operationId: getDevAgentModelSettings6e6dbdd1
      summary: GET /dev-agent/model-settings (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    patch:
      operationId: patchDevAgentModelSettingsa63464f6
      summary: PATCH /dev-agent/model-settings (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/openclaude/bridge/v1/health:
    get:
      operationId: getDevAgentOpenclaudeBridgeV1Health0e7a91f0
      summary: GET /dev-agent/openclaude/bridge/v1/health (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/proposals:
    get:
      operationId: getDevAgentProposals26320970
      summary: GET /dev-agent/proposals (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/proposals/{id}:
    get:
      operationId: getDevAgentProposalsById52ff7f5f
      summary: GET /dev-agent/proposals/{id} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/proposals/{id}/discussion:
    get:
      operationId: getDevAgentProposalsByIdDiscussion5ca8660e
      summary: GET /dev-agent/proposals/{id}/discussion (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
    post:
      operationId: postDevAgentProposalsByIdDiscussion3440fec6
      summary: POST /dev-agent/proposals/{id}/discussion (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/runs:
    get:
      operationId: getDevAgentRuns6b0cf60e
      summary: GET /dev-agent/runs (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/session-summaries:
    get:
      operationId: getDevAgentSessionSummariesf9f547e1
      summary: GET /dev-agent/session-summaries (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/session-summaries/health:
    get:
      operationId: getDevAgentSessionSummariesHealth6a88afb7
      summary: GET /dev-agent/session-summaries/health (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/summary-comparison/report:
    get:
      operationId: getDevAgentSummaryComparisonReport449f7048
      summary: GET /dev-agent/summary-comparison/report (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/summary-development/codex-interactive-execution/{runId}:
    get:
      operationId: getDevAgentSummaryDevelopmentCodexInteractiveExecutionByRunId0783e8b5
      summary: GET /dev-agent/summary-development/codex-interactive-execution/{runId} (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/summary-development/providers:
    get:
      operationId: getDevAgentSummaryDevelopmentProvidersa11e116b
      summary: GET /dev-agent/summary-development/providers (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/summary-development/runtimes:
    get:
      operationId: getDevAgentSummaryDevelopmentRuntimesc49f537f
      summary: GET /dev-agent/summary-development/runtimes (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dev-agent/summary-development/signals:
    get:
      operationId: getDevAgentSummaryDevelopmentSignals98ad3217
      summary: GET /dev-agent/summary-development/signals (runtime operation index)
      description: Machine-generated operation presence and authentication index. Request and response schemas require a reviewed canonical contract before frontend dispatch.
      tags:
        - runtime-route-index
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      responses:
        default:
          description: Runtime response shape is not yet captured by a reviewed canonical schema.
      x-contract-completeness: operation-index-only
      x-source-file: routes/devAgentRoutes.js
      x-mad4b-runtime-auth:
        profile: backend_or_user
        principal: authenticated
        guard_chain:
          - requireBackendApiKey
        configuration_dependencies:
          - BACKEND_API_KEY
          - JWT_SECRET
  /dispatch/routes:
    get:
      operationId: getDispatchRoutes71aab304
[...]
