openapi: 3.1.0
info:
  title: GitHub Repository Main Moved Webhook API
  version: 1.0.0
  description: Signed GitHub webhook ingress for advisory repository main movement coordination.
servers:
  - url: https://auth.mad4b.com
tags:
  - name: repository-webhooks
paths:
  /webhooks/github/repository-main-moved:
    post:
      tags: [repository-webhooks]
      operationId: ingestGitHubRepositoryMainMovedWebhook
      summary: Verify and ingest a GitHub ping or main-branch push event
      security:
        - githubWebhookSignature: []
      parameters:
        - name: X-GitHub-Event
          in: header
          required: true
          schema:
            type: string
            enum: [ping, push]
        - name: X-GitHub-Delivery
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 191
        - name: X-Hub-Signature-256
          in: header
          required: true
          schema:
            type: string
            pattern: '^sha256=[0-9a-fA-F]{64}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitHubWebhookPayload'
      responses:
        '200':
          description: Ping accepted or duplicate push returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '201':
          description: Signed push accepted and coordinated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/Unavailable'
components:
  securitySchemes:
    githubWebhookSignature:
      type: apiKey
      in: header
      name: X-Hub-Signature-256
      description: HMAC SHA-256 signature computed by GitHub over the exact raw request body.
  schemas:
    GitHubWebhookPayload:
      type: object
      properties:
        zen: { type: string }
        hook_id: { type: integer }
        ref: { type: string }
        before: { type: string, pattern: '^[0-9a-fA-F]{40}$' }
        after: { type: string, pattern: '^[0-9a-fA-F]{40}$' }
        forced: { type: boolean }
        deleted: { type: boolean }
        repository:
          type: object
          properties:
            full_name: { type: string }
          required: [full_name]
          additionalProperties: true
        head_commit:
          type: [object, 'null']
          properties:
            timestamp: { type: string, format: date-time }
          additionalProperties: true
      additionalProperties: true
    WebhookResponse:
      type: object
      required: [ok, execution_allowed, provider_write, external_write, secrets_included]
      properties:
        ok: { type: boolean, const: true }
        accepted: { type: boolean }
        deduplicated: { type: boolean }
        event_type: { type: string, enum: [ping, push] }
        delivery_id: { type: string }
        trigger_event: { type: object, additionalProperties: true }
        webhook:
          type: object
          additionalProperties: true
        execution_allowed: { type: boolean, const: false }
        provider_write: { type: boolean, const: false }
        external_write: { type: boolean, const: false }
        secrets_included: { type: boolean, const: false }
      additionalProperties: true
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details: {}
            requestId: { type: string }
          additionalProperties: false
      additionalProperties: false
  responses:
    BadRequest:
      description: Invalid event, headers, body, branch, or Git reference
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    Unauthorized:
      description: Missing or invalid webhook signature
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    Forbidden:
      description: Repository is not allowlisted
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    Conflict:
      description: Deleted or unchanged main reference
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    Unavailable:
      description: Webhook secret has not been provisioned
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
