openapi: 3.1.0
info:
  title: Growth Control Plane Admin API
  version: 0.2.0
  description: >-
    Canonical Admin-only contracts for configuration definitions, immutable
    versions, deterministic resolution, lifecycle approvals, Activity Packs,
    and brand activity bindings. These operations are internal control-plane
    effects and perform no provider call or external send.
servers:
  - url: https://auth.mad4b.com
tags:
  - name: growth-control-plane
    description: Admin-governed Growth Control Plane resources.
security:
  - adminBearerAuth: []
  - backendApiKeyAuth: []

paths:
  /admin/control-plane/configurations:
    get:
      tags: [growth-control-plane]
      operationId: listGrowthControlConfigurations
      summary: List configuration definitions
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated configuration definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationDefinitionListResponse'
              example:
                items: []
                page: { nextCursor: null, hasMore: false }
                secretsIncluded: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [growth-control-plane]
      operationId: createGrowthControlConfigurationDefinition
      summary: Create a draft configuration definition
      x-contract-completeness: canonical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationDefinitionCreateRequest'
            example:
              configKey: growth.execution.policy
              schemaVersion: 1
              schema:
                type: object
                additionalProperties: false
                required: [approvalRequired, maxResources]
                properties:
                  approvalRequired: { type: boolean }
                  maxResources: { type: integer, minimum: 1, maximum: 100 }
              defaultValues: { approvalRequired: true, maxResources: 10 }
              allowedScopes: [platform, tenant, workspace, brand]
              mergeProfile: { approvalRequired: deny_wins, maxResources: minimum }
              securityClassification: security_control
      responses:
        '201':
          description: Draft definition created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationDefinition'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/configurations/{configKey}/versions:
    post:
      tags: [growth-control-plane]
      operationId: createGrowthControlConfigurationVersion
      summary: Create an immutable draft configuration version
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/ConfigKey'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationVersionCreateRequest'
            example:
              scope:
                scopeType: brand
                tenantId: 11111111-1111-4111-8111-111111111111
                workspaceId: 22222222-2222-4222-8222-222222222222
                brandKey: example-brand
              values: { approvalRequired: true, maxResources: 5 }
              expectedRevision: 0
      responses:
        '201':
          description: Immutable draft version created or returned by idempotent readback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationVersion'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/configurations/{configKey}/resolve:
    post:
      tags: [growth-control-plane]
      operationId: resolveGrowthControlConfiguration
      summary: Resolve effective configuration and record evidence
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/ConfigKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationResolveRequest'
            example:
              context:
                tenantId: 11111111-1111-4111-8111-111111111111
                workspaceId: 22222222-2222-4222-8222-222222222222
                brandKey: example-brand
                activityTypeKey: travel
              includeDraftVersionIds:
                - 33333333-3333-4333-8333-333333333333
      responses:
        '201':
          description: Deterministic resolution evidence recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResolution'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/configurations/{configKey}/versions/{configVersionId}/validations:
    post:
      tags: [growth-control-plane]
      operationId: validateGrowthControlConfigurationVersion
      summary: Validate a draft configuration version
      description: Revalidates immutable values against the active definition schema and marks the version ready.
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/ConfigKey'
        - $ref: '#/components/parameters/ConfigVersionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleValidationRequest'
            example: { expectedRevision: 1 }
      responses:
        '200':
          description: Version validated and marked ready.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationVersion'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/configurations/{configKey}/versions/{configVersionId}/approval-holds:
    post:
      tags: [growth-control-plane]
      operationId: createGrowthControlConfigurationLifecycleApprovalHold
      summary: Create a plan-bound lifecycle approval hold
      description: Creates an expiring hold bound to the operation, version, scope, checksum, and revision.
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/ConfigKey'
        - $ref: '#/components/parameters/ConfigVersionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleApprovalHoldRequest'
            example: { operation: activate, expiresInMinutes: 30 }
      responses:
        '201':
          description: Open lifecycle hold created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleApprovalHold'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/configurations/{configKey}/versions/{configVersionId}/activations:
    post:
      tags: [growth-control-plane]
      operationId: activateGrowthControlConfigurationVersion
      summary: Activate an approved ready configuration version
      description: Atomically activates the version, consumes the typed hold, and enqueues an internal invalidation event.
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/ConfigKey'
        - $ref: '#/components/parameters/ConfigVersionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleTransitionRequest'
            example:
              approvalHoldId: 44444444-4444-4444-8444-444444444444
              expectedRevision: 2
      responses:
        '200':
          description: Version activated with transactional outbox evidence.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleTransitionResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/configurations/{configKey}/versions/{configVersionId}/rollbacks:
    post:
      tags: [growth-control-plane]
      operationId: rollbackGrowthControlConfigurationVersion
      summary: Restore an approved prior configuration version
      description: Atomically restores an older version, consumes the typed hold, and enqueues an internal invalidation event.
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/ConfigKey'
        - $ref: '#/components/parameters/ConfigVersionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleTransitionRequest'
            example:
              approvalHoldId: 55555555-5555-4555-8555-555555555555
              expectedRevision: 3
      responses:
        '200':
          description: Prior version restored with transactional outbox evidence.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleTransitionResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/activity-packs:
    get:
      tags: [growth-control-plane]
      operationId: listGrowthControlActivityPacks
      summary: List Activity Pack definitions
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated Activity Pack definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityPackDefinitionListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [growth-control-plane]
      operationId: createGrowthControlActivityPackDefinition
      summary: Create a draft Activity Pack definition
      x-contract-completeness: canonical
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityPackDefinitionCreateRequest'
            example:
              activityPackKey: travel.organic-growth
              activityTypeKey: travel
              displayName: Travel Organic Growth
              description: Canonical travel growth contracts.
      responses:
        '201':
          description: Draft Activity Pack definition created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityPackDefinition'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/activity-packs/{activityPackKey}/versions:
    post:
      tags: [growth-control-plane]
      operationId: createGrowthControlActivityPackVersion
      summary: Create an immutable draft Activity Pack version
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/ActivityPackKey'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityPackVersionCreateRequest'
            example:
              manifest:
                entitySchemas: { destination: { type: object } }
                knowledgeProfile: { pointerKey: travel.knowledge.active }
                kpiTaxonomy: [qualified_lead_rate]
                capabilities: [intent_map_generate]
                workflows: [organic_growth_plan]
                policies: [internal_draft_policy]
                providerCompatibility: []
                tests: { fixtures: [travel-basic] }
      responses:
        '201':
          description: Immutable draft Activity Pack version created or returned by idempotent readback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityPackVersion'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

  /admin/control-plane/brand-activity-bindings:
    post:
      tags: [growth-control-plane]
      operationId: createGrowthControlBrandActivityBinding
      summary: Create a draft brand activity binding
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandActivityBindingCreateRequest'
            example:
              tenantId: 11111111-1111-4111-8111-111111111111
              workspaceId: 22222222-2222-4222-8222-222222222222
              brandKey: example-brand
              activityTypeKey: travel
              activityPackKey: travel.organic-growth
              activityPackVersion: 1
              markets: [EG]
              locales: [ar-EG, en]
              channels: [organic-search]
              objectives: [qualified-leads]
              allowedCapabilities: [intent_map_generate]
      responses:
        '201':
          description: Draft binding created or returned by idempotent readback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandActivityBinding'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/InternalError' }

components:
  securitySchemes:
    adminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key
    backendApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque Base64URL continuation cursor.
      schema: { type: string, minLength: 1 }
    ConfigKey:
      name: configKey
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/CanonicalKey'
    ConfigVersionId:
      name: configVersionId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ActivityPackKey:
      name: activityPackKey
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/CanonicalKey'
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Stable key for safe retries.
      schema: { type: string, minLength: 8, maxLength: 191 }

  responses:
    BadRequest:
      description: Request shape, query parameter, cursor, or idempotency key is invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Backend authentication is missing or invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: The authenticated principal is not authorized for the resource.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: The authorized resource was not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Conflict:
      description: Lifecycle, revision, uniqueness, or approval conflict.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unprocessable:
      description: Schema, scope, manifest, binding, or referenced authority is invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    InternalError:
      description: Unexpected internal or persistence failure without secret exposure.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    CanonicalKey:
      type: string
      pattern: '^[a-z][a-z0-9_.-]{2,127}$'

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error, secretsIncluded]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, details, requestId]
          properties:
            code: { type: string }
            message: { type: string, maxLength: 512 }
            details:
              type: array
              items: { type: object, additionalProperties: true }
            requestId: { type: string }
        secretsIncluded: { type: boolean, const: false }

    Page:
      type: object
      additionalProperties: false
      required: [nextCursor, hasMore]
      properties:
        nextCursor: { type: [string, 'null'] }
        hasMore: { type: boolean }

    ConfigurationScope:
      type: object
      additionalProperties: false
      required: [scopeType]
      properties:
        scopeType:
          type: string
          enum: [platform, activity, tenant, workspace, brand, profile, workflow, workflow_node, plan, execution]
        tenantId: { type: [string, 'null'], maxLength: 36 }
        workspaceId: { type: [string, 'null'], maxLength: 36 }
        brandKey: { type: [string, 'null'], maxLength: 255 }
        activityTypeKey: { type: [string, 'null'], maxLength: 255 }
        activityBindingId: { type: [string, 'null'], maxLength: 36 }
        profileKey: { type: [string, 'null'], maxLength: 191 }
        workflowKey: { type: [string, 'null'], maxLength: 255 }
        workflowVersion: { type: [integer, 'null'], minimum: 1 }
        workflowNodeId: { type: [string, 'null'], maxLength: 191 }
        planId: { type: [string, 'null'], maxLength: 191 }
        executionId: { type: [string, 'null'], maxLength: 191 }

    ConfigurationDefinitionCreateRequest:
      type: object
      additionalProperties: false
      required: [configKey, schema, allowedScopes, mergeProfile]
      properties:
        configKey: { $ref: '#/components/schemas/CanonicalKey' }
        schemaVersion: { type: integer, minimum: 1, default: 1 }
        schema: { type: object, additionalProperties: true }
        defaultValues: { type: object, additionalProperties: true, default: {} }
        allowedScopes:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [platform, activity, tenant, workspace, brand, profile, workflow, workflow_node, plan, execution]
        mergeProfile:
          type: object
          additionalProperties:
            type: string
            enum: [priority_replace, deny_wins, strict_intersection, minimum, maximum, guarded_union, append_unique, block_on_ambiguity]
        securityClassification:
          type: string
          enum: [public_metadata, tenant_internal, restricted, security_control]
          default: tenant_internal

    ConfigurationDefinition:
      type: object
      additionalProperties: true
      required: [configKey, schemaVersion, schema, defaultValues, allowedScopes, mergeProfile, status, revision, checksumSha256, secretsIncluded]
      properties:
        configKey: { $ref: '#/components/schemas/CanonicalKey' }
        schemaVersion: { type: integer, minimum: 1 }
        schema: { type: object, additionalProperties: true }
        defaultValues: { type: object, additionalProperties: true }
        allowedScopes: { type: array, items: { type: string } }
        mergeProfile: { type: object, additionalProperties: { type: string } }
        securityClassification: { type: string }
        status: { type: string, enum: [draft, active, blocked, deprecated, archived] }
        revision: { type: integer, minimum: 1 }
        checksumSha256: { type: string, minLength: 64, maxLength: 64 }
        createdBy: { type: string }
        createdAt: { type: [string, 'null'], format: date-time }
        updatedAt: { type: [string, 'null'], format: date-time }
        secretsIncluded: { type: boolean, const: false }

    ConfigurationDefinitionListResponse:
      type: object
      additionalProperties: false
      required: [items, page, secretsIncluded]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ConfigurationDefinition' }
        page: { $ref: '#/components/schemas/Page' }
        secretsIncluded: { type: boolean, const: false }

    ConfigurationVersionCreateRequest:
      type: object
      additionalProperties: false
      required: [scope, values, expectedRevision]
      properties:
        scope: { $ref: '#/components/schemas/ConfigurationScope' }
        values: { type: object, additionalProperties: true }
        expectedRevision: { type: integer, minimum: 0 }

    ConfigurationVersion:
      type: object
      additionalProperties: true
      required: [configVersionId, configKey, versionNumber, lifecycle, versionRevision, checksumSha256, secretsIncluded]
      properties:
        configVersionId: { type: string, format: uuid }
        configKey: { $ref: '#/components/schemas/CanonicalKey' }
        versionNumber: { type: integer, minimum: 1 }
        scopeType: { type: string }
        scopeKey: { type: string }
        tenantId: { type: [string, 'null'] }
        workspaceId: { type: [string, 'null'] }
        brandKey: { type: [string, 'null'] }
        activityTypeKey: { type: [string, 'null'] }
        activityBindingId: { type: [string, 'null'] }
        profileKey: { type: [string, 'null'] }
        workflowKey: { type: [string, 'null'] }
        workflowVersion: { type: [integer, 'null'] }
        workflowNodeId: { type: [string, 'null'] }
        planId: { type: [string, 'null'] }
        executionId: { type: [string, 'null'] }
        values: { type: object, additionalProperties: true }
        lifecycle: { type: string, enum: [draft, validating, ready, active, blocked, deprecated, archived, rolled_back] }
        versionRevision: { type: integer, minimum: 1 }
        checksumSha256: { type: string, minLength: 64, maxLength: 64 }
        idempotencyKey: { type: string }
        createdBy: { type: string }
        createdAt: { type: [string, 'null'], format: date-time }
        secretsIncluded: { type: boolean, const: false }

    ConfigurationResolveRequest:
      type: object
      additionalProperties: false
      required: [context]
      properties:
        context: { type: object, additionalProperties: false }
        includeDraftVersionIds:
          type: array
          maxItems: 100
          uniqueItems: true
          items: { type: string, format: uuid }

    ConfigurationResolution:
      type: object
      additionalProperties: true
      required: [resolutionId, configKey, values, lineage, revisionVector, conflicts, blocked, sha256, providerCalls, externalWrites, secretsIncluded]
      properties:
        resolutionId: { type: string, format: uuid }
        configKey: { $ref: '#/components/schemas/CanonicalKey' }
        values: { type: object, additionalProperties: true }
        lineage: { type: object, additionalProperties: true }
        revisionVector: { type: object, additionalProperties: true }
        conflicts: { type: array, items: { type: object, additionalProperties: true } }
        blocked: { type: boolean }
        sha256: { type: string, minLength: 64, maxLength: 64 }
        resolvedAt: { type: [string, 'null'], format: date-time }
        scopeHierarchy: { type: array, items: { type: object, additionalProperties: true } }
        providerCalls: { type: boolean, const: false }
        externalWrites: { type: boolean, const: false }
        secretsIncluded: { type: boolean, const: false }

    LifecycleValidationRequest:
      type: object
      additionalProperties: false
      required: [expectedRevision]
      properties:
        expectedRevision: { type: integer, minimum: 0 }

    LifecycleApprovalHoldRequest:
      type: object
      additionalProperties: false
      required: [operation]
      properties:
        operation: { type: string, enum: [activate, rollback] }
        expiresInMinutes: { type: integer, minimum: 5, maximum: 1440, default: 30 }

    LifecycleApprovalHold:
      type: object
      additionalProperties: true
      required: [holdId, runId, status, requiredRole, expiresAt, secretsIncluded]
      properties:
        holdId: { type: string, format: uuid }
        runId: { type: string, format: uuid }
        tenantId: { type: [string, 'null'] }
        workspaceId: { type: [string, 'null'] }
        brandKey: { type: [string, 'null'] }
        status: { type: string, enum: [open, approved, denied, expired] }
        requiredRole: { type: string, const: platform_admin }
        executionContext:
          type: object
          additionalProperties: false
          required: [approvalType, operation, configVersionId, configKey, scopeKey, checksumSha256, versionRevision, bindingSha256]
          properties:
            approvalType: { type: string, const: growth_control_configuration_lifecycle }
            operation: { type: string, enum: [activate, rollback] }
            configVersionId: { type: string, format: uuid }
            configKey: { $ref: '#/components/schemas/CanonicalKey' }
            scopeKey: { type: string }
            checksumSha256: { type: string, minLength: 64, maxLength: 64 }
            versionRevision: { type: integer, minimum: 1 }
            bindingSha256: { type: string, minLength: 64, maxLength: 64 }
        requestedBy: { type: string }
        decisionBy: { type: [string, 'null'] }
        expiresAt: { type: string, format: date-time }
        decidedAt: { type: [string, 'null'], format: date-time }
        createdAt: { type: [string, 'null'], format: date-time }
        secretsIncluded: { type: boolean, const: false }

    LifecycleTransitionRequest:
      type: object
      additionalProperties: false
      required: [approvalHoldId, expectedRevision]
      properties:
        approvalHoldId: { type: string, format: uuid }
        expectedRevision: { type: integer, minimum: 0 }

    LifecycleTransitionResponse:
      type: object
      additionalProperties: false
      required: [version, operation, approvalHoldId, eventId, previousActiveVersionIds, providerCalls, externalWrites, secretsIncluded]
      properties:
        version: { $ref: '#/components/schemas/ConfigurationVersion' }
        operation: { type: string, enum: [activate, rollback] }
        approvalHoldId: { type: string, format: uuid }
        eventId: { type: string, format: uuid }
        previousActiveVersionIds:
          type: array
          uniqueItems: true
          items: { type: string, format: uuid }
        providerCalls: { type: boolean, const: false }
        externalWrites: { type: boolean, const: false }
        secretsIncluded: { type: boolean, const: false }

    ActivityPackDefinitionCreateRequest:
      type: object
      additionalProperties: false
      required: [activityPackKey, activityTypeKey, displayName]
      properties:
        activityPackKey: { $ref: '#/components/schemas/CanonicalKey' }
        activityTypeKey: { $ref: '#/components/schemas/CanonicalKey' }
        displayName: { type: string, minLength: 1, maxLength: 255 }
        description: { type: string, maxLength: 5000 }

    ActivityPackDefinition:
      type: object
      additionalProperties: true
      required: [activityPackKey, activityTypeKey, displayName, status, revision, secretsIncluded]
      properties:
        activityPackKey: { $ref: '#/components/schemas/CanonicalKey' }
        activityTypeKey: { $ref: '#/components/schemas/CanonicalKey' }
        displayName: { type: string }
        description: { type: [string, 'null'] }
        status: { type: string, enum: [draft, active, blocked, deprecated, archived] }
        revision: { type: integer, minimum: 1 }
        createdBy: { type: string }
        createdAt: { type: [string, 'null'], format: date-time }
        updatedAt: { type: [string, 'null'], format: date-time }
        secretsIncluded: { type: boolean, const: false }

    ActivityPackDefinitionListResponse:
      type: object
      additionalProperties: false
      required: [items, page, secretsIncluded]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ActivityPackDefinition' }
        page: { $ref: '#/components/schemas/Page' }
        secretsIncluded: { type: boolean, const: false }

    ActivityPackManifest:
      type: object
      additionalProperties: true
      required: [entitySchemas, knowledgeProfile, kpiTaxonomy, capabilities, workflows, policies, providerCompatibility, tests]
      properties:
        entitySchemas: { type: object, additionalProperties: true }
        knowledgeProfile: { type: object, additionalProperties: true }
        kpiTaxonomy: { type: array, items: {} }
        capabilities: { type: array, items: {} }
        workflows: { type: array, items: {} }
        policies: { type: array, items: {} }
        providerCompatibility: { type: array, items: {} }
        tests: { type: object, additionalProperties: true }

    ActivityPackVersionCreateRequest:
      type: object
      additionalProperties: false
      required: [manifest]
      properties:
        manifest: { $ref: '#/components/schemas/ActivityPackManifest' }

    ActivityPackVersion:
      type: object
      additionalProperties: false
      required: [activityPackVersionId, activityPackKey, versionNumber, manifest, checksumSha256, lifecycle, secretsIncluded]
      properties:
        activityPackVersionId: { type: string, format: uuid }
        activityPackKey: { $ref: '#/components/schemas/CanonicalKey' }
        versionNumber: { type: integer, minimum: 1 }
        manifest: { $ref: '#/components/schemas/ActivityPackManifest' }
        checksumSha256: { type: string, minLength: 64, maxLength: 64 }
        lifecycle: { type: string, enum: [draft, validating, ready, active, blocked, deprecated, archived, rolled_back] }
        secretsIncluded: { type: boolean, const: false }

    BrandActivityBindingCreateRequest:
      type: object
      additionalProperties: false
      required: [tenantId, workspaceId, brandKey, activityTypeKey, activityPackKey, activityPackVersion]
      properties:
        tenantId: { type: string, maxLength: 36 }
        workspaceId: { type: string, maxLength: 36 }
        brandKey: { type: string, maxLength: 255 }
        activityTypeKey: { $ref: '#/components/schemas/CanonicalKey' }
        activityPackKey: { $ref: '#/components/schemas/CanonicalKey' }
        activityPackVersion: { type: integer, minimum: 1 }
        markets: { type: array, uniqueItems: true, items: { type: string } }
        locales: { type: array, uniqueItems: true, items: { type: string } }
        channels: { type: array, uniqueItems: true, items: { type: string } }
        objectives: { type: array, uniqueItems: true, items: { type: string } }
        allowedCapabilities:
          type: array
          uniqueItems: true
          items: { $ref: '#/components/schemas/CanonicalKey' }

    BrandActivityBinding:
      type: object
      additionalProperties: true
      required: [activityBindingId, tenantId, workspaceId, brandKey, activityTypeKey, activityPackKey, activityPackVersion, status, secretsIncluded]
      properties:
        activityBindingId: { type: string, format: uuid }
        tenantId: { type: string }
        workspaceId: { type: string }
        brandKey: { type: string }
        activityTypeKey: { type: string }
        activityPackKey: { type: string }
        activityPackVersion: { type: integer, minimum: 1 }
        markets: { type: array, items: { type: string } }
        locales: { type: array, items: { type: string } }
        channels: { type: array, items: { type: string } }
        objectives: { type: array, items: { type: string } }
        allowedCapabilities: { type: array, items: { type: string } }
        status: { type: string, enum: [draft] }
        secretsIncluded: { type: boolean, const: false }
