openapi: 3.1.0
info:
  title: Growth Intelligence Platform - Admin Core Actions
  version: 3.0.0-platform
  summary: Admin and system MCP facades without Activation routes.
  description: Stable Admin Core transport for governed admin-control and system-layer operations. Dynamic MCP tool schemas remain SQL-driven.
servers:
  - url: https://auth.mad4b.com
    description: admin_core surface
tags:
  - name: admin-control
    description: Personal administrator control surface for CLI, database, and runtime environment operations.
  - name: system-layer
    description: MCP-style governed system layer backed by connector registries, principal context, and runtime validation.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: |
        Send Authorization: Bearer <BACKEND_API_KEY> for admin/service access, or Authorization: Bearer <USER_JWT> after user sign-in.
  schemas:
    GoogleAuthPlatformConfigResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - project_key
        - console_root
        - tabs
      properties:
        ok:
          type: boolean
        project_key:
          type: string
        console_root:
          type: string
        tabs:
          type: array
          items:
            type: object
            additionalProperties: true
            required:
              - config_key
              - status
              - config
            properties:
              config_key:
                type: string
              status:
                type: string
              note:
                type:
                  - string
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              config:
                type: object
                additionalProperties: true
                properties:
                  owner_type:
                    type: string
                  tenant_id:
                    type:
                      - string
                      - "null"
                  project_key:
                    type: string
                  project_id:
                    type:
                      - string
                      - "null"
                  project_display_name:
                    type: string
                  tab:
                    type: string
                  path:
                    type: string
                  state:
                    type: object
                    additionalProperties: true
                    properties: {}
                  notes:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type: string
        secrets_included:
          type: boolean
          enum:
            - false
    ToolDispatchResponse:
      type: object
      additionalProperties: true
      properties:
        ok:
          type: boolean
        name:
          type: string
        tool:
          type: string
        status:
          oneOf:
            - type: string
            - type: integer
        result:
          type: object
          additionalProperties: true
          properties:
            ok:
              type: boolean
            classification:
              type: string
            secrets_included:
              type: boolean
              enum:
                - false
        error:
          type: object
          additionalProperties: true
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
              properties: {}
        response_chunked:
          type: boolean
        chunk_id:
          type: string
        continuation:
          type: object
          additionalProperties: true
          properties:
            policy:
              type: string
            required_tool:
              type: string
            required_before_fallback:
              type: boolean
        page:
          type: object
          additionalProperties: true
          properties:
            cursor:
              type: integer
              minimum: 0
            next_cursor:
              type:
                - integer
                - "null"
              minimum: 0
            has_more:
              type: boolean
        secrets_included:
          type: boolean
          enum:
            - false
    SchemaImportJob:
      type: object
      additionalProperties: true
      properties:
        job_id:
          type: string
        action_key:
          type: string
        source_type:
          type: string
          enum:
            - upload
            - repo_link
            - rollback
        source_url:
          type: string
          nullable: true
        source_ref:
          type: string
          nullable: true
        source_filename:
          type: string
          nullable: true
        endpoints_upserted:
          type: integer
        endpoints_deprecated:
          type: integer
        warnings:
          type: array
          items:
            type: string
          nullable: true
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
        error_message:
          type: string
          nullable: true
        imported_by:
          type: string
          nullable: true
        imported_at:
          type: string
          format: date-time
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean
  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated principal is not authorized for this operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Resource state conflicts with the requested operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Unexpected internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
security:
  - backendBearerAuth: []
paths:
  /system/connectors:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: listSystemConnectors
      summary: List connector systems visible to the current principal
      description: Principal-aware facade over connected_systems. Tenant users are automatically scoped to their tenant; admin principals can inspect all tenants.
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
          description: Admin-only filter. Tenant principals are always forced to their own tenant_id.
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - pending
              - error
              - archived
        - name: connector_family
          in: query
          schema:
            type: string
        - name: provider_family
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Principal-scoped connector registry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  connectors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /system/connectors/{system_id}:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: getSystemConnector
      summary: Get one connector system visible to the current principal
      description: Principal-aware connector registry read. Tenant users can only read systems in their tenant; admins can read any system.
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Principal-scoped connector registry record
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  connector:
                    type: object
                    additionalProperties: true
                    properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Connector system not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /system/tools:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: listSystemTools
      x-tenant-gpt-operationId: listTools
      summary: List MCP-style system tools visible to the current principal
      description: Lists fixed OpenAPI-compatible tools available through the auth-host system layer. Tool calls are governed by principal context. Results are bounded and page-aware; oversized responses return response_chunked=true, chunk_id, page.next_cursor, cache TTL metadata, and require response_chunk_read befo.
      responses:
        "200":
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  principal:
                    type: object
                    additionalProperties: true
                    properties: {}
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /system/tools/call:
    post:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: callSystemTool
      x-tenant-gpt-operationId: callTool
      x-openai-isConsequential: false
      summary: Call a governed MCP-style system tool
      description: Calls a fixed system-layer tool through principal-aware runtime validation. Descriptor tools may declare an explicit handler_name when the public tool name does not map one-to-one to the runtime export; descriptor readiness verifies that the selected handler is callable. Repository Intelligence V2.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  pattern: ^[a-z][a-z0-9_:-]{1,128}$
                  description: Tool key returned by listTools; runtime validates registration, tenant scope, and arguments before dispatch.
                arguments:
                  type: object
                  additionalProperties: true
                  deprecated: true
                  description: Legacy tool arguments. Tenant GPT callers should use tool_args.
                  properties: {}
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields. Admin provider tools require admin/service auth.
                  properties:
                    mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                        - hybrid
                    integration_modes:
                      type: array
                      items:
                        type: string
                    device_id:
                      type: string
                      pattern: ^[a-z0-9-]{2,32}$
      responses:
        "200":
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/system/connectors:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminSystemConnectors
      summary: List connector systems from the system registry
      description: Read-only admin facade over the connected_systems table. Use this before choosing connector-specific actions or MCP-style tool calls.
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - pending
              - error
              - archived
        - name: connector_family
          in: query
          schema:
            type: string
        - name: provider_family
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Connector registry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  connectors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/system/connectors/{system_id}:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminSystemConnector
      summary: Get one connector system from the system registry
      description: Returns one connected_systems row plus its installation summary. This is a governed alternative to raw DB inspection for connector inventory.
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Connector registry record
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  connector:
                    type: object
                    additionalProperties: true
                    properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Connector system not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/system/tools:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminSystemTools
      summary: List MCP-style system layer tools
      description: Lists fixed OpenAPI-compatible tools available through the admin system layer. This behaves like a small MCP tools/list facade over governed platform registries. Results are bounded and page-aware; oversized responses return response_chunked=true, chunk_id, page.next_cursor, cache TTL metadata, and.
      responses:
        "200":
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/system/tools/call:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: callAdminSystemTool
      x-openai-isConsequential: false
      summary: Call an MCP-style system layer tool
      description: Calls a fixed, governed system-layer tool. Descriptor tools may declare an explicit handler_name when the public tool name does not map one-to-one to the runtime export; descriptor readiness verifies that the selected handler is callable. Repository Intelligence V2 readiness invokes the binding lif.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  enum:
                    - connector_registry_list
                    - connector_registry_get
                    - activation_drive_probe
                    - activation_sheets_bootstrap_read
                    - activation_github_validate
                    - activation_provider_bootstrap_validate
                    - activation_bootstrap_config_upsert
                arguments:
                  type: object
                  additionalProperties: true
                  deprecated: true
                  description: Legacy tool arguments. Prefer tool_args for wrapper-safe callers.
                  properties: {}
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields. Repository webhook V2 status and dry-run prefer binding_key; apply also requires binding_sha256, capability_sha256, expected_commit_sha, capability_envelope_id, typed confi.
                  properties: {}
            examples:
              repositoryWebhookDryRun:
                summary: Resolve the governed repository and produce review-bound fingerprints without a provider write
                value:
                  name: github_repository_main_moved_webhook_provision
                  tool_args:
                    binding_key: growth_intelligence_platform.github.primary.production
                    mode: dry_run
              repositoryWebhookApply:
                summary: Apply only after reviewing dry-run output and approving a single-use context-bound envelope
                value:
                  name: github_repository_main_moved_webhook_provision
                  tool_args:
                    binding_key: growth_intelligence_platform.github.primary.production
                    mode: apply
                    confirm: PROVISION_GITHUB_REPOSITORY_MAIN_MOVED_WEBHOOK
                    capability_envelope_id: 00000000-0000-0000-0000-000000000000
                    expected_commit_sha: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    binding_sha256: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                    capability_sha256: cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
                    reason: Apply the reviewed repository webhook plan after same-cycle authority and capability validation.
      responses:
        "200":
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/apis-services/google-auth-platform:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminGoogleAuthPlatformTabs
      summary: Read simulated Google Auth Platform tabs
      description: Returns governed DB-backed tab state for the platform-controlled Google Auth Platform and APIs & Services console simulation.
      parameters:
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
        - in: query
          name: owner_type
          schema:
            type: string
            enum:
              - platform
              - tenant
            default: platform
        - in: query
          name: tenant_id
          schema:
            type: string
      responses:
        "200":
          description: Google Auth Platform tab state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  project_key:
                    type: string
                  console_root:
                    type: string
                  tabs:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/apis-services/google-auth-platform/{tab}:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminGoogleAuthPlatformTab
      summary: Read one simulated Google Auth Platform tab
      description: Returns one governed tab state, such as overview, branding, audience, clients, data_access, verification_center, settings, or api_credentials.
      parameters:
        - in: path
          name: tab
          required: true
          schema:
            type: string
            enum:
              - overview
              - branding
              - audience
              - clients
              - data_access
              - verification_center
              - settings
              - api_credentials
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
      responses:
        "200":
          description: Google Auth Platform tab state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAuthPlatformConfigResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/apis-services/credentials:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminApisServicesCredentials
      summary: Read simulated APIs & Services Credentials tab
      description: Returns the governed APIs & Services Credentials tab and linked platform credential-client registry records.
      parameters:
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
      responses:
        "200":
          description: APIs & Services Credentials state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAuthPlatformConfigResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /gpt/tools:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminTools
      summary: List admin platform tools from the governed registry
      description: Returns paginated DB-backed and virtual Admin tools. Use limit/cursor/q/tag for bounded discovery; clients unable to send query parameters should call admin_tool_catalog_search through callAdminTool. Read all response chunks before fallback. Repository lifecycle mutations remain capability-gated an.
      x-runtime-governance:
        admin_branch_reconcile_continuation:
          policy: admin_branch_reconcile_continuation_contract
          virtual_tool: admin_branch_reconcile
          adapter: runAdminBranchReconcile
          adapter_version: admin-branch-reconciliation-v1
          apply_supported: false
          github_ref_update_force: false
          requires_confirmation_for_future_apply: RECONCILE_BRANCH_<BRANCH_SLUG>
          shared_reconciliation_checkpoint: true
          secrets_included: false
        github_branch_fast_forward_to_base:
          policy: capability_envelope_gated_ref_update
          virtual_tool: github_branch_fast_forward_to_base
          adapter: runGithubBranchFastForwardToBase
          recipe_key: github.branch.fast_forward_to_base
          requires_prior_dry_run_tool: admin_branch_reconcile
          requires_expected_base_sha: true
          requires_expected_branch_sha: true
          applies_only_when_classification: behind_only
          requires_capability_envelope: true
          requires_confirmation: RECONCILE_BRANCH_<BRANCH_SLUG>
          github_ref_update_force: false
          requires_same_cycle_readback: true
          secrets_included: false
        github_branch_merge_commit_create:
          policy: capability_envelope_gated_multi_parent_merge_commit
          virtual_tool: github_branch_merge_commit_create
          adapter: runGithubBranchMergeCommitCreate
          recipe_key: github.branch.create_multi_parent_merge_commit
          requires_prior_dry_run_tool: admin_branch_reconcile
          applies_only_when_classification:
            - diverged_no_overlap
            - diverged_same_files
          requires_expected_base_sha: true
          requires_expected_branch_sha: true
          requires_resolution_commit_sha: true
          resolution_commit_sole_parent: expected_base_sha
          resolution_commit_changed_files_must_match_branch_scope: true
          resolution_commit_max_files: 50
          requires_capability_envelope: true
          requires_confirmation: CREATE_MERGE_COMMIT_<BRANCH_SLUG>
          merge_commit_parent_order:
            - expected_branch_sha
            - expected_base_sha
          merge_commit_tree_source: validated_resolution_commit_tree
          github_ref_update_force: false
          protected_branch_update_allowed: false
          requires_same_cycle_ref_readback: true
          requires_same_cycle_parent_readback: true
          requires_same_cycle_tree_readback: true
          expected_readback_classification: ahead_only
          expected_readback_behind_by: 0
          secrets_included: false
        github_branch_fast_forward_smoke:
          policy: disposable_branch_smoke_with_cleanup
          virtual_tool: github_branch_fast_forward_smoke
          adapter: runGithubBranchFastForwardSmoke
          recipe_key: github.branch.fast_forward_smoke
          creates_branch_prefix: gpt/fast-forward-smoke-
          creates_branch_at: default_branch_parent_commit
          requires_capability_envelope: true
          requires_dry_run_classification: behind_only
          delegates_apply_to: github_branch_fast_forward_to_base
          github_ref_update_force: false
          requires_same_cycle_readback: true
          cleanup_required: true
          cleanup_in_finally: true
          secrets_included: false
        chunked_tool_response_continuation:
          policy: chunk_read_before_alternative_surface
          required_tool: response_chunk_read
          required_before_fallback: true
          applies_to: any_governed_tool_response
          secrets_included: false
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Maximum tools to return in this page.
        - name: cursor
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Zero-based list cursor for the next page.
        - name: q
          in: query
          schema:
            type: string
          description: Optional text filter over name, displayName, description, and path.
        - name: tag
          in: query
          schema:
            type: string
          description: Optional exact tag filter.
        - name: max_chars
          in: query
          schema:
            type: integer
            minimum: 5000
            maximum: 150000
            default: 45000
          description: Maximum JSON characters before returning an automatic response chunk.
      responses:
        "200":
          description: Admin tool catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - tools
                properties:
                  ok:
                    type: boolean
                  caller_type:
                    type: string
                  count:
                    type: integer
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        inputSchema:
                          type: object
                          additionalProperties: true
                          properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Tool list failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /gpt/tools/call:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: callAdminTool
      x-openai-isConsequential: false
      summary: Execute any admin platform tool by name
      description: Executes a governed DB-backed or virtual Admin tool returned by listAdminTools. Pass tool arguments in tool_args according to the returned inputSchema. Use admin_tool_catalog_search when the client cannot send list pagination/search parameters. DB-backed path parameters are substituted automaticall.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  description: Governed DB-backed or virtual tool key returned by listAdminTools; runtime validates registration and inputSchema before dispatch.
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Arguments matching the tool inputSchema. For connect_activate, pass mode and integration_modes here; for connect_device_install, pass device_id here; for admin_control pass tool, sql, args etc. here. For github_rest_endpoint_dispatch, pass a nested tool_args object containing the registry-authorize.
                  properties:
                    mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                      description: Activation mode for connect_activate.
                    device_id:
                      type: string
                      pattern: ^[a-z0-9-]{2,32}$
                      description: Stable lowercase device id for connect_device_install.
                    workspace_name:
                      type: string
                    integration_modes:
                      type: object
                      additionalProperties: true
                      description: Optional per-app managed/dedicated source policy.
                      properties: {}
                    n8n_activation_mode:
                      type: string
                      enum:
                        - managed_main_server
                        - self_hosted_local
                    provisioning_credential_mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                    app_key:
                      type: string
                    auth_type:
                      type: string
                    display_label:
                      type: string
      responses:
        "200":
          description: Upstream tool response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToolDispatchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Tool not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Tool call failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /device/tools:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listDeviceTools
      summary: List device-tagged tools (MCP-style local device control surface)
      description: Returns the device-tagged subset of the admin or tenant tool registry. Use this MCP-style facade to control local device apps (n8n, browser, files, Windows, Cloudflare) primarily from auth.mad4b.com instead of the direct connector.mad4b.com schema.
      responses:
        "200":
          description: Device tool catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - tools
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  surface:
                    type: string
                    example: device
                  caller_type:
                    type: string
                  count:
                    type: integer
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        inputSchema:
                          type: object
                          additionalProperties: true
                          properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Device tool list failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /device/tools/call:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: callDeviceTool
      x-openai-isConsequential: false
      summary: Execute a device-tagged tool by name (MCP-style dispatch)
      description: Dispatches a device-tagged tool through the auth.mad4b.com facade. Rejects tool keys not tagged 'device' with 403. Reuses the gpt/tools dispatcher so audit, admin scope-grant resolution, and grant_dispatch logging keep working.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  description: Device tool key from listDeviceTools, e.g. connector_n8n, connector_browser, connector_win, connector_files.
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Arguments matching the device tool inputSchema.
                  properties: {}
      responses:
        "200":
          description: Upstream device tool response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToolDispatchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tool exists but is not in the device-tools surface
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Tool not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Device tool call failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/cli/local-connector/install-bundle:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getLocalConnectorInstallBundle
      summary: Resolve or download a local connector installer
      description: Generate a pre-filled Windows .bat installer for the local connector stack (cloudflared + Node.js service via NSSM). Reads cf_token and connector_secret from local_connector_user_configs in DB for the given user_id + device_id. Falls back to server env only if no DB row exists. The default JSON mod.
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: string
          description: User ID whose device config to load from DB. Defaults to platform admin.
        - name: device_id
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 128
            default: mohammedlap
          description: Device ID (hostname) to load config for. Defaults to mohammedlap.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - json
              - bat
            default: json
          description: json returns a no-secret handoff; bat returns the authenticated binary installer.
      responses:
        "200":
          description: Metadata-only secure handoff or authenticated installer attachment
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - artifact_delivery
                  - script_content_omitted
                  - credential_materialized
                  - public_storage_allowed
                  - secure_download
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                    const: true
                  artifact_delivery:
                    type: string
                    const: authenticated_direct_download_only
                  script_content_omitted:
                    type: boolean
                    const: true
                  script_content_reason:
                    type: string
                  credential_materialized:
                    type: boolean
                    const: false
                  public_storage_allowed:
                    type: boolean
                    const: false
                  secure_download:
                    type: object
                    additionalProperties: false
                    required:
                      - method
                      - path
                      - query
                      - requires_backend_api_key
                      - requires_admin_principal
                    properties:
                      method:
                        type: string
                        const: GET
                      path:
                        type: string
                        const: /admin/cli/local-connector/install-bundle
                      query:
                        type: object
                        additionalProperties: false
                        required:
                          - user_id
                          - device_id
                          - format
                        properties:
                          user_id:
                            type: string
                          device_id:
                            type: string
                          format:
                            type: string
                            const: bat
                      requires_backend_api_key:
                        type: boolean
                        const: true
                      requires_admin_principal:
                        type: boolean
                        const: true
                  secrets_included:
                    type: boolean
                    const: false
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /admin/cli/local-connector/self-repair:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: repairLocalConnector
      x-openai-isConsequential: false
      summary: Diagnose local connector health and return a secure installer handoff
      x-runtime-governance:
        local_connector_tunnel_provisioning_continuation:
          policy: local_connector_tunnel_provisioning_continuation_contract
          interruption_signal: connector_tunnel_provisioning_required
          required_next_action: provision_tunnel_token
          status_code: 409
          shared_reconciliation_checkpoint: true
          secrets_included: false
      description: Retry bounded connector health up to three total attempts for transient 1033/HTTP 530. Stop on pass or authorization-gated reachability. The JSON response never generates or uploads installer content; after retry exhaustion and degraded readback it returns a no-secret diagnosis, retry evidence, and.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                user_id:
                  type: string
                  description: User ID whose device to repair. Defaults to platform admin.
                device_id:
                  type: string
                  description: Device hostname to repair. Defaults to mohammedlap.
      responses:
        "200":
          description: Diagnosis and no-secret authenticated repair handoff
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - diagnosis
                  - repair
                properties:
                  ok:
                    type: boolean
                    const: true
                  diagnosis:
                    type: object
                    additionalProperties: true
                    required:
                      - secrets_included
                    properties:
                      device_id:
                        type: string
                      tunnel_url:
                        type: string
                      cf_tunnel_id:
                        type: string
                      cf_tunnel_status:
                        type: string
                      config_source:
                        type: string
                        enum:
                          - db
                          - db_alias
                          - env
                          - env_fallback
                      secrets_included:
                        type: boolean
                        const: false
                  repair:
                    type: object
                    additionalProperties: true
                    required:
                      - required
                      - installer_generated
                      - artifact_delivery
                      - public_storage_allowed
                      - secure_download
                      - secrets_included
                    properties:
                      required:
                        type: boolean
                      installer_generated:
                        type: boolean
                        const: false
                      artifact_delivery:
                        type: string
                        const: authenticated_direct_download_only
                      action:
                        type: string
                      filename:
                        type: string
                      public_storage_allowed:
                        type: boolean
                        const: false
                      drive_upload_status:
                        type: string
                        const: blocked_secret_bearing_artifact
                      drive_error:
                        type: "null"
                      drive:
                        type: "null"
                      script_content_omitted:
                        type: boolean
                        const: true
                      script_content_reason:
                        type: string
                      secure_download:
                        type: object
                        additionalProperties: false
                        required:
                          - method
                          - path
                          - query
                          - requires_backend_api_key
                          - requires_admin_principal
                        properties:
                          method:
                            type: string
                            const: GET
                          path:
                            type: string
                            const: /admin/cli/local-connector/install-bundle
                          query:
                            type: object
                            additionalProperties: false
                            required:
                              - user_id
                              - device_id
                              - format
                            properties:
                              user_id:
                                type: string
                              device_id:
                                type: string
                              format:
                                type: string
                                const: bat
                          requires_backend_api_key:
                            type: boolean
                            const: true
                          requires_admin_principal:
                            type: boolean
                            const: true
                      secrets_included:
                        type: boolean
                        const: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
  /admin/cli/dns:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listDnsRecords
      summary: List DNS records for a zone
      description: Lists all DNS records for the specified zone via Cloudflare API. Defaults to mad4b.com.
      parameters:
        - name: zone
          in: query
          required: false
          schema:
            type: string
            default: mad4b.com
          description: Domain zone to query, e.g. mad4b.com.
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Filter by record type, e.g. A, CNAME, TXT.
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Filter by record name.
      responses:
        "200":
          description: DNS record list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - records
                properties:
                  ok:
                    type: boolean
                  zone:
                    type: string
                  records:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: DNS list failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/schema-import/jobs:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listSchemaImportJobs
      summary: List schema import jobs with optional action_key filter
      parameters:
        - name: action_key
          in: query
          schema:
            type: string
          description: Filter by action_key. Omit to list all jobs.
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: "#/components/schemas/SchemaImportJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/cli/data-source/census:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getPlatformDataSourceCensus
      summary: SQL data-source census across platform tables
      description: Returns row counts and last-write timestamps for every SQL table mapped in the platform registry (brands, actions, endpoints, plugins, execution_log, etc.) plus the Sheets mirror configuration. Use to verify SQL is the runtime authority, find empty tables that may need seeding, and audit migration.
      responses:
        "200":
          description: Per-table census with summary
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - data_source
                  - summary
                  - tables
                properties:
                  ok:
                    type: boolean
                  data_source:
                    type: object
                    additionalProperties: true
                    properties:
                      runtime_authority:
                        type: string
                        enum:
                          - sql
                      mode:
                        type: string
                      sheets_role:
                        type: string
                      sheets_mirror_configured:
                        type: boolean
                  summary:
                    type: object
                    additionalProperties: true
                    properties:
                      total_tables:
                        type: integer
                      seeded_tables:
                        type: integer
                      empty_tables:
                        type: integer
                  tables:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        sql_table:
                          type: string
                        sheet_name:
                          type: string
                        sql_row_count:
                          oneOf:
                            - type: integer
                            - type: "null"
                        sql_last_write_at:
                          oneOf:
                            - type: string
                            - type: "null"
                        sql_seeded:
                          type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Census query failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
