openapi: 3.1.0
info:
  title: Growth Intelligence Platform - Activation Admin Actions
  version: 3.0.0-platform
  summary: Admin/service Activation orchestration and read surfaces.
  description: Activation-only admin transport. Authentication and business authorization remain on auth.mad4b.com.
servers:
  - url: https://activation.mad4b.com
    description: activation_admin surface
tags:
  - name: activation
    description: Once-per-session activation probes, session history, and scope context.
  - name: runtime-verification
    description: Runtime verification control plane, production parity ledger, and paginated evidence surfaces.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: |
        Send Authorization: Bearer <BACKEND_API_KEY> for admin/service access, or Authorization: Bearer <USER_JWT> after user sign-in.
  schemas:
    ActivationHardRunSummaryResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - detail_level
        - evidence_manifest_available
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - hard_activation_summary
        detail_level:
          type: string
          enum:
            - summary
        evidence_manifest_available:
          type: boolean
        status:
          type: string
        registry_source:
          type: string
        platform_access:
          type: object
          additionalProperties: true
          properties:
            scope:
              type: string
            all_brand_access:
              type: boolean
        counts:
          type: object
          additionalProperties: true
          properties:
            brands:
              type: integer
              minimum: 0
            plugins:
              type: integer
              minimum: 0
            logics:
              type: integer
              minimum: 0
            engines:
              type: integer
              minimum: 0
            active_actions:
              type: integer
              minimum: 0
        degraded_surfaces:
          type: array
          items:
            type: string
        auth_gaps:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              code:
                type: string
              message:
                type: string
        schema_client_errors:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              code:
                type: string
              message:
                type: string
        secrets_included:
          type: boolean
          enum:
            - false
    HardActivationEvidenceStep:
      type: object
      additionalProperties: true
      properties:
        attempted:
          type: boolean
        ok:
          type: boolean
          nullable: true
        activation_layer:
          type: string
          nullable: true
        evidence_source:
          type: string
          nullable: true
    HardActivationRunResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - activation_complete
        - response_profile
        - runtime_classification
        - evidence_matrix
        - completeness
        - report_policy
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - hard_activation_orchestrator
        activation_complete:
          type: boolean
        run_id:
          type: string
          nullable: true
        session_id:
          type: string
          nullable: true
        response_profile:
          type: string
          enum:
            - evidence
            - summary
            - dashboard
            - diagnostic
            - full
        snapshot:
          type: object
          additionalProperties: true
          properties:
            snapshot_id:
              type: string
            generated_at:
              type: string
              format: date-time
            registry_version:
              type: string
              nullable: true
            data_watermark:
              type: string
              format: date-time
            profile:
              type: string
            subject_scope:
              type: string
              enum:
                - platform_admin
                - tenant_user
        state_model:
          type: object
          additionalProperties: false
          properties:
            validation_state:
              type: string
            evidence_state:
              type: string
            session_state:
              type: string
            dashboard_state:
              type: string
            delivery_state:
              type: string
            consumer_ack_state:
              type: string
        dynamic_tabs_manifest:
          type: object
          additionalProperties: true
          properties: {}
        operational_summary:
          type: object
          additionalProperties: true
          properties: {}
        operational_dashboard_manifest:
          type: object
          additionalProperties: true
          properties: {}
        completeness:
          type: object
          additionalProperties: true
          properties:
            known_surfaces:
              type: integer
            visible_surfaces:
              type: integer
            summarized_surfaces:
              type: integer
            fully_hydrated_surfaces:
              type: integer
            deferred_surfaces:
              type: integer
            blocked_surfaces:
              type: integer
            stale_surfaces:
              type: integer
            coverage_status:
              type: string
            details_omitted_silently:
              type: boolean
              enum:
                - false
        awareness_index:
          type: object
          additionalProperties: true
          properties: {}
        surface_refs:
          type: array
          items:
            type: object
            additionalProperties: true
            properties: {}
        response_projection:
          type: object
          additionalProperties: true
          properties: {}
        runtime_classification:
          type: object
          additionalProperties: true
          properties:
            activation_status:
              type: string
            status_authority:
              type: string
            reason_code:
              type: string
        evidence_matrix:
          type: object
          additionalProperties: true
          properties:
            session_context:
              $ref: "#/components/schemas/HardActivationEvidenceStep"
            provider_bootstrap:
              $ref: "#/components/schemas/HardActivationEvidenceStep"
        report_policy:
          type: object
          additionalProperties: true
          properties:
            may_report_session_context_loaded:
              type: boolean
            may_report_activation_complete:
              type: boolean
            session_context_claim_requires:
              type: string
        secrets_included:
          type: boolean
          enum:
            - false
    OperationalAlert:
      type: object
      additionalProperties: true
      required:
        - alert_key
        - fingerprint_sha256
        - source_type
        - category
        - severity
        - title
        - reason_code
        - lifecycle_status
        - verification_state
        - occurrence_count
        - first_seen_at
        - last_seen_at
        - manual_known_issue
        - persisted
        - secrets_included
      properties:
        alert_id:
          type:
            - string
            - "null"
        alert_key:
          type: string
        fingerprint_sha256:
          type: string
          pattern: ^[a-f0-9]{64}$
        operation_fingerprint_sha256:
          type:
            - string
            - "null"
          pattern: ^[a-f0-9]{64}$
        resource_fingerprint_sha256:
          type:
            - string
            - "null"
          pattern: ^[a-f0-9]{64}$
        source_type:
          type: string
        source_ref:
          type:
            - string
            - "null"
        source_record_id:
          type:
            - string
            - "null"
        tenant_id:
          type:
            - string
            - "null"
        user_id:
          type:
            - string
            - "null"
        workspace_id:
          type:
            - string
            - "null"
        container_key:
          type:
            - string
            - "null"
        category:
          type: string
        severity:
          type: string
          enum:
            - info
            - low
            - medium
            - high
            - critical
        title:
          type: string
        summary:
          type:
            - string
            - "null"
        reason_code:
          type: string
        lifecycle_status:
          type: string
          enum:
            - open
            - acknowledged
            - investigating
            - resolved
            - ignored
        verification_state:
          type: string
          enum:
            - unverified
            - observed
            - verified
            - not_reproduced
        evidence_type:
          type:
            - string
            - "null"
        evidence_ref:
          type:
            - string
            - "null"
        evidence:
          type: object
          additionalProperties: true
          properties: {}
        execution_log_id:
          type:
            - integer
            - "null"
        trace_id:
          type:
            - string
            - "null"
        occurrence_count:
          type: integer
          minimum: 1
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        recommended_action_key:
          type:
            - string
            - "null"
        requires_confirmation:
          type: boolean
        manual_known_issue:
          type: boolean
        persisted:
          type: boolean
        secrets_included:
          type: boolean
          enum:
            - false
    OperationalAlertReadResponse:
      type: object
      additionalProperties: false
      required:
        - attempted
        - ok
        - activation_layer
        - source_authority
        - subject
        - summary
        - final_result
        - page
        - completeness
        - source_health
        - policy
        - secrets_included
      properties:
        attempted:
          type: boolean
          enum:
            - true
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - operational_alerting_control_plane
        source_authority:
          type: string
          enum:
            - sql_runtime_evidence_sources_plus_operational_alert_lifecycle
        subject:
          type: object
          additionalProperties: true
          properties: {}
        summary:
          type: object
          additionalProperties: true
          required:
            - total_count
            - open_count
            - known_issue_count
            - current_detected_count
            - by_severity
            - by_source
            - by_lifecycle
            - by_verification
            - returned_count
            - degraded_source_count
            - truncated_source_count
          properties:
            total_count:
              type: integer
              minimum: 0
            open_count:
              type: integer
              minimum: 0
            known_issue_count:
              type: integer
              minimum: 0
            current_detected_count:
              type: integer
              minimum: 0
            returned_count:
              type: integer
              minimum: 0
            degraded_source_count:
              type: integer
              minimum: 0
            truncated_source_count:
              type: integer
              minimum: 0
            by_severity:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
            by_source:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
            by_lifecycle:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
            by_verification:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
        final_result:
          type: array
          items:
            $ref: "#/components/schemas/OperationalAlert"
        page:
          type: object
          additionalProperties: false
          required:
            - cursor
            - limit
            - returned_count
            - total_count
            - has_more
          properties:
            cursor:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 1000
            returned_count:
              type: integer
              minimum: 0
            total_count:
              type: integer
              minimum: 0
            has_more:
              type: boolean
            next_cursor:
              type:
                - integer
                - "null"
              minimum: 0
        completeness:
          type: object
          additionalProperties: false
          required:
            - all_known_issues_visible
            - expected_known_issue_count
            - visible_known_issue_count
            - missing_known_issue_keys
            - all_matching_problems_returned_in_page
            - details_omitted_silently
            - degraded_sources
            - all_sources_untruncated
            - truncated_sources
            - final_result_complete
          properties:
            all_known_issues_visible:
              type: boolean
            expected_known_issue_count:
              type: integer
              minimum: 0
            visible_known_issue_count:
              type: integer
              minimum: 0
            missing_known_issue_keys:
              type: array
              items:
                type: string
            all_matching_problems_returned_in_page:
              type: boolean
            details_omitted_silently:
              type: boolean
              enum:
                - false
            degraded_sources:
              type: array
              items:
                $ref: "#/components/schemas/OperationalAlertSourceHealth"
            all_sources_untruncated:
              type: boolean
            truncated_sources:
              type: array
              items:
                $ref: "#/components/schemas/OperationalAlertSourceHealth"
            final_result_complete:
              type: boolean
        source_health:
          type: array
          items:
            $ref: "#/components/schemas/OperationalAlertSourceHealth"
        policy:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    OperationalAlertSourceHealth:
      type: object
      additionalProperties: false
      required:
        - source
        - ok
        - row_count
        - row_cap
        - truncated
      properties:
        source:
          type: string
        ok:
          type: boolean
        row_count:
          type: integer
          minimum: 0
        row_cap:
          type:
            - integer
            - "null"
          minimum: 1
        truncated:
          type: boolean
        error:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    ActivationAwarenessResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - response_profile
        - snapshot
        - dynamic_tabs
        - operational_summary
        - dashboard
        - completeness
        - awareness_index
        - auth_context
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - activation_awareness_readback
        response_profile:
          type: string
          enum:
            - evidence
            - summary
            - dashboard
            - diagnostic
            - full
        snapshot:
          type: object
          additionalProperties: true
          properties: {}
        dynamic_tabs:
          type: object
          additionalProperties: true
          properties: {}
        operational_summary:
          type: object
          additionalProperties: true
          properties: {}
        dashboard:
          type: object
          additionalProperties: true
          properties: {}
        completeness:
          type: object
          additionalProperties: true
          required:
            - known_surfaces
            - visible_surfaces
            - summarized_surfaces
            - fully_hydrated_surfaces
            - deferred_surfaces
            - blocked_surfaces
            - stale_surfaces
            - coverage_status
            - details_omitted_silently
          properties:
            known_surfaces:
              type: integer
            visible_surfaces:
              type: integer
            summarized_surfaces:
              type: integer
            fully_hydrated_surfaces:
              type: integer
            deferred_surfaces:
              type: integer
            blocked_surfaces:
              type: integer
            stale_surfaces:
              type: integer
            degraded_surfaces:
              type: integer
            coverage_status:
              type: string
            details_omitted_silently:
              type: boolean
              enum:
                - false
            deferred_details_have_refs:
              type: boolean
        awareness_index:
          type: object
          additionalProperties: false
          properties:
            score:
              type: integer
              minimum: 0
              maximum: 100
            coverage:
              type: integer
              minimum: 0
              maximum: 100
            freshness:
              type: integer
              minimum: 0
              maximum: 100
            authorization_visibility:
              type: integer
              minimum: 0
              maximum: 100
            attention_detection:
              type: integer
              minimum: 0
              maximum: 100
            detail_availability:
              type: integer
              minimum: 0
              maximum: 100
        auth_context:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ActivationDynamicTabDetailResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - snapshot
        - subject
        - container
        - tab
        - sections
        - page
        - policy
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - activation_dynamic_tab_detail
        snapshot:
          type: object
          additionalProperties: true
          properties: {}
        subject:
          type: object
          additionalProperties: true
          properties: {}
        container:
          type: object
          additionalProperties: true
          properties: {}
        tab:
          type: object
          additionalProperties: true
          properties: {}
        sections:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              section_key:
                type: string
              row_count:
                type: integer
              rows:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  properties: {}
              page:
                type: object
                additionalProperties: false
                properties:
                  cursor:
                    type: integer
                  limit:
                    type: integer
                  has_more:
                    type: boolean
                  next_cursor:
                    type: integer
                    nullable: true
        page:
          type: object
          additionalProperties: false
          properties:
            cursor:
              type: integer
            limit:
              type: integer
            returned_rows:
              type: integer
            has_more:
              type: boolean
            next_cursor:
              type: integer
              nullable: true
        policy:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ActivationRunAckResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - run_id
        - affected_rows
        - secrets_included
      properties:
        ok:
          type: boolean
        run_id:
          type: string
        affected_rows:
          type: integer
        error:
          type: object
          nullable: true
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean
  responses:
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
security:
  - backendBearerAuth: []
paths:
  /activation/hard-run/summary:
    get:
      tags:
        - activation
        - runtime-verification
      operationId: getActivationHardRunSummary
      summary: Read compact hard activation summary
      description: |
        Returns a summary-first activation status and registry counts without loading the full hard activation evidence graph. Use this endpoint when tool/client response budgets cannot safely receive full activation evidence.
      security:
        - backendBearerAuth: []
      responses:
        "200":
          description: Compact hard activation summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationHardRunSummaryResponse"
        "424":
          description: Activation summary reports degraded surfaces.
  /activation/awareness:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: readActivationAwareness
      x-openai-isConsequential: false
      summary: Read complete activation awareness manifests
      description: Returns Dynamic Tabs and Dashboard manifests, attention summaries, completeness, freshness, awareness index, snapshot metadata, and governed detail references without silently omitting surfaces.
      parameters:
        - in: query
          name: profile
          schema:
            type: string
            enum:
              - evidence
              - summary
              - dashboard
              - diagnostic
              - full
            default: evidence
        - in: query
          name: attention_limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
        - in: query
          name: max_response_chars
          description: Maximum serialized characters returned inline before a governed chunk continuation envelope is returned.
          schema:
            type: integer
            minimum: 5000
            maximum: 150000
            default: 45000
        - in: query
          name: chunk_ttl_minutes
          description: Requested lifetime for the durable response chunk cache.
          schema:
            type: integer
            minimum: 5
            maximum: 120
            default: 20
      responses:
        "200":
          description: Activation awareness readback.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationAwarenessResponse"
        "401":
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Awareness read failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/operational-attention:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: readActivationOperationalAttention
      x-custom-gpt-exclude: true
      x-openai-isConsequential: false
      summary: Read unified operational alerts
      description: Returns current SQL-evidenced problems and persisted Known Issues with lifecycle, evidence references, source health, pagination, and explicit completeness. Platform Known Issues are admin-only.
      parameters:
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
        - in: query
          name: lookback_hours
          schema:
            type: integer
            minimum: 1
            maximum: 2160
            default: 168
        - in: query
          name: include_resolved
          schema:
            type: boolean
            default: false
        - in: query
          name: severity
          schema:
            type: string
            enum:
              - info
              - low
              - medium
              - high
              - critical
        - in: query
          name: source_type
          schema:
            type: string
            maxLength: 128
        - in: query
          name: lifecycle_status
          schema:
            type: string
            enum:
              - open
              - acknowledged
              - investigating
              - resolved
              - ignored
        - in: query
          name: q
          schema:
            type: string
            maxLength: 300
      responses:
        "200":
          description: Unified operational alert result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationalAlertReadResponse"
        "400":
          description: Invalid filter or pagination input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Backend authentication required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Operational alert read failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/dynamic-tabs/detail:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: readActivationDynamicTabDetail
      x-openai-isConsequential: false
      summary: Read one authorized Dynamic Tab detail page
      parameters:
        - in: query
          name: container_key
          required: true
          schema:
            type: string
        - in: query
          name: tab_key
          required: true
          schema:
            type: string
        - in: query
          name: section_key
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - in: query
          name: snapshot_id
          schema:
            type: string
      responses:
        "200":
          description: Cursor-paginated Dynamic Tab detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationDynamicTabDetailResponse"
        "400":
          description: Missing or invalid detail scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Container, tab, or section not found within caller scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/runs/{runId}/ack:
    post:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: acknowledgeActivationRun
      x-openai-isConsequential: false
      summary: Record consumer acknowledgement for an activation run
      parameters:
        - in: path
          name: runId
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                acknowledged_by:
                  type: string
                  maxLength: 180
                consumer_state:
                  type: string
                  enum:
                    - acknowledged
                    - rejected
                  default: acknowledged
      responses:
        "200":
          description: Acknowledgement recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationRunAckResponse"
        "404":
          description: Activation run not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/hard-run/legacy-full:
    post:
      deprecated: true
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: runLegacyFullHardActivation
      x-openai-isConsequential: false
      summary: Run legacy full hard activation response
      description: Compatibility route for callers that require the previous fully hydrated Dynamic Tabs, Operational Intelligence, and Dashboard payload. New callers should use /activation/hard-run with response_profile=full only when necessary.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                tenant_id:
                  type: string
                user_id:
                  type: string
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 10
                include_raw:
                  type: boolean
                  default: false
                include_turns:
                  type: boolean
                  default: false
                close_previous_sessions:
                  type: boolean
                  default: false
                response_profile:
                  type: string
                  enum:
                    - evidence
                    - summary
                    - dashboard
                    - diagnostic
                    - full
                  default: evidence
                session_policy:
                  type: string
                  enum:
                    - reuse_or_create
                    - create_new
                    - reuse_only
                    - read_only
                  default: reuse_or_create
                idempotency_key:
                  type: string
                  maxLength: 180
                conversation_ref:
                  type: string
                  maxLength: 500
                reuse_window_hours:
                  type: integer
                  minimum: 1
                  maximum: 168
                  default: 24
                container_key:
                  type: string
                tab_key:
                  type: string
                section_key:
                  type: string
                cursor:
                  type: integer
                  minimum: 0
                  default: 0
                detail_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
                max_response_chars:
                  type: integer
                  minimum: 5000
                  maximum: 500000
                  default: 40000
                chunk_ttl_minutes:
                  type: integer
                  minimum: 5
                  maximum: 120
                  default: 20
                authorized_access_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                authorized_surface_limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                provider_arguments:
                  type: object
                  additionalProperties: true
                  properties: {}
      responses:
        "200":
          description: Legacy full activation completed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
        "424":
          description: Required activation evidence incomplete.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
  /activation/hard-run:
    post:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: runHardActivation
      x-openai-isConsequential: false
      summary: Run evidence-first hard activation with complete awareness
      description: Orchestrates hard activation by collecting session-context evidence first and provider-bootstrap evidence second. Activation is not complete unless both evidence surfaces are present and valid. This prevents final activation reports from claiming session context was opened or loaded without getActi.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                tenant_id:
                  type: string
                user_id:
                  type: string
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 10
                include_raw:
                  type: boolean
                  default: false
                include_turns:
                  type: boolean
                  default: false
                close_previous_sessions:
                  type: boolean
                  default: false
                response_profile:
                  type: string
                  enum:
                    - evidence
                    - summary
                    - dashboard
                    - diagnostic
                    - full
                  default: evidence
                session_policy:
                  type: string
                  enum:
                    - reuse_or_create
                    - create_new
                    - reuse_only
                    - read_only
                  default: reuse_or_create
                idempotency_key:
                  type: string
                  maxLength: 180
                conversation_ref:
                  type: string
                  maxLength: 500
                reuse_window_hours:
                  type: integer
                  minimum: 1
                  maximum: 168
                  default: 24
                container_key:
                  type: string
                tab_key:
                  type: string
                section_key:
                  type: string
                cursor:
                  type: integer
                  minimum: 0
                  default: 0
                detail_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
                max_response_chars:
                  type: integer
                  minimum: 5000
                  maximum: 500000
                  default: 40000
                chunk_ttl_minutes:
                  type: integer
                  minimum: 5
                  maximum: 120
                  default: 20
                authorized_access_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                authorized_surface_limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                provider_arguments:
                  type: object
                  additionalProperties: true
                  properties: {}
      responses:
        "200":
          description: Hard activation diagnostic report produced; activation status may be active or degraded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
        "424":
          description: Hard activation could not produce a complete diagnostic evidence report.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
  /activation/session-context:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: getActivationSessionContext
      summary: Read previous session history and platform scope context
      description: Hard activation layer that reads prior user session envelopes as a paginated history log, scoped user request transcripts, plus audit activity, developer scopes, API credential scopes, and connected-system scopes. Admin/service sessions may also receive execution-log prompt and response summaries..
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
          description: Optional user id. Admin callers may inspect any user; user JWT callers are restricted to themselves.
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Number of previous session/history rows to return per page. Keep small for GPT activation probes.
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Pagination offset for reading older previous session history.
        - name: include_raw
          in: query
          schema:
            type: boolean
            default: false
          description: Include bounded raw request/response dumps where allowed by caller scope.
        - name: raw_max_chars
          in: query
          schema:
            type: integer
            default: 4000
            maximum: 20000
          description: Maximum characters per raw dump field when include_raw=true.
        - name: max_response_chars
          in: query
          schema:
            type: integer
            minimum: 5000
            maximum: 150000
            default: 45000
          description: Maximum serialized characters returned inline before a governed chunk continuation envelope is returned.
        - name: chunk_ttl_minutes
          in: query
          schema:
            type: integer
            minimum: 5
            maximum: 120
            default: 20
          description: Requested lifetime for the durable response chunk cache.
      responses:
        "200":
          description: Session history and related platform scopes
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - subject
                  - pagination
                  - session_history
                  - related_scopes
                  - history
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - session_context
                  subject:
                    type: object
                    additionalProperties: false
                    properties:
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                      is_admin:
                        type: boolean
                  last_session:
                    type: object
                    additionalProperties: true
                    properties: {}
                  pagination:
                    type: object
                    additionalProperties: false
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      include_raw:
                        type: boolean
                      raw_max_chars:
                        type: integer
                      has_more_session_history:
                        type: boolean
                  session_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        transcript:
                          type: object
                          additionalProperties: false
                          properties:
                            user_request:
                              type: string
                            ai_response:
                              type: string
                            request_fields_available:
                              type: array
                              items:
                                type: string
                        raw_dump:
                          type: object
                          additionalProperties: true
                          properties: {}
                  related_scopes:
                    type: array
                    items:
                      type: string
                  history:
                    type: object
                    additionalProperties: true
                    properties: {}
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Session context read failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/platform-access:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: getActivationPlatformAccess
      summary: Read platform-wide activation access and registry counts
      description: |
        Hard activation evidence for admin/service sessions. Returns explicit all-brand scope plus counts and readiness for brands, plugins, logics, engines, and runtime-callable actions.
      responses:
        "200":
          description: Platform-wide activation access summary
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - principal
                  - access_scope
                  - access
                  - counts
                  - readiness
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - platform_access
                  principal:
                    type: object
                    additionalProperties: true
                    properties:
                      type:
                        type: string
                      is_admin:
                        type: boolean
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                  access_scope:
                    type: string
                    enum:
                      - platform_admin_all
                      - user_scoped
                  access:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: string
                      plugins:
                        type: string
                      logics:
                        type: string
                      engines:
                        type: string
                      actions:
                        type: string
                  counts:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: object
                        additionalProperties: true
                        properties: {}
                      plugins:
                        type: object
                        additionalProperties: true
                        properties: {}
                      logics:
                        type: object
                        additionalProperties: true
                        properties: {}
                      engines:
                        type: object
                        additionalProperties: true
                        properties: {}
                      actions:
                        type: object
                        additionalProperties: true
                        properties: {}
                  readiness:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: string
                      plugins:
                        type: string
                      logics:
                        type: string
                      engines:
                        type: string
                      actions:
                        type: string
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Platform access read failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
