openapi: 3.1.0
info:
  title: Growth Intelligence Platform - Tenant Activation Actions
  version: 3.0.0-platform
  summary: Tenant-scoped Activation session, awareness, attention, and dynamic-tab reads.
  description: Tenant Activation transport. Tenant and user identity are derived from OAuth JWT and revalidated by auth.mad4b.com.
servers:
  - url: https://activation.mad4b.com
    description: tenant_activation surface
tags:
  - name: activation
    description: Once-per-session activation probes, session history, and scope context.
  - name: session-archive
components:
  securitySchemes:
    userBearerAuth:
      type: oauth2
      description: Tenant GPT OAuth. ChatGPT signs in through the Growth Intelligence Platform popup, then /auth/oauth/token mints a fresh Mad4B tenant access JWT with issuer, audience, subject, scope, user_id, and tenant_id claims. Google Sign-In is only an upstream identity proof inside the popup; do not call OAuth.
      flows:
        authorizationCode:
          authorizationUrl: https://activation.mad4b.com/auth/oauth/authorize
          tokenUrl: https://activation.mad4b.com/auth/oauth/token
          scopes:
            https://auth.mad4b.com/scopes/tenant.links: Access tenant-scoped Growth Intelligence links for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.status: Read tenant connection status for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.activation: Activate managed or dedicated tenant connection mode for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.install: Provision tenant local connector install bundles for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.system-tools: Use tenant-scoped governed system tools for the signed-in user.
  schemas:
    OperationalAlert:
      type: object
      additionalProperties: true
      required:
        - alert_key
        - fingerprint_sha256
        - source_type
        - category
        - severity
        - title
        - reason_code
        - lifecycle_status
        - verification_state
        - occurrence_count
        - first_seen_at
        - last_seen_at
        - manual_known_issue
        - persisted
        - secrets_included
      properties:
        alert_id:
          type:
            - string
            - "null"
        alert_key:
          type: string
        fingerprint_sha256:
          type: string
          pattern: ^[a-f0-9]{64}$
        operation_fingerprint_sha256:
          type:
            - string
            - "null"
          pattern: ^[a-f0-9]{64}$
        resource_fingerprint_sha256:
          type:
            - string
            - "null"
          pattern: ^[a-f0-9]{64}$
        source_type:
          type: string
        source_ref:
          type:
            - string
            - "null"
        source_record_id:
          type:
            - string
            - "null"
        tenant_id:
          type:
            - string
            - "null"
        user_id:
          type:
            - string
            - "null"
        workspace_id:
          type:
            - string
            - "null"
        container_key:
          type:
            - string
            - "null"
        category:
          type: string
        severity:
          type: string
          enum:
            - info
            - low
            - medium
            - high
            - critical
        title:
          type: string
        summary:
          type:
            - string
            - "null"
        reason_code:
          type: string
        lifecycle_status:
          type: string
          enum:
            - open
            - acknowledged
            - investigating
            - resolved
            - ignored
        verification_state:
          type: string
          enum:
            - unverified
            - observed
            - verified
            - not_reproduced
        evidence_type:
          type:
            - string
            - "null"
        evidence_ref:
          type:
            - string
            - "null"
        evidence:
          type: object
          additionalProperties: true
          properties: {}
        execution_log_id:
          type:
            - integer
            - "null"
        trace_id:
          type:
            - string
            - "null"
        occurrence_count:
          type: integer
          minimum: 1
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        recommended_action_key:
          type:
            - string
            - "null"
        requires_confirmation:
          type: boolean
        manual_known_issue:
          type: boolean
        persisted:
          type: boolean
        secrets_included:
          type: boolean
          enum:
            - false
    OperationalAlertReadResponse:
      type: object
      additionalProperties: false
      required:
        - attempted
        - ok
        - activation_layer
        - source_authority
        - subject
        - summary
        - final_result
        - page
        - completeness
        - source_health
        - policy
        - secrets_included
      properties:
        attempted:
          type: boolean
          enum:
            - true
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - operational_alerting_control_plane
        source_authority:
          type: string
          enum:
            - sql_runtime_evidence_sources_plus_operational_alert_lifecycle
        subject:
          type: object
          additionalProperties: true
          properties: {}
        summary:
          type: object
          additionalProperties: true
          required:
            - total_count
            - open_count
            - known_issue_count
            - current_detected_count
            - by_severity
            - by_source
            - by_lifecycle
            - by_verification
            - returned_count
            - degraded_source_count
            - truncated_source_count
          properties:
            total_count:
              type: integer
              minimum: 0
            open_count:
              type: integer
              minimum: 0
            known_issue_count:
              type: integer
              minimum: 0
            current_detected_count:
              type: integer
              minimum: 0
            returned_count:
              type: integer
              minimum: 0
            degraded_source_count:
              type: integer
              minimum: 0
            truncated_source_count:
              type: integer
              minimum: 0
            by_severity:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
            by_source:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
            by_lifecycle:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
            by_verification:
              type: object
              additionalProperties:
                type: integer
                minimum: 0
              properties: {}
        final_result:
          type: array
          items:
            $ref: "#/components/schemas/OperationalAlert"
        page:
          type: object
          additionalProperties: false
          required:
            - cursor
            - limit
            - returned_count
            - total_count
            - has_more
          properties:
            cursor:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 1000
            returned_count:
              type: integer
              minimum: 0
            total_count:
              type: integer
              minimum: 0
            has_more:
              type: boolean
            next_cursor:
              type:
                - integer
                - "null"
              minimum: 0
        completeness:
          type: object
          additionalProperties: false
          required:
            - all_known_issues_visible
            - expected_known_issue_count
            - visible_known_issue_count
            - missing_known_issue_keys
            - all_matching_problems_returned_in_page
            - details_omitted_silently
            - degraded_sources
            - all_sources_untruncated
            - truncated_sources
            - final_result_complete
          properties:
            all_known_issues_visible:
              type: boolean
            expected_known_issue_count:
              type: integer
              minimum: 0
            visible_known_issue_count:
              type: integer
              minimum: 0
            missing_known_issue_keys:
              type: array
              items:
                type: string
            all_matching_problems_returned_in_page:
              type: boolean
            details_omitted_silently:
              type: boolean
              enum:
                - false
            degraded_sources:
              type: array
              items:
                $ref: "#/components/schemas/OperationalAlertSourceHealth"
            all_sources_untruncated:
              type: boolean
            truncated_sources:
              type: array
              items:
                $ref: "#/components/schemas/OperationalAlertSourceHealth"
            final_result_complete:
              type: boolean
        source_health:
          type: array
          items:
            $ref: "#/components/schemas/OperationalAlertSourceHealth"
        policy:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    OperationalAlertSourceHealth:
      type: object
      additionalProperties: false
      required:
        - source
        - ok
        - row_count
        - row_cap
        - truncated
      properties:
        source:
          type: string
        ok:
          type: boolean
        row_count:
          type: integer
          minimum: 0
        row_cap:
          type:
            - integer
            - "null"
          minimum: 1
        truncated:
          type: boolean
        error:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    TenantResolutionProblemCard:
      type: object
      additionalProperties: false
      required:
        - problem_key
        - root_fingerprint_sha256
        - tenant_id
        - root_family
        - severity
        - impact_summary
        - recommended_playbook_key
        - allowed_next_actions
        - apply_enabled
        - provider_call_allowed
        - secrets_included
      properties:
        problem_key:
          type: string
        root_fingerprint_sha256:
          type: string
          pattern: ^[a-f0-9]{64}$
        tenant_id:
          type:
            - string
            - "null"
        workspace_id:
          type:
            - string
            - "null"
        resource_ref:
          type: string
        root_family:
          type: string
          enum:
            - wordpress_site_health
            - tenant_skill_approval
            - task_source_quality
            - provider_setup_ads
            - connector_runtime_readiness
            - general_operational_review
        root_family_display:
          type: string
        severity:
          type: string
          enum:
            - info
            - low
            - medium
            - high
            - critical
        impact_summary:
          type: string
        recommended_playbook_key:
          type: string
        status:
          type: string
          enum:
            - detected
        source_alert_keys:
          type: array
          items:
            type: string
        source_refs:
          type: array
          items:
            type: string
        evidence_refs:
          type: array
          items:
            type: string
        allowed_next_actions:
          type: array
          items:
            type: string
            enum:
              - diagnose
              - create_case
              - escalate
        blocked_reasons:
          type: array
          items:
            type: string
        alert_count:
          type: integer
          minimum: 1
        occurrence_count:
          type: integer
          minimum: 1
        first_seen_at:
          type:
            - string
            - "null"
          format: date-time
        last_seen_at:
          type:
            - string
            - "null"
          format: date-time
        sample_alert:
          type: object
          additionalProperties: true
          properties: {}
        apply_enabled:
          type: boolean
          enum:
            - false
        provider_call_allowed:
          type: boolean
          enum:
            - false
        secrets_included:
          type: boolean
          enum:
            - false
    TenantResolutionProblemCardsResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - activation_layer
        - source_authority
        - subject
        - summary
        - items
        - page
        - policy
        - source_health
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - tenant_resolution_problem_cards
        source_authority:
          type: string
          enum:
            - tenant_scoped_operational_alerts_projection
        subject:
          type: object
          additionalProperties: true
          properties: {}
        summary:
          type: object
          additionalProperties: true
          properties: {}
        items:
          type: array
          items:
            $ref: "#/components/schemas/TenantResolutionProblemCard"
        page:
          type: object
          additionalProperties: false
          required:
            - cursor
            - limit
            - returned_count
            - total_count
            - has_more
          properties:
            cursor:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            returned_count:
              type: integer
              minimum: 0
            total_count:
              type: integer
              minimum: 0
            has_more:
              type: boolean
            next_cursor:
              type:
                - integer
                - "null"
              minimum: 0
        policy:
          type: object
          additionalProperties: true
          required:
            - diagnostic_only
            - apply_enabled
            - provider_call_allowed
            - secrets_included
          properties:
            diagnostic_only:
              type: boolean
              enum:
                - true
            apply_enabled:
              type: boolean
              enum:
                - false
            provider_call_allowed:
              type: boolean
              enum:
                - false
            secrets_included:
              type: boolean
              enum:
                - false
        source_health:
          type: array
          items:
            $ref: "#/components/schemas/OperationalAlertSourceHealth"
        secrets_included:
          type: boolean
          enum:
            - false
    ActivationAwarenessResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - response_profile
        - snapshot
        - dynamic_tabs
        - operational_summary
        - dashboard
        - completeness
        - awareness_index
        - auth_context
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - activation_awareness_readback
        response_profile:
          type: string
          enum:
            - evidence
            - summary
            - dashboard
            - diagnostic
            - full
        snapshot:
          type: object
          additionalProperties: true
          properties: {}
        dynamic_tabs:
          type: object
          additionalProperties: true
          properties: {}
        operational_summary:
          type: object
          additionalProperties: true
          properties: {}
        dashboard:
          type: object
          additionalProperties: true
          properties: {}
        completeness:
          type: object
          additionalProperties: true
          required:
            - known_surfaces
            - visible_surfaces
            - summarized_surfaces
            - fully_hydrated_surfaces
            - deferred_surfaces
            - blocked_surfaces
            - stale_surfaces
            - coverage_status
            - details_omitted_silently
          properties:
            known_surfaces:
              type: integer
            visible_surfaces:
              type: integer
            summarized_surfaces:
              type: integer
            fully_hydrated_surfaces:
              type: integer
            deferred_surfaces:
              type: integer
            blocked_surfaces:
              type: integer
            stale_surfaces:
              type: integer
            degraded_surfaces:
              type: integer
            coverage_status:
              type: string
            details_omitted_silently:
              type: boolean
              enum:
                - false
            deferred_details_have_refs:
              type: boolean
        awareness_index:
          type: object
          additionalProperties: false
          properties:
            score:
              type: integer
              minimum: 0
              maximum: 100
            coverage:
              type: integer
              minimum: 0
              maximum: 100
            freshness:
              type: integer
              minimum: 0
              maximum: 100
            authorization_visibility:
              type: integer
              minimum: 0
              maximum: 100
            attention_detection:
              type: integer
              minimum: 0
              maximum: 100
            detail_availability:
              type: integer
              minimum: 0
              maximum: 100
        auth_context:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ActivationDynamicTabDetailResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - snapshot
        - subject
        - container
        - tab
        - sections
        - page
        - policy
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - activation_dynamic_tab_detail
        snapshot:
          type: object
          additionalProperties: true
          properties: {}
        subject:
          type: object
          additionalProperties: true
          properties: {}
        container:
          type: object
          additionalProperties: true
          properties: {}
        tab:
          type: object
          additionalProperties: true
          properties: {}
        sections:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              section_key:
                type: string
              row_count:
                type: integer
              rows:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  properties: {}
              page:
                type: object
                additionalProperties: false
                properties:
                  cursor:
                    type: integer
                  limit:
                    type: integer
                  has_more:
                    type: boolean
                  next_cursor:
                    type: integer
                    nullable: true
        page:
          type: object
          additionalProperties: false
          properties:
            cursor:
              type: integer
            limit:
              type: integer
            returned_rows:
              type: integer
            has_more:
              type: boolean
            next_cursor:
              type: integer
              nullable: true
        policy:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean
  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated principal is not authorized for this operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Resource state conflicts with the requested operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
security:
  - userBearerAuth:
      - https://auth.mad4b.com/scopes/tenant.links
      - https://auth.mad4b.com/scopes/tenant.status
      - https://auth.mad4b.com/scopes/tenant.activation
      - https://auth.mad4b.com/scopes/tenant.install
      - https://auth.mad4b.com/scopes/tenant.system-tools
paths:
  /tenant/activation/session-context:
    get:
      tags:
        - activation
      operationId: activateSession
      x-openai-isConsequential: false
      summary: Open or reuse the signed tenant user's Activation session context
      description: Tenant-only Activation session surface. Tenant, user, workspace, and brand scope comes from signed OAuth JWT and membership. Identity overrides, include_turns, context_scope, raw dumps, and unknown parameters are rejected. Raw turns stay unavailable; responses remain scoped and secret-free.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: response_profile
          in: query
          schema:
            type: string
            enum:
              - evidence
              - summary
              - dashboard
              - diagnostic
              - full
            default: evidence
        - name: container_key
          in: query
          schema:
            type: string
        - name: tab
          in: query
          schema:
            type: string
        - name: tab_key
          in: query
          schema:
            type: string
        - name: date_range
          in: query
          schema:
            type: string
        - name: max_response_chars
          in: query
          schema:
            type: integer
            minimum: 5000
            maximum: 150000
            default: 40000
        - name: chunk_ttl_minutes
          in: query
          description: Requested lifetime for the durable response chunk cache.
          schema:
            type: integer
            minimum: 5
            maximum: 120
            default: 20
        - name: session_policy
          in: query
          schema:
            type: string
            enum:
              - reuse_or_create
              - create_new
              - reuse_only
              - read_only
            default: reuse_or_create
        - name: idempotency_key
          in: query
          schema:
            type: string
            maxLength: 180
        - name: conversation_ref
          in: query
          schema:
            type: string
            maxLength: 500
        - name: close_previous_sessions
          in: query
          schema:
            type: boolean
            default: false
        - name: reuse_window_hours
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 168
            default: 24
      responses:
        "200":
          description: Tenant-scoped Activation session context
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - response_profile
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - session_context
                  response_profile:
                    type: string
                  subject:
                    type: object
                    additionalProperties: false
                    properties:
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                      is_admin:
                        type: boolean
                        enum:
                          - false
                  pagination:
                    type: object
                    additionalProperties: true
                    properties: {}
                  session_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  related_scopes:
                    type: object
                    additionalProperties: true
                    properties: {}
                  product_guidance:
                    type: object
                    additionalProperties: true
                    properties: {}
                  dashboard_entry:
                    type: object
                    additionalProperties: false
                    properties:
                      path:
                        type: string
                        enum:
                          - /tenant/dashboard
                      active_container_key:
                        type:
                          - string
                          - "null"
                      active_tab_key:
                        type: string
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /tenant/activation/operational-attention:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: readTenantActivationOperationalAttention
      x-custom-gpt-exclude: true
      x-openai-isConsequential: false
      summary: Read tenant-scoped operational alerts
      description: Resolves tenant scope from signed JWT membership and returns current tenant-visible problems. Platform Known Issues are excluded.
      parameters:
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
        - in: query
          name: lookback_hours
          schema:
            type: integer
            minimum: 1
            maximum: 2160
            default: 168
        - in: query
          name: include_resolved
          schema:
            type: boolean
            default: false
        - in: query
          name: severity
          schema:
            type: string
            enum:
              - info
              - low
              - medium
              - high
              - critical
        - in: query
          name: source_type
          schema:
            type: string
            maxLength: 128
        - in: query
          name: lifecycle_status
          schema:
            type: string
            enum:
              - open
              - acknowledged
              - investigating
              - resolved
              - ignored
        - in: query
          name: q
          schema:
            type: string
            maxLength: 300
      responses:
        "200":
          description: Tenant-scoped operational alert result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationalAlertReadResponse"
        "400":
          description: Invalid filter or pagination input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Tenant operational alert read failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/activation/awareness:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: readTenantActivationAwareness
      x-openai-isConsequential: false
      summary: Read signed-in tenant activation awareness
      description: Tenant scope is resolved from the signed user JWT and active membership. Client-supplied tenant identity is not trusted.
      parameters:
        - in: query
          name: profile
          schema:
            type: string
            enum:
              - evidence
              - summary
              - dashboard
            default: evidence
        - in: query
          name: attention_limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
        - in: query
          name: max_response_chars
          description: Maximum serialized characters returned inline before a governed chunk continuation envelope is returned.
          schema:
            type: integer
            minimum: 5000
            maximum: 150000
            default: 45000
        - in: query
          name: chunk_ttl_minutes
          description: Requested lifetime for the durable response chunk cache.
          schema:
            type: integer
            minimum: 5
            maximum: 120
            default: 20
      responses:
        "200":
          description: Tenant-scoped activation awareness.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationAwarenessResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/problem-cards:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: readTenantResolutionProblemCards
      x-custom-gpt-exclude: false
      x-openai-isConsequential: false
      summary: Read tenant self-healing problem cards
      description: Projects tenant-scoped Operational Attention alerts into root-family Problem Cards. This endpoint is diagnostic-only and does not create cases, execute providers, or apply repairs.
      parameters:
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - in: query
          name: lookback_hours
          schema:
            type: integer
            minimum: 1
            maximum: 2160
            default: 168
        - in: query
          name: root_family
          schema:
            type: string
            enum:
              - wordpress_site_health
              - tenant_skill_approval
              - task_source_quality
              - provider_setup_ads
              - connector_runtime_readiness
              - general_operational_review
        - in: query
          name: severity
          schema:
            type: string
            enum:
              - info
              - low
              - medium
              - high
              - critical
        - in: query
          name: q
          schema:
            type: string
            maxLength: 300
      responses:
        "200":
          description: Tenant-scoped problem card projection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantResolutionProblemCardsResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/cases:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: listTenantResolutionCases
      x-custom-gpt-exclude: false
      x-openai-isConsequential: false
      summary: List tenant resolution cases
      description: Returns tenant-scoped resolution cases with optional workspace and lifecycle filters. This operation never calls providers or applies repairs.
      parameters:
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - in: query
          name: workspace_id
          schema:
            type: string
            maxLength: 64
        - in: query
          name: status
          schema:
            type: string
            enum:
              - detected
              - diagnosing
              - needs_connection
              - needs_approval
              - ready_to_apply
              - applying
              - verifying
              - resolved
              - deferred_by_policy
              - escalated
              - blocked_missing_authority
              - cancelled
        - in: query
          name: root_family
          schema:
            type: string
            enum:
              - wordpress_site_health
              - tenant_skill_approval
              - task_source_quality
              - provider_setup_ads
              - connector_runtime_readiness
              - general_operational_review
        - in: query
          name: severity
          schema:
            type: string
            enum:
              - info
              - low
              - medium
              - high
              - critical
      responses:
        "200":
          description: Tenant-scoped resolution case page.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - activation_layer
                  - items
                  - page
                  - filters
                  - policy
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - tenant_resolution_case_lifecycle
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  page:
                    type: object
                    additionalProperties: false
                    required:
                      - cursor
                      - limit
                      - returned_count
                      - total_count
                      - has_more
                    properties:
                      cursor:
                        type: integer
                        minimum: 0
                      limit:
                        type: integer
                        minimum: 1
                        maximum: 100
                      returned_count:
                        type: integer
                        minimum: 0
                      total_count:
                        type: integer
                        minimum: 0
                      has_more:
                        type: boolean
                      next_cursor:
                        type:
                          - integer
                          - "null"
                        minimum: 0
                  filters:
                    type: object
                    additionalProperties: true
                    properties: {}
                  policy:
                    type: object
                    additionalProperties: true
                    properties: {}
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid filter.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: createTenantResolutionCase
      x-custom-gpt-exclude: false
      x-openai-isConsequential: true
      summary: Create or return a tenant resolution case
      description: Creates an internal tenant-scoped resolution case from a Problem Card. This endpoint does not call providers, write externally, or apply repairs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                problem_card:
                  $ref: "#/components/schemas/TenantResolutionProblemCard"
                problem_key:
                  type: string
                root_family:
                  type: string
                  enum:
                    - wordpress_site_health
                    - tenant_skill_approval
                    - task_source_quality
                    - provider_setup_ads
                    - connector_runtime_readiness
                    - general_operational_review
                recommended_playbook_key:
                  type: string
                playbook_key:
                  type: string
                workspace_id:
                  type: string
                resource_ref:
                  type: string
                severity:
                  type: string
                  enum:
                    - info
                    - low
                    - medium
                    - high
                    - critical
                impact_summary:
                  type: string
                  maxLength: 2000
                source_alert_keys:
                  type: array
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 191
                source_refs:
                  type: array
                  maxItems: 100
                  items:
                    type: string
                    maxLength: 512
                idempotency_key:
                  type: string
                  maxLength: 191
      responses:
        "200":
          description: Existing active case returned idempotently.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        "201":
          description: Resolution case created.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        "400":
          description: Invalid problem card payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: No active tenant-visible playbook is available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/cases/{caseId}:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: getTenantResolutionCase
      x-custom-gpt-exclude: false
      x-openai-isConsequential: false
      summary: Read one tenant resolution case
      description: Returns one tenant-scoped resolution case and its recent append-only events. Optional workspace scope is enforced when supplied.
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            maxLength: 64
        - in: query
          name: workspace_id
          schema:
            type: string
            maxLength: 64
        - in: query
          name: event_limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Tenant-scoped resolution case detail.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - activation_layer
                  - case
                  - events
                  - policy
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - tenant_resolution_case_lifecycle
                  case:
                    type: object
                    additionalProperties: true
                    properties: {}
                  events:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  policy:
                    type: object
                    additionalProperties: true
                    properties: {}
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid case identifier.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Case not found within tenant or workspace scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/cases/{caseId}/transitions:
    post:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: transitionTenantResolutionCase
      x-custom-gpt-exclude: false
      x-openai-isConsequential: true
      summary: Transition a tenant resolution case
      description: Appends a lifecycle event and changes case status within the tenant-safe diagnostic state graph. Applying, verifying, and resolved transitions are blocked in this phase.
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - to_status
              properties:
                to_status:
                  type: string
                  enum:
                    - diagnosing
                    - needs_connection
                    - needs_approval
                    - ready_to_apply
                    - deferred_by_policy
                    - escalated
                    - blocked_missing_authority
                    - cancelled
                workspace_id:
                  type: string
                  maxLength: 64
                current_step_key:
                  type: string
                  maxLength: 191
                note:
                  type: string
                  maxLength: 2000
                evidence_ref:
                  type: string
                  maxLength: 512
                idempotency_key:
                  type: string
                  maxLength: 191
      responses:
        "200":
          description: Resolution case transition result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - activation_layer
                  - changed
                  - case
                  - policy
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - tenant_resolution_case_lifecycle
                  changed:
                    type: boolean
                  case:
                    type: object
                    additionalProperties: true
                    properties: {}
                  event:
                    type: object
                    additionalProperties: true
                    properties: {}
                  idempotency:
                    type: object
                    additionalProperties: true
                    properties: {}
                  policy:
                    type: object
                    additionalProperties: true
                    properties: {}
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid target status or request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Case not found within tenant or workspace scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Invalid transition or concurrent case update.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/cases/{caseId}/diagnostics:
    post:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: runTenantResolutionDiagnosticAction
      x-custom-gpt-exclude: false
      x-openai-isConsequential: true
      summary: Run a tenant resolution diagnostic action
      description: Runs one bounded internal action for a resolution case. Supported modes are diagnose, plan_preview, and escalate. No provider call, external write, repair apply, or resolved transition is allowed.
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - mode
              properties:
                mode:
                  type: string
                  enum:
                    - diagnose
                    - plan_preview
                    - escalate
                workspace_id:
                  type: string
                  maxLength: 64
                idempotency_key:
                  type: string
                  maxLength: 191
                evidence_refs:
                  type: array
                  maxItems: 20
                  items:
                    type: string
                    maxLength: 512
                note:
                  type: string
                  maxLength: 2000
                escalation_reason:
                  type: string
                  maxLength: 1000
                observations:
                  type: object
                  additionalProperties: false
                  properties:
                    capability_ready:
                      type: boolean
                    connection_ready:
                      type: boolean
                    approval_ready:
                      type: boolean
                    authority_ready:
                      type: boolean
                    policy_allows_next_step:
                      type: boolean
                    escalation_required:
                      type: boolean
                    evidence_refs:
                      type: array
                      maxItems: 20
                      items:
                        type: string
                        maxLength: 512
                    blocked_reasons:
                      type: array
                      maxItems: 20
                      items:
                        type: string
                        maxLength: 300
                    note:
                      type: string
                      maxLength: 2000
                    escalation_reason:
                      type: string
                      maxLength: 1000
      responses:
        "200":
          description: Diagnostic action result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - activation_layer
                  - mode
                  - changed
                  - case
                  - playbook
                  - policy
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - tenant_resolution_diagnostic_core
                  mode:
                    type: string
                    enum:
                      - diagnose
                      - plan_preview
                      - escalate
                  changed:
                    type: boolean
                  case:
                    type: object
                    additionalProperties: true
                    properties:
                      case_id:
                        type: string
                      tenant_id:
                        type: string
                      workspace_id:
                        type:
                          - string
                          - "null"
                      root_family:
                        type: string
                      playbook_key:
                        type: string
                      status:
                        type: string
                      severity:
                        type: string
                      current_step_key:
                        type:
                          - string
                          - "null"
                      escalation_ref:
                        type:
                          - string
                          - "null"
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  playbook:
                    type: object
                    additionalProperties: true
                    properties:
                      playbook_key:
                        type: string
                      root_family:
                        type: string
                      status:
                        type: string
                      tenant_visible:
                        type: boolean
                      risk_level:
                        type: string
                      required_capability_key:
                        type:
                          - string
                          - "null"
                      approval_required:
                        type: boolean
                      readback_required:
                        type: boolean
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  diagnostic:
                    type:
                      - object
                      - "null"
                    additionalProperties: true
                    properties:
                      diagnostic_id:
                        type: string
                      next_status:
                        type: string
                      confidence:
                        type: string
                        enum:
                          - bounded
                      provider_call_allowed:
                        type: boolean
                        enum:
                          - false
                      external_write_allowed:
                        type: boolean
                        enum:
                          - false
                      repair_apply_allowed:
                        type: boolean
                        enum:
                          - false
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  plan_preview:
                    type:
                      - object
                      - "null"
                    additionalProperties: true
                    properties:
                      preview_id:
                        type: string
                      blocked:
                        type: boolean
                      execution_dispatched:
                        type: boolean
                        enum:
                          - false
                      provider_call_allowed:
                        type: boolean
                        enum:
                          - false
                      external_write_allowed:
                        type: boolean
                        enum:
                          - false
                      repair_apply_allowed:
                        type: boolean
                        enum:
                          - false
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  escalation:
                    type:
                      - object
                      - "null"
                    additionalProperties: true
                    properties:
                      escalation_ref:
                        type:
                          - string
                          - "null"
                      reason:
                        type: string
                      already_escalated:
                        type: boolean
                      provider_call_allowed:
                        type: boolean
                        enum:
                          - false
                      external_write_allowed:
                        type: boolean
                        enum:
                          - false
                      repair_apply_allowed:
                        type: boolean
                        enum:
                          - false
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  policy:
                    type: object
                    additionalProperties: false
                    properties:
                      tenant_scoped:
                        type: boolean
                        enum:
                          - true
                      workspace_scope_enforced_when_provided:
                        type: boolean
                        enum:
                          - true
                      bounded_observations_only:
                        type: boolean
                        enum:
                          - true
                      provider_call_allowed:
                        type: boolean
                        enum:
                          - false
                      external_write_allowed:
                        type: boolean
                        enum:
                          - false
                      repair_apply_allowed:
                        type: boolean
                        enum:
                          - false
                      execution_dispatched:
                        type: boolean
                        enum:
                          - false
                      resolved_transition_allowed:
                        type: boolean
                        enum:
                          - false
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid diagnostic action input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Case not found within tenant or workspace scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Case state conflict or action not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/cases/{caseId}/task-source-repair/preview:
    post:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: previewTenantTaskSourceRepair
      x-custom-gpt-exclude: false
      x-openai-isConsequential: true
      summary: Preview a tenant task source repair
      description: Builds and persists a tenant-scoped repair preflight without changing the task registry, calling providers, applying a repair, dispatching execution, or resolving the case.
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                workspace_id:
                  type: string
                  maxLength: 64
                task_id:
                  type: string
                  maxLength: 36
                task_key:
                  type: string
                  maxLength: 191
                evidence_ref:
                  type: string
                  maxLength: 512
                lookup:
                  type: object
                  additionalProperties: false
                  properties:
                    task_id:
                      type: string
                      maxLength: 36
                    task_key:
                      type: string
                      maxLength: 191
                proposed_values:
                  type: object
                  additionalProperties: false
                  properties:
                    task_id:
                      type: string
                      maxLength: 36
                    task_key:
                      type: string
                      maxLength: 191
                    title:
                      type: string
                      maxLength: 255
                    source_surface:
                      type: string
                      maxLength: 191
                    source_ref:
                      type: string
                      maxLength: 500
      responses:
        "200":
          description: Task source repair preview result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - activation_layer
                  - changed
                  - case
                  - task
                  - preview
                  - policy
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - tenant_task_source_repair_preview
                  changed:
                    type: boolean
                  case:
                    type: object
                    additionalProperties: true
                    properties:
                      case_id:
                        type: string
                      tenant_id:
                        type: string
                      workspace_id:
                        type:
                          - string
                          - "null"
                      root_family:
                        type: string
                        enum:
                          - task_source_quality
                      playbook_key:
                        type: string
                        enum:
                          - task_source_repair_v1
                      status:
                        type: string
                      current_step_key:
                        type:
                          - string
                          - "null"
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  task:
                    type: object
                    additionalProperties: true
                    properties:
                      task_id:
                        type:
                          - string
                          - "null"
                      task_key:
                        type:
                          - string
                          - "null"
                      title:
                        type:
                          - string
                          - "null"
                      owner_scope:
                        type:
                          - string
                          - "null"
                      tenant_id:
                        type:
                          - string
                          - "null"
                      source_surface:
                        type:
                          - string
                          - "null"
                      source_ref:
                        type:
                          - string
                          - "null"
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  preview:
                    type: object
                    additionalProperties: true
                    properties:
                      preview_id:
                        type: string
                      generated_at:
                        type: string
                        format: date-time
                      preview_fingerprint_sha256:
                        type: string
                        pattern: ^[a-f0-9]{64}$
                      ready_for_apply_gate:
                        type: boolean
                      approval_required:
                        type: boolean
                        enum:
                          - true
                      readback_required:
                        type: boolean
                        enum:
                          - true
                      provider_call_allowed:
                        type: boolean
                        enum:
                          - false
                      external_write_allowed:
                        type: boolean
                        enum:
                          - false
                      task_registry_write_allowed:
                        type: boolean
                        enum:
                          - false
                      repair_apply_allowed:
                        type: boolean
                        enum:
                          - false
                      execution_dispatched:
                        type: boolean
                        enum:
                          - false
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  policy:
                    type: object
                    additionalProperties: true
                    properties:
                      tenant_scoped:
                        type: boolean
                        enum:
                          - true
                      internal_registry_read_only:
                        type: boolean
                        enum:
                          - true
                      task_registry_write_allowed:
                        type: boolean
                        enum:
                          - false
                      repair_apply_allowed:
                        type: boolean
                        enum:
                          - false
                      resolved_transition_allowed:
                        type: boolean
                        enum:
                          - false
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid lookup or proposed values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Case or task not found within tenant scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: '"Incompatible case, binding mismatch, or concurrent update."'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/cases/{caseId}/task-source-repair/apply:
    post:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: applyTenantTaskSourceRepair
      x-custom-gpt-exclude: false
      x-openai-isConsequential: true
      summary: Apply an approved tenant task source repair
      description: Applies one approved, no-drift Task Source Repair preview to a tenant-owned pending task, performs same-cycle field readback, consumes the capability envelope, and moves the case only to verifying. Provider calls, external writes, task-id changes, tenant-scope changes, resolved transitions, and sec.
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - preview_fingerprint_sha256
                - capability_envelope_id
                - approval_hold_id
                - confirm
              properties:
                workspace_id:
                  type: string
                  maxLength: 64
                preview_fingerprint_sha256:
                  type: string
                  pattern: ^[a-f0-9]{64}$
                capability_envelope_id:
                  type: string
                  maxLength: 64
                approval_hold_id:
                  type: string
                  maxLength: 64
                confirm:
                  type: string
                  maxLength: 80
                  description: APPLY_TASK_SOURCE_REPAIR_ followed by the uppercase first 12 characters of the preview fingerprint.
      responses:
        "200":
          description: Task source repair was applied and the case entered verifying.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - activation_layer
                  - changed
                  - case
                  - task
                  - apply
                  - envelope
                  - policy
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                  activation_layer:
                    type: string
                    enum:
                      - tenant_task_source_repair_apply_gate
                  changed:
                    type: boolean
                    enum:
                      - true
                  case:
                    type: object
                    additionalProperties: false
                    required:
                      - case_id
                      - tenant_id
                      - status
                      - current_step_key
                      - readback_status
                      - secrets_included
                    properties:
                      case_id:
                        type: string
                      tenant_id:
                        type: string
                      workspace_id:
                        type:
                          - string
                          - "null"
                      status:
                        type: string
                        enum:
                          - verifying
                      current_step_key:
                        type: string
                        enum:
                          - task_source_repair_verifying
                      readback_status:
                        type: string
                        enum:
                          - not_run
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  task:
                    type: object
                    additionalProperties: false
                    required:
                      - task_id
                      - task_key
                      - title
                      - source_surface
                      - source_ref
                      - secrets_included
                    properties:
                      task_id:
                        type: string
                      task_key:
                        type: string
                      title:
                        type: string
                      source_surface:
                        type: string
                      source_ref:
                        type: string
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  apply:
                    type: object
                    additionalProperties: true
                    properties:
                      phase:
                        type: string
                        enum:
                          - applied_pending_verification
                      applied_at:
                        type: string
                        format: date-time
                      preview_fingerprint_sha256:
                        type: string
                        pattern: ^[a-f0-9]{64}$
                      capability_envelope_id:
                        type: string
                      approval_hold_id:
                        type: string
                      task_id:
                        type: string
                      changed_fields:
                        type: array
                        items:
                          type: string
                          enum:
                            - task_key
                            - title
                            - source_surface
                            - source_ref
                      mutation_readback:
                        type: object
                        additionalProperties: false
                        properties:
                          status:
                            type: string
                            enum:
                              - passed
                          checked_fields:
                            type: array
                            items:
                              type: string
                              enum:
                                - task_key
                                - title
                                - source_surface
                                - source_ref
                      lifecycle_readback_status:
                        type: string
                        enum:
                          - not_run
                      provider_call_allowed:
                        type: boolean
                        enum:
                          - false
                      external_write_allowed:
                        type: boolean
                        enum:
                          - false
                      resolved_transition_allowed:
                        type: boolean
                        enum:
                          - false
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  envelope:
                    type: object
                    additionalProperties: false
                    required:
                      - envelope_id
                      - execution_status
                      - consumed
                      - secrets_included
                    properties:
                      envelope_id:
                        type: string
                      execution_status:
                        type: string
                        enum:
                          - executed
                      consumed:
                        type: boolean
                        enum:
                          - true
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  policy:
                    type: object
                    additionalProperties: false
                    properties:
                      tenant_scoped:
                        type: boolean
                        enum:
                          - true
                      approval_hold_required:
                        type: boolean
                        enum:
                          - true
                      typed_confirmation_required:
                        type: boolean
                        enum:
                          - true
                      no_drift_required:
                        type: boolean
                        enum:
                          - true
                      internal_registry_write_only:
                        type: boolean
                        enum:
                          - true
                      provider_call_allowed:
                        type: boolean
                        enum:
                          - false
                      external_write_allowed:
                        type: boolean
                        enum:
                          - false
                      resolved_transition_allowed:
                        type: boolean
                        enum:
                          - false
                      lifecycle_readback_required:
                        type: boolean
                        enum:
                          - true
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid fingerprint, authority input, or typed confirmation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Tenant membership, capability envelope, or approved hold is missing or invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Resolution case or pending task was not found within tenant scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Case state, preflight, drift, uniqueness, mutation readback, or envelope lifecycle conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/resolution/cases/{caseId}/task-source-repair/verify:
    post:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: verifyTenantTaskSourceRepair
      x-custom-gpt-exclude: false
      x-openai-isConsequential: true
      summary: Verify an applied tenant task source repair
      description: Performs an independent tenant-scoped lifecycle readback after Apply Gate without mutating the task or resolving the case.
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - expected_preview_fingerprint_sha256
              properties:
                workspace_id:
                  type: string
                  minLength: 1
                  maxLength: 64
                expected_preview_fingerprint_sha256:
                  type: string
                  pattern: ^[a-f0-9]{64}$
      responses:
        "200":
          description: Verification readback completed or an identical existing readback was returned.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - changed
                  - case
                  - verification
                  - policy
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                  activation_layer:
                    type: string
                    enum:
                      - tenant_task_source_repair_verification_readback
                  changed:
                    type: boolean
                  existing_readback_returned:
                    type: boolean
                  case:
                    type: object
                    additionalProperties: true
                    properties: {}
                  task:
                    type:
                      - object
                      - "null"
                    additionalProperties: true
                  verification:
                    type: object
                    additionalProperties: true
                    properties:
                      status:
                        type: string
                        enum:
                          - passed
                          - failed
                      checked_at:
                        type: string
                        format: date-time
                      preview_fingerprint_sha256:
                        type: string
                        pattern: ^[a-f0-9]{64}$
                      task_id:
                        type: string
                      failure_reasons:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties: {}
                      secrets_included:
                        type: boolean
                        enum:
                          - false
                  policy:
                    type: object
                    additionalProperties: true
                    properties: {}
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /tenant/activation/dynamic-tabs/detail:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: readTenantActivationDynamicTabDetail
      x-openai-isConsequential: false
      summary: Read one tenant-authorized Dynamic Tab detail page
      parameters:
        - in: query
          name: container_key
          required: true
          schema:
            type: string
        - in: query
          name: tab_key
          required: true
          schema:
            type: string
        - in: query
          name: section_key
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - in: query
          name: snapshot_id
          schema:
            type: string
      responses:
        "200":
          description: Tenant-scoped cursor-paginated Dynamic Tab detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationDynamicTabDetailResponse"
        "400":
          description: Missing or invalid detail scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Caller lacks active tenant membership or requested object scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Container, tab, or section not found within caller scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/activation/sessions:
    get:
      tags:
        - activation
        - session-archive
      operationId: listSessions
      x-openai-isConsequential: false
      summary: List the signed tenant user's safe Activation session metadata
      description: Returns a bounded, secret-free projection of sessions owned by the tenant and user from the signed OAuth JWT. Tenant, user, workspace, brand, and context-scope overrides are rejected and raw instructions, repository metadata, emails, and turn content are never selected.
      parameters:
        - name: session_status
          in: query
          schema:
            type: string
            enum:
              - pending
              - active
              - completed
              - failed
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
      responses:
        "200":
          description: Tenant-scoped safe session list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - activation_layer
                  - subject
                  - sessions
                  - total
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                  activation_layer:
                    type: string
                    enum:
                      - session_list
                  subject:
                    type: object
                    additionalProperties: false
                    required:
                      - tenant_id
                      - user_id
                      - is_admin
                    properties:
                      tenant_id:
                        type: string
                      user_id:
                        type: string
                      is_admin:
                        type: boolean
                        enum:
                          - false
                  sessions:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - session_id
                        - originator
                        - session_status
                        - brand_key
                        - workspace_key
                        - turn_count
                        - started_at
                        - ended_at
                        - created_at
                      properties:
                        session_id:
                          type: string
                        originator:
                          type:
                            - string
                            - "null"
                        session_status:
                          type: string
                          enum:
                            - pending
                            - active
                            - completed
                            - failed
                        brand_key:
                          type:
                            - string
                            - "null"
                        workspace_key:
                          type:
                            - string
                            - "null"
                        turn_count:
                          type: integer
                          minimum: 0
                        started_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                        ended_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                        created_at:
                          type:
                            - string
                            - "null"
                          format: date-time
                  total:
                    type: integer
                    minimum: 0
                    maximum: 50
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Tenant Activation session list failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /tenant/activation/sessions/{id}/turns:
    post:
      tags:
        - activation
        - session-archive
      operationId: writeGptSessionTurns
      x-openai-isConsequential: true
      summary: Append a bounded conversational exchange to the active tenant session archive
      description: Uses the session_archive_write capability family, exact JWT tenant and user scope, a maximum of 20 turns, and same-cycle per-turn archive readback. System-role turns and identity overrides are rejected.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - turns
              properties:
                turns:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items:
                    type: object
                    additionalProperties: false
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                          - tool
                      content:
                        type: string
                        minLength: 1
                        maxLength: 120000
                      action_key:
                        type:
[...]
