{
  "info": {
    "description": "Generated from platform_data_table_registry or the checked-in snapshot fallback. Do not edit by hand.",
    "title": "DB-backed Resource Surfaces",
    "version": "2026-07-09"
  },
  "openapi": "3.1.0",
  "paths": {
    "/admin/resource-types": {
      "get": {
        "operationId": "platformResourceTypesList",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Resource API"
        ]
      }
    },
    "/admin/resources/{resourceKey}": {
      "get": {
        "operationId": "platformResourceList",
        "parameters": [
          {
            "in": "path",
            "name": "resourceKey",
            "required": true,
            "schema": {
              "enum": [
                "admin_platform_endpoint_tools",
                "agent_skill_grants",
                "app_action_grants",
                "capability_resolution_envelopes",
                "cms_site_access_grants",
                "permission_grants",
                "platform_data_table_registry",
                "platform_resource_operation_registry",
                "system_endpoints",
                "user_app_connections"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "properties": {
                    "secrets_included": {
                      "const": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Resource API"
        ]
      }
    },
    "/me/workspaces/{tenant_id}/resources/{resourceKey}": {
      "get": {
        "operationId": "tenantResourceList",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "resourceKey",
            "required": true,
            "schema": {
              "enum": [
                "agent_skill_grants",
                "cms_site_access_grants",
                "permission_grants",
                "user_app_connections"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "properties": {
                    "secrets_included": {
                      "const": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Resource API"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://auth.mad4b.com"
    }
  ],
  "x-generated-from": "snapshot",
  "x-resource-keys": [
    "admin_platform_endpoint_tools",
    "agent_skill_grants",
    "app_action_grants",
    "capability_resolution_envelopes",
    "cms_site_access_grants",
    "permission_grants",
    "platform_data_table_registry",
    "platform_resource_operation_registry",
    "system_endpoints",
    "user_app_connections"
  ],
  "x-resource-surface-count": 10,
  "x-secrets-included": false,
  "x-source-authority": "platform_data_table_registry"
}
