{"openapi":"3.1.0","info":{"title":"DB-backed Resource Surfaces","version":"2026-07-08","description":"Generated from platform_data_table_registry or snapshot."},"servers":[{"url":"https://auth.mad4b.com"}],"x-generated-from":"snapshot","x-source-authority":"platform_data_table_registry","x-secrets-included":false,"x-resource-surface-count":10,"x-resource-keys":["admin_platform_endpoint_tools","agent_skill_grants","app_action_grants","capability_resolution_envelopes","cms_site_access_grants","permission_grants","platform_data_table_registry","platform_resource_operation_registry","system_endpoints","user_app_connections"],"paths":{"/admin/resource-types":{"get":{"operationId":"platformResourceTypesList","tags":["Resource API"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}}}}},"/admin/resources/{resourceKey}":{"get":{"operationId":"platformResourceList","tags":["Resource API"],"parameters":[{"name":"resourceKey","in":"path","required":true,"schema":{"type":"string","enum":["admin_platform_endpoint_tools","agent_skill_grants","app_action_grants","capability_resolution_envelopes","cms_site_access_grants","permission_grants","platform_data_table_registry","platform_resource_operation_registry","system_endpoints","user_app_connections"]}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}},{"name":"pageToken","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"ok":{"type":"boolean"},"resource_key":{"type":"string","enum":["admin_platform_endpoint_tools","agent_skill_grants","app_action_grants","capability_resolution_envelopes","cms_site_access_grants","permission_grants","platform_data_table_registry","platform_resource_operation_registry","system_endpoints","user_app_connections"]},"page":{"type":"object","additionalProperties":true},"secrets_included":{"type":"boolean","const":false}}}}}}}}},"/me/workspaces/{tenant_id}/resources/{resourceKey}":{"get":{"operationId":"tenantResourceList","tags":["Resource API"],"parameters":[{"name":"tenant_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceKey","in":"path","required":true,"schema":{"type":"string","enum":["agent_skill_grants","cms_site_access_grants","permission_grants","user_app_connections"]}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000}},{"name":"pageToken","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"ok":{"type":"boolean"},"resource_key":{"type":"string","enum":["agent_skill_grants","cms_site_access_grants","permission_grants","user_app_connections"]},"page":{"type":"object","additionalProperties":true},"secrets_included":{"type":"boolean","const":false}}}}}}}}}}}
