openapi: 3.1.0
info:
  title: Tenant Growth Control Plane Projection API
  version: 0.1.0
  description: >-
    Tenant-safe, read-only metadata projections for Growth Control Plane
    configuration versions and activity bindings. Responses never include
    configuration values, schemas, approval context, credentials, or secrets.
servers:
  - url: https://auth.mad4b.com
tags:
  - name: tenant-growth-control-plane
    description: Tenant-scoped metadata projections.
security:
  - userJwtAuth: []
paths:
  /tenant/control-plane/configuration-versions:
    get:
      tags: [tenant-growth-control-plane]
      operationId: listTenantGrowthControlConfigurationVersions
      summary: List authorized configuration-version metadata
      description: >-
        Requires a signed non-admin tenant user JWT, active membership, an
        authorized workspace in the same tenant, and a brand matching the
        workspace linked brand. Unsupported query parameters are rejected.
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/BrandKey'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Authorized metadata-only configuration versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantConfigurationVersionListResponse'
              example:
                items:
                  - configVersionId: 44444444-4444-4444-8444-444444444444
                    configKey: growth.execution.policy
                    versionNumber: 2
                    scopeType: brand
                    scopeKey: tenant:11111111-1111-4111-8111-111111111111:workspace:33333333-3333-4333-8333-333333333333:brand:example-brand
                    tenantId: 11111111-1111-4111-8111-111111111111
                    workspaceId: 33333333-3333-4333-8333-333333333333
                    brandKey: example-brand
                    activityTypeKey: travel
                    activityBindingId: null
                    profileKey: null
                    workflowKey: null
                    workflowVersion: null
                    workflowNodeId: null
                    planId: null
                    executionId: null
                    lifecycle: active
                    versionRevision: 3
                    checksumSha256: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    effectiveFrom: '2026-07-24T18:00:00Z'
                    effectiveTo: null
                    createdAt: '2026-07-24T17:00:00Z'
                    metadataOnly: true
                    secretsIncluded: false
                page:
                  nextCursor: null
                  hasMore: false
                scope:
                  tenantId: 11111111-1111-4111-8111-111111111111
                  workspaceId: 33333333-3333-4333-8333-333333333333
                  brandKey: example-brand
                  tenantRole: member
                  workspaceBootstrapStatus: ready
                tenantFacing: true
                metadataOnly: true
                providerCalls: false
                externalWrites: false
                secretsIncluded: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }
  /tenant/control-plane/activity-bindings:
    get:
      tags: [tenant-growth-control-plane]
      operationId: listTenantGrowthControlActivityBindings
      summary: List authorized activity-binding metadata
      description: >-
        Returns only activity-binding metadata for the JWT tenant, authorized
        workspace, and linked brand. It performs no provider call or external write.
      x-contract-completeness: canonical
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/BrandKey'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Authorized metadata-only activity bindings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantActivityBindingListResponse'
              example:
                items:
                  - activityBindingId: 55555555-5555-4555-8555-555555555555
                    tenantId: 11111111-1111-4111-8111-111111111111
                    workspaceId: 33333333-3333-4333-8333-333333333333
                    brandKey: example-brand
                    activityTypeKey: travel
                    activityPackKey: travel.organic-growth
                    activityPackVersion: 1
                    markets: [EG]
                    locales: [ar-EG]
                    channels: [organic-search]
                    objectives: [qualified-leads]
                    allowedCapabilities: [intent_map_generate]
                    status: draft
                    createdAt: '2026-07-24T17:00:00Z'
                    updatedAt: '2026-07-24T17:00:00Z'
                    metadataOnly: true
                    secretsIncluded: false
                page:
                  nextCursor: MQ
                  hasMore: true
                scope:
                  tenantId: 11111111-1111-4111-8111-111111111111
                  workspaceId: 33333333-3333-4333-8333-333333333333
                  brandKey: example-brand
                  tenantRole: member
                  workspaceBootstrapStatus: ready
                tenantFacing: true
                metadataOnly: true
                providerCalls: false
                externalWrites: false
                secretsIncluded: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }
components:
  securitySchemes:
    userJwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Signed non-admin tenant user JWT. Tenant and user identity come from the token only.
  parameters:
    WorkspaceId:
      name: workspaceId
      in: query
      required: true
      description: Workspace identifier authorized for the JWT tenant.
      schema: { type: string, format: uuid }
    BrandKey:
      name: brandKey
      in: query
      required: true
      description: Brand key that must match the workspace linked brand.
      schema:
        type: string
        minLength: 1
        maxLength: 128
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque Base64URL continuation cursor returned by the preceding page.
      schema: { type: string, minLength: 1 }
  responses:
    BadRequest:
      description: Query shape, limit, cursor, workspace, or brand input is invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: A signed non-admin tenant user JWT is missing or invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Tenant membership or workspace and linked-brand authorization failed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    InternalError:
      description: Unexpected internal or persistence failure without sensitive-data exposure.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
  schemas:
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error, secretsIncluded]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, details, requestId]
          properties:
            code: { type: string }
            message: { type: string, maxLength: 512 }
            details:
              type: array
              items: { type: object, additionalProperties: true }
            requestId: { type: string }
        secretsIncluded: { type: boolean, const: false }
    Page:
      type: object
      additionalProperties: false
      required: [nextCursor, hasMore]
      properties:
        nextCursor: { type: [string, 'null'] }
        hasMore: { type: boolean }
    ProjectionScope:
      type: object
      additionalProperties: false
      required: [tenantId, workspaceId, brandKey, tenantRole, workspaceBootstrapStatus]
      properties:
        tenantId: { type: string, format: uuid }
        workspaceId: { type: string, format: uuid }
        brandKey: { type: string }
        tenantRole: { type: [string, 'null'] }
        workspaceBootstrapStatus: { type: string, enum: [ready, degraded] }
    TenantConfigurationVersion:
      type: object
      additionalProperties: false
      required: [configVersionId, configKey, versionNumber, scopeType, scopeKey, tenantId, workspaceId, brandKey, lifecycle, versionRevision, checksumSha256, metadataOnly, secretsIncluded]
      properties:
        configVersionId: { type: string, format: uuid }
        configKey: { type: string }
        versionNumber: { type: integer, minimum: 1 }
        scopeType: { type: string }
        scopeKey: { type: string }
        tenantId: { type: string, format: uuid }
        workspaceId: { type: string, format: uuid }
        brandKey: { type: string }
        activityTypeKey: { type: [string, 'null'] }
        activityBindingId: { type: [string, 'null'] }
        profileKey: { type: [string, 'null'] }
        workflowKey: { type: [string, 'null'] }
        workflowVersion: { type: [integer, 'null'], minimum: 1 }
        workflowNodeId: { type: [string, 'null'] }
        planId: { type: [string, 'null'] }
        executionId: { type: [string, 'null'] }
        lifecycle: { type: string, enum: [ready, active, deprecated, rolled_back] }
        versionRevision: { type: integer, minimum: 1 }
        checksumSha256: { type: string, minLength: 64, maxLength: 64 }
        effectiveFrom: { type: [string, 'null'], format: date-time }
        effectiveTo: { type: [string, 'null'], format: date-time }
        createdAt: { type: [string, 'null'], format: date-time }
        metadataOnly: { type: boolean, const: true }
        secretsIncluded: { type: boolean, const: false }
    TenantActivityBinding:
      type: object
      additionalProperties: false
      required: [activityBindingId, tenantId, workspaceId, brandKey, activityTypeKey, activityPackKey, activityPackVersion, markets, locales, channels, objectives, allowedCapabilities, status, metadataOnly, secretsIncluded]
      properties:
        activityBindingId: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        workspaceId: { type: string, format: uuid }
        brandKey: { type: string }
        activityTypeKey: { type: string }
        activityPackKey: { type: string }
        activityPackVersion: { type: integer, minimum: 1 }
        markets: { type: array, items: { type: string }, uniqueItems: true }
        locales: { type: array, items: { type: string }, uniqueItems: true }
        channels: { type: array, items: { type: string }, uniqueItems: true }
        objectives: { type: array, items: { type: string }, uniqueItems: true }
        allowedCapabilities: { type: array, items: { type: string }, uniqueItems: true }
        status: { type: string }
        createdAt: { type: [string, 'null'], format: date-time }
        updatedAt: { type: [string, 'null'], format: date-time }
        metadataOnly: { type: boolean, const: true }
        secretsIncluded: { type: boolean, const: false }
    ProjectionEnvelopeBase:
      type: object
      required: [page, scope, tenantFacing, metadataOnly, providerCalls, externalWrites, secretsIncluded]
      properties:
        page: { $ref: '#/components/schemas/Page' }
        scope: { $ref: '#/components/schemas/ProjectionScope' }
        tenantFacing: { type: boolean, const: true }
        metadataOnly: { type: boolean, const: true }
        providerCalls: { type: boolean, const: false }
        externalWrites: { type: boolean, const: false }
        secretsIncluded: { type: boolean, const: false }
    TenantConfigurationVersionListResponse:
      allOf:
        - $ref: '#/components/schemas/ProjectionEnvelopeBase'
        - type: object
          additionalProperties: false
          required: [items]
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/TenantConfigurationVersion' }
    TenantActivityBindingListResponse:
      allOf:
        - $ref: '#/components/schemas/ProjectionEnvelopeBase'
        - type: object
          additionalProperties: false
          required: [items]
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/TenantActivityBinding' }
