openapi: 3.1.0
info:
  title: Governed HTTP Client — Local Windows Connector
  version: 1.0.0
  summary: Break-glass local device connector reachable via Cloudflare Tunnel.
  description: Local connector running on the admin Windows device, exposed via connector.mad4b.com through Cloudflare Tunnel. Use this when the main Cloud Run API is down or unreachable. Supports GitHub CLI, gcloud CLI, allowlisted shell commands, and allowlisted file operations.
servers:
  - url: https://connector.mad4b.com
    description: Local Windows device via Cloudflare Tunnel
tags:
  - name: connector
    description: Break-glass local device operations — GitHub, gcloud, shell, files.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key
      description: "Send Authorization: Bearer <BACKEND_API_KEY>"
  schemas:
    ConnectorError:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
security:
  - backendBearerAuth: []
paths:
  /health:
    get:
      tags: [connector]
      operationId: connectorHealth
      summary: Check if the local connector is alive
      description: Returns uptime, hostname, and platform. Use this first to confirm the connector is running before attempting recovery operations.
      security: []
      responses:
        '200':
          description: Connector is running
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  service: { type: string }
                  hostname: { type: string }
                  platform: { type: string }
                  uptime: { type: number }
  /github:
    post:
      tags: [connector]
      operationId: connectorGithub
      summary: Run a gh CLI command on the local device
      description: Executes the GitHub CLI (gh) on the local Windows machine. Use for pushing recovery commits, checking workflow status, or triggering deployments when Cloud Run is down.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [args]
              properties:
                args:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                  description: gh CLI arguments, e.g. ["push", "origin", "main"] or "status"
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 120000
      responses:
        '200':
          description: CLI output
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  stdout: { type: string }
                  stderr: { type: string }
                  exit_code: { type: integer }
        '401':
          description: Unauthorized
  /gcloud:
    post:
      tags: [connector]
      operationId: connectorGcloud
      summary: Run a gcloud CLI command on the local device
      description: Executes gcloud on the local Windows machine. Use for restarting Cloud Run services, reading logs, or triggering redeployments when the server is down.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [args]
              properties:
                args:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                  description: gcloud arguments, e.g. ["run", "services", "update-traffic", "http-generic-api", "--to-latest"]
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 120000
      responses:
        '200':
          description: CLI output
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  stdout: { type: string }
                  stderr: { type: string }
                  exit_code: { type: integer }
        '401':
          description: Unauthorized
  /shell:
    post:
      tags: [connector]
      operationId: connectorShell
      summary: Run an allowlisted shell command on the local device
      description: Executes commands from the CONNECTOR_SHELL_ALLOWLIST. Use status to check if enabled, list to see available commands, run to execute by alias.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [status, list, run]
                  default: list
                alias:
                  type: string
                  description: Shell command alias to run (from allowlist). Required for action=run.
                extra_args:
                  type: array
                  items: { type: string }
                  description: Additional args appended to the allowlisted command. Only if alias permits allow_extra_args=true.
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
      responses:
        '200':
          description: Shell result or allowlist listing
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
  /fetch-upload:
    post:
      tags: [connector]
      operationId: connectorFetchUpload
      summary: Fetch a remote URL and push the content to the platform upload system
      description: |
        The connector fetches the given URL using Node's built-in fetch (handles HTTP/HTTPS, follows redirects), then forwards the content to the main API POST /uploads endpoint using the connector's own BACKEND_API_KEY. Returns the upload_id the user can reference in chat for validation and processing. Use this for URLs that are publicly accessible. For sites requiring authentication or JS rendering, use shell-fetch-upload with curl.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, upload_type]
              properties:
                url:
                  type: string
                  description: The URL to fetch — raw GitHub URLs, CDN-hosted schemas, plugin repos, etc.
                upload_type:
                  type: string
                  enum: [schema, skill, knowledge, repo_link, asset]
                filename:
                  type: string
                  description: Override the filename derived from the URL.
                uploaded_by:
                  type: string
                  description: Actor reference logged against the upload.
                metadata:
                  type: object
                  additionalProperties: true
                  description: Metadata segments (goal, platform, helpers) forwarded to the upload record.
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 30000
      responses:
        '200':
          description: Content fetched and upload record created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  fetched_url: { type: string }
                  via: { type: string }
                  upload_id: { type: string }
                  status: { type: string }
        '401': { description: Unauthorized }
        '403': { description: Fetch-upload disabled on this connector }
        '502': { description: Remote fetch failed or forward to main API failed }

  /shell-fetch-upload:
    post:
      tags: [connector]
      operationId: connectorShellFetchUpload
      summary: Download a URL via curl and push the content to the platform upload system
      description: |
        Downloads the given URL using curl (shell-level, handles edge cases Node fetch cannot — self-signed certs, unusual redirects, legacy TLS). Forwards the content to the main API POST /uploads. Use this when /fetch-upload fails or when the target requires curl-specific flags. The URL is validated against unsafe shell characters before execution.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, upload_type]
              properties:
                url:
                  type: string
                  description: URL to download via curl. Must not contain shell metacharacters.
                upload_type:
                  type: string
                  enum: [schema, skill, knowledge, repo_link, asset]
                filename:
                  type: string
                uploaded_by:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 60000
      responses:
        '200':
          description: File downloaded and upload record created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  fetched_url: { type: string }
                  via: { type: string }
                  upload_id: { type: string }
                  status: { type: string }
        '401': { description: Unauthorized }
        '400': { description: URL contains unsafe characters }
        '502': { description: curl failed or forward to main API failed }

  /files:
    post:
      tags: [connector]
      operationId: connectorFiles
      summary: Read or write allowlisted files on the local device
      description: File access restricted to paths in CONNECTOR_FILE_PATHS. Use to stage recovery files before pushing via /github.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [list, read, write]
                path:
                  type: string
                  description: Absolute file path (must be in CONNECTOR_FILE_PATHS allowlist).
                content:
                  type: string
                  description: File content for write action.
      responses:
        '200':
          description: File operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
        '403':
          description: Path not in allowlist
