openapi: 3.1.0
info:
  title: Mad4B Growth Intelligence - Tenant AI - MCP Actions
  version: 2.0.2-platform-plugins
  summary: Tenant GPT schema with MCP meta-operations plus tenant self-serve Platform Plugin routes.
  description: Tenant MCP schema. Use connect_activate with tool_args.mode and integration_modes. Also supports Platform Plugin catalog, install, and resolve.
servers:
  - url: https://auth.mad4b.com
    description: Mad4B platform auth subdomain
tags:
  - name: activation
    description: Once-per-session activation probes, session history, scope context, and customer growth guidance.
  - name: growth-dashboard
    description: Tenant-facing mobile-friendly growth cockpit, typed cards, next-best actions, preferences, digests, and feedback.
  - name: system-layer
    description: MCP-style governed system layer backed by connector registries, principal context, and runtime validation.
  - name: platform-plugins
    description: Tenant-facing and admin-governed Platform Plugin catalog, install, resolve, contribution, and promotion surfaces.
  - name: session-archive
components:
  securitySchemes:
    userBearerAuth:
      type: oauth2
      description: Tenant GPT OAuth. ChatGPT signs in through the Growth Intelligence Platform popup, then /auth/oauth/token mints a fresh Mad4B tenant access JWT with issuer, audience, subject, scope, user_id, and tenant_id claims. Google Sign-In is only an upstream identity proof inside the popup; do not call OAuth.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mad4b.com/auth/oauth/authorize
          tokenUrl: https://auth.mad4b.com/auth/oauth/token
          scopes:
            https://auth.mad4b.com/scopes/tenant.links: Access tenant-scoped Growth Intelligence links for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.status: Read tenant connection status for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.activation: Activate managed or dedicated tenant connection mode for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.install: Provision tenant local connector install bundles for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.system-tools: Use tenant-scoped governed system tools for the signed-in user.
  schemas:
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
    GrowthDataStatus:
      type: object
      additionalProperties: false
      required: [freshness, source_system, source_scope, confidence, partial_data]
      properties:
        freshness:
          type: string
          enum: [fresh, stale, unknown, failed]
        observed_at:
          type: [string, "null"]
          format: date-time
        source_system:
          type: string
        source_scope:
          type: string
          enum: [tenant_authorized]
        confidence:
          type: number
          minimum: 0
          maximum: 1
        partial_data:
          type: boolean
    GrowthDashboardAction:
      type: object
      additionalProperties: true
      required: [action_ref_key, label, ready, requires_confirmation]
      properties:
        action_ref_key:
          type: string
        label:
          type: string
        mode:
          type: string
          enum: [read_only, advisory, draft_only, write_requires_confirmation]
        ready:
          type: boolean
        requires_confirmation:
          type: boolean
        required_capability_key:
          type: [string, "null"]
        runtime_action_key:
          type: [string, "null"]
        blocked_reason:
          type: [string, "null"]
        expected_impact_metric_key:
          type: [string, "null"]
    GrowthDashboardCard:
      type: object
      additionalProperties: true
      required: [card_id, card_type, title, status, tab_key, data_status]
      properties:
        card_id:
          type: string
        card_type:
          type: string
          enum: [kpi, trend, score, funnel, alert, recommendation, task, list, calendar, campaign, content_opportunity, lead_opportunity, connector_status, progress, comparison, status]
        title:
          type: string
        value: {}
        unit:
          type: [string, "null"]
        status:
          type: string
        change: {}
        metric_key:
          type: [string, "null"]
        interpretation:
          type: string
        tab_key:
          type: string
        actions:
          type: array
          items:
            $ref: "#/components/schemas/GrowthDashboardAction"
        data_status:
          $ref: "#/components/schemas/GrowthDataStatus"
        details_ref:
          type: [object, "null"]
          additionalProperties: true
    GrowthDashboardPreferences:
      type: object
      additionalProperties: false
      properties:
        active_container_key:
          type: [string, "null"]
        active_tab_key:
          type: [string, "null"]
        pinned_tabs:
          type: array
          items: { type: string }
        hidden_tabs:
          type: array
          items: { type: string }
        preferred_date_range:
          type: string
          default: last_30_days
        saved_filters:
          type: object
          additionalProperties: true
        dismissed_alerts:
          type: array
          items: { type: string }
        favorite_metrics:
          type: array
          items: { type: string }
        dashboard_density:
          type: string
          enum: [compact, comfortable, detailed]
        language:
          type: [string, "null"]
        currency:
          type: [string, "null"]
        timezone:
          type: [string, "null"]
        notification_preferences:
          type: object
          additionalProperties: true
    GrowthDashboardResponse:
      type: object
      additionalProperties: true
      required: [ok, product_layer, subject, navigation, cards, growth_guidance, next_best_actions, secrets_included]
      properties:
        ok:
          type: boolean
        product_layer:
          type: string
          enum: [tenant_growth_dashboard]
        product_version:
          type: string
        subject:
          type: object
          additionalProperties: false
          required: [tenant_id, user_id, scope]
          properties:
            tenant_id: { type: string }
            user_id: { type: string }
            scope: { type: string, enum: [tenant_user] }
        active_container:
          type: [object, "null"]
          additionalProperties: true
        available_containers:
          type: array
          items:
            type: object
            additionalProperties: true
        business_context:
          type: object
          additionalProperties: true
        dashboard_state:
          type: object
          additionalProperties: true
        navigation:
          type: object
          additionalProperties: true
        today:
          type: object
          additionalProperties: true
        cards:
          type: array
          items:
            $ref: "#/components/schemas/GrowthDashboardCard"
        growth_guidance:
          type: object
          additionalProperties: true
        next_best_actions:
          type: array
          maxItems: 3
          items:
            type: object
            additionalProperties: true
        available_actions:
          type: array
          items:
            $ref: "#/components/schemas/GrowthDashboardAction"
        assistant_guidance:
          type: object
          additionalProperties: true
        quick_commands:
          type: array
          items: { type: string }
        degraded_surfaces:
          type: array
          items:
            type: object
            additionalProperties: true
        secrets_included:
          type: boolean
          enum: [false]
  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
security:
  - userBearerAuth:
      - https://auth.mad4b.com/scopes/tenant.links
      - https://auth.mad4b.com/scopes/tenant.status
      - https://auth.mad4b.com/scopes/tenant.activation
      - https://auth.mad4b.com/scopes/tenant.install
      - https://auth.mad4b.com/scopes/tenant.system-tools
paths:
  /activation/session-context:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: activateSession
      summary: Read previous session history and platform scope context
      description: Hard activation layer that reads prior user session envelopes as a paginated history log, scoped user request transcripts, plus audit activity, developer scopes, API credential scopes, and connected-system scopes. Admin/service sessions may also receive execution-log prompt and response summaries..
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
          description: Optional user id. Admin callers may inspect any user; user JWT callers are restricted to themselves.
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Number of previous session/history rows to return per page. Keep small for GPT activation probes.
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Pagination offset for reading older previous session history.
        - name: include_raw
          in: query
          schema:
            type: boolean
            default: false
          description: Include bounded raw request/response dumps where allowed by caller scope.
        - name: raw_max_chars
          in: query
          schema:
            type: integer
            default: 4000
            maximum: 20000
        - name: response_profile
          in: query
          schema:
            type: string
            enum: [evidence, summary, dashboard, diagnostic, full]
            default: evidence
          description: Use evidence for compact activation with growth guidance. Full and diagnostic are reserved for explicit troubleshooting.
        - name: session_policy
          in: query
          schema:
            type: string
            enum: [reuse_or_create, create_new, reuse_only, read_only]
            default: reuse_or_create
          description: Controls whether activation reuses or creates a customer session.
        - name: idempotency_key
          in: query
          schema:
            type: string
            maxLength: 180
          description: Stable key for safe activation retries.
        - name: conversation_ref
          in: query
          schema:
            type: string
            maxLength: 500
          description: Stable conversation reference used to derive an idempotency key.
        - name: reuse_window_hours
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 168
            default: 24
        - name: container_key
          in: query
          schema:
            type: string
          description: Optional preferred workspace container for the product dashboard.
        - name: tab
          in: query
          schema:
            type: string
          description: Optional preferred customer-facing dashboard tab.
        - name: date_range
          in: query
          schema:
            type: string
            default: last_30_days
        - name: max_response_chars
          in: query
          schema:
            type: integer
            minimum: 5000
            maximum: 150000
            default: 40000
          description: Transport budget before a governed chunk continuation envelope is returned.
        - name: include_turns
          in: query
          schema:
            type: boolean
            default: false
        - name: authorized_access_limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 5
        - name: authorized_surface_limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 5
          description: Maximum characters per raw dump field when include_raw=true.
      responses:
        "200":
          description: Session history and related platform scopes
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - response_profile
                  - activation_layer
                  - subject
                  - product_guidance
                  - secrets_included
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - session_context
                  subject:
                    type: object
                    additionalProperties: false
                    properties:
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                      is_admin:
                        type: boolean
                  last_session:
                    type: object
                    additionalProperties: true
                    properties: {}
                  pagination:
                    type: object
                    additionalProperties: false
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      include_raw:
                        type: boolean
                      raw_max_chars:
                        type: integer
                      has_more_session_history:
                        type: boolean
                  session_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        transcript:
                          type: object
                          additionalProperties: false
                          properties:
                            user_request:
                              type: string
                            ai_response:
                              type: string
                            request_fields_available:
                              type: array
                              items:
                                type: string
                        raw_dump:
                          type: object
                          additionalProperties: true
                          properties: {}
                  related_scopes:
                    type: array
                    items:
                      type: string
                  history:
                    type: object
                    additionalProperties: true
                    properties: {}
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Session context read failure
          content:
            application/json:
              schema:
  /tenant/dashboard:
    get:
      tags: [growth-dashboard]
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: getTenantGrowthDashboard
      x-openai-isConsequential: false
      summary: Read the tenant growth cockpit
      description: Returns the active workspace, business context, relevant Dynamic Tabs, typed cards, growth guidance, and up to three next-best actions. Tenant and user identity come only from the signed JWT.
      parameters:
        - name: container_key
          in: query
          schema: { type: string }
        - name: tab
          in: query
          schema: { type: string }
        - name: date_range
          in: query
          schema: { type: string, default: last_30_days }
        - name: filters
          in: query
          description: JSON object containing saved dashboard filters.
          schema: { type: string }
      responses:
        "200":
          description: Tenant growth dashboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthDashboardResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Dashboard build failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /tenant/dashboard/tabs/{tabKey}:
    get:
      tags: [growth-dashboard]
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: getTenantGrowthDashboardTab
      x-openai-isConsequential: false
      summary: Read one tenant dashboard tab
      parameters:
        - name: tabKey
          in: path
          required: true
          schema: { type: string, pattern: "^tenant_[a-z0-9_]+$" }
        - name: container_key
          in: query
          schema: { type: string }
        - name: date_range
          in: query
          schema: { type: string, default: last_30_days }
        - name: filters
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Selected tab with typed cards and actions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GrowthDashboardResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Dashboard tab not available for the current tenant context
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Dashboard tab build failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /tenant/dashboard/preferences:
    get:
      tags: [growth-dashboard]
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: getTenantDashboardPreferences
      x-openai-isConsequential: false
      summary: Read tenant dashboard preferences
      responses:
        "200":
          description: Dashboard preferences for the signed-in user
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ok, preferences, secrets_included]
                properties:
                  ok: { type: boolean }
                  preferences: { $ref: "#/components/schemas/GrowthDashboardPreferences" }
                  degraded: { type: boolean }
                  error:
                    type: [object, "null"]
                    additionalProperties: true
                  secrets_included: { type: boolean, enum: [false] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500":
          description: Preferences read failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    put:
      tags: [growth-dashboard]
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: updateTenantDashboardPreferences
      x-openai-isConsequential: true
      summary: Replace tenant dashboard preferences
      description: Replaces the signed-in user's dashboard state. Tenant and user identifiers are never accepted from the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GrowthDashboardPreferences" }
      responses:
        "200":
          description: Updated dashboard preferences
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ok, preferences, secrets_included]
                properties:
                  ok: { type: boolean, enum: [true] }
                  preferences: { $ref: "#/components/schemas/GrowthDashboardPreferences" }
                  secrets_included: { type: boolean, enum: [false] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500":
          description: Preferences write failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /tenant/dashboard/digest:
    get:
      tags: [growth-dashboard]
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: getTenantGrowthDigest
      x-openai-isConsequential: false
      summary: Read a compact tenant growth digest
      parameters:
        - name: container_key
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Compact growth digest
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required: [ok, product_layer, headline, summary, opportunities, secrets_included]
                properties:
                  ok: { type: boolean }
                  product_layer: { type: string, enum: [tenant_growth_digest] }
                  generated_at: { type: string, format: date-time }
                  active_container:
                    type: [object, "null"]
                    additionalProperties: true
                  headline: { type: string }
                  summary:
                    type: object
                    additionalProperties: true
                  opportunities:
                    type: array
                    maxItems: 3
                    items:
                      type: object
                      additionalProperties: true
                  quick_commands:
                    type: array
                    items: { type: string }
                  secrets_included: { type: boolean, enum: [false] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500":
          description: Digest build failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /tenant/dashboard/actions/{actionRefKey}/preview:
    get:
      tags: [growth-dashboard]
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: previewTenantGrowthAction
      x-openai-isConsequential: false
      summary: Preview a governed growth action
      description: Resolves action readiness and expected business outcome without executing a provider or writing business data.
      parameters:
        - name: actionRefKey
          in: path
          required: true
          schema: { type: string, pattern: "^[a-z][a-z0-9_]{1,179}$" }
        - name: container_key
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Action preview and governance state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required: [ok, product_layer, action, preview, policy, secrets_included]
                properties:
                  ok: { type: boolean, enum: [true] }
                  product_layer: { type: string, enum: [tenant_growth_action_preview] }
                  action: { $ref: "#/components/schemas/GrowthDashboardAction" }
                  preview:
                    type: object
                    additionalProperties: true
                  policy:
                    type: object
                    additionalProperties: true
                  secrets_included: { type: boolean, enum: [false] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Action not available in the caller scope
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Action preview failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /tenant/dashboard/recommendations/{recommendationId}/feedback:
    post:
      tags: [growth-dashboard]
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: recordTenantGrowthRecommendationFeedback
      x-openai-isConsequential: false
      summary: Record recommendation feedback or outcome
      parameters:
        - name: recommendationId
          in: path
          required: true
          schema: { type: string, maxLength: 180 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [event_type]
              properties:
                event_type:
                  type: string
                  enum: [shown, opened, accepted, dismissed, executed, failed, result_observed]
                reason_code:
                  type: string
                  enum: [not_relevant, wrong_timing, too_expensive, already_done, missing_information, other]
                workspace_id: { type: string }
                recommendation_key: { type: string }
                tab_key: { type: string }
                card_id: { type: string }
                result_metric_key: { type: string }
                result_value: {}
                context:
                  type: object
                  additionalProperties: true
      responses:
        "201":
          description: Recommendation event recorded
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ok, event_id, event_type, secrets_included]
                properties:
                  ok: { type: boolean, enum: [true] }
                  event_id: { type: string, format: uuid }
                  event_type:
                    type: string
                    enum: [shown, opened, accepted, dismissed, executed, failed, result_observed]
                  secrets_included: { type: boolean, enum: [false] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500":
          description: Recommendation event write failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /system/tools:
    get:
      tags:
        - system-layer
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: listTools
      summary: List MCP-style system tools visible to the current principal
      description: Lists fixed OpenAPI-compatible tools available through the auth-host system layer. Tool calls are governed by principal context. Results are bounded and page-aware; oversized responses return response_chunked=true, chunk_id, page.next_cursor, cache TTL metadata, and require response_chunk_read befo.
      responses:
        "200":
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  principal:
                    type: object
                    additionalProperties: true
                    properties: {}
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /system/tools/call:
    post:
      tags:
        - system-layer
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: callTool
      x-openai-isConsequential: false
      summary: Call a governed MCP-style system tool
      description: Calls a fixed system-layer tool through principal-aware runtime validation. Tenant principals are scoped to their tenant; admin principals can inspect all connector registry records and run provider-bootstrap probes. Oversized results return a chunk continuation envelope with response_chunked=true,.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  pattern: ^[a-z][a-z0-9_:-]{1,128}$
                  description: Tool key returned by listTools; runtime validates registration, tenant scope, and arguments before dispatch.
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields. Admin provider tools require admin/service auth.
                  properties:
                    mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                        - hybrid
                    integration_modes:
                      type: array
                      items:
                        type: string
                    device_id:
                      type: string
                      pattern: ^[a-z0-9-]{2,32}$
      responses:
        "200":
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/platform/plugins/catalog:
    get:
      tags:
        - platform-plugins
      operationId: tenantPlatformPluginCatalog
      summary: List installable Platform Base plugins for this tenant
      description: Tenant-facing catalog. Tenant/user IDs come from auth; no secrets are returned.
      parameters:
        - name: include_bindings
          in: query
          schema:
            type: boolean
            default: true
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
      responses:
        "200":
          description: Tenant-scoped Platform Plugin catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  tenant_facing:
                    type: boolean
                  plugins:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /tenant/platform/plugins/install:
    post:
      x-openai-isConsequential: true
      tags:
        - platform-plugins
      operationId: tenantPlatformPluginInstall
      summary: Install a Platform Base plugin for this tenant
      description: Installs a Platform Base plugin for the signed-in tenant. Tenant/user IDs come from auth; no secrets are accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - plugin_key
              properties:
                plugin_key:
                  type: string
                source_mode:
                  type: string
                  enum:
                    - managed
                    - dedicated
                  default: dedicated
                fallback_allowed:
                  type: boolean
                  default: false
                required_for_device_install:
                  type: boolean
                  default: false
                notes:
                  type: string
                  maxLength: 1000
                connection:
                  type: object
                  additionalProperties: false
                  description: Optional metadata-only connection. Do not include secrets.
                  properties:
                    connection_scope:
                      type: string
                      enum:
                        - tenant_connection
                        - user_connection
                      default: tenant_connection
                    api_base_url:
                      type: string
                      description: HTTPS base URL only. No credentials.
                    mcp_endpoint:
                      type: string
                      description: HTTPS endpoint only. No credentials.
                    webhook_url:
                      type: string
                      description: HTTPS webhook URL only. No credentials.
                    account_label:
                      type: string
                    display_label:
                      type: string
                    account_metadata:
                      type: object
                      additionalProperties: true
                      properties: {}
      responses:
        "200":
          description: Plugin installed for tenant
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  tenant_facing:
                    type: boolean
                  platform_base_mutated:
                    type: boolean
                    enum:
                      - false
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid install payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /tenant/platform/plugins/resolve:
    post:
      x-openai-isConsequential: false
      tags:
        - platform-plugins
      operationId: tenantPlatformPluginResolve
      summary: Resolve tenant readiness for a Platform Plugin action/tool
      description: Checks tenant plugin readiness without executing actions or returning secrets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - plugin_key
              properties:
                plugin_key:
                  type: string
                action_key:
                  type: string
                tool_key:
                  type: string
                agent_id:
                  type: string
                requested_credential_scope:
                  type: string
                  enum:
                    - user_connection
                    - tenant_connection
                    - platform_managed
                    - device_connector
                    - none
      responses:
        "200":
          description: Tenant-scoped plugin readiness result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  allowed:
                    type: boolean
                  reason:
                    type: string
                  tenant_facing:
                    type: boolean
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/sessions/{id}/turn:
    post:
      tags:
        - session-archive
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: writeSessionTurn
      x-openai-isConsequential: false
      summary: Append one turn to a customer_sessions archive
      description: Append one conversation turn to the active customer_sessions row. Writes the full content to the Drive transcript Doc and JSONL sidecar, and stores a bounded preview, sha256 hash, and Drive anchor in gpt_session_turns. Registered as the admin tool gpt_session_turn_write.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id returned by getActivationSessionContext.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - role
                - content
              properties:
                role:
                  type: string
                  enum:
                    - user
                    - assistant
                    - tool
                content:
                  type: string
                action_key:
                  type: string
      responses:
        "200":
          description: Turn write result with Drive anchor and archive status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - session_id
                  - turn_index
                  - turn_id
                  - archive_status
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  turn_index:
                    type: integer
                  turn_id:
                    type: string
                  drive_doc_id:
                    type: string
                  drive_anchor:
                    type: string
                  archive_status:
                    type: string
        "400":
          description: Missing role/content or invalid role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Session belongs to a different user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Cannot add turns to a closed session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Turn write failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /gpt/sessions/{id}/end:
    post:
      tags:
        - session-archive
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: endSession
      x-openai-isConsequential: false
      summary: Close a customer_sessions archive
      description: Close the active customer_sessions row. Optionally writes a session_summaries row, finalizes the Drive transcript through closeGptSessionArchive, and triggers the exportSessionToDrive pipeline so drive_export_url is populated for activation readback. Registered as the admin tool gpt_session_end.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id returned by getActivationSessionContext.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                summary:
                  type: string
                user_email:
                  type: string
      responses:
        "200":
          description: Session close result with archive and Drive export pointers
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - session_id
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  archive:
                    type: object
                    additionalProperties: true
                    properties: {}
                  drive_export:
                    oneOf:
                      - type: object
                        additionalProperties: true
                        properties:
                          drive_file_id:
                            type: string
                          drive_web_url:
                            type: string
                      - type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Session belongs to a different user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Session is already closed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Session end failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
x-gpt-action-auth-preset:
  authentication_type: OAuth
  schema_url: https://auth.mad4b.com/openapi.tenant-gpt.auth.yaml
  client_id: mad4b-tenant-gpt
  client_secret: <resolved-from-governed-platform-secret>
  client_secret_ref: platform_secret:TENANT_GPT_OAUTH_CLIENT_SECRET
  client_secret_config_key: tenant_gpt.oauth.client
  authorization_url: https://auth.mad4b.com/auth/oauth/authorize
  token_url: https://auth.mad4b.com/auth/oauth/token
  token_exchange_method: Default (POST request)
  callback_urls_to_allow:
    - https://chat.openai.com/aip/g-d36db295032b9022dd77233041763f513e8ba5fa/oauth/callback
    - https://chat.openai.com/aip/{g-GPT-ID}/oauth/callback
    - https://chatgpt.com/aip/{g-GPT-ID}/oauth/callback
  scope_links:
    - https://auth.mad4b.com/scopes/tenant.links
    - https://auth.mad4b.com/scopes/tenant.status
    - https://auth.mad4b.com/scopes/tenant.activation
    - https://auth.mad4b.com/scopes/tenant.install
    - https://auth.mad4b.com/scopes/tenant.system-tools
