openapi: 3.1.0
info:
  title: Governed HTTP Client â€” AI Platform - Admin Control Actions
  version: 3.0.0-platform
  summary: Custom GPT action schema for admin-control, system-layer.
  description: 'Custom GPT action schema generated from openapi.yaml. Scope tags: admin-control, system-layer.'
servers:
  - url: https://auth.mad4b.com
    description: Admin Control Actions custom domain
tags:
  - name: admin-control
    description: Personal administrator control surface for CLI, database, and runtime environment operations.
  - name: system-layer
    description: MCP-style governed system layer backed by connector registries, principal context, and runtime validation.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: |
        Send Authorization: Bearer <BACKEND_API_KEY> for admin/service access, or Authorization: Bearer <USER_JWT> after user sign-in.
  schemas:
    SchemaImportJob:
      type: object
      additionalProperties: true
      properties:
        job_id:
          type: string
        action_key:
          type: string
        source_type:
          type: string
          enum:
            - upload
            - repo_link
            - rollback
        source_url:
          type: string
          nullable: true
        source_ref:
          type: string
          nullable: true
        source_filename:
          type: string
          nullable: true
        endpoints_upserted:
          type: integer
        endpoints_deprecated:
          type: integer
        warnings:
          type: array
          items:
            type: string
          nullable: true
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
        error_message:
          type: string
          nullable: true
        imported_by:
          type: string
          nullable: true
        imported_at:
          type: string
          format: date-time
    ReadbackRequest:
      type: object
      additionalProperties: false
      properties:
        required:
          type: boolean
          default: false
        mode:
          type: string
          enum:
            - none
            - echo
            - location_followup
          default: none
    ReadbackResult:
      type: object
      properties: {}
      additionalProperties: true
      description: Optional readback result when requested and available.
    QueryObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
          - type: 'null'
    StringMap:
      type: object
      properties: {}
      additionalProperties:
        type: string
    PathParamsObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
    JsonValue:
      oneOf:
        - type: object
          properties: {}
          additionalProperties: true
        - type: array
          items: {}
        - type: string
        - type: number
        - type: integer
        - type: boolean
        - type: 'null'
    ExecuteHttpRequest:
      type: object
      additionalProperties: false
      required:
        - parent_action_key
        - endpoint_key
      properties:
        target_key:
          type: string
          description: |
            Brand or target selector resolved server-side through governed registries. Keep this as a top-level execution field, not inside body, when it is used for routing.
        brand:
          type: string
          description: Optional brand name resolver input.
        brand_domain:
          type: string
          description: Optional brand domain resolver input.
        provider_domain:
          type: string
          description: |
            Optional execution server source. May be omitted when the endpoint row defines a fixed provider domain or when governed placeholder resolution applies.
        parent_action_key:
          type: string
          description: Governing parent action key from Actions Registry.
        endpoint_key:
          type: string
          description: Governing endpoint key from API Actions Endpoint Registry.
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          description: |
            Optional HTTP method override. When omitted, backend resolves the authoritative method from the endpoint registry/schema contract.
        path:
          type: string
          pattern: ^/
          description: |
            Optional relative path override. When omitted, backend resolves the authoritative path from the endpoint registry/schema contract.
        path_params:
          $ref: '#/components/schemas/PathParamsObject'
        query:
          $ref: '#/components/schemas/QueryObject'
        headers:
          $ref: '#/components/schemas/StringMap'
          description: |
            Optional non-sensitive headers. Authorization must never be supplied by caller.
        body:
          $ref: '#/components/schemas/JsonValue'
        expect_json:
          type: boolean
          default: true
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
          description: Optional override bounded by backend policy.
        readback:
          $ref: '#/components/schemas/ReadbackRequest'
        force_refresh:
          type: boolean
          description: Force registry reload before execution.
    ExecuteHttpResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - status
        - provider_domain
        - parent_action_key
        - endpoint_key
        - method
        - path
      properties:
        ok:
          type: boolean
        status:
          type: integer
          description: Upstream HTTP status code or backend execution status.
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
        path:
          type: string
        openai_schema_file_id:
          type: string
        schema_name:
          type: string
        resolved_auth_mode:
          type: string
          enum:
            - ''
            - none
            - basic_auth
            - bearer_token
            - api_key_query
            - api_key_header
            - oauth_gpt_action
            - custom_headers
        runtime_capability_class:
          type: string
        runtime_callable:
          type: boolean
        registry_runtime_callable:
          type: boolean
        primary_executor:
          type: string
        endpoint_role:
          type: string
        execution_mode:
          type: string
        transport_required:
          type: boolean
        request_schema_alignment_status:
          type: string
          enum:
            - pending
            - validated
            - degraded
            - blocked
        response_schema_alignment_status:
          type: string
          enum:
            - pending
            - validated
            - degraded
            - blocked
        transport_request_contract_status:
          type: string
          enum:
            - pending
            - validated
            - degraded
            - blocked
        resolved_provider_domain_mode:
          type: string
          enum:
            - ''
            - fixed_domain
            - placeholder_runtime_resolved
            - brand_bound_domain
        placeholder_resolution_source:
          type: string
        resilience_applied:
          type: boolean
        final_query:
          type: object
          additionalProperties: true
          properties: {}
        request_url:
          type: string
        response_headers:
          type: object
          additionalProperties: true
          properties: {}
        data:
          $ref: '#/components/schemas/JsonValue'
        readback:
          $ref: '#/components/schemas/ReadbackResult'
        upstream_status:
          type: integer
          description: Present on compact/specialized success envelopes.
        post_id:
          oneOf:
            - type: integer
            - type: string
        link:
          type: string
        error:
          $ref: '#/components/schemas/ErrorObject'
    ResolveContextDiagnosticRequest:
      type: object
      additionalProperties: true
      properties:
        business_type_key:
          type: string
          description: Business type key, for example hvac_air_conditioning_services.
        business_activity_type_key:
          type: string
          description: Optional business activity type key.
        knowledge_profile_key:
          type: string
          description: Optional business type knowledge profile key.
        brand_key:
          type: string
          description: Brand key, for example arab_cooling.
        target_key:
          type: string
          description: |
            Optional execution target key. When this diagnostic route is called through /http-execute, target_key should remain top-level in the governed execution envelope rather than inside body.
        mutation_intent:
          type: string
          default: resolve_context_diagnostic
        requestPayload:
          type: object
          additionalProperties: true
          description: Optional nested request payload for diagnostic testing.
          properties: {}
        brand:
          type: object
          additionalProperties: true
          description: Optional brand context override for diagnostics.
          properties: {}
        endpoint:
          type: object
          additionalProperties: true
          description: Optional endpoint context override for diagnostics.
          properties: {}
        action:
          type: object
          additionalProperties: true
          description: Optional action context override for diagnostics.
          properties: {}
      description: |
        Diagnostic payload for resolving governed business type, brand path, Brand Core, validation, and execution readiness without mutation.
    ResolveContextDiagnosticResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - diagnostic
      properties:
        ok:
          type: boolean
        diagnostic:
          type: object
          additionalProperties: true
          required:
            - resolution_status
            - knowledge_ready
            - execution_ready
          properties:
            request:
              type: object
              additionalProperties: true
              properties: {}
            path_resolver_load:
              type: object
              additionalProperties: true
              properties: {}
            resolution_status:
              type: string
              description: ready, validating, blocked, not_requested, or not_attempted.
            knowledge_ready:
              type: boolean
            execution_ready:
              type: boolean
            business_type:
              type: object
              additionalProperties: true
              properties: {}
            brand:
              type: object
              additionalProperties: true
              properties: {}
            brand_core:
              type: object
              additionalProperties: true
              properties: {}
            validation_state:
              type: object
              additionalProperties: true
              properties: {}
            execution_target:
              type: object
              additionalProperties: true
              properties: {}
    JobCreateRequest:
      type: object
      additionalProperties: false
      properties:
        request_payload:
          $ref: '#/components/schemas/ExecuteHttpRequest'
        job_type:
          type: string
          default: http_execute
        max_attempts:
          type: integer
          minimum: 1
          maximum: 10
        webhook_url:
          type: string
          format: uri
        callback_secret:
          type: string
        idempotency_key:
          type: string
        target_key:
          type: string
        brand:
          type: string
        brand_domain:
          type: string
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
        path:
          type: string
          pattern: ^/
        path_params:
          $ref: '#/components/schemas/PathParamsObject'
        query:
          $ref: '#/components/schemas/QueryObject'
        headers:
          $ref: '#/components/schemas/StringMap'
        body:
          $ref: '#/components/schemas/JsonValue'
        expect_json:
          type: boolean
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
        readback:
          $ref: '#/components/schemas/ReadbackRequest'
        force_refresh:
          type: boolean
      description: |
        Provide either request_payload or the top-level execution fields. Do not send both at once. After normalization, execution still requires parent_action_key and endpoint_key.
    JobSummary:
      type: object
      additionalProperties: false
      required:
        - job_id
        - job_type
        - status
        - created_at
        - updated_at
        - requested_by
        - target_key
        - parent_action_key
        - endpoint_key
        - attempt_count
        - max_attempts
        - status_url
        - result_url
      properties:
        job_id:
          type: string
        job_type:
          type: string
        status:
          type: string
          enum:
            - queued
            - running
            - retrying
            - succeeded
            - failed
            - cancelled
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        requested_by:
          type: string
        target_key:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        attempt_count:
          type: integer
        max_attempts:
          type: integer
        next_retry_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
        status_url:
          type: string
        result_url:
          type: string
        deduplicated:
          type: boolean
        terminal:
          type: boolean
        active:
          type: boolean
    JobResultPending:
      type: object
      additionalProperties: false
      required:
        - job_id
        - status
        - message
        - status_url
      properties:
        job_id:
          type: string
        status:
          type: string
        message:
          type: string
        status_url:
          type: string
    JobResultSuccess:
      type: object
      additionalProperties: false
      required:
        - job_id
        - status
        - result
      properties:
        job_id:
          type: string
        status:
          type: string
        result:
          $ref: '#/components/schemas/JsonValue'
    JobResultFailure:
      type: object
      additionalProperties: false
      required:
        - job_id
        - status
        - error
      properties:
        job_id:
          type: string
        status:
          type: string
        error:
          oneOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              additionalProperties: true
              properties: {}
    HealthResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - service
        - status
        - version
        - jobs
        - timestamp
      properties:
        ok:
          type: boolean
        service:
          type: string
        status:
          type: string
        version:
          type: string
        jobs:
          type: object
          additionalProperties: false
          required:
            - total
            - queued_buffer_size
            - statuses
          properties:
            total:
              type: integer
            queued_buffer_size:
              type: integer
            statuses:
              type: object
              additionalProperties: false
              required:
                - queued
                - running
                - succeeded
                - failed
                - retrying
                - cancelled
              properties:
                queued:
                  type: integer
                running:
                  type: integer
                succeeded:
                  type: integer
                failed:
                  type: integer
                retrying:
                  type: integer
                cancelled:
                  type: integer
        dependencies:
          type: object
          additionalProperties: true
          description: Optional backend dependency health details, including database connectivity.
          properties:
            db:
              type: object
              additionalProperties: true
              properties:
                connected:
                  oneOf:
                    - type: boolean
                    - type: 'null'
                error:
                  type: string
                skipped:
                  type: boolean
        timestamp:
          type: string
          format: date-time
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: 'null'
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: '#/components/schemas/ErrorObject'
        execution_guardrail:
          type: boolean
    AiIntentMaturation:
      type: object
      additionalProperties: true
      description: |
        First-class intent maturation context produced by the AI resolver. Carry the full object forward from /ai/implementation-plan into /ai/task-manifest to preserve route/workflow continuity.
      properties:
        intent_key:
          type: string
          description: Resolved intent key, e.g. ai_implementation_plan_generation.
        resolver_type:
          type: string
          enum:
            - implementation_plan
            - task_manifest
        maturation_status:
          type: string
          enum:
            - matured
            - blocked
        upstream_resolver_type:
          type: string
          description: resolver_type from the prior route, if applicable.
        upstream_intent_key:
          type: string
          description: intent_key from the prior route, if applicable.
        execution_intent:
          type: object
          additionalProperties: true
          properties: {}
        route_workflow_state:
          type: object
          additionalProperties: true
          properties: {}
        mutation_intent:
          type: object
          additionalProperties: true
          properties: {}
        blocked_reason:
          type: string
          description: Non-empty only when maturation_status is blocked.
    AiUsage:
      type: object
      additionalProperties: true
      description: OpenAI token usage for the generation call.
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
    AiImplementationPlanRequest:
      type: object
      additionalProperties: true
      required:
        - userPrompt
      properties:
        userPrompt:
          type: string
          description: The user's high-level request to generate an implementation plan for.
        systemContext:
          type: string
          description: |
            Optional extra system context injected before the intent maturation block. Do not include intent_maturation here; it is injected automatically.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: |
            Optional explicit intent key override. When omitted, defaults to ai_implementation_plan_generation.
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
          description: |
            Optional carry-forward from a prior AI resolver call. Supply when chaining resolvers so route/workflow context is preserved.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.
          properties: {}
    AiImplementationPlanResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - planMarkdown
      properties:
        ok:
          type: boolean
          enum:
            - true
        type:
          type: string
          enum:
            - implementation_plan
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
        planMarkdown:
          type: string
          description: |
            Full Markdown implementation plan. Pass this as implementationPlan in the body of a subsequent /ai/task-manifest call.
        usage:
          oneOf:
            - $ref: '#/components/schemas/AiUsage'
            - type: 'null'
    AiTaskManifestRequest:
      type: object
      additionalProperties: true
      required:
        - implementationPlan
      properties:
        implementationPlan:
          type: string
          description: |
            The Markdown implementation plan to break down into tasks. Pass the planMarkdown from /ai/implementation-plan here.
        systemContext:
          type: string
          description: |
            Optional extra system context injected before the intent maturation block.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: |
            Optional explicit intent key override. When omitted, defaults to ai_task_manifest_generation.
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
          description: |
            Carry-forward from /ai/implementation-plan. Supply the full intent_maturation object to preserve route/workflow continuity between the two resolver steps.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.
          properties: {}
    AiTaskManifestResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - taskMarkdown
      properties:
        ok:
          type: boolean
          enum:
            - true
        type:
          type: string
          enum:
            - task_manifest
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
        taskMarkdown:
          type: string
          description: Markdown task checklist derived from the implementation plan.
        usage:
          oneOf:
            - $ref: '#/components/schemas/AiUsage'
            - type: 'null'
    AiRegistryReadinessBinding:
      type: object
      additionalProperties: false
      required:
        - intent_key
        - route_found
        - route_executable
        - workflow_found
        - workflow_executable
      properties:
        intent_key:
          type: string
        route_found:
          type: boolean
        route_executable:
          type: boolean
        route_id:
          type: string
        route_task_key:
          type: string
        route_workflow_key:
          type: string
        workflow_found:
          type: boolean
        workflow_executable:
          type: boolean
        workflow_id:
          type: string
        workflow_key:
          type: string
        workflow_route_key:
          type: string
    AiRegistryReadinessDetail:
      type: object
      additionalProperties: false
      required:
        - mode
        - required_intent_keys
        - bindings
        - missing_intent_keys
        - unresolved_task_authority
        - missing_workflow_bindings
        - unresolved_workflow_authority
        - task_routes_ready
        - workflow_registry_ready
        - ok
      properties:
        mode:
          type: string
          enum:
            - validate_only
        required_intent_keys:
          type: array
          items:
            type: string
        bindings:
          type: array
          items:
            $ref: '#/components/schemas/AiRegistryReadinessBinding'
        missing_intent_keys:
          type: array
          items:
            type: string
        unresolved_task_authority:
          type: array
          items:
            type: string
        missing_workflow_bindings:
          type: array
          items:
            type: string
        unresolved_workflow_authority:
          type: array
          items:
            type: string
        task_routes_ready:
          type: boolean
        workflow_registry_ready:
          type: boolean
        ok:
          type: boolean
    AiRegistryReadinessResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - readiness
      properties:
        ok:
          type: boolean
        degraded:
          type: boolean
          description: Present and true when readiness check is not fully passing.
        message:
          type: string
        readiness:
          $ref: '#/components/schemas/AiRegistryReadinessDetail'
    OkResponse:
      type: object
      additionalProperties: true
      required:
        - ok
      properties:
        ok:
          type: boolean
          enum:
            - true
    PlatformRecord:
      type: object
      additionalProperties: true
      description: Generic platform entity record. Fields vary by resource type.
      properties: {}
    PlatformListResponse:
      type: object
      additionalProperties: true
      required:
        - ok
      properties:
        ok:
          type: boolean
          enum:
            - true
        count:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/PlatformRecord'
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/PlatformRecord'
    TenantCreateRequest:
      type: object
      additionalProperties: false
      required:
        - display_name
      properties:
        display_name:
          type: string
        tenant_type:
          type: string
          enum:
            - platform_owner
            - partner_organization
            - freelancer_operator
            - managed_client_account
            - brand
          default: brand
        status:
          type: string
          enum:
            - active
            - suspended
            - cancelled
          default: active
        metadata_json:
          type: object
          additionalProperties: true
          properties: {}
    MembershipCreateRequest:
      type: object
      additionalProperties: false
      required:
        - user_id
        - role
      properties:
        user_id:
          type: string
        role:
          type: string
        service_mode:
          type: string
          enum:
            - self_serve
            - assisted
            - managed
    AccessResolveRequest:
      type: object
      additionalProperties: false
      required:
        - tenant_id
      properties:
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          description: Platform user identifier. UUIDs and registry/user-key strings are accepted.
        risk_level:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
          default: low
        intent_flags:
          type: object
          additionalProperties:
            type: boolean
          description: Boolean intent flags, for example public_scope or destructive. Array flag-name input is accepted by the backend for compatibility.
          properties: {}
        persist:
          type: boolean
          default: false
          description: Write the resolved envelope to request_envelopes table.
    AccessResolveResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - decision
        - reason
        - service_mode
        - resolved_at
      properties:
        ok:
          type: boolean
        allows_execution:
          type: boolean
        decision:
          type: string
          enum:
            - ALLOW_SELF_SERVE
            - ALLOW_WITH_OPTIONAL_ASSISTANCE
            - REQUIRE_REVIEW
            - REQUIRE_SUPERVISOR_APPROVAL
            - ROUTE_TO_MANAGED_SERVICE
            - DENY
        reason:
          type: string
        tenant_id:
          type: string
        user_id:
          type: string
          nullable: true
        risk_level:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        service_mode:
          type: string
        plan_key:
          type: string
        resolved_at:
          type: string
          format: date-time
        envelope_id:
          type: string
          format: uuid
    WorkflowRunCreateRequest:
      type: object
      additionalProperties: false
      required:
        - tenant_id
        - workflow_key
      properties:
        tenant_id:
          type: string
          format: uuid
        workflow_key:
          type: string
        trigger_source:
          type: string
          enum:
            - api
            - planner
            - schedule
            - webhook
          default: api
        input_payload:
          type: object
          additionalProperties: true
          properties: {}
        user_id:
          type: string
          format: uuid
    ApprovalDecisionRequest:
      type: object
      additionalProperties: false
      required:
        - decision
      properties:
        decision:
          type: string
          enum:
            - approve
            - reject
        decided_by:
          type: string
          format: uuid
        notes:
          type: string
    TelemetrySpanRequest:
      type: object
      additionalProperties: false
      required:
        - trace_id
        - span_name
      properties:
        trace_id:
          type: string
        span_id:
          type: string
        parent_span_id:
          type: string
        span_name:
          type: string
        tenant_id:
          type: string
          format: uuid
        service_name:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        duration_ms:
          type: integer
        status:
          type: string
          enum:
            - ok
            - error
            - timeout
        attributes:
          type: object
          additionalProperties: true
          properties: {}
    UsageRecordRequest:
      type: object
      additionalProperties: false
      required:
        - tenant_id
        - meter_key
        - quantity
      properties:
        tenant_id:
          type: string
          format: uuid
        meter_key:
          type: string
        quantity:
          type: number
        period_date:
          type: string
          format: date
          description: Defaults to today (UTC). Used for daily bucket upsert.
    ReleaseReadinessResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - overall
        - run_id
        - checked_at
        - summary
      properties:
        ok:
          type: boolean
        overall:
          type: string
          enum:
            - pass
            - warn
            - fail
        run_id:
          type: string
          format: uuid
        checked_at:
          type: string
          format: date-time
        summary:
          type: object
          additionalProperties: false
          required:
            - total
            - pass
            - warn
            - fail
            - platform_tables_total
            - platform_tables_ok
          properties:
            total:
              type: integer
            pass:
              type: integer
            warn:
              type: integer
            fail:
              type: integer
            platform_tables_total:
              type: integer
            platform_tables_ok:
              type: integer
        db_connectivity:
          type: object
          additionalProperties: true
          properties: {}
        platform_tables:
          type: object
          additionalProperties: true
          properties: {}
        legacy_tables:
          type: object
          additionalProperties: true
          properties: {}
        seed_data:
          type: object
          additionalProperties: true
          properties: {}
        migration_inventory:
          type: object
          additionalProperties: true
          properties: {}
  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
security:
  - backendBearerAuth: []
paths:
  /system/connectors:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: listSystemConnectors
      summary: List connector systems visible to the current principal
      description: Principal-aware facade over connected_systems. Tenant users are automatically scoped to their tenant; admin principals can inspect all tenants.
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
          description: Admin-only filter. Tenant principals are always forced to their own tenant_id.
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - pending
              - error
              - archived
        - name: connector_family
          in: query
          schema:
            type: string
        - name: provider_family
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: Principal-scoped connector registry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  connectors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /system/connectors/{system_id}:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: getSystemConnector
      summary: Get one connector system visible to the current principal
      description: Principal-aware connector registry read. Tenant users can only read systems in their tenant; admins can read any system.
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Principal-scoped connector registry record
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  connector:
                    type: object
                    additionalProperties: true
                    properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector system not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /system/tools:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: listSystemTools
      summary: List MCP-style system tools visible to the current principal
      description: Lists fixed OpenAPI-compatible tools available through the auth-host system layer. Tool calls are governed by principal context.
      responses:
        '200':
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  principal:
                    type: object
                    additionalProperties: true
                    properties: {}
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
  /system/tools/call:
    post:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: callSystemTool
      summary: Call a governed MCP-style system tool
      description: Calls a fixed system-layer tool through principal-aware runtime validation. Tenant principals are scoped to their tenant; admin principals can inspect all connector registry records and run provider-bootstrap probes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  enum:
                    - connector_registry_list
                    - connector_registry_get
                    - activation_drive_probe
                    - activation_sheets_bootstrap_read
                    - activation_github_validate
                    - activation_provider_bootstrap_validate
                    - activation_bootstrap_config_upsert
                    - tenant_gpt_oauth_client_upsert
                    - credential_client_config_upsert
                    - credential_client_config_list
                    - google_auth_platform_config_upsert
                    - google_auth_platform_config_get
                arguments:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields. Admin provider tools require admin/service auth.
                  properties: {}
      responses:
        '200':
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/system/connectors:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminSystemConnectors
      summary: List connector systems from the system registry
      description: Read-only admin facade over the connected_systems table. Use this before choosing connector-specific actions or MCP-style tool calls.
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - pending
              - error
              - archived
        - name: connector_family
          in: query
          schema:
            type: string
        - name: provider_family
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: Connector registry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  connectors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/system/connectors/{system_id}:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminSystemConnector
      summary: Get one connector system from the system registry
      description: Returns one connected_systems row plus its installation summary. This is a governed alternative to raw DB inspection for connector inventory.
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Connector registry record
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  connector:
                    type: object
                    additionalProperties: true
                    properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Connector system not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/system/tools:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminSystemTools
      summary: List MCP-style system layer tools
      description: Lists fixed OpenAPI-compatible tools available through the admin system layer. This behaves like a small MCP tools/list facade over governed platform registries.
      responses:
        '200':
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/system/tools/call:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: callAdminSystemTool
      summary: Call an MCP-style system layer tool
      description: Calls a fixed, governed system-layer tool. Tools expose the connected_systems registry and admin-only provider-bootstrap probes for Drive, Sheets, and GitHub activation evidence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  enum:
                    - connector_registry_list
                    - connector_registry_get
                    - activation_drive_probe
                    - activation_sheets_bootstrap_read
                    - activation_github_validate
                    - activation_provider_bootstrap_validate
                    - activation_bootstrap_config_upsert
                arguments:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields.
                  properties: {}
      responses:
        '200':
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/apis-services/google-auth-platform:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminGoogleAuthPlatformTabs
      summary: Read simulated Google Auth Platform tabs
      description: Returns governed DB-backed tab state for the platform-controlled Google Auth Platform and APIs & Services console simulation.
      parameters:
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
        - in: query
          name: owner_type
          schema:
            type: string
            enum:
              - platform
              - tenant
            default: platform
        - in: query
          name: tenant_id
          schema:
            type: string
      responses:
        '200':
          description: Google Auth Platform tab state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  project_key:
                    type: string
                  console_root:
                    type: string
                  tabs:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/apis-services/google-auth-platform/{tab}:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminGoogleAuthPlatformTab
      summary: Read one simulated Google Auth Platform tab
      description: Returns one governed tab state, such as overview, branding, audience, clients, data_access, verification_center, settings, or api_credentials.
      parameters:
        - in: path
          name: tab
          required: true
          schema:
            type: string
            enum:
              - overview
              - branding
              - audience
              - clients
              - data_access
              - verification_center
              - settings
              - api_credentials
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
      responses:
        '200':
          description: Google Auth Platform tab state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: upsertAdminGoogleAuthPlatformTab
      summary: Upsert one simulated Google Auth Platform tab
      description: Writes governed DB-backed tab state for Google Auth Platform or APIs & Services console simulation.
      parameters:
        - in: path
          name: tab
          required: true
          schema:
            type: string
            enum:
              - overview
              - branding
              - audience
              - clients
              - data_access
              - verification_center
              - settings
              - api_credentials
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                project_key:
                  type: string
                  default: growth-intelligence-os
                project_id:
                  type: string
                project_display_name:
                  type: string
                owner_type:
                  type: string
                  enum:
                    - platform
                    - tenant
                  default: platform
                tenant_id:
                  type: string
                path:
                  type: string
                state:
                  type: object
                  additionalProperties: true
                  properties: {}
                note:
                  type: string
      responses:
        '200':
          description: Upserted Google Auth Platform tab state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/apis-services/credentials:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminApisServicesCredentials
      summary: Read simulated APIs & Services Credentials tab
      description: Returns the governed APIs & Services Credentials tab and linked platform credential-client registry records.
      parameters:
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
      responses:
        '200':
          description: APIs & Services Credentials state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: upsertAdminApisServicesCredentials
      summary: Upsert simulated APIs & Services Credentials tab
      description: Writes governed APIs & Services Credentials tab state. Credential material must remain in credential-client secret references.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                project_key:
                  type: string
                  default: growth-intelligence-os
                project_id:
                  type: string
                project_display_name:
                  type: string
                owner_type:
                  type: string
                  enum:
                    - platform
                    - tenant
                  default: platform
                tenant_id:
                  type: string
                path:
                  type: string
                state:
                  type: object
                  additionalProperties: true
                  properties: {}
                note:
                  type: string
      responses:
        '200':
          description: Upserted APIs & Services Credentials state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/control:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: executeAdminControl
      summary: Execute personal admin control operation
      description: Root-level personal administrator endpoint for GitHub CLI, gcloud CLI, remote database SQL control through the configured application pool, and local runtime environment inspection or mutation, plus disabled-by-default allowlisted local Windows app launch. This endpoint is intended only for the own.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - tool
              allOf:
                - if:
                    properties:
                      tool:
                        const: db
                    required:
                      - tool
                  then:
                    required:
                      - sql
                - if:
                    properties:
                      tool:
                        const: shell
                    required:
                      - tool
                  then:
                    required:
                      - action
                      - alias
              properties:
                tool:
                  type: string
                  enum:
                    - github
                    - gcloud
                    - db
                    - env
                    - windows_app
                    - hostinger
                    - cloudflare
                    - shell
                args:
                  type: array
                  items:
                    type: string
                  description: Arguments for github, gcloud, or shell tools.
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 120000
                  description: Request timeout in milliseconds. Use timeout_ms (not timeout).
                sql:
                  type: string
                  description: SQL statement for the db tool.
                params:
                  type: array
                  items: {}
                  description: Positional SQL parameters for the db tool.
                action:
                  type: string
                  enum:
                    - run
                    - list
                    - get
                    - set
                    - unset
                    - status
                    - authorize
                    - launch
                  default: list
                  description: Action selector. Use run for db and shell execution, list/get/set/unset for env, and status/authorize/list/launch for windows_app.
                name:
                  type: string
                  description: Environment variable name for env get, set, or unset.
                value:
                  type: string
                  description: Environment variable value for env set.
                include_values:
                  type: boolean
                  default: false
                  description: Include environment values when listing variables.
                reveal_values:
                  type: boolean
                  default: false
                  description: Return unmasked environment values, including sensitive-looking names.
                alias:
                  type: string
                  description: Shell command alias to run from ADMIN_SHELL_ALLOWLIST when tool=shell action=run.
                app_alias:
                  type: string
                  description: Allowlisted local Windows app alias for windows_app launch.
      responses:
        '200':
          description: Admin control operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - tool
                  - result
                properties:
                  ok:
                    type: boolean
                  tool:
                    type: string
                    enum:
                      - github
                      - gcloud
                      - db
                      - env
                      - windows_app
                      - hostinger
                      - cloudflare
                      - shell
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Admin control execution failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/cli/hostinger:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: executeHostingerApiCall
      summary: Forward a call to the Hostinger REST API
      description: Proxies any Hostinger API call using server-stored API keys. Use cloud_plan key for VPS, DNS, domains, and billing. Use shared_manager key for shared hosting. Supply the path only, e.g. /v1/dns/zone/mad4b.com/records.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - path
              properties:
                path:
                  type: string
                  description: Hostinger API path, e.g. /v1/dns/zone/mad4b.com/records or /v1/vps/virtual-machines
                method:
                  type: string
                  enum:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - PATCH
                  default: GET
                request_body:
                  type: object
                  additionalProperties: true
                  description: JSON body for POST/PUT/PATCH requests.
                  properties: {}
                params:
                  type: object
                  additionalProperties: true
                  description: Query string parameters to append.
                  properties: {}
                api_key_ref:
                  type: string
                  enum:
                    - cloud_plan
                    - shared_manager
                  default: cloud_plan
                  description: cloud_plan for VPS/DNS/domains/billing; shared_manager for shared hosting.
      responses:
        '200':
          description: Hostinger API response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - result
                properties:
                  ok:
                    type: boolean
                  result:
                    type: object
                    additionalProperties: true
                    properties:
                      status:
                        type: integer
                      ok:
                        type: boolean
                      data:
                        type: object
                        additionalProperties: true
                        properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Hostinger API call failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/cli/cloudflare:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: executeCloudflareApiCall
      summary: Forward a call to the Cloudflare REST API
      description: Proxies any Cloudflare API call using server-stored credentials. Supply the path only, e.g. /client/v4/zones or /client/v4/tunnels/{tunnel_id}.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - path
              properties:
                path:
                  type: string
                  description: Cloudflare API path, e.g. /client/v4/zones or /client/v4/accounts/{account_id}/tunnels
                method:
                  type: string
                  enum:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - PATCH
                  default: GET
                request_body:
                  type: object
                  additionalProperties: true
                  description: JSON body for POST/PUT/PATCH requests.
                  properties: {}
                params:
                  type: object
                  additionalProperties: true
                  description: Query string parameters to append.
                  properties: {}
      responses:
        '200':
          description: Cloudflare API response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - result
                properties:
                  ok:
                    type: boolean
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Cloudflare API call failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/cli/local-connector/install-bundle:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getLocalConnectorInstallBundle
      summary: Generate and upload local connector installer
      description: Generate a pre-filled Windows .bat installer for the local connector stack (cloudflared + Node.js service via NSSM). Reads cf_token and connector_secret from local_connector_user_configs in DB for the given user_id + device_id. Falls back to server env only if no DB row exists. Uploads to Google Dr.
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: string
          description: User ID whose device config to load from DB. Defaults to platform admin.
        - name: device_id
          in: query
          required: false
          schema:
            type: string
          description: Device ID (hostname) to load config for. Defaults to mohammedlap.
      responses:
        '200':
          description: Installer uploaded, drive link returned
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - drive
                properties:
                  ok:
                    type: boolean
                  drive:
                    type: object
                    additionalProperties: true
                    properties:
                      file_id:
                        type: string
                      drive_link:
                        type: string
                      filename:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Install bundle generation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/cli/local-connector/self-repair:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: repairLocalConnector
      summary: Self-repair the admin local connector
      description: CALL IMMEDIATELY when connector.mad4b.com returns error 1033 or HTTP 530 — do NOT just report the error. Reads device config (cf_token, connector_secret) from local_connector_user_configs in DB, checks Cloudflare tunnel health via API, generates a pre-filled Windows .bat installer (cloudflared + NS.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                user_id:
                  type: string
                  description: User ID whose device to repair. Defaults to platform admin.
                device_id:
                  type: string
                  description: Device hostname to repair. Defaults to mohammedlap.
      responses:
        '200':
          description: Self-repair result with diagnosis and drive link
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - diagnosis
                  - repair
                properties:
                  ok:
                    type: boolean
                  diagnosis:
                    type: object
                    additionalProperties: true
                    properties:
                      device_id:
                        type: string
                      tunnel_url:
                        type: string
                      cf_tunnel_id:
                        type: string
                      cf_tunnel_status:
                        type: string
                      config_source:
                        type: string
                        enum:
                          - db
                          - env
                  repair:
                    type: object
                    additionalProperties: true
                    properties:
                      action:
                        type: string
                      drive:
                        type: object
                        additionalProperties: true
                        properties:
                          file_id:
                            type: string
                          drive_link:
                            type: string
                          filename:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Self-repair failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/cli/dns:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listDnsRecords
      summary: List DNS records for a zone
      description: Lists all DNS records for the specified zone via Cloudflare API. Defaults to mad4b.com.
      parameters:
        - name: zone
          in: query
          required: false
          schema:
            type: string
            default: mad4b.com
          description: Domain zone to query, e.g. mad4b.com.
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Filter by record type, e.g. A, CNAME, TXT.
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Filter by record name.
      responses:
        '200':
          description: DNS record list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - records
                properties:
                  ok:
                    type: boolean
                  zone:
                    type: string
                  records:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: DNS list failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: upsertDnsRecord
      summary: Create or update a DNS record
      description: Creates a new DNS record or updates an existing one by name + type. Proxied is false by default.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
                - type
                - content
              properties:
                zone:
                  type: string
                  default: mad4b.com
                  description: Domain zone, e.g. mad4b.com.
                name:
                  type: string
                  description: Record name, e.g. api or connector.
                type:
                  type: string
                  enum:
                    - A
                    - AAAA
                    - CNAME
                    - TXT
                    - MX
                    - NS
                  description: DNS record type.
                content:
                  type: string
                  description: Record value, e.g. an IP address or CNAME target.
                ttl:
                  type: integer
                  default: 1
                  description: TTL in seconds. 1 = auto.
                proxied:
                  type: boolean
                  default: false
                  description: Whether Cloudflare proxies the record.
      responses:
        '200':
          description: DNS record created or updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - record
                properties:
                  ok:
                    type: boolean
                  action:
                    type: string
                    enum:
                      - created
                      - updated
                  record:
                    type: object
                    additionalProperties: true
                    properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: DNS upsert failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: deleteDnsRecord
      summary: Delete a DNS record by ID
      description: Deletes a DNS record from the specified zone using its Cloudflare record ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - record_id
              properties:
                zone:
                  type: string
                  default: mad4b.com
                  description: Domain zone, e.g. mad4b.com.
                record_id:
                  type: string
                  description: Cloudflare DNS record ID to delete.
      responses:
        '200':
          description: DNS record deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                properties:
                  ok:
                    type: boolean
                  deleted_id:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: DNS delete failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/platform-jwt/issue:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: issuePlatformJwtClientToken
      summary: Issue a short-lived tenant user JWT
      description: Admin-only platform JWT client. Mints a short-lived user JWT for an existing active user so governed tenant /connect/* calls can use user auth without relaxing tenant guards.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                user_id:
                  type: string
                  description: Existing active platform user ID. Required when email is omitted.
                email:
                  type: string
                  description: Existing active platform user email. Required when user_id is omitted.
                tenant_id:
                  type: string
                  nullable: true
                  description: Optional tenant. When supplied, the user must have active membership.
                ttl_seconds:
                  type: integer
                  minimum: 60
                  maximum: 3600
                  default: 900
                reason:
                  type: string
                  description: Short audit hint for why the token is being issued.
      responses:
        '200':
          description: Short-lived user JWT issued
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  token_type:
                    type: string
                    example: Bearer
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                  user:
                    type: object
                    additionalProperties: true
                    properties: {}
                  tenant:
                    type: object
                    additionalProperties: true
                    properties: {}
                  next_step:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Admin principal or tenant membership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Platform JWT issue failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/session-continuity/link-user:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: linkSessionContinuityUser
      summary: Link unassigned request envelopes to a user
      description: Assigns user_id to unlinked request_envelopes rows and backfills tenant_id when null. Use this as a governed alternative to raw SQL for session continuity repair.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - user_id
                - tenant_id
              properties:
                user_id:
                  type: string
                  format: uuid
                tenant_id:
                  type: string
                  format: uuid
                scope:
                  type: string
                  enum:
                    - current_unlinked_sessions
                    - tenant_unlinked_sessions
                  default: current_unlinked_sessions
                  description: current_unlinked_sessions updates all rows with user_id null; tenant_unlinked_sessions limits updates to rows with matching tenant_id and user_id null.
      responses:
        '200':
          description: Session continuity rows linked
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ok
                  - result
                properties:
                  ok:
                    type: boolean
                  result:
                    type: object
                    additionalProperties: false
                    required:
                      - user_id
                      - tenant_id
                      - scope
                      - matched_before
                      - updated_rows
                      - remaining_unlinked
                    properties:
                      user_id:
                        type: string
                        format: uuid
                      tenant_id:
                        type: string
                        format: uuid
                      scope:
                        type: string
                        enum:
                          - current_unlinked_sessions
                          - tenant_unlinked_sessions
                      matched_before:
                        type: integer
                      updated_rows:
                        type: integer
                      remaining_unlinked:
                        type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Session continuity linking failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/schema-import/upload:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: importSchemaUpload
      summary: Upload a full OpenAPI schema file and split it into the registry
      description: Accepts a full OpenAPI 3.x schema string. Parses it, inlines $refs, splits per operation, upserts the parent action row and one endpoint row per operation with a compact dereferenced schema_json. Removed endpoints are deprecated. Returns a job record for audit and rollback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - schema_yaml
              properties:
                schema_yaml:
                  type: string
                  description: Full OpenAPI YAML or JSON content as a string. Use schema_json as an alias.
                schema_json:
                  type: string
                  description: Alias for schema_yaml - supply one or the other.
                action_key:
                  type: string
                  description: Override the action_key derived from the schema info.title slug. Useful when the title does not produce a clean key.
                filename:
                  type: string
                  description: Original filename for audit purposes, e.g. openapi.wordpress.yaml.
                imported_by:
                  type: string
                  description: Actor reference logged against the import job.
      responses:
        '200':
          description: Import completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  job_id:
                    type: string
                  action_key:
                    type: string
                  endpoints_upserted:
                    type: integer
                  endpoints_deprecated:
                    type: integer
                  warnings:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Schema parse or import failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/schema-import/repo:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: importSchemaFromRepo
      summary: Install an OpenAPI schema directly from a GitHub or GitLab repo URL
      description: |
        Fetches the schema file from a GitHub or GitLab repository (converting the repo URL to a raw content URL automatically), then runs the same splitter pipeline as the upload endpoint. Supports pinning to a specific branch, tag, or commit via ref. Returns a job record for audit and rollback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - repo_url
              properties:
                repo_url:
                  type: string
                  description: GitHub repo URL (e.g. https://github.com/owner/repo) or a direct raw schema URL.
                path_in_repo:
                  type: string
                  default: openapi.yaml
                  description: Path to the schema file within the repo. Defaults to openapi.yaml.
                ref:
                  type: string
                  default: main
                  description: Git branch, tag, or commit SHA to fetch from. Defaults to main.
                action_key:
                  type: string
                  description: Override the action_key derived from the schema info.title slug.
                imported_by:
                  type: string
      responses:
        '200':
          description: Import completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  job_id:
                    type: string
                  action_key:
                    type: string
                  endpoints_upserted:
                    type: integer
                  endpoints_deprecated:
                    type: integer
                  warnings:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Fetch or import failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/schema-import/rollback:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: rollbackSchemaImport
      summary: Restore endpoint schemas to a previous import job's snapshot
      description: Restores endpoint schema_json values for the given action_key to the state captured in the target job's snapshots. Post-job endpoints are deprecated; removed endpoints restored to active. Creates a new rollback job row for audit - the original job is never mutated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action_key
                - job_id
              properties:
                action_key:
                  type: string
                  description: The action_key to roll back.
                job_id:
                  type: string
                  description: The schema_import_jobs.job_id to restore from. Must have status=completed.
                requested_by:
                  type: string
                  description: Actor reference logged against the rollback job.
      responses:
        '200':
          description: Rollback completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  job_id:
                    type: string
                  action_key:
                    type: string
                  endpoints_restored:
                    type: integer
                  rolled_back_to_job:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Rollback failure - job not found or not completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/schema-import/jobs:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listSchemaImportJobs
      summary: List schema import jobs with optional action_key filter
      parameters:
        - name: action_key
          in: query
          schema:
            type: string
          description: Filter by action_key. Omit to list all jobs.
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/SchemaImportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/schema-import/jobs/{job_id}:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getSchemaImportJob
      summary: Get a single schema import job including endpoint snapshots
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  job:
                    allOf:
                      - $ref: '#/components/schemas/SchemaImportJob'
                      - type: object
                        properties:
                          endpoint_snapshots:
                            type: array
                            items:
                              type: object
                              properties:
                                path:
                                  type: string
                                method:
                                  type: string
                                operationId:
                                  type: string
                                schema_json:
                                  type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
