openapi: 3.1.0
info:
  title: Growth Intelligence Platform - Admin GPT - MCP Actions
  version: 4.0.0-mcp
  summary: Admin GPT schema. Five meta-operations; all platform tools discovered via listTools and called via callTool.
  description: "MCP-style admin schema. Five meta-ops: 1) activateSession to get session_id. 2) listTools to discover tools. 3) callTool to run any tool by name. 4) writeSessionTurn after each exchange. 5) endSession when done."
servers:
  - url: https://auth.mad4b.com
    description: Growth Intelligence Platform — auth dispatcher
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: "Authorization: Bearer <BACKEND_API_KEY> for admin access."
  schemas:
    ToolItem:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
          description: Tool key — pass this as name to callTool.
        displayName:
          type: string
        description:
          type: string
        method:
          type: string
        path:
          type: string
        tags:
          type: array
          items:
            type: string
        inputSchema:
          type: object
          additionalProperties: true
          nullable: true
    GptSession:
      type: object
      additionalProperties: true
      properties:
        session_id: { type: string }
        session_status: { type: string }
        turn_count: { type: integer }
        started_at: { type: string }
        ended_at: { type: string, nullable: true }
        drive_export_url: { type: string, nullable: true }
    ErrorResponse:
      type: object
      properties:
        ok: { type: boolean }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
security:
  - backendBearerAuth: []
paths:
  /activation/session-context:
    get:
      tags: [session]
      operationId: activateSession
      summary: Open conversation session and load platform context
      description: "Call once at conversation start. Auto-closes previous open sessions, opens a new one, and returns session_id (use in turn/end calls), gpt_sessions, platform_access counts, and related scopes. Pass user_id/tenant_id to scope to a specific user."
      parameters:
        - name: user_id
          in: query
          schema: { type: string }
          description: Admin callers may scope to a specific user.
        - name: tenant_id
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Session opened and context loaded
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required: [ok, session_id]
                properties:
                  ok: { type: boolean }
                  session_id:
                    type: string
                    description: Use this in /gpt/sessions/{id}/turn and /gpt/sessions/{id}/end.
                  closed_sessions: { type: integer }
                  gpt_sessions:
                    type: array
                    items: { $ref: '#/components/schemas/GptSession' }
                  subject:
                    type: object
                    additionalProperties: true
                  platform_access:
                    type: object
                    additionalProperties: true
        '401': { $ref: '#/components/responses/Unauthorized' }
      security:
        - backendBearerAuth: []

  /gpt/tools:
    get:
      tags: [tools]
      operationId: listTools
      summary: List all available platform tools for this principal
      description: |
        Returns the full catalog of platform operations from the DB tool registry. Call this to discover what tools are available before using callTool. Each tool has a name (pass to callTool), description, method, path, and inputSchema.
      responses:
        '200':
          description: Tool catalog
          content:
            application/json:
              schema:
                type: object
                required: [ok, tools]
                properties:
                  ok: { type: boolean }
                  caller_type: { type: string }
                  count: { type: integer }
                  tools:
                    type: array
                    items: { $ref: '#/components/schemas/ToolItem' }
        '401': { $ref: '#/components/responses/Unauthorized' }
      security:
        - backendBearerAuth: []

  /gpt/tools/call:
    post:
      x-openai-isConsequential: false
      tags: [tools]
      operationId: callTool
      summary: Execute any platform tool by name
      description: "Executes a tool from the registry. Use listTools first to get tool names and inputSchema. Pass tool name as 'name' and any arguments as 'tool_args' (object). Path params substituted automatically; GET uses query string, POST/PUT/PATCH uses body. Returns raw upstream response."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Tool name from listTools (e.g. admin_control, connector_shell).
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Arguments matching the tool inputSchema. Path params are substituted automatically. Use tool_args (not arguments) to avoid OpenAI reserved-keyword conflict.
      responses:
        '200':
          description: Upstream tool response (status and body forwarded from the underlying endpoint)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok: { type: boolean }
        '400':
          description: Missing name or path parameter
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Tool not found in registry
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
      security:
        - backendBearerAuth: []

  /gpt/sessions/{id}/turn:
    post:
      x-openai-isConsequential: false
      tags: [session]
      operationId: writeSessionTurn
      summary: Record a conversation turn (user, assistant, or tool message)
      description: |
        Persists a single message turn to the active session. Call after every user or assistant exchange. role=user for human input, role=assistant for GPT reply, role=tool for tool-call results. action_key is optional — pass the tool name when role=tool.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          description: session_id from activateSession.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, content]
              properties:
                role:
                  type: string
                  enum: [user, assistant, tool]
                content:
                  type: string
                  description: Message text. Keep under 8000 chars.
                action_key:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Turn written
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  session_id: { type: string }
                  turn_index: { type: integer }
        '400': { description: Missing role or content }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }
        '409': { description: Session already closed }
      security:
        - backendBearerAuth: []

  /gpt/sessions/{id}/end:
    post:
      x-openai-isConsequential: false
      tags: [session]
      operationId: endSession
      summary: Close the session and archive conversation to Google Drive
      description: |
        Marks the session completed, optionally saves a summary, and exports the full conversation JSON to Drive with hierarchical filing (SESSIONS_DRIVE_FOLDER/{year-month}/{day}/{user}_{time}_{shortId}.json). Returns the Drive link. Call when the conversation is ending or the user says goodbye.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          description: session_id from activateSession.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                  nullable: true
                  description: One-paragraph summary of what was accomplished.
                user_email:
                  type: string
                  nullable: true
                  description: Email to share the Drive file with.
      responses:
        '200':
          description: Session closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  session_id: { type: string }
                  drive_export:
                    type: object
                    nullable: true
                    properties:
                      drive_file_id: { type: string }
                      drive_web_url: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }
        '409': { description: Session already ended }
      security:
        - backendBearerAuth: []
