openapi: 3.1.0
info:
  title: Governed HTTP Client — Local Windows Connector
  version: 1.0.0
  summary: Break-glass local device connector reachable via Cloudflare Tunnel.
  description: Local connector running on the admin Windows device, exposed via connector.mad4b.com through Cloudflare Tunnel. Use this when the main Cloud Run API is down or unreachable. Supports GitHub CLI, gcloud CLI, allowlisted shell commands, and allowlisted file operations.
servers:
  - url: https://connector.mad4b.com
    description: Local Windows device via Cloudflare Tunnel
tags:
  - name: connector
    description: Break-glass local device operations — GitHub, gcloud, shell, files.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key
      description: Send Authorization: Bearer <BACKEND_API_KEY>
  schemas:
    ConnectorError:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
security:
  - backendBearerAuth: []
paths:
  /health:
    get:
      tags: [connector]
      operationId: connectorHealth
      summary: Check if the local connector is alive
      description: Returns uptime, hostname, and platform. Use this first to confirm the connector is running before attempting recovery operations.
      security: []
      responses:
        '200':
          description: Connector is running
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  service: { type: string }
                  hostname: { type: string }
                  platform: { type: string }
                  uptime: { type: number }
  /github:
    post:
      tags: [connector]
      operationId: connectorGithub
      summary: Run a gh CLI command on the local device
      description: Executes the GitHub CLI (gh) on the local Windows machine. Use for pushing recovery commits, checking workflow status, or triggering deployments when Cloud Run is down.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [args]
              properties:
                args:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                  description: gh CLI arguments, e.g. ["push", "origin", "main"] or "status"
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 120000
      responses:
        '200':
          description: CLI output
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  stdout: { type: string }
                  stderr: { type: string }
                  exit_code: { type: integer }
        '401':
          description: Unauthorized
  /gcloud:
    post:
      tags: [connector]
      operationId: connectorGcloud
      summary: Run a gcloud CLI command on the local device
      description: Executes gcloud on the local Windows machine. Use for restarting Cloud Run services, reading logs, or triggering redeployments when the server is down.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [args]
              properties:
                args:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                  description: gcloud arguments, e.g. ["run", "services", "update-traffic", "http-generic-api", "--to-latest"]
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 120000
      responses:
        '200':
          description: CLI output
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  stdout: { type: string }
                  stderr: { type: string }
                  exit_code: { type: integer }
        '401':
          description: Unauthorized
  /shell:
    post:
      tags: [connector]
      operationId: connectorShell
      summary: Run an allowlisted shell command on the local device
      description: Executes commands from the CONNECTOR_SHELL_ALLOWLIST. Use status to check if enabled, list to see available commands, run to execute by alias.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [status, list, run]
                  default: list
                alias:
                  type: string
                  description: Shell command alias to run (from allowlist). Required for action=run.
                extra_args:
                  type: array
                  items: { type: string }
                  description: Additional args appended to the allowlisted command. Only if alias permits allow_extra_args=true.
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
      responses:
        '200':
          description: Shell result or allowlist listing
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
  /files:
    post:
      tags: [connector]
      operationId: connectorFiles
      summary: Read or write allowlisted files on the local device
      description: File access restricted to paths in CONNECTOR_FILE_PATHS. Use to stage recovery files before pushing via /github.
      security:
        - backendBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [list, read, write]
                path:
                  type: string
                  description: Absolute file path (must be in CONNECTOR_FILE_PATHS allowlist).
                content:
                  type: string
                  description: File content for write action.
      responses:
        '200':
          description: File operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
        '403':
          description: Path not in allowlist
