openapi: 3.1.0
info:
  title: Governed HTTP Client — AI Platform - Runtime Governed Actions
  version: 3.0.0-platform
  summary: Custom GPT action schema for health, activation, governance, jobs, execution, ai, tenants.
  description: 'Custom GPT action schema generated from openapi.yaml. Scope tags: health, activation, governance, jobs, execution, ai, tenants.'
servers:
  - url: https://api.mad4b.com
    description: Runtime Governed Actions custom domain
tags:
  - name: health
    description: Backend health and queue status.
  - name: activation
    description: Once-per-session activation probes, session history, and scope context.
  - name: jobs
    description: Async governed execution jobs.
  - name: execution
    description: Synchronous governed HTTP execution.
  - name: governance
    description: Runtime governance diagnostics.
  - name: ai
    description: AI generation resolvers for implementation plans and task manifests.
  - name: tenants
    description: Multi-tenant provisioning, relationships, and memberships.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: |
        Send Authorization: Bearer <BACKEND_API_KEY> for admin/service access, or Authorization: Bearer <USER_JWT> after user sign-in.
  schemas:
    SchemaImportJob:
      type: object
      additionalProperties: true
      properties:
        job_id:
          type: string
        action_key:
          type: string
        source_type:
          type: string
          enum:
            - upload
            - repo_link
            - rollback
        source_url:
          type: string
          nullable: true
        source_ref:
          type: string
          nullable: true
        source_filename:
          type: string
          nullable: true
        endpoints_upserted:
          type: integer
        endpoints_deprecated:
          type: integer
        warnings:
          type: array
          items:
            type: string
          nullable: true
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
        error_message:
          type: string
          nullable: true
        imported_by:
          type: string
          nullable: true
        imported_at:
          type: string
          format: date-time
    ReadbackRequest:
      type: object
      additionalProperties: false
      properties:
        required:
          type: boolean
          default: false
        mode:
          type: string
          enum:
            - none
            - echo
            - location_followup
          default: none
    ReadbackResult:
      type: object
      properties: {}
      additionalProperties: true
      description: Optional readback result when requested and available.
    QueryObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
          - type: 'null'
    StringMap:
      type: object
      properties: {}
      additionalProperties:
        type: string
    PathParamsObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
    JsonValue:
      oneOf:
        - type: object
          properties: {}
          additionalProperties: true
        - type: array
          items: {}
        - type: string
        - type: number
        - type: integer
        - type: boolean
        - type: 'null'
    ExecuteHttpRequest:
      type: object
      additionalProperties: false
      required:
        - parent_action_key
        - endpoint_key
      properties:
        target_key:
          type: string
          description: |
            Brand or target selector resolved server-side through governed registries. Keep this as a top-level execution field, not inside body, when it is used for routing.
        brand:
          type: string
          description: Optional brand name resolver input.
        brand_domain:
          type: string
          description: Optional brand domain resolver input.
        provider_domain:
          type: string
          description: |
            Optional execution server source. May be omitted when the endpoint row defines a fixed provider domain or when governed placeholder resolution applies.
        parent_action_key:
          type: string
          description: Governing parent action key from Actions Registry.
        endpoint_key:
          type: string
          description: Governing endpoint key from API Actions Endpoint Registry.
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          description: |
            Optional HTTP method override. When omitted, backend resolves the authoritative method from the endpoint registry/schema contract.
        path:
          type: string
          pattern: ^/
          description: |
            Optional relative path override. When omitted, backend resolves the authoritative path from the endpoint registry/schema contract.
        path_params:
          $ref: '#/components/schemas/PathParamsObject'
        query:
          $ref: '#/components/schemas/QueryObject'
        headers:
          $ref: '#/components/schemas/StringMap'
          description: |
            Optional non-sensitive headers. Authorization must never be supplied by caller.
        body:
          $ref: '#/components/schemas/JsonValue'
        expect_json:
          type: boolean
          default: true
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
          description: Optional override bounded by backend policy.
        readback:
          $ref: '#/components/schemas/ReadbackRequest'
        force_refresh:
          type: boolean
          description: Force registry reload before execution.
    ExecuteHttpResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - status
        - provider_domain
        - parent_action_key
        - endpoint_key
        - method
        - path
      properties:
        ok:
          type: boolean
        status:
          type: integer
          description: Upstream HTTP status code or backend execution status.
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
        path:
          type: string
        openai_schema_file_id:
          type: string
        schema_name:
          type: string
        resolved_auth_mode:
          type: string
          enum:
            - ''
            - none
            - basic_auth
            - bearer_token
            - api_key_query
            - api_key_header
            - oauth_gpt_action
            - custom_headers
        runtime_capability_class:
          type: string
        runtime_callable:
          type: boolean
        registry_runtime_callable:
          type: boolean
        primary_executor:
          type: string
        endpoint_role:
          type: string
        execution_mode:
          type: string
        transport_required:
          type: boolean
        request_schema_alignment_status:
          type: string
          enum:
            - pending
            - validated
            - degraded
            - blocked
        response_schema_alignment_status:
          type: string
          enum:
            - pending
            - validated
            - degraded
            - blocked
        transport_request_contract_status:
          type: string
          enum:
            - pending
            - validated
            - degraded
            - blocked
        resolved_provider_domain_mode:
          type: string
          enum:
            - ''
            - fixed_domain
            - placeholder_runtime_resolved
            - brand_bound_domain
        placeholder_resolution_source:
          type: string
        resilience_applied:
          type: boolean
        final_query:
          type: object
          additionalProperties: true
          properties: {}
        request_url:
          type: string
        response_headers:
          type: object
          additionalProperties: true
          properties: {}
        data:
          $ref: '#/components/schemas/JsonValue'
        readback:
          $ref: '#/components/schemas/ReadbackResult'
        upstream_status:
          type: integer
          description: Present on compact/specialized success envelopes.
        post_id:
          oneOf:
            - type: integer
            - type: string
        link:
          type: string
        error:
          $ref: '#/components/schemas/ErrorObject'
    ResolveContextDiagnosticRequest:
      type: object
      additionalProperties: true
      properties:
        business_type_key:
          type: string
          description: Business type key, for example hvac_air_conditioning_services.
        business_activity_type_key:
          type: string
          description: Optional business activity type key.
        knowledge_profile_key:
          type: string
          description: Optional business type knowledge profile key.
        brand_key:
          type: string
          description: Brand key, for example arab_cooling.
        target_key:
          type: string
          description: |
            Optional execution target key. When this diagnostic route is called through /http-execute, target_key should remain top-level in the governed execution envelope rather than inside body.
        mutation_intent:
          type: string
          default: resolve_context_diagnostic
        requestPayload:
          type: object
          additionalProperties: true
          description: Optional nested request payload for diagnostic testing.
          properties: {}
        brand:
          type: object
          additionalProperties: true
          description: Optional brand context override for diagnostics.
          properties: {}
        endpoint:
          type: object
          additionalProperties: true
          description: Optional endpoint context override for diagnostics.
          properties: {}
        action:
          type: object
          additionalProperties: true
          description: Optional action context override for diagnostics.
          properties: {}
      description: |
        Diagnostic payload for resolving governed business type, brand path, Brand Core, validation, and execution readiness without mutation.
    ResolveContextDiagnosticResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - diagnostic
      properties:
        ok:
          type: boolean
        diagnostic:
          type: object
          additionalProperties: true
          required:
            - resolution_status
            - knowledge_ready
            - execution_ready
          properties:
            request:
              type: object
              additionalProperties: true
              properties: {}
            path_resolver_load:
              type: object
              additionalProperties: true
              properties: {}
            resolution_status:
              type: string
              description: ready, validating, blocked, not_requested, or not_attempted.
            knowledge_ready:
              type: boolean
            execution_ready:
              type: boolean
            business_type:
              type: object
              additionalProperties: true
              properties: {}
            brand:
              type: object
              additionalProperties: true
              properties: {}
            brand_core:
              type: object
              additionalProperties: true
              properties: {}
            validation_state:
              type: object
              additionalProperties: true
              properties: {}
            execution_target:
              type: object
              additionalProperties: true
              properties: {}
    JobCreateRequest:
      type: object
      additionalProperties: false
      properties:
        request_payload:
          $ref: '#/components/schemas/ExecuteHttpRequest'
        job_type:
          type: string
          default: http_execute
        max_attempts:
          type: integer
          minimum: 1
          maximum: 10
        webhook_url:
          type: string
          format: uri
        callback_secret:
          type: string
        idempotency_key:
          type: string
        target_key:
          type: string
        brand:
          type: string
        brand_domain:
          type: string
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
        path:
          type: string
          pattern: ^/
        path_params:
          $ref: '#/components/schemas/PathParamsObject'
        query:
          $ref: '#/components/schemas/QueryObject'
        headers:
          $ref: '#/components/schemas/StringMap'
        body:
          $ref: '#/components/schemas/JsonValue'
        expect_json:
          type: boolean
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
        readback:
          $ref: '#/components/schemas/ReadbackRequest'
        force_refresh:
          type: boolean
      description: |
        Provide either request_payload or the top-level execution fields. Do not send both at once. After normalization, execution still requires parent_action_key and endpoint_key.
    JobSummary:
      type: object
      additionalProperties: false
      required:
        - job_id
        - job_type
        - status
        - created_at
        - updated_at
        - requested_by
        - target_key
        - parent_action_key
        - endpoint_key
        - attempt_count
        - max_attempts
        - status_url
        - result_url
      properties:
        job_id:
          type: string
        job_type:
          type: string
        status:
          type: string
          enum:
            - queued
            - running
            - retrying
            - succeeded
            - failed
            - cancelled
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        requested_by:
          type: string
        target_key:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        attempt_count:
          type: integer
        max_attempts:
          type: integer
        next_retry_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
        status_url:
          type: string
        result_url:
          type: string
        deduplicated:
          type: boolean
        terminal:
          type: boolean
        active:
          type: boolean
    JobResultPending:
      type: object
      additionalProperties: false
      required:
        - job_id
        - status
        - message
        - status_url
      properties:
        job_id:
          type: string
        status:
          type: string
        message:
          type: string
        status_url:
          type: string
    JobResultSuccess:
      type: object
      additionalProperties: false
      required:
        - job_id
        - status
        - result
      properties:
        job_id:
          type: string
        status:
          type: string
        result:
          $ref: '#/components/schemas/JsonValue'
    JobResultFailure:
      type: object
      additionalProperties: false
      required:
        - job_id
        - status
        - error
      properties:
        job_id:
          type: string
        status:
          type: string
        error:
          oneOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              additionalProperties: true
              properties: {}
    HealthResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - service
        - status
        - version
        - jobs
        - timestamp
      properties:
        ok:
          type: boolean
        service:
          type: string
        status:
          type: string
        version:
          type: string
        jobs:
          type: object
          additionalProperties: false
          required:
            - total
            - queued_buffer_size
            - statuses
          properties:
            total:
              type: integer
            queued_buffer_size:
              type: integer
            statuses:
              type: object
              additionalProperties: false
              required:
                - queued
                - running
                - succeeded
                - failed
                - retrying
                - cancelled
              properties:
                queued:
                  type: integer
                running:
                  type: integer
                succeeded:
                  type: integer
                failed:
                  type: integer
                retrying:
                  type: integer
                cancelled:
                  type: integer
        dependencies:
          type: object
          additionalProperties: true
          description: Optional backend dependency health details, including database connectivity.
          properties:
            db:
              type: object
              additionalProperties: true
              properties:
                connected:
                  oneOf:
                    - type: boolean
                    - type: 'null'
                error:
                  type: string
                skipped:
                  type: boolean
        timestamp:
          type: string
          format: date-time
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: 'null'
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: '#/components/schemas/ErrorObject'
        execution_guardrail:
          type: boolean
    AiIntentMaturation:
      type: object
      additionalProperties: true
      description: |
        First-class intent maturation context produced by the AI resolver. Carry the full object forward from /ai/implementation-plan into /ai/task-manifest to preserve route/workflow continuity.
      properties:
        intent_key:
          type: string
          description: Resolved intent key, e.g. ai_implementation_plan_generation.
        resolver_type:
          type: string
          enum:
            - implementation_plan
            - task_manifest
        maturation_status:
          type: string
          enum:
            - matured
            - blocked
        upstream_resolver_type:
          type: string
          description: resolver_type from the prior route, if applicable.
        upstream_intent_key:
          type: string
          description: intent_key from the prior route, if applicable.
        execution_intent:
          type: object
          additionalProperties: true
          properties: {}
        route_workflow_state:
          type: object
          additionalProperties: true
          properties: {}
        mutation_intent:
          type: object
          additionalProperties: true
          properties: {}
        blocked_reason:
          type: string
          description: Non-empty only when maturation_status is blocked.
    AiUsage:
      type: object
      additionalProperties: true
      description: OpenAI token usage for the generation call.
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
    AiImplementationPlanRequest:
      type: object
      additionalProperties: true
      required:
        - userPrompt
      properties:
        userPrompt:
          type: string
          description: The user's high-level request to generate an implementation plan for.
        systemContext:
          type: string
          description: |
            Optional extra system context injected before the intent maturation block. Do not include intent_maturation here; it is injected automatically.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: |
            Optional explicit intent key override. When omitted, defaults to ai_implementation_plan_generation.
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
          description: |
            Optional carry-forward from a prior AI resolver call. Supply when chaining resolvers so route/workflow context is preserved.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.
          properties: {}
    AiImplementationPlanResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - planMarkdown
      properties:
        ok:
          type: boolean
          enum:
            - true
        type:
          type: string
          enum:
            - implementation_plan
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
        planMarkdown:
          type: string
          description: |
            Full Markdown implementation plan. Pass this as implementationPlan in the body of a subsequent /ai/task-manifest call.
        usage:
          oneOf:
            - $ref: '#/components/schemas/AiUsage'
            - type: 'null'
    AiTaskManifestRequest:
      type: object
      additionalProperties: true
      required:
        - implementationPlan
      properties:
        implementationPlan:
          type: string
          description: |
            The Markdown implementation plan to break down into tasks. Pass the planMarkdown from /ai/implementation-plan here.
        systemContext:
          type: string
          description: |
            Optional extra system context injected before the intent maturation block.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: |
            Optional explicit intent key override. When omitted, defaults to ai_task_manifest_generation.
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
          description: |
            Carry-forward from /ai/implementation-plan. Supply the full intent_maturation object to preserve route/workflow continuity between the two resolver steps.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.
          properties: {}
    AiTaskManifestResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - taskMarkdown
      properties:
        ok:
          type: boolean
          enum:
            - true
        type:
          type: string
          enum:
            - task_manifest
        intent_maturation:
          $ref: '#/components/schemas/AiIntentMaturation'
        taskMarkdown:
          type: string
          description: Markdown task checklist derived from the implementation plan.
        usage:
          oneOf:
            - $ref: '#/components/schemas/AiUsage'
            - type: 'null'
    AiRegistryReadinessBinding:
      type: object
      additionalProperties: false
      required:
        - intent_key
        - route_found
        - route_executable
        - workflow_found
        - workflow_executable
      properties:
        intent_key:
          type: string
        route_found:
          type: boolean
        route_executable:
          type: boolean
        route_id:
          type: string
        route_task_key:
          type: string
        route_workflow_key:
          type: string
        workflow_found:
          type: boolean
        workflow_executable:
          type: boolean
        workflow_id:
          type: string
        workflow_key:
          type: string
        workflow_route_key:
          type: string
    AiRegistryReadinessDetail:
      type: object
      additionalProperties: false
      required:
        - mode
        - required_intent_keys
        - bindings
        - missing_intent_keys
        - unresolved_task_authority
        - missing_workflow_bindings
        - unresolved_workflow_authority
        - task_routes_ready
        - workflow_registry_ready
        - ok
      properties:
        mode:
          type: string
          enum:
            - validate_only
        required_intent_keys:
          type: array
          items:
            type: string
        bindings:
          type: array
          items:
            $ref: '#/components/schemas/AiRegistryReadinessBinding'
        missing_intent_keys:
          type: array
          items:
            type: string
        unresolved_task_authority:
          type: array
          items:
            type: string
        missing_workflow_bindings:
          type: array
          items:
            type: string
        unresolved_workflow_authority:
          type: array
          items:
            type: string
        task_routes_ready:
          type: boolean
        workflow_registry_ready:
          type: boolean
        ok:
          type: boolean
    AiRegistryReadinessResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - readiness
      properties:
        ok:
          type: boolean
        degraded:
          type: boolean
          description: Present and true when readiness check is not fully passing.
        message:
          type: string
        readiness:
          $ref: '#/components/schemas/AiRegistryReadinessDetail'
    OkResponse:
      type: object
      additionalProperties: true
      required:
        - ok
      properties:
        ok:
          type: boolean
          enum:
            - true
    PlatformRecord:
      type: object
      additionalProperties: true
      description: Generic platform entity record. Fields vary by resource type.
      properties: {}
    PlatformListResponse:
      type: object
      additionalProperties: true
      required:
        - ok
      properties:
        ok:
          type: boolean
          enum:
            - true
        count:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/PlatformRecord'
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/PlatformRecord'
    TenantCreateRequest:
      type: object
      additionalProperties: false
      required:
        - display_name
      properties:
        display_name:
          type: string
        tenant_type:
          type: string
          enum:
            - platform_owner
            - partner_organization
            - freelancer_operator
            - managed_client_account
            - brand
          default: brand
        status:
          type: string
          enum:
            - active
            - suspended
            - cancelled
          default: active
        metadata_json:
          type: object
          additionalProperties: true
          properties: {}
    MembershipCreateRequest:
      type: object
      additionalProperties: false
      required:
        - user_id
        - role
      properties:
        user_id:
          type: string
        role:
          type: string
        service_mode:
          type: string
          enum:
            - self_serve
            - assisted
            - managed
    AccessResolveRequest:
      type: object
      additionalProperties: false
      required:
        - tenant_id
      properties:
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          description: Platform user identifier. UUIDs and registry/user-key strings are accepted.
        risk_level:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
          default: low
        intent_flags:
          type: object
          additionalProperties:
            type: boolean
          description: Boolean intent flags, for example public_scope or destructive. Array flag-name input is accepted by the backend for compatibility.
          properties: {}
        persist:
          type: boolean
          default: false
          description: Write the resolved envelope to request_envelopes table.
    AccessResolveResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - decision
        - reason
        - service_mode
        - resolved_at
      properties:
        ok:
          type: boolean
        allows_execution:
          type: boolean
        decision:
          type: string
          enum:
            - ALLOW_SELF_SERVE
            - ALLOW_WITH_OPTIONAL_ASSISTANCE
            - REQUIRE_REVIEW
            - REQUIRE_SUPERVISOR_APPROVAL
            - ROUTE_TO_MANAGED_SERVICE
            - DENY
        reason:
          type: string
        tenant_id:
          type: string
        user_id:
          type: string
          nullable: true
        risk_level:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        service_mode:
          type: string
        plan_key:
          type: string
        resolved_at:
          type: string
          format: date-time
        envelope_id:
          type: string
          format: uuid
    WorkflowRunCreateRequest:
      type: object
      additionalProperties: false
      required:
        - tenant_id
        - workflow_key
      properties:
        tenant_id:
          type: string
          format: uuid
        workflow_key:
          type: string
        trigger_source:
          type: string
          enum:
            - api
            - planner
            - schedule
            - webhook
          default: api
        input_payload:
          type: object
          additionalProperties: true
          properties: {}
        user_id:
          type: string
          format: uuid
    ApprovalDecisionRequest:
      type: object
      additionalProperties: false
      required:
        - decision
      properties:
        decision:
          type: string
          enum:
            - approve
            - reject
        decided_by:
          type: string
          format: uuid
        notes:
          type: string
    TelemetrySpanRequest:
      type: object
      additionalProperties: false
      required:
        - trace_id
        - span_name
      properties:
        trace_id:
          type: string
        span_id:
          type: string
        parent_span_id:
          type: string
        span_name:
          type: string
        tenant_id:
          type: string
          format: uuid
        service_name:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        duration_ms:
          type: integer
        status:
          type: string
          enum:
            - ok
            - error
            - timeout
        attributes:
          type: object
          additionalProperties: true
          properties: {}
    UsageRecordRequest:
      type: object
      additionalProperties: false
      required:
        - tenant_id
        - meter_key
        - quantity
      properties:
        tenant_id:
          type: string
          format: uuid
        meter_key:
          type: string
        quantity:
          type: number
        period_date:
          type: string
          format: date
          description: Defaults to today (UTC). Used for daily bucket upsert.
    ReleaseReadinessResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - overall
        - run_id
        - checked_at
        - summary
      properties:
        ok:
          type: boolean
        overall:
          type: string
          enum:
            - pass
            - warn
            - fail
        run_id:
          type: string
          format: uuid
        checked_at:
          type: string
          format: date-time
        summary:
          type: object
          additionalProperties: false
          required:
            - total
            - pass
            - warn
            - fail
            - platform_tables_total
            - platform_tables_ok
          properties:
            total:
              type: integer
            pass:
              type: integer
            warn:
              type: integer
            fail:
              type: integer
            platform_tables_total:
              type: integer
            platform_tables_ok:
              type: integer
        db_connectivity:
          type: object
          additionalProperties: true
          properties: {}
        platform_tables:
          type: object
          additionalProperties: true
          properties: {}
        legacy_tables:
          type: object
          additionalProperties: true
          properties: {}
        seed_data:
          type: object
          additionalProperties: true
          properties: {}
        migration_inventory:
          type: object
          additionalProperties: true
          properties: {}
  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
security:
  - backendBearerAuth: []
paths:
  /health:
    get:
      tags:
        - health
      security:
        - backendBearerAuth: []
      operationId: getHealth
      summary: Health and queue status
      responses:
        '200':
          description: Service health response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /status:
    get:
      tags:
        - health
      operationId: getStatus
      summary: Public system status JSON â€” component health and open incidents
      description: |
        Returns live DB-backed component health (API, DB, tenant_management, identity, connector_execution, intent_resolution, observability, release_readiness), open incidents, and past 30-day incident history. Returns HTTP 503 when overall status is partial_outage or major_outage.
      responses:
        '200':
          description: System operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
                    enum:
                      - operational
                      - degraded
                      - partial_outage
                      - major_outage
                  status_label:
                    type: string
                  components:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  active_incidents:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  past_incidents:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  updated_at:
                    type: string
                    format: date-time
        '503':
          description: Partial or major outage detected
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
      security:
        - backendBearerAuth: []
  /status.html:
    get:
      tags:
        - health
      operationId: getStatusHtml
      summary: Public status page HTML (OpenAI-style component grid + incident history)
      responses:
        '200':
          description: HTML status page
          content:
            text/html:
              schema:
                type: string
      security:
        - backendBearerAuth: []
  /status/incidents:
    get:
      tags:
        - health
      operationId: getStatusIncidents
      summary: Public incident history (last N days)
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            default: 30
            maximum: 90
        - name: severity
          in: query
          schema:
            type: string
            enum:
              - low
              - medium
              - high
              - critical
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Incident list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  incidents:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  count:
                    type: integer
                  window_days:
                    type: integer
      security:
        - backendBearerAuth: []
  /activation/session-context:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: getActivationSessionContext
      summary: Read previous session history and platform scope context
      description: Hard activation layer that reads prior user session envelopes as a paginated history log, scoped user request transcripts, plus audit activity, developer scopes, API credential scopes, and connected-system scopes. Admin/service sessions may also receive execution-log prompt and response summaries..
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
          description: Optional user id. Admin callers may inspect any user; user JWT callers are restricted to themselves.
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Number of previous session/history rows to return per page.
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Pagination offset for reading older previous session history.
        - name: include_raw
          in: query
          schema:
            type: boolean
            default: false
          description: Include bounded raw request/response dumps where allowed by caller scope.
        - name: raw_max_chars
          in: query
          schema:
            type: integer
            default: 4000
            maximum: 20000
          description: Maximum characters per raw dump field when include_raw=true.
      responses:
        '200':
          description: Session history and related platform scopes
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - subject
                  - pagination
                  - session_history
                  - related_scopes
                  - history
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - session_context
                  subject:
                    type: object
                    additionalProperties: false
                    properties:
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                      is_admin:
                        type: boolean
                  last_session:
                    type: object
                    additionalProperties: true
                    properties: {}
                  pagination:
                    type: object
                    additionalProperties: false
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      include_raw:
                        type: boolean
                      raw_max_chars:
                        type: integer
                      has_more_session_history:
                        type: boolean
                  session_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        transcript:
                          type: object
                          additionalProperties: false
                          properties:
                            user_request:
                              type: string
                            ai_response:
                              type: string
                            request_fields_available:
                              type: array
                              items:
                                type: string
                        raw_dump:
                          type: object
                          additionalProperties: true
                          properties: {}
                  related_scopes:
                    type: array
                    items:
                      type: string
                  history:
                    type: object
                    additionalProperties: true
                    properties: {}
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Session context read failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /activation/platform-access:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: getActivationPlatformAccess
      summary: Read platform-wide activation access and registry counts
      description: |
        Hard activation evidence for admin/service sessions. Returns explicit all-brand scope plus counts and readiness for brands, plugins, logics, engines, and runtime-callable actions.
      responses:
        '200':
          description: Platform-wide activation access summary
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - principal
                  - access_scope
                  - access
                  - counts
                  - readiness
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - platform_access
                  principal:
                    type: object
                    additionalProperties: true
                    properties:
                      type:
                        type: string
                      is_admin:
                        type: boolean
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                  access_scope:
                    type: string
                    enum:
                      - platform_admin_all
                      - user_scoped
                  access:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: string
                      plugins:
                        type: string
                      logics:
                        type: string
                      engines:
                        type: string
                      actions:
                        type: string
                  counts:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: object
                        additionalProperties: true
                        properties: {}
                      plugins:
                        type: object
                        additionalProperties: true
                        properties: {}
                      logics:
                        type: object
                        additionalProperties: true
                        properties: {}
                      engines:
                        type: object
                        additionalProperties: true
                        properties: {}
                      actions:
                        type: object
                        additionalProperties: true
                        properties: {}
                  readiness:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: string
                      plugins:
                        type: string
                      logics:
                        type: string
                      engines:
                        type: string
                      actions:
                        type: string
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Platform access read failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /governance/resolve-context-diagnostic:
    post:
      tags:
        - governance
      security:
        - backendBearerAuth: []
      operationId: resolveContextDiagnostic
      summary: Resolve governed context diagnostic
      description: |
        Resolves business type, brand path, Brand Core documents, validation state, and execution readiness without performing a mutation. This is a native backend route in the parent OpenAI schema, so it does not require endpoint child schema overlay to pass method/path validation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                business_type_key:
                  type: string
                  description: Business type key, for example hvac_air_conditioning_services.
                business_activity_type_key:
                  type: string
                  description: Optional business activity type key.
                knowledge_profile_key:
                  type: string
                  description: Optional business type knowledge profile key.
                brand_key:
                  type: string
                  description: Brand key, for example arab_cooling.
                target_key:
                  type: string
                  description: |
                    Optional execution target key. When this diagnostic route is called through /http-execute, target_key should remain top-level in the governed execution envelope rather than inside body.
                mutation_intent:
                  type: string
                  default: resolve_context_diagnostic
                requestPayload:
                  type: object
                  additionalProperties: true
                  description: Optional nested request payload for diagnostic testing.
                  properties: {}
                brand:
                  type: object
                  additionalProperties: true
                  description: Optional brand context override for diagnostics.
                  properties: {}
                endpoint:
                  type: object
                  additionalProperties: true
                  description: Optional endpoint context override for diagnostics.
                  properties: {}
                action:
                  type: object
                  additionalProperties: true
                  description: Optional action context override for diagnostics.
                  properties: {}
              description: |
                Diagnostic payload for resolving governed business type, brand path, Brand Core, validation, and execution readiness without mutation.
      responses:
        '200':
          description: Governed context diagnostic result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveContextDiagnosticResponse'
        '400':
          description: Invalid diagnostic request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden by governance policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Governed context resolution blocked or incomplete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Schema or resolver validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Diagnostic execution failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /jobs:
    post:
      tags:
        - jobs
      security:
        - backendBearerAuth: []
      operationId: createJob
      summary: Create an async governed execution job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                request_payload:
                  $ref: '#/components/schemas/ExecuteHttpRequest'
                job_type:
                  type: string
                  default: http_execute
                max_attempts:
                  type: integer
                  minimum: 1
                  maximum: 10
                webhook_url:
                  type: string
                  format: uri
                callback_secret:
                  type: string
                idempotency_key:
                  type: string
                target_key:
                  type: string
                brand:
                  type: string
                brand_domain:
                  type: string
                provider_domain:
                  type: string
                parent_action_key:
                  type: string
                endpoint_key:
                  type: string
                method:
                  type: string
                  enum:
                    - GET
                    - POST
                    - PUT
                    - PATCH
                    - DELETE
                path:
                  type: string
                  pattern: ^/
                path_params:
                  $ref: '#/components/schemas/PathParamsObject'
                query:
                  $ref: '#/components/schemas/QueryObject'
                headers:
                  $ref: '#/components/schemas/StringMap'
                body:
                  $ref: '#/components/schemas/JsonValue'
                expect_json:
                  type: boolean
                timeout_seconds:
                  type: integer
                  minimum: 1
                  maximum: 300
                readback:
                  $ref: '#/components/schemas/ReadbackRequest'
                force_refresh:
                  type: boolean
              description: |
                Provide either request_payload or the top-level execution fields. Do not send both at once. After normalization, execution still requires parent_action_key and endpoint_key.
      responses:
        '200':
          description: Existing job returned due to idempotent deduplication
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/JobSummary'
                  - type: object
                    properties:
                      deduplicated:
                        type: boolean
        '202':
          description: Job accepted and queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSummary'
        '400':
          description: Invalid job request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /jobs/{jobId}:
    get:
      tags:
        - jobs
      security:
        - backendBearerAuth: []
      operationId: getJob
      summary: Get async job status
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/JobSummary'
                  - type: object
                    properties:
                      terminal:
                        type: boolean
                      active:
                        type: boolean
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /jobs/{jobId}/result:
    get:
      tags:
        - jobs
      security:
        - backendBearerAuth: []
      operationId: getJobResult
      summary: Get async job result or current completion state
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Completed job result or failure payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JobResultSuccess'
                  - $ref: '#/components/schemas/JobResultFailure'
        '202':
          description: Job is not complete yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResultPending'
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /http-execute:
    post:
      tags:
        - execution
      security:
        - backendBearerAuth: []
      operationId: executeHttpRequest
      summary: Execute a governed outbound HTTP request
      description: |
        Executes a governed HTTP request. The backend resolves routing, schema, auth, and provider-domain rules server-side. Backend bearer auth is enforced only when BACKEND_API_KEY is configured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - parent_action_key
                - endpoint_key
              properties:
                target_key:
                  type: string
                  description: |
                    Brand or target selector resolved server-side through governed registries. Keep this as a top-level execution field, not inside body, when it is used for routing.
                brand:
                  type: string
                  description: Optional brand name resolver input.
                brand_domain:
                  type: string
                  description: Optional brand domain resolver input.
                provider_domain:
                  type: string
                  description: |
                    Optional execution server source. May be omitted when the endpoint row defines a fixed provider domain or when governed placeholder resolution applies.
                parent_action_key:
                  type: string
                  description: Governing parent action key from Actions Registry.
                endpoint_key:
                  type: string
                  description: Governing endpoint key from API Actions Endpoint Registry.
                method:
                  type: string
                  enum:
                    - GET
                    - POST
                    - PUT
                    - PATCH
                    - DELETE
                  description: |
                    Optional HTTP method override. When omitted, backend resolves the authoritative method from the endpoint registry/schema contract.
                path:
                  type: string
                  pattern: ^/
                  description: |
                    Optional relative path override. When omitted, backend resolves the authoritative path from the endpoint registry/schema contract.
                path_params:
                  $ref: '#/components/schemas/PathParamsObject'
                query:
                  $ref: '#/components/schemas/QueryObject'
                headers:
                  $ref: '#/components/schemas/StringMap'
                  description: |
                    Optional non-sensitive headers. Authorization must never be supplied by caller.
                body:
                  $ref: '#/components/schemas/JsonValue'
                expect_json:
                  type: boolean
                  default: true
                timeout_seconds:
                  type: integer
                  minimum: 1
                  maximum: 300
                  description: Optional override bounded by backend policy.
                readback:
                  $ref: '#/components/schemas/ReadbackRequest'
                force_refresh:
                  type: boolean
                  description: Force registry reload before execution.
      responses:
        '200':
          description: Execution response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteHttpResponse'
        '400':
          description: Invalid request or routing payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden by policy or execution governance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Target job or target resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Request or response schema validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Execution failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batch:
    post:
      tags:
        - execution
      security:
        - backendBearerAuth: []
      operationId: batchDispatch
      summary: Execute up to 50 API requests in a single call (parallel or sequential)
      description: |
        Fan-out dispatcher that self-calls internal routes. Forwards Authorization and x-api-key headers. /batch sub-requests are blocked to prevent loops. parallel=true (default) executes all requests concurrently via Promise.all.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - requests
              properties:
                requests:
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - method
                      - path
                    properties:
                      method:
                        type: string
                        enum:
                          - GET
                          - POST
                          - PUT
                          - PATCH
                          - DELETE
                      path:
                        type: string
                        pattern: ^/
                      body:
                        type: object
                        additionalProperties: true
                        properties: {}
                parallel:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Batch results
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - count
                  - results
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                        status:
                          type: integer
                        ok:
                          type: boolean
                        body:
                          type: object
                          additionalProperties: true
                          properties: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ai/implementation-plan:
    post:
      tags:
        - ai
      security:
        - backendBearerAuth: []
      operationId: generateImplementationPlan
      summary: Generate a structured implementation plan
      description: |
        Generates a Markdown implementation plan from a user prompt via an OpenAI-backed planning resolver. The response includes a first-class intent_maturation object that must be carried forward into the body of a subsequent /ai/task-manifest call to preserve route and workflow context continuity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
                - userPrompt
              properties:
                userPrompt:
                  type: string
                  description: The user's high-level request to generate an implementation plan for.
                systemContext:
                  type: string
                  description: |
                    Optional extra system context injected before the intent maturation block. Do not include intent_maturation here; it is injected automatically.
                model:
                  type: string
                  default: gpt-4o
                  description: OpenAI model to use. Defaults to gpt-4o.
                intent_key:
                  type: string
                  description: |
                    Optional explicit intent key override. When omitted, defaults to ai_implementation_plan_generation.
                intent_maturation:
                  $ref: '#/components/schemas/AiIntentMaturation'
                  description: |
                    Optional carry-forward from a prior AI resolver call. Supply when chaining resolvers so route/workflow context is preserved.
                routing_context:
                  type: object
                  additionalProperties: true
                  description: Optional governed routing context for intent resolution.
                  properties: {}
      responses:
        '200':
          description: Implementation plan generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiImplementationPlanResponse'
        '400':
          description: Missing or blocked intent, or missing userPrompt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: OpenAI API key not configured or upstream failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ai/task-manifest:
    post:
      tags:
        - ai
      security:
        - backendBearerAuth: []
      operationId: generateTaskManifest
      summary: Generate a task checklist from an implementation plan
      description: Generates a Markdown task checklist from an implementation plan via an OpenAI-backed task resolver. Supply the planMarkdown from a prior /ai/implementation-plan response as implementationPlan, and pass the full intent_maturation object to preserve route and workflow continuity across the two resolv.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
                - implementationPlan
              properties:
                implementationPlan:
                  type: string
                  description: |
                    The Markdown implementation plan to break down into tasks. Pass the planMarkdown from /ai/implementation-plan here.
                systemContext:
                  type: string
                  description: |
                    Optional extra system context injected before the intent maturation block.
                model:
                  type: string
                  default: gpt-4o
                  description: OpenAI model to use. Defaults to gpt-4o.
                intent_key:
                  type: string
                  description: |
                    Optional explicit intent key override. When omitted, defaults to ai_task_manifest_generation.
                intent_maturation:
                  $ref: '#/components/schemas/AiIntentMaturation'
                  description: |
                    Carry-forward from /ai/implementation-plan. Supply the full intent_maturation object to preserve route/workflow continuity between the two resolver steps.
                routing_context:
                  type: object
                  additionalProperties: true
                  description: Optional governed routing context for intent resolution.
                  properties: {}
      responses:
        '200':
          description: Task manifest generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTaskManifestResponse'
        '400':
          description: Missing or blocked intent, or missing implementationPlan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: OpenAI API key not configured or upstream failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ai/registry-readiness:
    get:
      tags:
        - ai
      security:
        - backendBearerAuth: []
      operationId: getAiRegistryReadiness
      summary: Check AI resolver intent binding in Task Routes and Workflow Registry
      description: Validation-only diagnostic that confirms the two required AI resolver intent keys (ai_implementation_plan_generation and ai_task_manifest_generation) are bound to executable Task Routes rows and linked Workflow Registry rows. Returns 200 when both bindings are fully ready, or 409 when one or more b.
      responses:
        '200':
          description: All AI resolver intent keys are route/workflow bound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiRegistryReadinessResponse'
        '401':
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: One or more AI resolver intent bindings are missing or unresolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiRegistryReadinessResponse'
        '500':
          description: Registry readiness check failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tenants:
    post:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: createTenant
      summary: Create a tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - display_name
              properties:
                display_name:
                  type: string
                tenant_type:
                  type: string
                  enum:
                    - platform_owner
                    - partner_organization
                    - freelancer_operator
                    - managed_client_account
                    - brand
                  default: brand
                status:
                  type: string
                  enum:
                    - active
                    - suspended
                    - cancelled
                  default: active
                metadata_json:
                  type: object
                  additionalProperties: true
                  properties: {}
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: listTenants
      summary: List tenants
      parameters:
        - name: type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Tenant list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tenants/{tenant_id}/relationships:
    post:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: createTenantRelationship
      summary: Create a tenant relationship
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - related_tenant_id
                - relationship_type
              properties:
                related_tenant_id:
                  type: string
                  format: uuid
                relationship_type:
                  type: string
                direction:
                  type: string
                  enum:
                    - parent_child
                    - peer
                    - service_agreement
      responses:
        '201':
          description: Relationship created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tenants/{tenant_id}/memberships:
    post:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: createMembership
      summary: Add a member to a tenant
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - user_id
                - role
              properties:
                user_id:
                  type: string
                role:
                  type: string
                service_mode:
                  type: string
                  enum:
                    - self_serve
                    - assisted
                    - managed
      responses:
        '201':
          description: Membership created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: listTenantMemberships
      summary: List memberships for a tenant
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Membership list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tenants/{tenant_id}:
    get:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: getTenant
      summary: Get a tenant by ID
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: replaceTenant
      summary: Full update of a tenant record
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - display_name
              properties:
                display_name:
                  type: string
                status:
                  type: string
                  enum:
                    - active
                    - suspended
                    - archived
                metadata_json:
                  type: object
                  additionalProperties: true
                  properties: {}
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
        - tenants
      security:
        - backendBearerAuth: []
      operationId: archiveTenant
      summary: Archive a tenant (soft delete â€” sets status=archived)
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
