openapi: 3.1.0
info:
  title: Mad4B Growth Intelligence — Tenant AI
  version: 1.0.0
  summary: Governed tenant access to the Growth AI Intelligence-Human Managed Platform.
  description: "Scoped tenant brain: sign in, activate your backend connection (managed or dedicated), provision your Cloudflare tunnel, and access governed multi-agent workflows. Multi-tenant, Human-Managed, registry-driven. Created by Essam Nagy (nagy.essam.website)."
servers:
  - url: https://auth.mad4b.com
    description: Mad4B platform — auth subdomain
tags:
  - name: governance
    description: Tenant scope policy and access boundary. Call /policy first to understand what this scope permits.
  - name: auth
    description: Account creation and sign-in. Configure GPT Action authentication as OAuth using authorization URL https://auth.mad4b.com/auth/oauth/authorize and token URL https://auth.mad4b.com/auth/oauth/token, scope tenant. Email/password login or registration are fallback options.
  - name: connect
    description: Backend connection activation and device provisioning.
  - name: connector
    description: Local connector install, status, and health.
  - name: credentials
    description: Secure credential storage for dedicated connection mode.
components:
  securitySchemes:
    userBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: User JWT
      description: "After sign-in, send Authorization: Bearer <token> returned from /auth/login or /auth/google. This is a per-user JWT — NOT the platform BACKEND_API_KEY."
  schemas:
    AuthResult:
      type: object
      properties:
        ok: { type: boolean }
        user_id: { type: string }
        email: { type: string }
        display_name: { type: string }
        tenant_id: { type: string }
        token: { type: string }
        memberships:
          type: array
          items: { type: object, additionalProperties: true }
    Error:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
security:
  - userBearerAuth: []
paths:

  /policy:
    get:
      tags: [governance]
      operationId: tenantPolicy
      summary: Tenant scope governance policy
      description: "Returns this tenant GPT's governance boundary: permitted operations, what requires platform admin, and the access model for managed vs dedicated modes. No auth required. Call this first to understand what is and is not available at tenant scope."
      security: []
      responses:
        '200':
          description: Tenant governance policy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  scope: { type: string, example: tenant }
                  permitted_operations:
                    type: array
                    items: { type: string }
                    description: Operations this tenant GPT is authorised to perform.
                  platform_admin_required:
                    type: array
                    items: { type: string }
                    description: "Operations blocked at tenant scope — require platform admin principal: /admin/*, /activation/*, /dispatch."
                  connection_modes:
                    type: array
                    items: { type: string, enum: [managed, dedicated] }
                    description: "managed: platform provisions infrastructure. dedicated: tenant supplies own credentials."
                  access_model:
                    type: string
                    description: Description of the JWT-based tenant access model.

  /auth/register:
    post:
      tags: [auth]
      operationId: tenantRegister
      summary: Create a new tenant account
      description: Creates a user, tenant workspace, and owner membership. Returns a JWT. Use email, password, and display_name. tenant_display_name is optional.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, display_name]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                display_name: { type: string }
                tenant_display_name:
                  type: string
                  description: Optional workspace name. Defaults to display_name's workspace.
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '409': { description: Email already registered }

  /auth/login:
    post:
      tags: [auth]
      operationId: tenantLogin
      summary: Sign in with email and password
      description: Validates credentials and returns a user JWT and tenant memberships. Send the token as Authorization Bearer on all subsequent calls.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '401': { description: Invalid credentials }

  /auth/oauth/authorize:
    get:
      tags: [auth]
      operationId: tenantOAuthAuthorize
      summary: Open the Google sign-in popup for GPT Action OAuth
      description: Browser endpoint used by ChatGPT OAuth. It renders Growth Intelligence Platform Google Sign-In, then redirects back to the GPT callback with a short-lived authorization code.
      security: []
      parameters:
        - name: redirect_uri
          in: query
          required: true
          schema: { type: string, format: uri }
        - name: state
          in: query
          required: false
          schema: { type: string }
        - name: client_id
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Google sign-in popup HTML
          content:
            text/html:
              schema: { type: string }
        '400': { description: Invalid redirect_uri }

  /auth/oauth/token:
    post:
      tags: [auth]
      operationId: tenantOAuthToken
      summary: Exchange a GPT Action OAuth code for a tenant user token
      description: Token endpoint used by ChatGPT OAuth. Accepts an authorization_code from /auth/oauth/authorize and returns a Bearer access token for tenant-scoped actions.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, code]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code]
                code: { type: string }
                redirect_uri: { type: string, format: uri }
                client_id: { type: string }
                client_secret: { type: string }
      responses:
        '200':
          description: OAuth access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string, example: Bearer }
                  expires_in: { type: integer, example: 604800 }
                  scope: { type: string, example: tenant }
        '400': { description: Invalid OAuth request or grant }

  /auth/google:
    post:
      tags: [auth]
      operationId: tenantGoogleAuth
      summary: Sign in with a Google ID token
      description: Verifies a Google ID token (from Google Sign-In / GSI), creates or links the account, and returns a user JWT. For GPT Actions, prefer the OAuth popup at /auth/oauth/authorize. Use this endpoint only when an ID token is available inside a trusted web flow.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token:
                  type: string
                  description: Google ID token from GSI credential response.
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }
        '401': { description: Invalid Google token }

  /connect/status:
    get:
      tags: [connect]
      operationId: tenantConnectionStatus
      summary: Get authenticated tenant's connection state
      description: Returns the tenant's connection mode (managed/dedicated), active devices, and provisioning status. Send user JWT from /auth/login or /auth/google in Authorization header.
      responses:
        '200':
          description: Connection status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  user: { type: object, additionalProperties: true }
                  tenant: { type: object, additionalProperties: true }
                  connection:
                    type: object
                    properties:
                      mode: { type: string, enum: [managed, dedicated] }
                      status: { type: string, enum: [active, pending, inactive] }
                      cloudflare_mode: { type: string }
                      google_auth_mode: { type: string }
                      device_count: { type: integer }
                      activated_at: { type: string }
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id: { type: string }
                        tunnel_url: { type: string }
                        is_enabled: { type: boolean }
        '403': { description: User JWT required }

  /connect/activate:
    post:
      tags: [connect]
      operationId: tenantConnectionActivate
      summary: Set tenant backend connection mode (managed or dedicated)
      description: "Activates managed (platform provisions CF tunnel and uses its own Google SA) or dedicated (tenant supplies own CF/Hostinger credentials). Upserts tenant_backend_connections row. User JWT required."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              properties:
                mode:
                  type: string
                  enum: [managed, dedicated]
                cloudflare_mode:
                  type: string
                  enum: [managed, dedicated]
                  default: managed
                google_auth_mode:
                  type: string
                  enum: [managed, dedicated]
                  default: managed
                cf_api_token:
                  type: string
                  description: Dedicated mode only — Cloudflare API token for tunnel provisioning.
                cf_account_id:
                  type: string
                  description: Dedicated mode only — Cloudflare account ID.
                hostinger_api_key:
                  type: string
                  description: Dedicated mode only — Hostinger DNS API key.
      responses:
        '200':
          description: Activation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  connection: { type: object, additionalProperties: true }
                  notice: { type: string }
        '403': { description: User JWT required }

  /connect/device-install:
    post:
      tags: [connect]
      operationId: tenantDeviceInstall
      summary: Provision a local connector for the authenticated tenant's device
      description: Creates a connector config for the given device_id under the tenant. Returns tunnel_url, connector_secret, and install steps. User JWT required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
                  description: "Stable machine identifier, e.g. mohammedlap or johns-pc."
      responses:
        '200':
          description: Connector install bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  config_id: { type: string }
                  device_id: { type: string }
                  tunnel_url: { type: string }
                  connector_secret: { type: string }
                  install_steps: { type: array, items: { type: string } }
        '403': { description: User JWT required }

  /local-connector/install:
    post:
      tags: [connector]
      operationId: tenantLocalConnectorInstall
      summary: Full local connector provisioning with Cloudflare tunnel and DNS
      description: "Provisions a Cloudflare tunnel for the device, adds DNS CNAME, seeds DB config and shell allowlist. Returns install.bat for the device. Idempotent per user+device. Owner/admin uses env credentials; tenants use DB app connections (cloudflare_connection_id, hostinger_connection_id)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, tenant_id, device_id]
              properties:
                user_id: { type: string }
                tenant_id: { type: string }
                device_id: { type: string, description: Stable machine name. }
                cloudflare_connection_id:
                  type: string
                  description: App connection ID for dedicated CF credentials. Omit to use platform managed credentials.
                hostinger_connection_id:
                  type: string
                  description: App connection ID for dedicated Hostinger credentials. Omit to use platform managed DNS.
                reprovision:
                  type: boolean
                  default: false
                  description: Set true to rotate the tunnel and connector_secret.
                custom_aliases:
                  type: array
                  items:
                    type: object
                    properties:
                      alias: { type: string }
                      cmd: { type: string }
                      args: { type: array, items: { type: string } }
                      description: { type: string }
      responses:
        '200':
          description: Install bundle with tunnel credentials and install.bat
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  config_id: { type: string }
                  tunnel_url: { type: string }
                  connector_secret: { type: string }
                  cf_tunnel_id: { type: string }
                  cloud_run_env: { type: object, additionalProperties: true }
                  installation: { type: object, additionalProperties: true }

  /local-connector/install/status:
    get:
      tags: [connector]
      operationId: tenantLocalConnectorStatus
      summary: Check local connector installation status for a device
      description: Returns config and shell allowlist for the given user+device. installed=false means /local-connector/install has not been called yet for this device.
      parameters:
        - name: user_id
          in: query
          required: true
          schema: { type: string }
        - name: tenant_id
          in: query
          required: true
          schema: { type: string }
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Install status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  installed: { type: boolean }
                  config: { type: object, additionalProperties: true }
                  aliases: { type: array, items: { type: object } }

  /local-connector/health:
    get:
      tags: [connector]
      operationId: tenantLocalConnectorHealth
      summary: Check local connector reachability via platform proxy
      description: Platform calls the device tunnel and returns health. Slower than calling the connector directly but works without knowing the device secret. Returns ok=false if unreachable.
      parameters:
        - name: user_id
          in: query
          required: true
          schema: { type: string }
        - name: tenant_id
          in: query
          required: true
          schema: { type: string }
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Health result (ok=false if unreachable)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  tunnel_url: { type: string }
                  agent: { type: object, additionalProperties: true }
                  error: { type: object, additionalProperties: true }

  /app-connections:
    post:
      tags: [credentials]
      operationId: tenantSaveAppConnection
      summary: Save credentials for a third-party integration (Cloudflare, Hostinger)
      description: "Stores encrypted API key credentials for cloudflare or hostinger. Returns connection_id used in /local-connector/install. auth_type must be api_key."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, tenant_id, app_key, auth_type, credentials]
              properties:
                user_id: { type: string }
                tenant_id: { type: string }
                app_key:
                  type: string
                  enum: [cloudflare, hostinger]
                  description: "cloudflare: tunnel provisioning. hostinger: DNS management."
                auth_type:
                  type: string
                  enum: [api_key]
                display_label:
                  type: string
                  description: Human-readable label for this connection.
                credentials:
                  type: object
                  additionalProperties: true
                  description: "cloudflare: {cloudflare_api_token, cloudflare_account_id}. hostinger: {hostinger_api_token}."
      responses:
        '200':
          description: Connection created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  connection_id: { type: string }
                  app_key: { type: string }
        '400': { description: Missing required fields }
        '403': { description: Authentication required }
