openapi: 3.1.0
info:
  title: Mad4B Growth Intelligence - Tenant AI - MCP Actions
  version: 2.0.1-mcp
  summary: Tenant GPT schema. Five meta-operations; all platform tools discovered via listTools and called via callTool.
  description: Tenant MCP schema. Use activateSession, listTools, callTool, writeSessionTurn, endSession. Activate with connect_activate tool_args.mode managed/dedicated; mixed apps use integration_modes.
servers:
  - url: https://auth.mad4b.com
    description: Mad4B platform auth subdomain
components:
  securitySchemes:
    userBearerAuth:
      type: oauth2
      description: Tenant GPT OAuth. ChatGPT signs in through the platform popup and receives a scoped Mad4B tenant JWT.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mad4b.com/auth/oauth/authorize
          tokenUrl: https://auth.mad4b.com/auth/oauth/token
          scopes:
            https://auth.mad4b.com/scopes/tenant.links: Access tenant-scoped Growth Intelligence links for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.status: Read tenant connection status for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.activation: Activate managed or dedicated tenant connection mode for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.install: Provision tenant local connector install bundles for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.system-tools: Use tenant-scoped governed system tools for the signed-in user.
  schemas:
    ToolItem:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
          description: Tool key; pass this as name to callTool.
        displayName:
          type: string
        description:
          type: string
        method:
          type: string
        path:
          type: string
        tags:
          type: array
          items:
            type: string
        inputSchema:
          type: object
          additionalProperties: true
    GptSession:
      type: object
      additionalProperties: true
      properties:
        session_id:
          type: string
        session_status:
          type: string
        turn_count:
          type: integer
        started_at:
          type: string
        ended_at:
          type: string
        drive_export_url:
          type: string
    ErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
security:
  - userBearerAuth:
      - https://auth.mad4b.com/scopes/tenant.links
      - https://auth.mad4b.com/scopes/tenant.status
      - https://auth.mad4b.com/scopes/tenant.activation
      - https://auth.mad4b.com/scopes/tenant.install
      - https://auth.mad4b.com/scopes/tenant.system-tools
paths:
  /activation/session-context:
    get:
      tags:
        - session
      operationId: activateSession
      summary: Open conversation session and load tenant platform context
      description: Call once at conversation start. Returns session_id plus tenant context. Use session_id for writeSessionTurn and endSession.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Session opened
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - session_id
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  closed_sessions:
                    type: integer
                  gpt_sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/GptSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/tools:
    get:
      tags:
        - tools
      operationId: listTools
      summary: List all available platform tools for this tenant
      description: Returns tenant-visible platform tools from the DB registry. Use each tool name with callTool.
      responses:
        '200':
          description: Tool catalog
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - tools
                properties:
                  ok:
                    type: boolean
                  caller_type:
                    type: string
                  count:
                    type: integer
                  tools:
                    type: array
                    items:
                      $ref: '#/components/schemas/ToolItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/tools/call:
    post:
      x-openai-isConsequential: false
      tags:
        - tools
      operationId: callTool
      summary: Execute a tenant-visible platform tool by name
      description: Executes a tenant registry tool by name. Use listTools first. For connect_activate, pass tool_args.mode managed/dedicated; mixed apps go in tool_args.integration_modes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Tool name from listTools, for example connect_status.
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Arguments matching the selected tool inputSchema. Put tool fields here, never top-level.
                  properties:
                    mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                      description: Activation mode for connect_activate.
                    device_id:
                      type: string
                      pattern: "^[a-z0-9-]{2,32}$"
                      description: Stable lowercase device id for connect_device_install.
                    workspace_name:
                      type: string
                    integration_modes:
                      type: object
                      additionalProperties: true
                      description: Optional per-app managed/dedicated source policy.
                    n8n_activation_mode:
                      type: string
                      enum:
                        - managed_main_server
                        - self_hosted_local
                    provisioning_credential_mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                    app_key:
                      type: string
                    auth_type:
                      type: string
                    display_label:
                      type: string
      responses:
        '200':
          description: Upstream tool response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  result:
                    description: Raw upstream tool response payload.
        '400':
          description: Missing name or path parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Tool not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/sessions/{id}/turn:
    post:
      x-openai-isConsequential: false
      tags:
        - session
      operationId: writeSessionTurn
      summary: Record a conversation turn
      description: Persists a user, assistant, or tool turn to the active session.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id from activateSession.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
                - content
              properties:
                role:
                  type: string
                  enum:
                    - user
                    - assistant
                    - tool
                content:
                  type: string
                action_key:
                  type: string
      responses:
        '200':
          description: Turn written
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  turn_index:
                    type: integer
        '400':
          description: Missing fields
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
        '409':
          description: Session already closed
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/sessions/{id}/end:
    post:
      x-openai-isConsequential: false
      tags:
        - session
      operationId: endSession
      summary: Close the session and archive conversation
      description: Marks the session completed and exports the conversation archive when configured.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id from activateSession.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
      responses:
        '200':
          description: Session closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  drive_export:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
        '409':
          description: Session already ended
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
x-gpt-action-auth-preset:
  authentication_type: OAuth
  schema_url: https://auth.mad4b.com/openapi.tenant-gpt.auth.yaml
  client_id: mad4b-tenant-gpt
  client_secret: <stored-in-platform-runtime-config>
  client_secret_config_key: tenant_gpt.oauth.client
  authorization_url: https://auth.mad4b.com/auth/oauth/authorize
  token_url: https://auth.mad4b.com/auth/oauth/token
  token_exchange_method: Default (POST request)
  callback_urls_to_allow:
    - https://chat.openai.com/aip/g-d36db295032b9022dd77233041763f513e8ba5fa/oauth/callback
    - https://chat.openai.com/aip/{g-GPT-ID}/oauth/callback
    - https://chatgpt.com/aip/{g-GPT-ID}/oauth/callback
  scope_links:
    - https://auth.mad4b.com/scopes/tenant.links
    - https://auth.mad4b.com/scopes/tenant.status
    - https://auth.mad4b.com/scopes/tenant.activation
    - https://auth.mad4b.com/scopes/tenant.install
    - https://auth.mad4b.com/scopes/tenant.system-tools
