openapi: 3.1.0
info:
  title: Mad4B Growth Intelligence — Local Runtime
  version: 1.0.0
  summary: Governed direct device operations for tenant AI agent execution.
  description: "Tenant local runtime brain: shell commands, file access, and URL ingestion via your Cloudflare tunnel. Part of the Growth AI Intelligence-Human Managed Platform by Essam Nagy (nagy.essam.website)."
servers:
  - url: https://connector.mad4b.com
    description: Your local Windows device via Cloudflare Tunnel
tags:
  - name: governance
    description: Runtime scope policy and access boundary. Call /policy first to understand what this device permits.
  - name: device
    description: Health check and connector status.
  - name: shell
    description: Run allowlisted shell commands on your device.
  - name: files
    description: Read and write allowlisted local files.
  - name: fetch
    description: Fetch a remote URL and push content to the platform upload system.
components:
  securitySchemes:
    connectorBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: connector_secret
      description: "Send Authorization: Bearer <connector_secret> from your install bundle. This is NOT the platform BACKEND_API_KEY — it is the per-device secret generated at provisioning time."
  schemas:
    ConnectorError:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
security:
  - connectorBearerAuth: []
paths:

  /policy:
    get:
      tags: [governance]
      operationId: connectorPolicy
      summary: Local runtime governance policy
      description: "Returns this device's governance boundary: shell enabled state, permitted aliases, accessible file paths, and what operations are restricted at tenant scope vs requiring platform admin. No auth required. Call this before any device operation to understand what is available."
      security: []
      responses:
        '200':
          description: Runtime governance policy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  scope: { type: string, example: tenant.local_runtime }
                  shell_enabled: { type: boolean }
                  permitted_aliases:
                    type: array
                    items: { type: string }
                    description: Shell aliases currently registered in the allowlist.
                  permitted_paths:
                    type: array
                    items: { type: string }
                    description: File paths currently in the file access allowlist.
                  restricted_operations:
                    type: array
                    items: { type: string }
                    description: "Operations blocked at tenant scope — e.g. /github, /gcloud are admin-only."
                  platform_admin_required:
                    type: array
                    items: { type: string }
                    description: "Operations that require a platform admin to enable or modify — adding new shell aliases, expanding file paths, DNS changes."

  /health:
    get:
      tags: [device]
      operationId: connectorHealth
      summary: Check if the local connector is alive
      description: Returns uptime, hostname, and platform. No auth required. Use this first to confirm the connector is running before attempting any device operations.
      security: []
      responses:
        '200':
          description: Connector is running
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  service: { type: string }
                  hostname: { type: string }
                  platform: { type: string }
                  uptime: { type: number }

  /shell:
    post:
      tags: [shell]
      operationId: connectorShell
      summary: Run an allowlisted shell command on the local device
      description: Executes commands from the tenant shell allowlist. Use action=status to check if shell is enabled, action=list to see available aliases, action=run to execute by alias.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [status, list, run]
                  default: list
                alias:
                  type: string
                  description: Shell command alias to run (from allowlist). Required for action=run.
                extra_args:
                  type: array
                  items: { type: string }
                  description: Additional args appended to the allowlisted command. Only if alias permits allow_extra_args=true.
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
      responses:
        '200':
          description: Shell result or allowlist listing
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok: { type: boolean }
                  enabled: { type: boolean }
                  alias: { type: string }
                  stdout: { type: string }
                  stderr: { type: string }
                  exit_code: { type: integer }
                  aliases:
                    type: array
                    items:
                      type: object
                      properties:
                        alias: { type: string }
                        display_name: { type: string }
                        allow_extra_args: { type: boolean }
        '401': { description: Unauthorized }
        '403': { description: Alias not in allowlist }

  /files:
    post:
      tags: [files]
      operationId: connectorFiles
      summary: Read or write allowlisted files on the local device
      description: File access restricted to paths in the tenant file allowlist. Use action=list to see permitted paths, action=read to return content, action=write to write content to an allowed path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [list, read, write]
                path:
                  type: string
                  description: Absolute file path (must be in the file access allowlist).
                content:
                  type: string
                  description: File content for write action.
      responses:
        '200':
          description: File operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok: { type: boolean }
                  path: { type: string }
                  content: { type: string }
                  size: { type: integer }
                  written: { type: boolean }
                  paths:
                    type: array
                    items: { type: string }
        '401': { description: Unauthorized }
        '403': { description: Path not in allowlist }

  /fetch-upload:
    post:
      tags: [fetch]
      operationId: connectorFetchUpload
      summary: Fetch a remote URL and push the content to the platform upload system
      description: Fetches the URL using Node fetch and forwards content to POST /uploads using the connector credentials. Returns upload_id for validation. Use for publicly accessible URLs. For auth-required sites or JS rendering, use /shell-fetch-upload with curl instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, upload_type]
              properties:
                url:
                  type: string
                  description: The URL to fetch — raw GitHub URLs, CDN-hosted schemas, plugin repos, etc.
                upload_type:
                  type: string
                  enum: [schema, skill, knowledge, repo_link, asset]
                filename:
                  type: string
                  description: Override the filename derived from the URL.
                uploaded_by:
                  type: string
                  description: Actor reference logged against the upload.
                metadata:
                  type: object
                  additionalProperties: true
                  description: Metadata segments (goal, platform, helpers) forwarded to the upload record.
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 30000
      responses:
        '200':
          description: Content fetched and upload record created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  fetched_url: { type: string }
                  via: { type: string }
                  upload_id: { type: string }
                  status: { type: string }
        '401': { description: Unauthorized }
        '403': { description: Fetch-upload disabled on this connector }
        '502': { description: Remote fetch failed or forward to main API failed }

  /shell-fetch-upload:
    post:
      tags: [fetch]
      operationId: connectorShellFetchUpload
      summary: Download a URL via curl and push the content to the platform upload system
      description: Downloads via curl (handles self-signed certs, unusual redirects, legacy TLS) and forwards to POST /uploads. Use when /fetch-upload fails or when curl-specific flags are needed. URL is validated against shell metacharacters before execution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, upload_type]
              properties:
                url:
                  type: string
                  description: URL to download via curl. Must not contain shell metacharacters.
                upload_type:
                  type: string
                  enum: [schema, skill, knowledge, repo_link, asset]
                filename:
                  type: string
                uploaded_by:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 60000
      responses:
        '200':
          description: File downloaded and upload record created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  fetched_url: { type: string }
                  via: { type: string }
                  upload_id: { type: string }
                  status: { type: string }
        '400': { description: URL contains unsafe characters }
        '401': { description: Unauthorized }
        '502': { description: curl failed or forward to main API failed }
