openapi: 3.1.0

info:
  title: Governed HTTP Client â€” AI Platform
  version: 3.0.0-platform
  summary: >
    Multi-tenant AI-native orchestration platform with governed execution, async jobs,
    AI resolvers, and full platform management API (tenants, identity, access, workflows,
    observability, security, developer API, and release readiness).
  description: >
    OpenAPI schema for the Governed AI + Human Managed Platform backend.
    Covers three capability layers:
    (1) Governed execution â€” /http-execute, /jobs/*, /governance/*, /ai/*
    (2) Platform management â€” /tenants, /users, /plans, /subscriptions, /customers,
        /tickets, /connected-systems, /workspaces, /planner/*, /bootstrap/*,
        /logic-definitions, /logic-packs, /workflow-runs, /approval-holds,
        /telemetry/*, /usage/*, /audit-log, /incidents, /developer-apps,
        /api-credentials, /webhooks, /rate-limit-rules
    (3) Release operations â€” /release/readiness, /release/readiness-history,
        /release/entity-classification
    Platform endpoints accept admin/service authentication via BACKEND_API_KEY, or user authentication via a signed login JWT.

servers:
  - url: https://auth.mad4b.com
    description: Governed HTTP backend

tags:
  - name: health
    description: Backend health and queue status.
  - name: dev-diagnostics
    description: Passive development environment diagnostics for dev.mad4b.com.
  - name: activation
    description: Once-per-session activation probes, session history, and scope context.
  - name: growth-dashboard
    description: Tenant-scoped growth cockpit, guidance, preferences, previews, and recommendation feedback.
  - name: jobs
    description: Async governed execution jobs.
  - name: execution
    description: Synchronous governed HTTP execution.
  - name: governance
    description: Runtime governance diagnostics.
  - name: ai
    description: AI generation resolvers for implementation plans and task manifests.
  - name: tenants
    description: Multi-tenant provisioning, relationships, and memberships.
  - name: identity
    description: Users, role assignments, plans, subscriptions, and assistance roles.
  - name: access
    description: 6-outcome access decision engine and request envelope log.
  - name: customers
    description: Customer records, contacts, tickets, and timeline events.
  - name: connected-systems
    description: Connected systems, installations, permission grants, and workspaces.
  - name: planner
    description: Intent resolution and execution plan management.
  - name: bootstrap
    description: Tenant bootstrap readiness checks and onboarding state.
  - name: logic
    description: Logic definitions, logic packs, and adaptation records.
  - name: workflows
    description: Workflow runs, step runs, and human-in-the-loop approval holds.
  - name: observability
    description: Telemetry spans, usage metering, and quota enforcement.
  - name: security
    description: Immutable audit log, secret references, incidents, and compliance.
  - name: developer-api
    description: Developer apps, API credentials (key generation), webhooks, and rate limits.
  - name: admin-control
    description: Personal administrator control surface for CLI, database, and runtime environment operations.
  - name: system-layer
    description: MCP-style governed system layer backed by connector registries, principal context, and runtime validation.
  - name: release
    description: Release readiness checks, history, and entity classification inventory.
  - name: runtime-verification
    description: Runtime verification control plane, production parity ledger, and paginated evidence surfaces.
  - name: operational-console
    description: Unified operational console readback across runtime parity, activation, tiles, gaps, freshness, and evidence manifests.
  - name: activation-guidance
    description: Proactive activation guidance intelligence for Tenant GPT and Admin GPT, including account counts, permissions, readiness semantics, and next-best actions.
  - name: local-manager
    description: Local Manager device-code linking, device controls, and Windows update metadata.
  - name: platform-graph
    description: SQL-primary platform knowledge graph projection, validation, and context resolution.
  - name: platform-plugins
    description: Tenant-facing and admin-governed Platform Plugin catalog, install, resolve, contribution, and promotion surfaces.
  - name: tenant-docs
    description: Tenant-safe live repository documentation reader surfaces.
  - name: wordpress
    description: WordPress runtime diagnostics and publish authority checks.
  - name: platform-evolution
    description: Brand, tenant, and user scoped Platform Evolution checkpoints, thread maps, and linked evidence surfaces.
  - name: platform-intelligence
    description: Admin-governed AI Intelligence Runtime planning, policy, lifecycle, and decision evidence surfaces.
  - name: connected-execution
    description: DB-backed connected execution session, checkpoint, evidence, and resume-action metadata surfaces.
  - name: container-authority
    description: Dynamic multi-parent container authority previews, governed assignments, projections, shadow evidence, and explicit override governance.

components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: >
        Send Authorization: Bearer <BACKEND_API_KEY> for admin/service access, or
        Authorization: Bearer <USER_JWT> after user sign-in.
    backendApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        Admin/service Custom GPT-safe backend authentication header. Send
        x-api-key: <BACKEND_API_KEY>. This key should be scoped to the admin user/service identity.
    userJwtAuth:
      type: http
      scheme: bearer
      bearerFormat: User JWT
      description: Signed user JWT from /auth/login or /auth/google. Backend API keys do not satisfy this scheme.
    localManagerBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: User JWT or Local Manager device token
      description: >
        Bearer token minted by /auth/login, /auth/register, or approved device-link polling.

  schemas:

    ActivationGuidanceResponse:
      type: object
      additionalProperties: true
      required: [ok, activation_layer, profile, language_context, invocation_contract, guidance_flow, command_palette, activation_brief, account_or_admin_capability_snapshot, recommended_next_actions, assistant_instruction_pack, secrets_included]
      properties:
        ok: { type: boolean }
        activation_layer: { type: string, enum: [activation_guidance_intelligence] }
        profile: { type: string, enum: [tenant, admin] }
        guidance_mode: { type: string }
        language_context:
          type: object
          additionalProperties: true
          properties:
            mode: { type: string }
            resolved_locale: { type: string }
            source: { type: string }
            tags_are_language_neutral: { type: boolean }
        invocation_contract:
          type: object
          additionalProperties: true
          properties:
            version: { type: string }
            supported_signals:
              type: array
              items: { type: string, enum: [invocation_tag, slash_alias, intent_key] }
            tag_format: { type: string }
            slash_format: { type: string }
            routing_rule: { type: string }
            execution_rule: { type: string }
        guidance_flow:
          type: array
          items:
            type: object
            additionalProperties: true
        guidance_paths:
          type: array
          items:
            type: object
            additionalProperties: true
        command_palette:
          type: array
          items:
            type: object
            additionalProperties: true
        presentation_summary:
          type: object
          additionalProperties: true
        activation_brief:
          type: object
          additionalProperties: true
        account_or_admin_capability_snapshot:
          type: object
          additionalProperties: true
        capability_groups:
          type: array
          items: { type: object, additionalProperties: true }
        recommended_next_actions:
          type: array
          items: { type: object, additionalProperties: true }
        safe_action_menu:
          type: array
          items: { type: object, additionalProperties: true }
        blocked_or_limited_capabilities:
          type: array
          items: { type: object, additionalProperties: true }
        assistant_instruction_pack:
          type: object
          additionalProperties: true
        secrets_included: { type: boolean }

    OperationalConsoleResponse:
      type: object
      additionalProperties: true
      required: [ok, activation_layer, environment_key, summary, secrets_included]
      properties:
        ok: { type: boolean }
        activation_layer: { type: string, enum: [operational_console] }
        environment_key: { type: string }
        summary:
          type: object
          additionalProperties: true
          properties:
            production_parity: { type: string }
            readiness_classification: { type: string }
            activation_status: { type: string }
            latest_run_id: { type: string, nullable: true }
            blocking_gap_count: { type: integer }
            operational_tile_count: { type: integer }
            callback_count: { type: integer }
            attention_rule_count: { type: integer }
            remediation_runbook_count: { type: integer }
            freshness_policy_count: { type: integer }
            secrets_included: { type: boolean }
        runtime_parity: { $ref: '#/components/schemas/RuntimeParityResponse' }
        activation_summary:
          type: object
          additionalProperties: true
        latest_verification_run:
          oneOf:
            - $ref: '#/components/schemas/RuntimeVerificationRunResponse'
            - type: 'null'
        operational_tiles:
          type: array
          items: { type: object, additionalProperties: true }
        callbacks:
          type: array
          items: { type: object, additionalProperties: true }
        attention_rules:
          type: array
          items: { type: object, additionalProperties: true }
        remediation_runbooks:
          type: array
          items: { type: object, additionalProperties: true }
        freshness_policies:
          type: array
          items: { type: object, additionalProperties: true }
        evidence_manifest: { $ref: '#/components/schemas/RuntimeVerificationEvidenceResponse' }
        secrets_included: { type: boolean }

    RuntimeVerificationCreateRequest:
      type: object
      additionalProperties: false
      properties:
        environment_key: { type: string, default: production }
        expected_commit_sha: { type: string }
        deployed_commit_sha: { type: string }
        runtime_base_url: { type: string, default: https://auth.mad4b.com }
        runtime_profile: { type: string, default: api_only }
        response_budget:
          type: object
          additionalProperties: true
          properties:
            max_response_bytes: { type: integer, default: 100000 }
            max_items: { type: integer, default: 50 }
            max_depth: { type: integer, default: 3 }
            overflow_policy: { type: string, default: manifest_only }

    RuntimeVerificationStep:
      type: object
      additionalProperties: true
      properties:
        step_id: { type: string }
        step_key: { type: string }
        step_status: { type: string, enum: [pending, running, pass, warn, fail, blocked, skipped, cancelled] }
        classification: { type: string }
        response_bytes: { type: integer, nullable: true }
        max_allowed_bytes: { type: integer, nullable: true }

    RuntimeVerificationGap:
      type: object
      additionalProperties: true
      properties:
        gap_id: { type: string }
        gap_key: { type: string }
        severity: { type: string, enum: [info, low, medium, high, critical] }
        classification: { type: string }
        blocks_production_parity: { type: boolean }
        remediation: { type: string, nullable: true }
        remediation_type: { type: string, nullable: true }
        auto_fix_allowed: { type: boolean, nullable: true }
        approval_required: { type: boolean, nullable: true }
        recommended_action: { type: string, nullable: true }
        runbook_json: { type: object, additionalProperties: true, nullable: true }

    RuntimeVerificationRunResponse:
      type: object
      additionalProperties: true
      required: [ok, run_id, production_parity]
      properties:
        ok: { type: boolean }
        run_id: { type: string }
        environment_key: { type: string }
        expected_commit_sha: { type: string, nullable: true }
        deployed_commit_sha: { type: string, nullable: true }
        run_status: { type: string }
        production_parity: { type: string, enum: [unknown, validating, verified, degraded, blocked] }
        summary: { type: object, additionalProperties: true }
        steps:
          type: array
          items: { $ref: '#/components/schemas/RuntimeVerificationStep' }
        gaps:
          type: array
          items: { $ref: '#/components/schemas/RuntimeVerificationGap' }

    RuntimeVerificationEvidenceResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        run_id: { type: string }
        items:
          type: array
          items:
            type: object
            additionalProperties: true
        page:
          type: object
          additionalProperties: false
          properties:
            hasMore: { type: boolean }
            nextCursor: { type: string, nullable: true }

    RuntimeParityResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        environment_key: { type: string }
        expected_commit_sha: { type: string, nullable: true }
        deployed_commit_sha: { type: string, nullable: true }
        production_parity: { type: string, enum: [unknown, validating, verified, degraded, blocked] }
        latest_run_id: { type: string, nullable: true }
        blocking_gap_count: { type: integer }
        readiness_classification: { type: string }

    SchemaImportJob:
      type: object
      additionalProperties: true
      properties:
        job_id: { type: string }
        action_key: { type: string }
        source_type:
          type: string
          enum: [upload, repo_link, rollback]
        source_url: { type: string, nullable: true }
        source_ref: { type: string, nullable: true }
        source_filename: { type: string, nullable: true }
        endpoints_upserted: { type: integer }
        endpoints_deprecated: { type: integer }
        warnings:
          type: array
          items: { type: string }
          nullable: true
        status:
          type: string
          enum: [pending, completed, failed]
        error_message: { type: string, nullable: true }
        imported_by: { type: string, nullable: true }
        imported_at: { type: string, format: date-time }

    ReadbackRequest:
      type: object
      additionalProperties: false
      properties:
        required:
          type: boolean
          default: false
        mode:
          type: string
          enum: [none, echo, location_followup]
          default: none

    ReadbackResult:
      type: object
      properties: {}
      additionalProperties: true
      description: Optional readback result when requested and available.

    QueryObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
          - type: "null"

    StringMap:
      type: object
      properties: {}
      additionalProperties:
        type: string

    PathParamsObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean

    JsonValue:
      oneOf:
        - type: object
          properties: {}
          additionalProperties: true
        - type: array
          items: {}
        - type: string
        - type: number
        - type: integer
        - type: boolean
        - type: "null"

    ConnectedExecutionSessionUpsertRequest:
      type: object
      additionalProperties: true
      properties:
        connected_session_id: { type: string }
        tenant_id: { type: string }
        user_id: { type: string }
        root_plan_id: { type: string }
        current_run_id: { type: string }
        current_step_run_id: { type: string }
        mode: { type: string, enum: [single_turn, connected_rounds, worker_driven], default: connected_rounds }
        status: { type: string, enum: [draft, ready, running, paused, awaiting_user, awaiting_approval, blocked, completed, failed, cancelled], default: ready }
        resume_policy: { $ref: "#/components/schemas/JsonValue" }
        budget_policy: { $ref: "#/components/schemas/JsonValue" }
        checkpoint_policy: { $ref: "#/components/schemas/JsonValue" }
        resume_cursor: { $ref: "#/components/schemas/JsonValue" }
        last_checkpoint: { $ref: "#/components/schemas/JsonValue" }
        next_action: { $ref: "#/components/schemas/JsonValue" }
        max_rounds: { type: integer, minimum: 1, maximum: 1000 }

    ConnectedExecutionSessionResponse:
      type: object
      additionalProperties: true
      required: [ok, session, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        session:
          type: object
          additionalProperties: true
        secrets_included: { type: boolean, enum: [false] }

    ConnectedExecutionCheckpointResponse:
      type: object
      additionalProperties: true
      required: [ok, checkpoint, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        checkpoint:
          type: object
          additionalProperties: true
        secrets_included: { type: boolean, enum: [false] }

    ConnectedExecutionEvidenceReportCreateRequest:
      type: object
      additionalProperties: true
      required: [stage]
      properties:
        evidence_report_id: { type: string }
        tenant_id: { type: string }
        user_id: { type: string }
        plan_id: { type: string }
        run_id: { type: string }
        step_run_id: { type: string }
        stage: { type: string, minLength: 1 }
        status: { type: string, enum: [checkpoint, progress, blocked, handoff, resume_ready, completed, failed], default: checkpoint }
        summary: { $ref: "#/components/schemas/JsonValue" }
        evidence: { $ref: "#/components/schemas/JsonValue" }
        ci: { $ref: "#/components/schemas/JsonValue" }
        readiness: { $ref: "#/components/schemas/JsonValue" }
        artifact_refs:
          type: array
          items: { $ref: "#/components/schemas/JsonValue" }
        blockers:
          type: array
          items: { $ref: "#/components/schemas/JsonValue" }
        next_action: { $ref: "#/components/schemas/JsonValue" }
        first_resume_instruction: { type: string, maxLength: 512 }

    ConnectedExecutionEvidenceReportResponse:
      type: object
      additionalProperties: true
      required: [ok, evidence_report_id, connected_session_id, status, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        evidence_report_id: { type: string }
        connected_session_id: { type: string }
        status: { type: string }
        secrets_included: { type: boolean, enum: [false] }

    ConnectedExecutionResumeActionCreateRequest:
      type: object
      additionalProperties: true
      required: [action_kind]
      properties:
        resume_action_id: { type: string }
        tenant_id: { type: string }
        user_id: { type: string }
        action_order: { type: integer, minimum: 1 }
        action_kind:
          type: string
          enum: [tool_call, repo_operation, db_operation, provider_operation, local_device_operation, document_generation, analysis_step, approval_request, user_prompt, stop]
        action_key: { type: string }
        action_payload: { $ref: "#/components/schemas/JsonValue" }
        guardrails: { $ref: "#/components/schemas/JsonValue" }

    ConnectedExecutionResumeActionResponse:
      type: object
      additionalProperties: true
      required: [ok, resume_action_id, connected_session_id, status, executes_action, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        resume_action_id: { type: string }
        connected_session_id: { type: string }
        status: { type: string, enum: [pending] }
        executes_action: { type: boolean, enum: [false] }
        secrets_included: { type: boolean, enum: [false] }

    ConnectedExecutionResumeActionEnqueueRequest:
      type: object
      additionalProperties: false
      properties:
        requested_by: { type: string }
        idempotency_key: { type: string }
        trace_id: { type: string }

    ConnectedExecutionResumeActionEnqueueResponse:
      type: object
      additionalProperties: true
      required: [ok, connected_session_id, resume_action_id, action_kind, dry_run, will_execute_external_action, will_call_tools, will_mutate_repo, will_call_provider, will_call_local_device, secrets_included, job]
      properties:
        ok: { type: boolean }
        connected_session_id: { type: string }
        resume_action_id: { type: string }
        action_kind: { type: string, enum: [analysis_step, tool_call] }
        dry_run: { type: boolean, enum: [true] }
        will_execute_external_action: { type: boolean, enum: [false] }
        will_call_tools:
          type: boolean
          description: True only when an allowlisted read-only tool_call action explicitly opts into execution.
        will_preflight_tool_call: { type: boolean }
        will_execute_read_only_tool_call: { type: boolean }
        will_mutate_repo: { type: boolean, enum: [false] }
        will_call_provider: { type: boolean, enum: [false] }
        will_call_local_device: { type: boolean, enum: [false] }
        secrets_included: { type: boolean, enum: [false] }
        job:
          $ref: "#/components/schemas/JobSummary"

    HardActivationRunRequest:
      type: object
      additionalProperties: false
      properties:
        tenant_id: { type: string }
        user_id: { type: string }
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
        include_raw: { type: boolean, default: false }
        include_turns: { type: boolean, default: false }
        close_previous_sessions: { type: boolean, default: false }
        response_profile:
          type: string
          enum: [evidence, summary, dashboard, diagnostic, full]
          default: evidence
        session_policy:
          type: string
          enum: [reuse_or_create, create_new, reuse_only, read_only]
          default: reuse_or_create
        idempotency_key: { type: string, maxLength: 180 }
        conversation_ref: { type: string, maxLength: 500 }
        reuse_window_hours: { type: integer, minimum: 1, maximum: 168, default: 24 }
        container_key: { type: string }
        tab_key: { type: string }
        section_key: { type: string }
        cursor: { type: integer, minimum: 0, default: 0 }
        detail_limit: { type: integer, minimum: 1, maximum: 100, default: 25 }
        max_response_chars: { type: integer, minimum: 5000, maximum: 500000 }
        authorized_access_limit: { type: integer, minimum: 1, maximum: 100 }
        authorized_surface_limit: { type: integer, minimum: 1, maximum: 50 }
        provider_arguments:
          type: object
          additionalProperties: true

    HardActivationEvidenceStep:
      type: object
      additionalProperties: true
      properties:
        attempted: { type: boolean }
        ok: { type: boolean, nullable: true }
        activation_layer: { type: string, nullable: true }
        evidence_source: { type: string, nullable: true }

    HardActivationRunResponse:
      type: object
      additionalProperties: true
      required: [ok, activation_layer, activation_complete, response_profile, runtime_classification, evidence_matrix, completeness, report_policy, secrets_included]
      properties:
        ok: { type: boolean }
        activation_layer: { type: string, enum: [hard_activation_orchestrator] }
        activation_complete: { type: boolean }
        run_id: { type: string, nullable: true }
        session_id: { type: string, nullable: true }
        response_profile: { type: string, enum: [evidence, summary, dashboard, diagnostic, full] }
        snapshot:
          type: object
          additionalProperties: true
          properties:
            snapshot_id: { type: string }
            generated_at: { type: string, format: date-time }
            registry_version: { type: string, nullable: true }
            data_watermark: { type: string, format: date-time }
            profile: { type: string }
            subject_scope: { type: string, enum: [platform_admin, tenant_user] }
        state_model:
          type: object
          additionalProperties: false
          properties:
            validation_state: { type: string }
            evidence_state: { type: string }
            session_state: { type: string }
            dashboard_state: { type: string }
            delivery_state: { type: string }
            consumer_ack_state: { type: string }
        dynamic_tabs_manifest: { type: object, additionalProperties: true }
        operational_summary: { type: object, additionalProperties: true }
        operational_dashboard_manifest: { type: object, additionalProperties: true }
        completeness:
          type: object
          additionalProperties: true
          properties:
            known_surfaces: { type: integer }
            visible_surfaces: { type: integer }
            summarized_surfaces: { type: integer }
            fully_hydrated_surfaces: { type: integer }
            deferred_surfaces: { type: integer }
            blocked_surfaces: { type: integer }
            stale_surfaces: { type: integer }
            coverage_status: { type: string }
            details_omitted_silently: { type: boolean, enum: [false] }
        awareness_index: { type: object, additionalProperties: true }
        surface_refs:
          type: array
          items: { type: object, additionalProperties: true }
        response_projection: { type: object, additionalProperties: true }
        runtime_classification:
          type: object
          additionalProperties: true
          properties:
            activation_status: { type: string }
            status_authority: { type: string }
            reason_code: { type: string }
        evidence_matrix:
          type: object
          additionalProperties: true
          properties:
            session_context: { $ref: "#/components/schemas/HardActivationEvidenceStep" }
            provider_bootstrap: { $ref: "#/components/schemas/HardActivationEvidenceStep" }
        report_policy:
          type: object
          additionalProperties: true
          properties:
            may_report_session_context_loaded: { type: boolean }
            may_report_activation_complete: { type: boolean }
            session_context_claim_requires: { type: string }
        secrets_included: { type: boolean, enum: [false] }

    OperationalAlert:
      type: object
      additionalProperties: true
      required: [alert_key, fingerprint_sha256, source_type, category, severity, title, reason_code, lifecycle_status, verification_state, occurrence_count, first_seen_at, last_seen_at, manual_known_issue, persisted, secrets_included]
      properties:
        alert_id: { type: [string, 'null'] }
        alert_key: { type: string }
        fingerprint_sha256: { type: string, pattern: '^[a-f0-9]{64}$' }
        source_type: { type: string }
        source_ref: { type: [string, 'null'] }
        source_record_id: { type: [string, 'null'] }
        tenant_id: { type: [string, 'null'] }
        user_id: { type: [string, 'null'] }
        workspace_id: { type: [string, 'null'] }
        container_key: { type: [string, 'null'] }
        category: { type: string }
        severity: { type: string, enum: [info, low, medium, high, critical] }
        title: { type: string }
        summary: { type: [string, 'null'] }
        reason_code: { type: string }
        lifecycle_status: { type: string, enum: [open, acknowledged, investigating, resolved, ignored] }
        verification_state: { type: string, enum: [unverified, observed, verified, not_reproduced] }
        evidence_type: { type: [string, 'null'] }
        evidence_ref: { type: [string, 'null'] }
        evidence: { type: object, additionalProperties: true }
        execution_log_id: { type: [integer, 'null'] }
        trace_id: { type: [string, 'null'] }
        occurrence_count: { type: integer, minimum: 1 }
        first_seen_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time }
        recommended_action_key: { type: [string, 'null'] }
        requires_confirmation: { type: boolean }
        manual_known_issue: { type: boolean }
        persisted: { type: boolean }
        secrets_included: { type: boolean, enum: [false] }

    OperationalAlertReadResponse:
      type: object
      additionalProperties: false
      required: [attempted, ok, activation_layer, source_authority, subject, summary, final_result, page, completeness, source_health, policy, secrets_included]
      properties:
        attempted: { type: boolean, enum: [true] }
        ok: { type: boolean }
        activation_layer: { type: string, enum: [operational_alerting_control_plane] }
        source_authority: { type: string, enum: [sql_runtime_evidence_sources_plus_operational_alert_lifecycle] }
        subject: { type: object, additionalProperties: true }
        summary:
          type: object
          additionalProperties: true
          required: [total_count, open_count, known_issue_count, current_detected_count, by_severity, by_source, by_lifecycle, by_verification, returned_count, degraded_source_count, truncated_source_count]
          properties:
            total_count: { type: integer, minimum: 0 }
            open_count: { type: integer, minimum: 0 }
            known_issue_count: { type: integer, minimum: 0 }
            current_detected_count: { type: integer, minimum: 0 }
            returned_count: { type: integer, minimum: 0 }
            degraded_source_count: { type: integer, minimum: 0 }
            truncated_source_count: { type: integer, minimum: 0 }
            by_severity: { type: object, additionalProperties: { type: integer, minimum: 0 } }
            by_source: { type: object, additionalProperties: { type: integer, minimum: 0 } }
            by_lifecycle: { type: object, additionalProperties: { type: integer, minimum: 0 } }
            by_verification: { type: object, additionalProperties: { type: integer, minimum: 0 } }
        final_result:
          type: array
          items: { $ref: '#/components/schemas/OperationalAlert' }
        page:
          type: object
          additionalProperties: false
          required: [cursor, limit, returned_count, total_count, has_more]
          properties:
            cursor: { type: integer, minimum: 0 }
            limit: { type: integer, minimum: 1, maximum: 1000 }
            returned_count: { type: integer, minimum: 0 }
            total_count: { type: integer, minimum: 0 }
            has_more: { type: boolean }
            next_cursor: { type: [integer, 'null'], minimum: 0 }
        completeness:
          type: object
          additionalProperties: false
          required: [all_known_issues_visible, expected_known_issue_count, visible_known_issue_count, missing_known_issue_keys, all_matching_problems_returned_in_page, details_omitted_silently, degraded_sources, all_sources_untruncated, truncated_sources, final_result_complete]
          properties:
            all_known_issues_visible: { type: boolean }
            expected_known_issue_count: { type: integer, minimum: 0 }
            visible_known_issue_count: { type: integer, minimum: 0 }
            missing_known_issue_keys: { type: array, items: { type: string } }
            all_matching_problems_returned_in_page: { type: boolean }
            details_omitted_silently: { type: boolean, enum: [false] }
            degraded_sources: { type: array, items: { $ref: '#/components/schemas/OperationalAlertSourceHealth' } }
            all_sources_untruncated: { type: boolean }
            truncated_sources: { type: array, items: { $ref: '#/components/schemas/OperationalAlertSourceHealth' } }
            final_result_complete: { type: boolean }
        source_health:
          type: array
          items: { $ref: '#/components/schemas/OperationalAlertSourceHealth' }
        policy: { type: object, additionalProperties: true }
        secrets_included: { type: boolean, enum: [false] }

    OperationalAlertSourceHealth:
      type: object
      additionalProperties: false
      required: [source, ok, row_count, row_cap, truncated]
      properties:
        source: { type: string }
        ok: { type: boolean }
        row_count: { type: integer, minimum: 0 }
        row_cap: { type: [integer, 'null'], minimum: 1 }
        truncated: { type: boolean }
        error:
          oneOf:
            - type: object
              additionalProperties: true
            - type: 'null'

    OperationalAlertSyncResponse:
      type: object
      additionalProperties: false
      required: [ok, sync_run_id, sync_status, candidate_count, upserted_count, resolved_count, notification_queued_count, notification_skipped_count, degraded_sources, resolution_skipped_due_to_degraded_sources, readback, secrets_included]
      properties:
        ok: { type: boolean }
        sync_run_id: { type: string }
        sync_status: { type: string, enum: [completed, completed_degraded] }
        candidate_count: { type: integer, minimum: 0 }
        upserted_count: { type: integer, minimum: 0 }
        resolved_count: { type: integer, minimum: 0 }
        notification_queued_count: { type: integer, minimum: 0 }
        notification_skipped_count: { type: integer, minimum: 0 }
        degraded_sources: { type: array, items: { $ref: '#/components/schemas/OperationalAlertSourceHealth' } }
        resolution_skipped_due_to_degraded_sources: { type: boolean }
        readback: { $ref: '#/components/schemas/OperationalAlertReadResponse' }
        secrets_included: { type: boolean, enum: [false] }

    OperationalAlertLifecycleResponse:
      type: object
      additionalProperties: false
      required: [ok, alert, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        alert:
          type: object
          additionalProperties: true
          required: [alert_id, alert_key, severity, title, lifecycle_status, verification_state, updated_at]
        secrets_included: { type: boolean, enum: [false] }
    ActivationAwarenessResponse:
      type: object
      additionalProperties: true
      required: [ok, activation_layer, response_profile, snapshot, dynamic_tabs, operational_summary, dashboard, completeness, awareness_index, auth_context, secrets_included]
      properties:
        ok: { type: boolean }
        activation_layer: { type: string, enum: [activation_awareness_readback] }
        response_profile: { type: string, enum: [evidence, summary, dashboard, diagnostic, full] }
        snapshot: { type: object, additionalProperties: true }
        dynamic_tabs: { type: object, additionalProperties: true }
        operational_summary: { type: object, additionalProperties: true }
        dashboard: { type: object, additionalProperties: true }
        completeness:
          type: object
          additionalProperties: true
          required: [known_surfaces, visible_surfaces, summarized_surfaces, fully_hydrated_surfaces, deferred_surfaces, blocked_surfaces, stale_surfaces, coverage_status, details_omitted_silently]
          properties:
            known_surfaces: { type: integer }
            visible_surfaces: { type: integer }
            summarized_surfaces: { type: integer }
            fully_hydrated_surfaces: { type: integer }
            deferred_surfaces: { type: integer }
            blocked_surfaces: { type: integer }
            stale_surfaces: { type: integer }
            degraded_surfaces: { type: integer }
            coverage_status: { type: string }
            details_omitted_silently: { type: boolean, enum: [false] }
            deferred_details_have_refs: { type: boolean }
        awareness_index:
          type: object
          additionalProperties: false
          properties:
            score: { type: integer, minimum: 0, maximum: 100 }
            coverage: { type: integer, minimum: 0, maximum: 100 }
            freshness: { type: integer, minimum: 0, maximum: 100 }
            authorization_visibility: { type: integer, minimum: 0, maximum: 100 }
            attention_detection: { type: integer, minimum: 0, maximum: 100 }
            detail_availability: { type: integer, minimum: 0, maximum: 100 }
        auth_context: { type: object, additionalProperties: true }
        secrets_included: { type: boolean, enum: [false] }

    ActivationDynamicTabDetailResponse:
      type: object
      additionalProperties: true
      required: [ok, activation_layer, snapshot, subject, container, tab, sections, page, policy, secrets_included]
      properties:
        ok: { type: boolean }
        activation_layer: { type: string, enum: [activation_dynamic_tab_detail] }
        snapshot: { type: object, additionalProperties: true }
        subject: { type: object, additionalProperties: true }
        container: { type: object, additionalProperties: true }
        tab: { type: object, additionalProperties: true }
        sections:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              section_key: { type: string }
              row_count: { type: integer }
              rows:
                type: array
                items: { type: object, additionalProperties: true }
              page:
                type: object
                additionalProperties: false
                properties:
                  cursor: { type: integer }
                  limit: { type: integer }
                  has_more: { type: boolean }
                  next_cursor: { type: integer, nullable: true }
        page:
          type: object
          additionalProperties: false
          properties:
            cursor: { type: integer }
            limit: { type: integer }
            returned_rows: { type: integer }
            has_more: { type: boolean }
            next_cursor: { type: integer, nullable: true }
        policy: { type: object, additionalProperties: true }
        secrets_included: { type: boolean, enum: [false] }

    ActivationRunAckRequest:
      type: object
      additionalProperties: false
      properties:
        acknowledged_by: { type: string, maxLength: 180 }
        consumer_state: { type: string, enum: [acknowledged, rejected], default: acknowledged }

    ActivationRunAckResponse:
      type: object
      additionalProperties: false
      required: [ok, run_id, affected_rows, secrets_included]
      properties:
        ok: { type: boolean }
        run_id: { type: string }
        affected_rows: { type: integer }
        error: { type: object, nullable: true, additionalProperties: true }
        secrets_included: { type: boolean, enum: [false] }

    AuditPayloadEvidenceSmokeRequest:
      type: object
      additionalProperties: false
      properties:
        tenant_id: { type: string }
        actor_id: { type: string }
        cleanup: { type: boolean, default: true }
        max_preview_chars:
          type: integer
          minimum: 256
          maximum: 8000
          default: 4000

    AuditPayloadEvidenceSmokeCheck:
      type: object
      additionalProperties: true
      properties:
        name: { type: string }
        pass: { type: boolean }

    AuditPayloadEvidenceSmokeResponse:
      type: object
      additionalProperties: true
      required: [ok, status, smoke_type, checks, secret_values_returned, token_returned, secrets_included]
      properties:
        ok: { type: boolean }
        status: { type: string, enum: [pass, fail] }
        smoke_type: { type: string, enum: [audit_payload_evidence] }
        audit_id: { type: string }
        evidence_id: { type: string }
        redaction_status: { type: string, nullable: true }
        cleanup:
          type: object
          additionalProperties: true
          nullable: true
        checks:
          type: array
          items: { $ref: "#/components/schemas/AuditPayloadEvidenceSmokeCheck" }
        secret_values_returned: { type: boolean, enum: [false] }
        token_returned: { type: boolean, enum: [false] }
        secrets_included: { type: boolean, enum: [false] }

    PlatformGraphNode:
      type: object
      additionalProperties: true
      properties:
        node_id: { type: string }
        node_type: { type: string }
        node_label: { type: string, nullable: true }
        scope_type: { type: string }
        subject_ref: { type: string, nullable: true }
        source_table: { type: string, nullable: true }
        source_pk: { type: string, nullable: true }
        authority_status: { type: string }
        lifecycle_status: { type: string }
        visibility_scope: { type: string }
        sensitivity: { type: string }
        evidence_level: { type: string }
        runtime_role: { type: string }
        metadata_json: { $ref: "#/components/schemas/JsonValue" }

    PlatformGraphEdge:
      type: object
      additionalProperties: true
      properties:
        edge_id: { type: string }
        source_node_id: { type: string }
        edge_type: { type: string }
        target_node_id: { type: string }
        scope_type: { type: string }
        authority_status: { type: string }
        lifecycle_status: { type: string }
        visibility_scope: { type: string }
        sensitivity: { type: string }
        evidence_level: { type: string }
        runtime_role: { type: string }
        runtime_enforced: { type: integer }
        metadata_json: { $ref: "#/components/schemas/JsonValue" }

    PlatformGraphResolveContextRequest:
      type: object
      additionalProperties: true
      properties:
        node_id: { type: string }
        subject_type: { type: string }
        subject_ref: { type: string }
        tenant_id: { type: string }
        user_id: { type: string }
        device_id: { type: string }
        asset_id: { type: string }
        intent_key: { type: string }
        route_id: { type: string }
        task_key: { type: string }
        workflow_key: { type: string }
        action_key: { type: string }
        endpoint_key: { type: string }
        business_type_key: { type: string }
        knowledge_profile_key: { type: string }
        depth: { type: integer, minimum: 0, maximum: 3, default: 2 }
        limit: { type: integer, minimum: 1, maximum: 500, default: 200 }

    PlatformGraphContext:
      type: object
      additionalProperties: true
      properties:
        requested: { type: boolean }
        resolved: { type: boolean }
        start_node_ids:
          type: array
          items: { type: string }
        node_count: { type: integer }
        edge_count: { type: integer }
        validation_state: { type: string }
        authority_summary:
          type: object
          additionalProperties: true
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/PlatformGraphNode"
        edges:
          type: array
          items:
            $ref: "#/components/schemas/PlatformGraphEdge"

    PlatformGraphProjectRequest:
      type: object
      additionalProperties: false
      properties:
        projection_key: { type: string, default: runtime_projection }
        dry_run: { type: boolean, default: false }

    PlatformGraphProjectResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        run_id: { type: string }
        source_counts:
          type: object
          additionalProperties: true
        result_counts:
          type: object
          additionalProperties: true
        warnings:
          type: array
          items: {}
        secrets_included: { type: boolean, enum: [false] }

    PlatformGraphValidationResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        status: { type: string }
        run_id: { type: string }
        checked_nodes: { type: integer }
        checked_edges: { type: integer }
        failure_count: { type: integer }
        warning_count: { type: integer }
        failures:
          type: array
          items: {}
        warnings:
          type: array
          items: {}
        secrets_included: { type: boolean, enum: [false] }

    PlatformGraphMemoryAsset:
      type: object
      additionalProperties: true
      properties:
        asset_id: { type: string }
        asset_key: { type: string, nullable: true }
        asset_type: { type: string, nullable: true }
        target_node_id: { type: string }
        relevance_score: { type: integer }
        payload_summary:
          $ref: "#/components/schemas/JsonValue"
        secrets_included: { type: boolean, enum: [false] }

    PlatformGraphMemoryResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        requested: { type: boolean }
        resolved: { type: boolean }
        asset_count: { type: integer }
        subject_node_ids:
          type: array
          items: { type: string }
        assets:
          type: array
          items:
            $ref: "#/components/schemas/PlatformGraphMemoryAsset"
        secrets_included: { type: boolean, enum: [false] }

    GraphMemorySelectionPolicy:
      type: object
      additionalProperties: true
      description: Safe graph-memory selection metadata. Raw payload and secret values are never included.
      properties:
        limit: { type: integer }
        included_payload:
          type: string
          enum: [summary_only]
        full_json_payload_included: { type: boolean, enum: [false] }
        raw_secret_values_included: { type: boolean, enum: [false] }
        rank_weights_source:
          type: string
          enum: [db_rank_rules, fallback_code_defaults]
        rank_weights:
          type: object
          additionalProperties: { type: integer }

    GraphMemoryContextAsset:
      type: object
      additionalProperties: true
      properties:
        asset_id: { type: string, nullable: true }
        asset_key: { type: string, nullable: true }
        asset_type: { type: string, nullable: true }
        graph_rank: { type: integer }
        validation_status: { type: string, nullable: true }
        payload_summary:
          $ref: "#/components/schemas/JsonValue"

    GraphMemoryExecutionContext:
      type: object
      additionalProperties: true
      description: Advisory graph-memory context attached to endpoint execution responses. It never mutates transport.
      properties:
        requested: { type: boolean }
        resolved: { type: boolean }
        source: { type: string, enum: [platform_graph_memory] }
        usage: { type: string, enum: [execution_context_advisory] }
        applied_to_transport: { type: boolean, enum: [false] }
        asset_count: { type: integer }
        assets:
          type: array
          items: { $ref: "#/components/schemas/GraphMemoryContextAsset" }
        selection_policy: { $ref: "#/components/schemas/GraphMemorySelectionPolicy" }
        secrets_included: { type: boolean, enum: [false] }

    ActivationGraphContext:
      type: object
      additionalProperties: true
      description: Advisory graph-memory context attached to connect status, capabilities, and activation responses. Authority remains SQL tables plus same-cycle validation.
      properties:
        requested: { type: boolean }
        resolved: { type: boolean }
        source: { type: string, enum: [platform_graph_memory] }
        usage: { type: string, enum: [activation_resolver_advisory] }
        applied_to_authority: { type: boolean, enum: [false] }
        surface: { type: string }
        tenant_node: { type: string, nullable: true }
        user_node: { type: string, nullable: true }
        device_nodes:
          type: array
          items: { type: string }
        mode_hints:
          type: array
          items: { type: string }
        onboarding_state: { type: string, nullable: true }
        integration_summary:
          type: array
          items:
            type: object
            additionalProperties: true
        graph_node_ids:
          type: array
          items: { type: string }
        asset_count: { type: integer }
        policy_asset_keys:
          type: array
          items: { type: string }
        assets:
          type: array
          items: { $ref: "#/components/schemas/GraphMemoryContextAsset" }
        selection_policy: { $ref: "#/components/schemas/GraphMemorySelectionPolicy" }
        reason: { type: string, nullable: true }
        secrets_included: { type: boolean, enum: [false] }

    ExecuteHttpRequest:
      type: object
      additionalProperties: false
      required:
        - parent_action_key
        - endpoint_key
      properties:
        target_key:
          type: string
          description: >
            Brand or target selector resolved server-side through governed registries.
            Keep this as a top-level execution field, not inside body, when it is
            used for routing.
        brand:
          type: string
          description: Optional brand name resolver input.
        brand_domain:
          type: string
          description: Optional brand domain resolver input.
        provider_domain:
          type: string
          description: >
            Optional execution server source. May be omitted when the endpoint row
            defines a fixed provider domain or when governed placeholder resolution applies.
        parent_action_key:
          type: string
          description: Governing parent action key from Actions Registry.
        endpoint_key:
          type: string
          description: Governing endpoint key from API Actions Endpoint Registry.
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
          description: >
            Optional HTTP method override. When omitted, backend resolves the
            authoritative method from the endpoint registry/schema contract.
        path:
          type: string
          pattern: "^/"
          description: >
            Optional relative path override. When omitted, backend resolves the
            authoritative path from the endpoint registry/schema contract.
        path_params:
          $ref: "#/components/schemas/PathParamsObject"
        query:
          $ref: "#/components/schemas/QueryObject"
        headers:
          $ref: "#/components/schemas/StringMap"
          description: >
            Optional non-sensitive headers. Authorization must never be supplied by caller.
        body:
          $ref: "#/components/schemas/JsonValue"
        expect_json:
          type: boolean
          default: true
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
          description: Optional override bounded by backend policy.
        readback:
          $ref: "#/components/schemas/ReadbackRequest"
        force_refresh:
          type: boolean
          description: Force registry reload before execution.

    ExecuteHttpResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - status
        - provider_domain
        - parent_action_key
        - endpoint_key
        - method
        - path
      properties:
        ok:
          type: boolean
        status:
          type: integer
          description: Upstream HTTP status code or backend execution status.
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
        path:
          type: string
        openai_schema_file_id:
          type: string
        schema_name:
          type: string
        resolved_auth_mode:
          type: string
          enum:
            - ""
            - none
            - basic_auth
            - bearer_token
            - api_key_query
            - api_key_header
            - oauth_gpt_action
            - custom_headers
        runtime_capability_class:
          type: string
        runtime_callable:
          type: boolean
        registry_runtime_callable:
          type: boolean
        primary_executor:
          type: string
        endpoint_role:
          type: string
        execution_mode:
          type: string
        transport_required:
          type: boolean
        request_schema_alignment_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        response_schema_alignment_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        transport_request_contract_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        resolved_provider_domain_mode:
          type: string
          enum:
            - ""
            - fixed_domain
            - placeholder_runtime_resolved
            - brand_bound_domain
        placeholder_resolution_source:
          type: string
        resilience_applied:
          type: boolean
        final_query:
          type: object
          additionalProperties: true
        request_url:
          type: string
        graph_memory_context:
          $ref: "#/components/schemas/GraphMemoryExecutionContext"
        response_headers:
          type: object
          additionalProperties: true
        data:
          $ref: "#/components/schemas/JsonValue"
        readback:
          $ref: "#/components/schemas/ReadbackResult"
        upstream_status:
          type: integer
          description: Present on compact/specialized success envelopes.
        post_id:
          oneOf:
            - type: integer
            - type: string
        link:
          type: string
        error:
          $ref: "#/components/schemas/ErrorObject"

    ResolveContextDiagnosticRequest:
      type: object
      additionalProperties: true
      properties:
        business_type_key:
          type: string
          description: Business type key, for example hvac_air_conditioning_services.
        business_activity_type_key:
          type: string
          description: Optional business activity type key.
        knowledge_profile_key:
          type: string
          description: Optional business type knowledge profile key.
        brand_key:
          type: string
          description: Brand key, for example arab_cooling.
        target_key:
          type: string
          description: >
            Optional execution target key. When this diagnostic route is called
            through /http-execute, target_key should remain top-level in the
            governed execution envelope rather than inside body.
        mutation_intent:
          type: string
          default: resolve_context_diagnostic
        requestPayload:
          type: object
          additionalProperties: true
          description: Optional nested request payload for diagnostic testing.
        brand:
          type: object
          additionalProperties: true
          description: Optional brand context override for diagnostics.
        endpoint:
          type: object
          additionalProperties: true
          description: Optional endpoint context override for diagnostics.
        action:
          type: object
          additionalProperties: true
          description: Optional action context override for diagnostics.
      description: >
        Diagnostic payload for resolving governed business type, brand path,
        Brand Core, validation, and execution readiness without mutation.

    ResolveContextDiagnosticResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - diagnostic
      properties:
        ok:
          type: boolean
        diagnostic:
          type: object
          additionalProperties: true
          required:
            - resolution_status
            - knowledge_ready
            - execution_ready
          properties:
            request:
              type: object
              additionalProperties: true
            path_resolver_load:
              type: object
              additionalProperties: true
            resolution_status:
              type: string
              description: ready, validating, blocked, not_requested, or not_attempted.
            knowledge_ready:
              type: boolean
            execution_ready:
              type: boolean
            business_type:
              type: object
              additionalProperties: true
            brand:
              type: object
              additionalProperties: true
            brand_core:
              type: object
              additionalProperties: true
            validation_state:
              type: object
              additionalProperties: true
            execution_target:
              type: object
              additionalProperties: true

    JobCreateRequest:
      type: object
      additionalProperties: false
      properties:
        request_payload:
          $ref: "#/components/schemas/ExecuteHttpRequest"
        job_type:
          type: string
          default: http_execute
        max_attempts:
          type: integer
          minimum: 1
          maximum: 10
        webhook_url:
          type: string
          format: uri
        callback_secret:
          type: string
        idempotency_key:
          type: string
        target_key:
          type: string
        brand:
          type: string
        brand_domain:
          type: string
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
        path:
          type: string
          pattern: "^/"
        path_params:
          $ref: "#/components/schemas/PathParamsObject"
        query:
          $ref: "#/components/schemas/QueryObject"
        headers:
          $ref: "#/components/schemas/StringMap"
        body:
          $ref: "#/components/schemas/JsonValue"
        expect_json:
          type: boolean
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
        readback:
          $ref: "#/components/schemas/ReadbackRequest"
        force_refresh:
          type: boolean
      description: >
        Provide either request_payload or the top-level execution fields.
        Do not send both at once. After normalization, execution still requires
        parent_action_key and endpoint_key.

    JobSummary:
      type: object
      additionalProperties: false
      required:
        - job_id
        - job_type
        - status
        - created_at
        - updated_at
        - requested_by
        - target_key
        - parent_action_key
        - endpoint_key
        - attempt_count
        - max_attempts
        - status_url
        - result_url
      properties:
        job_id:
          type: string
        job_type:
          type: string
        status:
          type: string
          enum: [queued, running, retrying, succeeded, failed, cancelled]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        requested_by:
          type: string
        target_key:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        attempt_count:
          type: integer
        max_attempts:
          type: integer
        next_retry_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        status_url:
          type: string
        result_url:
          type: string
        deduplicated:
          type: boolean
        terminal:
          type: boolean
        active:
          type: boolean

    JobResultPending:
      type: object
      additionalProperties: false
      required: [job_id, status, message, status_url]
      properties:
        job_id:
          type: string
        status:
          type: string
        message:
          type: string
        status_url:
          type: string

    JobResultSuccess:
      type: object
      additionalProperties: false
      required: [job_id, status, result]
      properties:
        job_id:
          type: string
        status:
          type: string
        result:
          $ref: "#/components/schemas/JsonValue"

    JobResultFailure:
      type: object
      additionalProperties: false
      required: [job_id, status, error]
      properties:
        job_id:
          type: string
        status:
          type: string
        error:
          oneOf:
            - $ref: "#/components/schemas/ErrorResponse"
            - type: object
              additionalProperties: true

    JobTickResponse:
      type: object
      additionalProperties: true
      required: [ok, ticked, before_status, job, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        ticked: { type: boolean, enum: [true] }
        before_status: { type: string, enum: [queued] }
        job: { $ref: "#/components/schemas/JobSummary" }
        result: { $ref: "#/components/schemas/JsonValue" }
        error:
          oneOf:
            - $ref: "#/components/schemas/ErrorResponse"
            - type: object
              additionalProperties: true
            - type: "null"
        secrets_included: { type: boolean, enum: [false] }

    HealthResponse:
      type: object
      additionalProperties: false
      required: [ok, service, status, version, jobs, timestamp]
      properties:
        ok:
          type: boolean
        service:
          type: string
        status:
          type: string
        version:
          type: string
        jobs:
          type: object
          additionalProperties: false
          required: [total, queued_buffer_size, statuses]
          properties:
            total:
              type: integer
            queued_buffer_size:
              type: integer
            statuses:
              type: object
              additionalProperties: false
              required: [queued, running, succeeded, failed, retrying, cancelled]
              properties:
                queued:
                  type: integer
                running:
                  type: integer
                succeeded:
                  type: integer
                failed:
                  type: integer
                retrying:
                  type: integer
                cancelled:
                  type: integer
        dependencies:
          type: object
          additionalProperties: true
          description: Optional backend dependency health details, including database connectivity.
          properties:
            db:
              type: object
              additionalProperties: true
              properties:
                connected:
                  oneOf:
                    - type: boolean
                    - type: "null"
                error:
                  type: string
                skipped:
                  type: boolean
        timestamp:
          type: string
          format: date-time

    ErrorObject:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error]
      properties:
        ok:
          type: boolean
          enum: [false]
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean

    ToolItem:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
          description: Tool key; pass this as name to callTool.
        displayName:
          type: string
        description:
          type: string
        method:
          type: string
        path:
          type: string
        tags:
          type: array
          items:
            type: string
        inputSchema:
          type: object
          additionalProperties: true

    GptSession:
      type: object
      additionalProperties: true
      properties:
        session_id:
          type: string
        session_status:
          type: string
        turn_count:
          type: integer
        started_at:
          type: string
        ended_at:
          type: string
        drive_export_url:
          type: string

    TenantSafeDocItem:
      type: object
      additionalProperties: false
      required: [doc_path]
      properties:
        doc_path:
          type: string
          enum:
            - GPT_Tenant_Connector_Instructions.md
            - GPT_Tenant_Connector_Knowledge.md
            - docs/tenant-platform-plugin-self-serve.md
            - docs/local-manager-n8n-runtime-governance.md
            - docs/platform-plugin-tenant-install.md
            - docs/platform-plugin-private-runtime.md

    TenantDocsCatalogResponse:
      type: object
      additionalProperties: true
      required: [ok, docs, count, tenant_facing, auth_context, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        docs:
          type: array
          items: { $ref: "#/components/schemas/TenantSafeDocItem" }
        count: { type: integer }
        tenant_facing: { type: boolean, enum: [true] }
        auth_context:
          type: object
          additionalProperties: true
        secrets_included: { type: boolean, enum: [false] }

    TenantDocReadResponse:
      type: object
      additionalProperties: true
      required: [ok, path, content, truncated, source_authority, tenant_facing, auth_context, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        path: { type: string }
        content: { type: string }
        truncated: { type: boolean }
        size_chars: { type: integer }
        max_chars: { type: integer }
        source_authority: { type: string, enum: [repo_live_allowlisted] }
        tenant_facing: { type: boolean, enum: [true] }
        auth_context:
          type: object
          additionalProperties: true
        secrets_included: { type: boolean, enum: [false] }

    WordpressPublishAuthorityDiagnosticRequest:
      type: object
      additionalProperties: false
      required: [tenant_id, user_id]
      properties:
        tenant_id: { type: string, minLength: 1 }
        user_id: { type: string, minLength: 1 }
        connection_id: { type: string }
        brand_key: { type: string }
        target_key: { type: string }
        title: { type: string }
        content: { type: string }
        status: { type: string, enum: [draft, publish], default: draft }
        publish_status: { type: string, enum: [draft, publish] }
      anyOf:
        - required: [brand_key]
        - required: [target_key]

    WordpressPublishAuthorityDiagnosticResponse:
      type: object
      additionalProperties: true
      required: [ok, status, decision, executes_publish, applies_wordpress_post, secrets_included]
      properties:
        ok: { type: boolean }
        status: { type: string }
        decision: { type: string, enum: [allowed, legacy_allowed, blocked] }
        target_key: { type: string }
        requested_status: { type: string, enum: [draft, publish] }
        post_type: { type: string }
        site_id: { type: string, nullable: true }
        grant_id: { type: string, nullable: true }
        grant_status: { type: string, nullable: true }
        grant_required: { type: boolean }
        authority_checks:
          type: object
          additionalProperties: true
        error:
          oneOf:
            - $ref: "#/components/schemas/ErrorObject"
            - type: "null"
        executes_publish: { type: boolean, enum: [false] }
        applies_wordpress_post: { type: boolean, enum: [false] }
        secrets_included: { type: boolean, enum: [false] }

    ReleaseDashboardResponse:
      type: object
      additionalProperties: true
      required: [ok, overall, run_id, checked_at, release_status, source_of_truth, dashboard_role, secrets_included]
      properties:
        ok: { type: boolean }
        overall: { type: string, enum: [pass, warn, fail] }
        run_id: { type: string }
        checked_at: { type: string, format: date-time }
        release_status:
          type: object
          additionalProperties: true
        ledger:
          type: object
          additionalProperties: true
          properties:
            status: { type: string, nullable: true }
            total_entries: { type: integer, nullable: true }
            apply_count: { type: integer }
            record_only_count: { type: integer }
            expected_count: { type: integer, nullable: true }
            covered_count: { type: integer, nullable: true }
            missing_expected_count: { type: integer, nullable: true }
        admin_tool_registry_smoke:
          type: object
          additionalProperties: true
        migration_drift:
          type: object
          additionalProperties: true
        graph_memory:
          type: object
          additionalProperties: true
        degraded_surfaces:
          type: array
          items:
            type: object
            additionalProperties: true
        source_of_truth: { type: string, enum: [release_readiness] }
        dashboard_role: { type: string, enum: [compact_read_only_projection] }
        secrets_included: { type: boolean, enum: [false] }

    # -- Platform Evolution checkpoint schemas --------------------------------

    CredentialResolutionCandidate:
      type: object
      additionalProperties: true
      properties:
        source: { type: string }
        owner_type: { type: string, nullable: true }
        owner_id: { type: string, nullable: true }
        binding_id: { type: string, nullable: true }
        connection_id: { type: string, nullable: true }
        system_id: { type: string, nullable: true }
        installation_id: { type: string, nullable: true }
        action_key: { type: string, nullable: true }
        target_key: { type: string, nullable: true }
        credential_role: { type: string, nullable: true }
        credential_ref: { type: string, nullable: true }
        provider_family: { type: string, nullable: true }
        connector_family: { type: string, nullable: true }
        resolution_priority: { type: integer, nullable: true }
        status: { type: string, nullable: true }
        eligible_for_request: { type: boolean }
        ineligibility_reasons:
          type: array
          items: { type: string }
        secret_value_included: { type: boolean, enum: [false] }

    CredentialBindingPromoteTenantRequest:
      type: object
      additionalProperties: false
      required: [tenant_id, connection_id, credential_role, promotion_approved, promotion_reason]
      properties:
        tenant_id: { type: string }
        connection_id: { type: string }
        target_key: { type: string }
        action_key: { type: string }
        credential_role: { type: string }
        promotion_approved: { type: boolean, enum: [true] }
        promotion_reason:
          type: string
          minLength: 8
        provider_family: { type: string, default: wordpress }
        connector_family: { type: string, default: wordpress_rest }
        promoted_owner_type:
          type: string
          enum: [tenant]
          default: tenant
        resolution_priority: { type: integer, default: 20 }
        allow_platform_fallback: { type: boolean, default: true }
        created_by: { type: string }

    CredentialBindingPromoteTenantResponse:
      type: object
      additionalProperties: true
      required: [ok, binding_id, tenant_id, promoted_owner_type, credential_ref, credential_role, promotion_policy, readback, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        binding_id: { type: string }
        tenant_id: { type: string }
        promoted_owner_type: { type: string, enum: [tenant] }
        credential_ref: { type: string }
        target_key: { type: string, nullable: true }
        action_key: { type: string, nullable: true }
        credential_role: { type: string }
        resolution_priority: { type: integer }
        promotion_policy:
          type: object
          additionalProperties: true
          properties:
            mode: { type: string, enum: [tenant_connection_binding_promotion_v1] }
            source_connection_id: { type: string }
            source_user_id: { type: string }
            secret_copied: { type: boolean, enum: [false] }
            token_returned: { type: boolean, enum: [false] }
            secrets_included: { type: boolean, enum: [false] }
            platform_wide_promotion_enabled: { type: boolean, enum: [false] }
        readback:
          type: object
          additionalProperties: true
        secrets_included: { type: boolean, enum: [false] }

    CredentialEffectivePlanRequest:
      type: object
      additionalProperties: false
      required: [tenant_id, credential_role]
      properties:
        tenant_id: { type: string }
        user_id: { type: string }
        connection_id: { type: string }
        action_key: { type: string }
        target_key: { type: string }
        credential_role: { type: string }
        allow_platform_fallback: { type: boolean, default: true }

    CredentialEffectivePlanResponse:
      type: object
      additionalProperties: true
      required: [ok, request, policy, resolution_order, candidates, effective, total, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        request:
          type: object
          additionalProperties: true
        policy:
          type: object
          additionalProperties: true
          properties:
            platform_fallback_allowed_by_request: { type: boolean }
            credential_values_returned: { type: boolean, enum: [false] }
            secret_values_returned: { type: boolean, enum: [false] }
        resolution_order:
          type: array
          items: { type: string }
        candidates:
          type: array
          items: { $ref: "#/components/schemas/CredentialResolutionCandidate" }
        effective:
          type: object
          additionalProperties: true
        total: { type: integer }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionSwitchOption:
      type: object
      additionalProperties: true
      properties:
        scope_key: { type: string }
        tenant_id: { type: string }
        brand_key: { type: string }
        user_id: { type: string }
        email: { type: string, nullable: true }
        user_display_name: { type: string, nullable: true }
        membership_role: { type: string, nullable: true }
        assigned_role: { type: string, nullable: true }
        tenant_type: { type: string, nullable: true }
        tenant_display_name: { type: string, nullable: true }
        business_type_key: { type: string, nullable: true }
        knowledge_profile_key: { type: string, nullable: true }
        brand_path_status: { type: string, nullable: true }
        access_state: { type: string, enum: [allowed, not_granted] }

    PlatformEvolutionSwitchOptionsResponse:
      type: object
      additionalProperties: true
      required: [ok, count, switch_options, switch_policy, secrets_included]
      properties:
        ok: { type: boolean }
        count: { type: integer }
        switch_options:
          type: array
          items: { $ref: "#/components/schemas/PlatformEvolutionSwitchOption" }
        auth_context:
          type: object
          additionalProperties: true
        switch_policy:
          type: object
          additionalProperties: true
          properties:
            mode: { type: string }
            selected_scope_parameter: { type: string, enum: [scope_key] }
            requires_allowed_scope: { type: boolean, enum: [true] }
            checkpoint_write_enabled: { type: boolean, enum: [false] }
            tenant_checkpoint_write_enabled: { type: boolean, enum: [false] }
        tenant_facing: { type: boolean }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionActivationCard:
      type: object
      additionalProperties: true
      properties:
        scope_key: { type: string }
        latest_checkpoint_at: { type: string, format: date-time, nullable: true }
        latest_checkpoint_id: { type: string, nullable: true }
        latest_activation_status: { type: string, nullable: true }
        latest_main_commit_sha: { type: string, nullable: true }
        latest_deployed_commit_sha: { type: string, nullable: true }
        latest_summary_text: { type: string, nullable: true }
        thread_count: { type: integer }
        blocked_thread_count: { type: integer }
        validating_thread_count: { type: integer }
        active_thread_count: { type: integer }
        monitoring_thread_count: { type: integer }
        critical_thread_count: { type: integer }
        active_link_count: { type: integer }
        linked_task_count: { type: integer }
        linked_signal_count: { type: integer }
        linked_blocker_count: { type: integer }

    PlatformEvolutionActivationCardResponse:
      type: object
      additionalProperties: true
      required: [ok, scope_key, card, secrets_included]
      properties:
        ok: { type: boolean }
        scope_key: { type: string }
        card:
          oneOf:
            - $ref: "#/components/schemas/PlatformEvolutionActivationCard"
            - type: "null"
        auth_context:
          type: object
          additionalProperties: true
        access:
          type: object
          additionalProperties: true
        tenant_facing: { type: boolean }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionThreadMapItem:
      type: object
      additionalProperties: true
      properties:
        scope_key: { type: string }
        tenant_id: { type: string, nullable: true }
        user_id: { type: string, nullable: true }
        brand_key: { type: string, nullable: true }
        thread_key: { type: string }
        title: { type: string }
        category: { type: string }
        status: { type: string }
        priority: { type: string }
        current_phase: { type: string, nullable: true }
        classification: { type: string, nullable: true }
        owner_scope: { type: string }
        current_summary: { type: string, nullable: true }
        next_action: { type: string, nullable: true }
        blocked_by: { type: string, nullable: true }
        last_checkpoint_id: { type: string, nullable: true }
        updated_at: { type: string, format: date-time, nullable: true }
        active_link_count: { type: integer }
        linked_task_count: { type: integer }
        linked_signal_count: { type: integer }
        linked_blocker_count: { type: integer }
        latest_event_at: { type: string, format: date-time, nullable: true }

    PlatformEvolutionThreadMapResponse:
      type: object
      additionalProperties: true
      required: [ok, scope_key, count, threads, secrets_included]
      properties:
        ok: { type: boolean }
        scope_key: { type: string }
        count: { type: integer }
        threads:
          type: array
          items: { $ref: "#/components/schemas/PlatformEvolutionThreadMapItem" }
        auth_context:
          type: object
          additionalProperties: true
        tenant_facing: { type: boolean }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionOpenEvidenceItem:
      type: object
      additionalProperties: true
      properties:
        scope_key: { type: string }
        tenant_id: { type: string, nullable: true }
        user_id: { type: string, nullable: true }
        brand_key: { type: string, nullable: true }
        thread_key: { type: string }
        linked_surface: { type: string }
        linked_ref: { type: string }
        linked_ref_key: { type: string }
        link_role: { type: string }
        classification: { type: string, nullable: true }
        link_status: { type: string }
        linked_title: { type: string, nullable: true }
        linked_priority: { type: string, nullable: true }
        linked_item_status: { type: string, nullable: true }
        linked_updated_at: { type: string, format: date-time, nullable: true }
        metadata_json:
          oneOf:
            - $ref: "#/components/schemas/JsonValue"
            - type: string
            - type: "null"
        linked_at: { type: string, format: date-time, nullable: true }

    PlatformEvolutionOpenEvidenceResponse:
      type: object
      additionalProperties: true
      required: [ok, scope_key, count, evidence, secrets_included]
      properties:
        ok: { type: boolean }
        scope_key: { type: string }
        count: { type: integer }
        evidence:
          type: array
          items: { $ref: "#/components/schemas/PlatformEvolutionOpenEvidenceItem" }
        auth_context:
          type: object
          additionalProperties: true
        tenant_facing: { type: boolean }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionCmsClaimSmokeRequest:
      type: object
      additionalProperties: false
      required: [tenant_id, connection_id, target_key]
      properties:
        tenant_id: { type: string }
        user_id: { type: string }
        connection_id: { type: string }
        target_key: { type: string }
        site_url: { type: string }
        normalized_domain: { type: string }
        credential_role: { type: string, default: wordpress_app_password }
        claim_id: { type: string }
        transport_mode:
          type: string
          enum: [direct_scope]
          default: direct_scope

    PlatformEvolutionCmsClaimSmokeResult:
      type: object
      additionalProperties: true
      properties:
        status: { type: string }
        claim_id: { type: string }
        tenant_id: { type: string }
        user_id: { type: string }
        connection_id: { type: string }
        target_key: { type: string }
        credential_role: { type: string }
        binding_id: { type: string }
        jwt_verified: { type: boolean }
        effective_status: { type: string, nullable: true }
        effective_owner_type: { type: string, nullable: true }
        effective_binding_id: { type: string, nullable: true }
        effective_connection_id: { type: string, nullable: true }
        secret_copied: { type: boolean, enum: [false] }
        token_returned: { type: boolean, enum: [false] }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionCmsClaimSmokeResponse:
      type: object
      additionalProperties: true
      required: [ok, transport_mode, result, smoke_policy, secrets_included]
      properties:
        ok: { type: boolean }
        transport_mode: { type: string, enum: [direct_scope] }
        result: { $ref: "#/components/schemas/PlatformEvolutionCmsClaimSmokeResult" }
        smoke_policy:
          type: object
          additionalProperties: true
          properties:
            token_returned: { type: boolean, enum: [false] }
            jwt_ttl_seconds: { type: integer, enum: [300] }
            secret_copied: { type: boolean, enum: [false] }
            secrets_included: { type: boolean, enum: [false] }
            direct_http_route_smoke: { type: boolean, enum: [false] }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionTenantSmokeRequest:
      type: object
      additionalProperties: false
      properties:
        user_id: { type: string }
        email: { type: string }
        tenant_id: { type: string }
        brand_key: { type: string }
        scope_key: { type: string }
        transport_mode:
          type: string
          enum: [direct_scope, http_self_call]
          default: direct_scope
        include_write:
          type: boolean
          default: false
          description: When true in direct_scope mode, also creates a scoped tenant checkpoint write-smoke row without returning secrets or tokens.

    PlatformEvolutionTenantSmokeCheck:
      type: object
      additionalProperties: false
      properties:
        status: { type: integer }
        ok: { type: boolean }
        response_ok: { type: boolean }
        count: { type: integer, nullable: true }
        scope_key: { type: string, nullable: true }
        secrets_included: { type: boolean, enum: [false] }
        error_code: { type: string, nullable: true }
        checkpoint_id: { type: string, nullable: true }

    PlatformEvolutionTenantSmokeResponse:
      type: object
      additionalProperties: true
      required: [ok, scope_key, checks, smoke_policy, secrets_included]
      properties:
        ok: { type: boolean }
        scope_key: { type: string }
        tenant_id: { type: string }
        brand_key: { type: string }
        user_id: { type: string }
        transport_mode:
          type: string
          enum: [direct_scope, http_self_call]
        jwt_verified:
          type: boolean
          nullable: true
        checks:
          type: object
          additionalProperties: false
          properties:
            switch_options: { $ref: "#/components/schemas/PlatformEvolutionTenantSmokeCheck" }
            activation_card: { $ref: "#/components/schemas/PlatformEvolutionTenantSmokeCheck" }
            thread_map: { $ref: "#/components/schemas/PlatformEvolutionTenantSmokeCheck" }
            checkpoint_write: { $ref: "#/components/schemas/PlatformEvolutionTenantSmokeCheck" }
        smoke_policy:
          type: object
          additionalProperties: false
          properties:
            token_returned: { type: boolean, enum: [false] }
            jwt_ttl_seconds: { type: integer, enum: [300] }
            tenant_checkpoint_write_enabled: { type: boolean, enum: [false] }
            runtime_base_url: { type: string }
        secrets_included: { type: boolean, enum: [false] }

    TenantEvolutionCheckpointCreateRequest:
      type: object
      additionalProperties: false
      required: [summary_text]
      properties:
        scope_key: { type: string }
        brand_key: { type: string }
        checkpoint_id: { type: string }
        checkpoint_type:
          type: string
          enum: [operation, manual, rollup]
          default: operation
        summary_text:
          type: string
          maxLength: 4000
        thread_snapshot: { $ref: "#/components/schemas/JsonValue" }
        delta: { $ref: "#/components/schemas/JsonValue" }
        evidence: { $ref: "#/components/schemas/JsonValue" }
        next_actions:
          type: array
          items: { type: string }

    TenantEvolutionCheckpointCreateResponse:
      type: object
      additionalProperties: true
      required: [ok, checkpoint_id, scope_key, checkpoint_type, tenant_facing, write_policy, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        checkpoint_id: { type: string }
        scope_key: { type: string }
        checkpoint_type: { type: string, enum: [operation, manual, rollup] }
        tenant_facing: { type: boolean, enum: [true] }
        write_policy:
          type: object
          additionalProperties: true
          properties:
            mode: { type: string, enum: [tenant_scope_write_policy_v1] }
            platform_commit_fields_accepted: { type: boolean, enum: [false] }
            allowed_roles:
              type: array
              items: { type: string }
        secrets_included: { type: boolean, enum: [false] }

    PlatformEvolutionCheckpointCreateRequest:
      type: object
      additionalProperties: true
      required: [summary_text]
      properties:
        scope_key: { type: string }
        brand_key: { type: string }
        tenant_id: { type: string }
        user_id: { type: string }
        checkpoint_type:
          type: string
          enum: [activation, operation, manual, rollup, recovery]
          default: operation
        activation_session_id: { type: string }
        main_commit_sha: { type: string, nullable: true }
        deployed_commit_sha: { type: string, nullable: true }
        activation_status: { type: string, nullable: true }
        release_readiness_status: { type: string, nullable: true }
        summary_text: { type: string }
        thread_snapshot: { $ref: "#/components/schemas/JsonValue" }
        delta: { $ref: "#/components/schemas/JsonValue" }
        evidence: { $ref: "#/components/schemas/JsonValue" }
        next_actions:
          type: array
          items: { type: string }
        created_by: { type: string }

    PlatformEvolutionCheckpointCreateResponse:
      type: object
      additionalProperties: false
      required: [ok, checkpoint_id, scope_key, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        checkpoint_id: { type: string }
        scope_key: { type: string }
        secrets_included: { type: boolean, enum: [false] }

    # -- Local Manager schemas ------------------------------------------------

    LocalManagerDeviceLinkSession:
      type: object
      additionalProperties: false
      properties:
        session_id: { type: string }
        status: { type: string, enum: [pending, approved, completed, expired, cancelled] }
        device_id: { type: string }
        hostname: { type: string, nullable: true }
        platform: { type: string, nullable: true }
        app_version: { type: string, nullable: true }
        user_id: { type: string, nullable: true }
        tenant_id: { type: string, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time, nullable: true }
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    LocalManagerDeviceLinkPublicSession:
      allOf:
        - $ref: "#/components/schemas/LocalManagerDeviceLinkSession"
      description: Secret-free pairing preview. Implementations must not include user_id, tenant_id, poll token, or device token.

    LocalManagerDeviceLinkStartRequest:
      type: object
      additionalProperties: true
      properties:
        device_id: { type: string }
        hostname: { type: string }
        device_name: { type: string }
        platform: { type: string, default: windows }
        app_version: { type: string }

    LocalManagerDeviceLinkStartResponse:
      type: object
      additionalProperties: false
      required: [ok, session_id, device_code, user_code, verification_uri, verification_uri_complete, expires_in, interval, poll_token, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        session_id: { type: string }
        device_code: { type: string }
        user_code: { type: string }
        verification_uri: { type: string, format: uri }
        verification_uri_complete: { type: string, format: uri }
        expires_in: { type: integer }
        interval: { type: integer }
        poll_token: { type: string }
        secrets_included: { type: boolean, enum: [false] }

    LocalManagerDeviceLinkPreviewResponse:
      type: object
      additionalProperties: false
      required: [ok, status, device, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        status: { type: string }
        device:
          $ref: "#/components/schemas/LocalManagerDeviceLinkPublicSession"
        secrets_included: { type: boolean, enum: [false] }

    LocalManagerDeviceLinkCodeRequest:
      type: object
      additionalProperties: false
      properties:
        code: { type: string }
        device_code: { type: string }
        user_code: { type: string }

    LocalManagerDeviceLinkPollRequest:
      allOf:
        - $ref: "#/components/schemas/LocalManagerDeviceLinkCodeRequest"
        - type: object
          required: [poll_token]
          properties:
            poll_token: { type: string }

    LocalManagerDeviceLinkPollResponse:
      type: object
      additionalProperties: true
      required: [ok, status, secrets_included]
      properties:
        ok: { type: boolean }
        status: { type: string }
        interval: { type: integer }
        expires_at: { type: string, format: date-time }
        device_access_token: { type: string }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer }
        device:
          $ref: "#/components/schemas/LocalManagerDeviceLinkSession"
        secrets_included: { type: boolean, enum: [false] }
        error:
          $ref: "#/components/schemas/ErrorObject"

    LocalManagerUserSummary:
      type: object
      additionalProperties: true
      properties:
        user_id: { type: string }
        email: { type: string }
        display_name: { type: string, nullable: true }
        tenant_id: { type: string, nullable: true }
        role: { type: string, nullable: true }
        tenant_display_name: { type: string, nullable: true }

    LocalManagerDeviceLinkApproveResponse:
      type: object
      additionalProperties: false
      required: [ok, status, user, device, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        status: { type: string, enum: [approved] }
        user:
          $ref: "#/components/schemas/LocalManagerUserSummary"
        device:
          $ref: "#/components/schemas/LocalManagerDeviceLinkSession"
        secrets_included: { type: boolean, enum: [false] }

    LocalManagerLinkedDevicesResponse:
      type: object
      additionalProperties: false
      required: [ok, user, devices, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        user:
          $ref: "#/components/schemas/LocalManagerUserSummary"
        devices:
          type: array
          items:
            $ref: "#/components/schemas/LocalManagerDeviceLinkSession"
        secrets_included: { type: boolean, enum: [false] }

    LocalManagerDeviceSessionResponse:
      type: object
      additionalProperties: true
      required: [ok, device, controls, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        device:
          type: object
          additionalProperties: true
        controls:
          type: object
          additionalProperties: true
        secrets_included: { type: boolean, enum: [false] }

    LocalManagerDeviceControlsResponse:
      type: object
      additionalProperties: true
      required: [ok, section, device, controls, token_scope, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        section: { type: string, enum: [overview, routes, backups, settings] }
        device:
          type: object
          additionalProperties: true
        controls:
          type: object
          additionalProperties: true
        token_scope: { type: string, enum: [local_manager.device] }
        secrets_included: { type: boolean, enum: [false] }

    LocalManagerWindowsUpdateResponse:
      type: object
      additionalProperties: false
      required: [ok, platform, app, latest_version, update_available, download_url, direct_download_url, secrets_included]
      properties:
        ok: { type: boolean, enum: [true] }
        platform: { type: string, enum: [windows] }
        app: { type: string, enum: [mad4b-local-manager] }
        latest_version: { type: string }
        current_version: { type: string, nullable: true }
        update_available:
          oneOf:
            - type: boolean
            - type: "null"
        required: { type: boolean }
        minimum_supported_version: { type: string, nullable: true }
        release_channel: { type: string }
        release_tag: { type: string }
        download_url: { type: string }
        direct_download_url: { type: string, format: uri }
        sha256_url: { type: string, format: uri }
        sha256: { type: string, nullable: true }
        release_notes:
          type: array
          items: { type: string }
        registry_source: { type: string }
        checked_at: { type: string, format: date-time }
        secrets_included: { type: boolean, enum: [false] }

    # â”€â”€ AI resolver schemas â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

    AiIntentMaturation:
      type: object
      additionalProperties: true
      description: >
        First-class intent maturation context produced by the AI resolver.
        Carry the full object forward from /ai/implementation-plan into
        /ai/task-manifest to preserve route/workflow continuity.
      properties:
        intent_key:
          type: string
          description: Resolved intent key, e.g. ai_implementation_plan_generation.
        resolver_type:
          type: string
          enum: [implementation_plan, task_manifest]
        maturation_status:
          type: string
          enum: [matured, blocked]
        upstream_resolver_type:
          type: string
          description: resolver_type from the prior route, if applicable.
        upstream_intent_key:
          type: string
          description: intent_key from the prior route, if applicable.
        execution_intent:
          type: object
          additionalProperties: true
        route_workflow_state:
          type: object
          additionalProperties: true
        mutation_intent:
          type: object
          additionalProperties: true
        blocked_reason:
          type: string
[...]
