openapi: 3.1.0

info:
  title: Governed HTTP Client â€” AI Platform
  version: 3.0.0-platform
  summary: >
    Multi-tenant AI-native orchestration platform with governed execution, async jobs,
    AI resolvers, and full platform management API (tenants, identity, access, workflows,
    observability, security, developer API, and release readiness).
  description: >
    OpenAPI schema for the Governed AI + Human Managed Platform backend.
    Covers three capability layers:
    (1) Governed execution â€” /http-execute, /jobs/*, /governance/*, /ai/*
    (2) Platform management â€” /tenants, /users, /plans, /subscriptions, /customers,
        /tickets, /connected-systems, /workspaces, /planner/*, /bootstrap/*,
        /logic-definitions, /logic-packs, /workflow-runs, /approval-holds,
        /telemetry/*, /usage/*, /audit-log, /incidents, /developer-apps,
        /api-credentials, /webhooks, /rate-limit-rules
    (3) Release operations â€” /release/readiness, /release/readiness-history,
        /release/entity-classification
    Platform endpoints accept admin/service authentication via BACKEND_API_KEY, or user authentication via a signed login JWT.

servers:
  - url: https://auth.mad4b.com
    description: Governed HTTP backend

tags:
  - name: health
    description: Backend health and queue status.
  - name: activation
    description: Once-per-session activation probes, session history, and scope context.
  - name: jobs
    description: Async governed execution jobs.
  - name: execution
    description: Synchronous governed HTTP execution.
  - name: governance
    description: Runtime governance diagnostics.
  - name: ai
    description: AI generation resolvers for implementation plans and task manifests.
  - name: tenants
    description: Multi-tenant provisioning, relationships, and memberships.
  - name: identity
    description: Users, role assignments, plans, subscriptions, and assistance roles.
  - name: access
    description: 6-outcome access decision engine and request envelope log.
  - name: customers
    description: Customer records, contacts, tickets, and timeline events.
  - name: connected-systems
    description: Connected systems, installations, permission grants, and workspaces.
  - name: planner
    description: Intent resolution and execution plan management.
  - name: bootstrap
    description: Tenant bootstrap readiness checks and onboarding state.
  - name: logic
    description: Logic definitions, logic packs, and adaptation records.
  - name: workflows
    description: Workflow runs, step runs, and human-in-the-loop approval holds.
  - name: observability
    description: Telemetry spans, usage metering, and quota enforcement.
  - name: security
    description: Immutable audit log, secret references, incidents, and compliance.
  - name: developer-api
    description: Developer apps, API credentials (key generation), webhooks, and rate limits.
  - name: admin-control
    description: Personal administrator control surface for CLI, database, and runtime environment operations.
  - name: system-layer
    description: MCP-style governed system layer backed by connector registries, principal context, and runtime validation.
  - name: release
    description: Release readiness checks, history, and entity classification inventory.

components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: >
        Send Authorization: Bearer <BACKEND_API_KEY> for admin/service access, or
        Authorization: Bearer <USER_JWT> after user sign-in.
    backendApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        Admin/service Custom GPT-safe backend authentication header. Send
        x-api-key: <BACKEND_API_KEY>. This key should be scoped to the admin user/service identity.

  schemas:

    SchemaImportJob:
      type: object
      additionalProperties: true
      properties:
        job_id: { type: string }
        action_key: { type: string }
        source_type:
          type: string
          enum: [upload, repo_link, rollback]
        source_url: { type: string, nullable: true }
        source_ref: { type: string, nullable: true }
        source_filename: { type: string, nullable: true }
        endpoints_upserted: { type: integer }
        endpoints_deprecated: { type: integer }
        warnings:
          type: array
          items: { type: string }
          nullable: true
        status:
          type: string
          enum: [pending, completed, failed]
        error_message: { type: string, nullable: true }
        imported_by: { type: string, nullable: true }
        imported_at: { type: string, format: date-time }

    ReadbackRequest:
      type: object
      additionalProperties: false
      properties:
        required:
          type: boolean
          default: false
        mode:
          type: string
          enum: [none, echo, location_followup]
          default: none

    ReadbackResult:
      type: object
      properties: {}
      additionalProperties: true
      description: Optional readback result when requested and available.

    QueryObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
          - type: "null"

    StringMap:
      type: object
      properties: {}
      additionalProperties:
        type: string

    PathParamsObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean

    JsonValue:
      oneOf:
        - type: object
          properties: {}
          additionalProperties: true
        - type: array
          items: {}
        - type: string
        - type: number
        - type: integer
        - type: boolean
        - type: "null"

    ExecuteHttpRequest:
      type: object
      additionalProperties: false
      required:
        - parent_action_key
        - endpoint_key
      properties:
        target_key:
          type: string
          description: >
            Brand or target selector resolved server-side through governed registries.
            Keep this as a top-level execution field, not inside body, when it is
            used for routing.
        brand:
          type: string
          description: Optional brand name resolver input.
        brand_domain:
          type: string
          description: Optional brand domain resolver input.
        provider_domain:
          type: string
          description: >
            Optional execution server source. May be omitted when the endpoint row
            defines a fixed provider domain or when governed placeholder resolution applies.
        parent_action_key:
          type: string
          description: Governing parent action key from Actions Registry.
        endpoint_key:
          type: string
          description: Governing endpoint key from API Actions Endpoint Registry.
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
          description: >
            Optional HTTP method override. When omitted, backend resolves the
            authoritative method from the endpoint registry/schema contract.
        path:
          type: string
          pattern: "^/"
          description: >
            Optional relative path override. When omitted, backend resolves the
            authoritative path from the endpoint registry/schema contract.
        path_params:
          $ref: "#/components/schemas/PathParamsObject"
        query:
          $ref: "#/components/schemas/QueryObject"
        headers:
          $ref: "#/components/schemas/StringMap"
          description: >
            Optional non-sensitive headers. Authorization must never be supplied by caller.
        body:
          $ref: "#/components/schemas/JsonValue"
        expect_json:
          type: boolean
          default: true
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
          description: Optional override bounded by backend policy.
        readback:
          $ref: "#/components/schemas/ReadbackRequest"
        force_refresh:
          type: boolean
          description: Force registry reload before execution.

    ExecuteHttpResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - status
        - provider_domain
        - parent_action_key
        - endpoint_key
        - method
        - path
      properties:
        ok:
          type: boolean
        status:
          type: integer
          description: Upstream HTTP status code or backend execution status.
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
        path:
          type: string
        openai_schema_file_id:
          type: string
        schema_name:
          type: string
        resolved_auth_mode:
          type: string
          enum:
            - ""
            - none
            - basic_auth
            - bearer_token
            - api_key_query
            - api_key_header
            - oauth_gpt_action
            - custom_headers
        runtime_capability_class:
          type: string
        runtime_callable:
          type: boolean
        registry_runtime_callable:
          type: boolean
        primary_executor:
          type: string
        endpoint_role:
          type: string
        execution_mode:
          type: string
        transport_required:
          type: boolean
        request_schema_alignment_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        response_schema_alignment_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        transport_request_contract_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        resolved_provider_domain_mode:
          type: string
          enum:
            - ""
            - fixed_domain
            - placeholder_runtime_resolved
            - brand_bound_domain
        placeholder_resolution_source:
          type: string
        resilience_applied:
          type: boolean
        final_query:
          type: object
          additionalProperties: true
        request_url:
          type: string
        response_headers:
          type: object
          additionalProperties: true
        data:
          $ref: "#/components/schemas/JsonValue"
        readback:
          $ref: "#/components/schemas/ReadbackResult"
        upstream_status:
          type: integer
          description: Present on compact/specialized success envelopes.
        post_id:
          oneOf:
            - type: integer
            - type: string
        link:
          type: string
        error:
          $ref: "#/components/schemas/ErrorObject"

    ResolveContextDiagnosticRequest:
      type: object
      additionalProperties: true
      properties:
        business_type_key:
          type: string
          description: Business type key, for example hvac_air_conditioning_services.
        business_activity_type_key:
          type: string
          description: Optional business activity type key.
        knowledge_profile_key:
          type: string
          description: Optional business type knowledge profile key.
        brand_key:
          type: string
          description: Brand key, for example arab_cooling.
        target_key:
          type: string
          description: >
            Optional execution target key. When this diagnostic route is called
            through /http-execute, target_key should remain top-level in the
            governed execution envelope rather than inside body.
        mutation_intent:
          type: string
          default: resolve_context_diagnostic
        requestPayload:
          type: object
          additionalProperties: true
          description: Optional nested request payload for diagnostic testing.
        brand:
          type: object
          additionalProperties: true
          description: Optional brand context override for diagnostics.
        endpoint:
          type: object
          additionalProperties: true
          description: Optional endpoint context override for diagnostics.
        action:
          type: object
          additionalProperties: true
          description: Optional action context override for diagnostics.
      description: >
        Diagnostic payload for resolving governed business type, brand path,
        Brand Core, validation, and execution readiness without mutation.

    ResolveContextDiagnosticResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - diagnostic
      properties:
        ok:
          type: boolean
        diagnostic:
          type: object
          additionalProperties: true
          required:
            - resolution_status
            - knowledge_ready
            - execution_ready
          properties:
            request:
              type: object
              additionalProperties: true
            path_resolver_load:
              type: object
              additionalProperties: true
            resolution_status:
              type: string
              description: ready, validating, blocked, not_requested, or not_attempted.
            knowledge_ready:
              type: boolean
            execution_ready:
              type: boolean
            business_type:
              type: object
              additionalProperties: true
            brand:
              type: object
              additionalProperties: true
            brand_core:
              type: object
              additionalProperties: true
            validation_state:
              type: object
              additionalProperties: true
            execution_target:
              type: object
              additionalProperties: true

    JobCreateRequest:
      type: object
      additionalProperties: false
      properties:
        request_payload:
          $ref: "#/components/schemas/ExecuteHttpRequest"
        job_type:
          type: string
          default: http_execute
        max_attempts:
          type: integer
          minimum: 1
          maximum: 10
        webhook_url:
          type: string
          format: uri
        callback_secret:
          type: string
        idempotency_key:
          type: string
        target_key:
          type: string
        brand:
          type: string
        brand_domain:
          type: string
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
        path:
          type: string
          pattern: "^/"
        path_params:
          $ref: "#/components/schemas/PathParamsObject"
        query:
          $ref: "#/components/schemas/QueryObject"
        headers:
          $ref: "#/components/schemas/StringMap"
        body:
          $ref: "#/components/schemas/JsonValue"
        expect_json:
          type: boolean
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
        readback:
          $ref: "#/components/schemas/ReadbackRequest"
        force_refresh:
          type: boolean
      description: >
        Provide either request_payload or the top-level execution fields.
        Do not send both at once. After normalization, execution still requires
        parent_action_key and endpoint_key.

    JobSummary:
      type: object
      additionalProperties: false
      required:
        - job_id
        - job_type
        - status
        - created_at
        - updated_at
        - requested_by
        - target_key
        - parent_action_key
        - endpoint_key
        - attempt_count
        - max_attempts
        - status_url
        - result_url
      properties:
        job_id:
          type: string
        job_type:
          type: string
        status:
          type: string
          enum: [queued, running, retrying, succeeded, failed, cancelled]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        requested_by:
          type: string
        target_key:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        attempt_count:
          type: integer
        max_attempts:
          type: integer
        next_retry_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        status_url:
          type: string
        result_url:
          type: string
        deduplicated:
          type: boolean
        terminal:
          type: boolean
        active:
          type: boolean

    JobResultPending:
      type: object
      additionalProperties: false
      required: [job_id, status, message, status_url]
      properties:
        job_id:
          type: string
        status:
          type: string
        message:
          type: string
        status_url:
          type: string

    JobResultSuccess:
      type: object
      additionalProperties: false
      required: [job_id, status, result]
      properties:
        job_id:
          type: string
        status:
          type: string
        result:
          $ref: "#/components/schemas/JsonValue"

    JobResultFailure:
      type: object
      additionalProperties: false
      required: [job_id, status, error]
      properties:
        job_id:
          type: string
        status:
          type: string
        error:
          oneOf:
            - $ref: "#/components/schemas/ErrorResponse"
            - type: object
              additionalProperties: true

    HealthResponse:
      type: object
      additionalProperties: false
      required: [ok, service, status, version, jobs, timestamp]
      properties:
        ok:
          type: boolean
        service:
          type: string
        status:
          type: string
        version:
          type: string
        jobs:
          type: object
          additionalProperties: false
          required: [total, queued_buffer_size, statuses]
          properties:
            total:
              type: integer
            queued_buffer_size:
              type: integer
            statuses:
              type: object
              additionalProperties: false
              required: [queued, running, succeeded, failed, retrying, cancelled]
              properties:
                queued:
                  type: integer
                running:
                  type: integer
                succeeded:
                  type: integer
                failed:
                  type: integer
                retrying:
                  type: integer
                cancelled:
                  type: integer
        dependencies:
          type: object
          additionalProperties: true
          description: Optional backend dependency health details, including database connectivity.
          properties:
            db:
              type: object
              additionalProperties: true
              properties:
                connected:
                  oneOf:
                    - type: boolean
                    - type: "null"
                error:
                  type: string
                skipped:
                  type: boolean
        timestamp:
          type: string
          format: date-time

    ErrorObject:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error]
      properties:
        ok:
          type: boolean
          enum: [false]
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean

    # â”€â”€ AI resolver schemas â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

    AiIntentMaturation:
      type: object
      additionalProperties: true
      description: >
        First-class intent maturation context produced by the AI resolver.
        Carry the full object forward from /ai/implementation-plan into
        /ai/task-manifest to preserve route/workflow continuity.
      properties:
        intent_key:
          type: string
          description: Resolved intent key, e.g. ai_implementation_plan_generation.
        resolver_type:
          type: string
          enum: [implementation_plan, task_manifest]
        maturation_status:
          type: string
          enum: [matured, blocked]
        upstream_resolver_type:
          type: string
          description: resolver_type from the prior route, if applicable.
        upstream_intent_key:
          type: string
          description: intent_key from the prior route, if applicable.
        execution_intent:
          type: object
          additionalProperties: true
        route_workflow_state:
          type: object
          additionalProperties: true
        mutation_intent:
          type: object
          additionalProperties: true
        blocked_reason:
          type: string
          description: Non-empty only when maturation_status is blocked.

    AiUsage:
      type: object
      additionalProperties: true
      description: OpenAI token usage for the generation call.
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer

    AiImplementationPlanRequest:
      type: object
      additionalProperties: true
      required:
        - userPrompt
      properties:
        userPrompt:
          type: string
          description: The user's high-level request to generate an implementation plan for.
        systemContext:
          type: string
          description: >
            Optional extra system context injected before the intent maturation block.
            Do not include intent_maturation here; it is injected automatically.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: >
            Optional explicit intent key override. When omitted, defaults to
            ai_implementation_plan_generation.
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
          description: >
            Optional carry-forward from a prior AI resolver call. Supply when
            chaining resolvers so route/workflow context is preserved.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.

    AiImplementationPlanResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - planMarkdown
      properties:
        ok:
          type: boolean
          enum: [true]
        type:
          type: string
          enum: [implementation_plan]
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
        planMarkdown:
          type: string
          description: >
            Full Markdown implementation plan. Pass this as implementationPlan
            in the body of a subsequent /ai/task-manifest call.
        usage:
          oneOf:
            - $ref: "#/components/schemas/AiUsage"
            - type: "null"

    AiTaskManifestRequest:
      type: object
      additionalProperties: true
      required:
        - implementationPlan
      properties:
        implementationPlan:
          type: string
          description: >
            The Markdown implementation plan to break down into tasks.
            Pass the planMarkdown from /ai/implementation-plan here.
        systemContext:
          type: string
          description: >
            Optional extra system context injected before the intent maturation block.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: >
            Optional explicit intent key override. When omitted, defaults to
            ai_task_manifest_generation.
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
          description: >
            Carry-forward from /ai/implementation-plan. Supply the full
            intent_maturation object to preserve route/workflow continuity
            between the two resolver steps.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.

    AiTaskManifestResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - taskMarkdown
      properties:
        ok:
          type: boolean
          enum: [true]
        type:
          type: string
          enum: [task_manifest]
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
        taskMarkdown:
          type: string
          description: Markdown task checklist derived from the implementation plan.
        usage:
          oneOf:
            - $ref: "#/components/schemas/AiUsage"
            - type: "null"

    AiRegistryReadinessBinding:
      type: object
      additionalProperties: false
      required:
        - intent_key
        - route_found
        - route_executable
        - workflow_found
        - workflow_executable
      properties:
        intent_key:
          type: string
        route_found:
          type: boolean
        route_executable:
          type: boolean
        route_id:
          type: string
        route_task_key:
          type: string
        route_workflow_key:
          type: string
        workflow_found:
          type: boolean
        workflow_executable:
          type: boolean
        workflow_id:
          type: string
        workflow_key:
          type: string
        workflow_route_key:
          type: string

    AiRegistryReadinessDetail:
      type: object
      additionalProperties: false
      required:
        - mode
        - required_intent_keys
        - bindings
        - missing_intent_keys
        - unresolved_task_authority
        - missing_workflow_bindings
        - unresolved_workflow_authority
        - task_routes_ready
        - workflow_registry_ready
        - ok
      properties:
        mode:
          type: string
          enum: [validate_only]
        required_intent_keys:
          type: array
          items:
            type: string
        bindings:
          type: array
          items:
            $ref: "#/components/schemas/AiRegistryReadinessBinding"
        missing_intent_keys:
          type: array
          items:
            type: string
        unresolved_task_authority:
          type: array
          items:
            type: string
        missing_workflow_bindings:
          type: array
          items:
            type: string
        unresolved_workflow_authority:
          type: array
          items:
            type: string
        task_routes_ready:
          type: boolean
        workflow_registry_ready:
          type: boolean
        ok:
          type: boolean

    AiRegistryReadinessResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - readiness
      properties:
        ok:
          type: boolean
        degraded:
          type: boolean
          description: Present and true when readiness check is not fully passing.
        message:
          type: string
        readiness:
          $ref: "#/components/schemas/AiRegistryReadinessDetail"

    # â”€â”€ Platform shared schemas â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

    OkResponse:
      type: object
      additionalProperties: true
      required: [ok]
      properties:
        ok: { type: boolean, enum: [true] }

    PlatformRecord:
      type: object
      additionalProperties: true
      description: Generic platform entity record. Fields vary by resource type.

    PlatformListResponse:
      type: object
      additionalProperties: true
      required: [ok]
      properties:
        ok: { type: boolean, enum: [true] }
        count: { type: integer }
        items:
          type: array
          items: { $ref: "#/components/schemas/PlatformRecord" }
        tenants:
          type: array
          items: { $ref: "#/components/schemas/PlatformRecord" }

    TenantCreateRequest:
      type: object
      additionalProperties: false
      required: [display_name]
      properties:
        display_name: { type: string }
        tenant_type:
          type: string
          enum: [platform_owner, partner_organization, freelancer_operator, managed_client_account, brand]
          default: brand
        status:
          type: string
          enum: [active, suspended, cancelled]
          default: active
        metadata_json:
          type: object
          additionalProperties: true

    MembershipCreateRequest:
      type: object
      additionalProperties: false
      required: [user_id, role]
      properties:
        user_id: { type: string }
        role: { type: string }
        service_mode:
          type: string
          enum: [self_serve, assisted, managed]

    AccessResolveRequest:
      type: object
      additionalProperties: false
      required: [tenant_id]
      properties:
        tenant_id: { type: string, format: uuid }
        user_id:
          type: string
          description: Platform user identifier. UUIDs and registry/user-key strings are accepted.
        risk_level:
          type: string
          enum: [low, medium, high, critical]
          default: low
        intent_flags:
          type: object
          additionalProperties: { type: boolean }
          description: Boolean intent flags, for example public_scope or destructive. Array flag-name input is accepted by the backend for compatibility.
        persist:
          type: boolean
          default: false
          description: Write the resolved envelope to request_envelopes table.

    AccessResolveResponse:
      type: object
      additionalProperties: false
      required: [ok, decision, reason, service_mode, resolved_at]
      properties:
        ok: { type: boolean }
        allows_execution: { type: boolean }
        decision:
          type: string
          enum:
            - ALLOW_SELF_SERVE
            - ALLOW_WITH_OPTIONAL_ASSISTANCE
            - REQUIRE_REVIEW
            - REQUIRE_SUPERVISOR_APPROVAL
            - ROUTE_TO_MANAGED_SERVICE
            - DENY
        reason: { type: string }
        tenant_id: { type: string }
        user_id:
          type: string
          nullable: true
        risk_level:
          type: string
          enum: [low, medium, high, critical]
        service_mode: { type: string }
        plan_key: { type: string }
        resolved_at: { type: string, format: date-time }
        envelope_id: { type: string, format: uuid }

    WorkflowRunCreateRequest:
      type: object
      additionalProperties: false
      required: [tenant_id, workflow_key]
      properties:
        tenant_id: { type: string, format: uuid }
        workflow_key: { type: string }
        trigger_source:
          type: string
          enum: [api, planner, schedule, webhook]
          default: api
        input_payload:
          type: object
          additionalProperties: true
        user_id: { type: string, format: uuid }

    ApprovalDecisionRequest:
      type: object
      additionalProperties: false
      required: [decision]
      properties:
        decision:
          type: string
          enum: [approve, reject]
        decided_by: { type: string, format: uuid }
        notes: { type: string }

    TelemetrySpanRequest:
      type: object
      additionalProperties: false
      required: [trace_id, span_name]
      properties:
        trace_id: { type: string }
        span_id: { type: string }
        parent_span_id: { type: string }
        span_name: { type: string }
        tenant_id: { type: string, format: uuid }
        service_name: { type: string }
        start_time: { type: string, format: date-time }
        end_time: { type: string, format: date-time }
        duration_ms: { type: integer }
        status:
          type: string
          enum: [ok, error, timeout]
        attributes:
          type: object
          additionalProperties: true

    UsageRecordRequest:
      type: object
      additionalProperties: false
      required: [tenant_id, meter_key, quantity]
      properties:
        tenant_id: { type: string, format: uuid }
        meter_key: { type: string }
        quantity: { type: number }
        period_date:
          type: string
          format: date
          description: Defaults to today (UTC). Used for daily bucket upsert.

    ReleaseReadinessResponse:
      type: object
      additionalProperties: false
      required: [ok, overall, run_id, checked_at, summary]
      properties:
        ok: { type: boolean }
        overall:
          type: string
          enum: [pass, warn, fail]
        run_id: { type: string, format: uuid }
        checked_at: { type: string, format: date-time }
        summary:
          type: object
          additionalProperties: false
          required: [total, pass, warn, fail, platform_tables_total, platform_tables_ok]
          properties:
            total: { type: integer }
            pass: { type: integer }
            warn: { type: integer }
            fail: { type: integer }
            platform_tables_total: { type: integer }
            platform_tables_ok: { type: integer }
        db_connectivity:
          type: object
          additionalProperties: true
        platform_tables:
          type: object
          additionalProperties: true
        legacy_tables:
          type: object
          additionalProperties: true
        seed_data:
          type: object
          additionalProperties: true
        migration_inventory:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

security: []

x-tenant-gpt-auth:
  security_scheme_name: userBearerAuth
  action_auth_preset:
    authentication_type: OAuth
    schema_url: https://auth.mad4b.com/openapi.tenant-gpt.auth.yaml
    client_id: mad4b-tenant-gpt
    client_secret: <stored-in-platform-runtime-config>
    client_secret_config_key: tenant_gpt.oauth.client
    authorization_url: https://auth.mad4b.com/auth/oauth/authorize
    token_url: https://auth.mad4b.com/auth/oauth/token
    token_exchange_method: Default (POST request)
    callback_urls_to_allow:
      - https://chat.openai.com/aip/g-d36db295032b9022dd77233041763f513e8ba5fa/oauth/callback
      - https://chat.openai.com/aip/{g-GPT-ID}/oauth/callback
      - https://chatgpt.com/aip/{g-GPT-ID}/oauth/callback
    scope_links:
      - https://auth.mad4b.com/scopes/tenant.links
      - https://auth.mad4b.com/scopes/tenant.status
      - https://auth.mad4b.com/scopes/tenant.activation
      - https://auth.mad4b.com/scopes/tenant.install
      - https://auth.mad4b.com/scopes/tenant.system-tools
  security_scheme:
    type: oauth2
    description: "Tenant GPT OAuth. ChatGPT signs in through the Growth Intelligence Platform popup, then /auth/oauth/token mints a fresh Mad4B tenant access JWT with issuer, audience, subject, scope, user_id, and tenant_id claims. Google Sign-In is only an upstream identity proof inside the popup; do not call OAuth token or Google ID-token endpoints as normal actions. The authorize URL may include safe activation hints such as screen_hint, activation_mode, device_id, workspace_name, and sign_in_options, but never secrets."
    flows:
      authorizationCode:
        authorizationUrl: https://auth.mad4b.com/auth/oauth/authorize
        tokenUrl: https://auth.mad4b.com/auth/oauth/token
        scopes:
          https://auth.mad4b.com/scopes/tenant.links: Access tenant-scoped Growth Intelligence links for the signed-in user.
          https://auth.mad4b.com/scopes/tenant.status: Read tenant connection status for the signed-in user.
          https://auth.mad4b.com/scopes/tenant.activation: Activate managed or dedicated tenant connection mode for the signed-in user.
          https://auth.mad4b.com/scopes/tenant.install: Provision tenant local connector install bundles for the signed-in user.
          https://auth.mad4b.com/scopes/tenant.system-tools: Use tenant-scoped governed system tools for the signed-in user.
  security:
    - userBearerAuth:
        - https://auth.mad4b.com/scopes/tenant.links
        - https://auth.mad4b.com/scopes/tenant.status
        - https://auth.mad4b.com/scopes/tenant.activation
        - https://auth.mad4b.com/scopes/tenant.install
        - https://auth.mad4b.com/scopes/tenant.system-tools

paths:

  /health:
    get:
      tags: [health]
      security: []
      operationId: getHealth
      summary: Health and queue status
      responses:
        "200":
          description: Service health response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /activation/session-context:
    get:
      tags: [activation]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getActivationSessionContext
      summary: Read previous session history and platform scope context
      description: >
        Hard activation layer that reads prior user session envelopes as a
        paginated history log, scoped user request transcripts, plus audit
        activity, developer scopes, API credential scopes, and connected-system
        scopes. Admin/service sessions may also receive execution-log prompt and
        response summaries. Raw dumps are returned only when include_raw=true and
        are size-bounded. User JWT callers may inspect only their own user context.
      parameters:
        - name: user_id
          in: query
          schema: { type: string }
          description: Optional user id. Admin callers may inspect any user; user JWT callers are restricted to themselves.
        - name: tenant_id
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
          description: Number of previous session/history rows to return per page.
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
          description: Pagination offset for reading older previous session history.
        - name: include_raw
          in: query
          schema: { type: boolean, default: false }
          description: Include bounded raw request/response dumps where allowed by caller scope.
        - name: raw_max_chars
          in: query
          schema: { type: integer, default: 4000, maximum: 20000 }
          description: Maximum characters per raw dump field when include_raw=true.
      responses:
        "200":
          description: Session history and related platform scopes
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required: [ok, activation_layer, subject, pagination, session_history, related_scopes, history]
                properties:
                  ok: { type: boolean }
                  activation_layer: { type: string, enum: [session_context] }
                  subject:
                    type: object
                    additionalProperties: false
                    properties:
                      user_id: { type: string }
                      tenant_id: { type: string }
                      is_admin: { type: boolean }
                  last_session:
                    type: object
                    additionalProperties: true
                  pagination:
                    type: object
                    additionalProperties: false
                    properties:
                      limit: { type: integer }
                      offset: { type: integer }
                      include_raw: { type: boolean }
                      raw_max_chars: { type: integer }
                      has_more_session_history: { type: boolean }
                  session_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        transcript:
                          type: object
                          additionalProperties: false
                          properties:
                            user_request: { type: string }
                            ai_response: { type: string }
                            request_fields_available:
                              type: array
                              items: { type: string }
                        raw_dump:
                          type: object
                          additionalProperties: true
                  related_scopes:
                    type: array
                    items: { type: string }
                  history:
                    type: object
                    additionalProperties: true
                    properties: {}
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Unauthorized" }
        "500": { description: Session context read failure, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /activation/platform-access:
    get:
      tags: [activation]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getActivationPlatformAccess
      summary: Read platform-wide activation access and registry counts
      description: >
        Hard activation evidence for admin/service sessions. Returns explicit
        all-brand scope plus counts and readiness for brands, plugins, logics,
        engines, and runtime-callable actions.
      responses:
        "200":
          description: Platform-wide activation access summary
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required: [ok, activation_layer, principal, access_scope, access, counts, readiness]
                properties:
                  ok: { type: boolean }
                  activation_layer: { type: string, enum: [platform_access] }
                  principal:
                    type: object
                    additionalProperties: true
                    properties:
                      type: { type: string }
                      is_admin: { type: boolean }
                      user_id: { type: string }
                      tenant_id: { type: string }
                  access_scope:
                    type: string
                    enum: [platform_admin_all, user_scoped]
                  access:
                    type: object
                    additionalProperties: true
                    properties:
                      brands: { type: string }
                      plugins: { type: string }
                      logics: { type: string }
                      engines: { type: string }
                      actions: { type: string }
                  counts:
                    type: object
                    additionalProperties: true
                    properties:
                      brands: { type: object, additionalProperties: true, properties: {} }
                      plugins: { type: object, additionalProperties: true, properties: {} }
                      logics: { type: object, additionalProperties: true, properties: {} }
                      engines: { type: object, additionalProperties: true, properties: {} }
                      actions: { type: object, additionalProperties: true, properties: {} }
                  readiness:
                    type: object
                    additionalProperties: true
                    properties:
                      brands: { type: string }
                      plugins: { type: string }
                      logics: { type: string }
                      engines: { type: string }
                      actions: { type: string }
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Unauthorized" }
        "500": { description: Platform access read failure, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /governance/resolve-context-diagnostic:
    post:
      tags: [governance]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: resolveContextDiagnostic
      summary: Resolve governed context diagnostic
      description: >
        Resolves business type, brand path, Brand Core documents, validation
        state, and execution readiness without performing a mutation. This is a
        native backend route in the parent OpenAI schema, so it does not require
        endpoint child schema overlay to pass method/path validation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveContextDiagnosticRequest"
      responses:
        "200":
          description: Governed context diagnostic result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolveContextDiagnosticResponse"
        "400":
          description: Invalid diagnostic request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden by governance policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Governed context resolution blocked or incomplete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Schema or resolver validation failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Diagnostic execution failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs:
    post:
      tags: [jobs]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: createJob
      summary: Create an async governed execution job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobCreateRequest"
      responses:
        "200":
          description: Existing job returned due to idempotent deduplication
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/JobSummary"
                  - type: object
                    properties:
                      deduplicated:
                        type: boolean
        "202":
          description: Job accepted and queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSummary"
        "400":
          description: Invalid job request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs/{jobId}:
    get:
      tags: [jobs]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getJob
      summary: Get async job status
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/JobSummary"
                  - type: object
                    properties:
                      terminal:
                        type: boolean
                      active:
                        type: boolean
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs/{jobId}/result:
    get:
      tags: [jobs]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getJobResult
      summary: Get async job result or current completion state
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Completed job result or failure payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/JobResultSuccess"
                  - $ref: "#/components/schemas/JobResultFailure"
        "202":
          description: Job is not complete yet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResultPending"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /http-execute:
    post:
      tags: [execution]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: executeHttpRequest
      summary: Execute a governed outbound HTTP request
      description: >
        Executes a governed HTTP request. The backend resolves routing, schema,
        auth, and provider-domain rules server-side. Backend bearer auth is
        enforced only when BACKEND_API_KEY is configured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteHttpRequest"
      responses:
        "200":
          description: Execution response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteHttpResponse"
        "400":
          description: Invalid request or routing payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden by policy or execution governance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Target job or target resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Request or response schema validation failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Execution failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /ai/implementation-plan:
    post:
      tags: [ai]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: generateImplementationPlan
      summary: Generate a structured implementation plan
      description: >
        Generates a Markdown implementation plan from a user prompt via an
        OpenAI-backed planning resolver. The response includes a first-class
        intent_maturation object that must be carried forward into the body of
        a subsequent /ai/task-manifest call to preserve route and workflow
        context continuity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiImplementationPlanRequest"
      responses:
        "200":
          description: Implementation plan generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiImplementationPlanResponse"
        "400":
          description: Missing or blocked intent, or missing userPrompt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: OpenAI API key not configured or upstream failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /ai/task-manifest:
    post:
      tags: [ai]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: generateTaskManifest
      summary: Generate a task checklist from an implementation plan
      description: >
        Generates a Markdown task checklist from an implementation plan via an
        OpenAI-backed task resolver. Supply the planMarkdown from a prior
        /ai/implementation-plan response as implementationPlan, and pass the
        full intent_maturation object to preserve route and workflow continuity
        across the two resolver steps.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiTaskManifestRequest"
      responses:
        "200":
          description: Task manifest generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiTaskManifestResponse"
        "400":
          description: Missing or blocked intent, or missing implementationPlan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: OpenAI API key not configured or upstream failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /ai/registry-readiness:
    get:
      tags: [ai]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getAiRegistryReadiness
      summary: Check AI resolver intent binding in Task Routes and Workflow Registry
      description: >
        Validation-only diagnostic that confirms the two required AI resolver
        intent keys (ai_implementation_plan_generation and
        ai_task_manifest_generation) are bound to executable Task Routes rows
        and linked Workflow Registry rows. Returns 200 when both bindings are
        fully ready, or 409 when one or more bindings are missing or lack
        executable authority.
      responses:
        "200":
          description: All AI resolver intent keys are route/workflow bound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiRegistryReadinessResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: One or more AI resolver intent bindings are missing or unresolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiRegistryReadinessResponse"
        "500":
          description: Registry readiness check failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # â”€â”€ Tenants â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /tenants:
    post:
      tags: [tenants]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createTenant
      summary: Create a tenant
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TenantCreateRequest" }
      responses:
        "201":
          description: Tenant created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OkResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [tenants]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listTenants
      summary: List tenants
      parameters:
        - { name: type, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200":
          description: Tenant list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformListResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tenants/{tenant_id}/relationships:
    post:
      tags: [tenants]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createTenantRelationship
      summary: Create a tenant relationship
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [related_tenant_id, relationship_type]
              properties:
                related_tenant_id: { type: string, format: uuid }
                relationship_type: { type: string }
                direction: { type: string, enum: [parent_child, peer, service_agreement] }
      responses:
        "201": { description: Relationship created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tenants/{tenant_id}/memberships:
    post:
      tags: [tenants]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createMembership
      summary: Add a member to a tenant
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MembershipCreateRequest" }
      responses:
        "201": { description: Membership created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [tenants]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listTenantMemberships
      summary: List memberships for a tenant
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Membership list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # â”€â”€ Identity â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /users:
    post:
      tags: [identity]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createUser
      summary: Create a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                display_name: { type: string }
                status: { type: string, enum: [active, suspended], default: active }
      responses:
        "201": { description: User created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [identity]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listUsers
      summary: List users
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [active, suspended, archived] } }
        - { name: email, in: query, schema: { type: string, format: email } }
        - { name: limit, in: query, schema: { type: integer, default: 100, minimum: 1, maximum: 500 } }
      responses:
        "200": { description: User list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /users/{user_id}/role-assignments:
    post:
      tags: [identity]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: assignRole
      summary: Assign a role to a user within a tenant
      parameters:
        - { name: user_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, role_key]
              properties:
                tenant_id: { type: string, format: uuid }
                role_key: { type: string }
                scope: { type: string }
                expires_at: { type: string, format: date-time }
      responses:
        "201": { description: Role assigned, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /plans:
    get:
      tags: [identity]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listPlans
      summary: List all subscription plans
      responses:
        "200": { description: Plan list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /subscriptions:
    post:
      tags: [identity]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createSubscription
      summary: Subscribe a tenant to a plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, plan_id]
              properties:
                tenant_id: { type: string, format: uuid }
                plan_id: { type: string, format: uuid }
                status: { type: string, enum: [active, cancelled, suspended], default: active }
      responses:
        "201": { description: Subscription created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tenants/{tenant_id}/subscriptions:
    get:
      tags: [identity]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getTenantSubscriptions
      summary: Get subscriptions for a tenant
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Subscription list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /assistance-roles:
    get:
      tags: [identity]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listAssistanceRoles
      summary: List all assistance roles (7 levels from trainee to mentor)
      responses:
        "200": { description: Assistance role list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # â”€â”€ Access Decision Engine â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /access/resolve:
    post:
      tags: [access]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: resolveAccess
      summary: Run the 6-outcome access decision engine
      description: >
        Evaluates tenant context, membership, subscription, and policy to produce
        one of: ALLOW_SELF_SERVE, ALLOW_WITH_OPTIONAL_ASSISTANCE, REQUIRE_REVIEW,
        REQUIRE_SUPERVISOR_APPROVAL, ROUTE_TO_MANAGED_SERVICE, or DENY.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AccessResolveRequest" }
      responses:
        "200":
          description: Access decision resolved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccessResolveResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /access/envelopes:
    get:
      tags: [access]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listAccessEnvelopes
      summary: List persisted access decision envelopes
      parameters:
        - { name: tenant_id, in: query, schema: { type: string } }
        - { name: decision, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200": { description: Envelope list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # â”€â”€ Customers & Tickets â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /customers:
    post:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createCustomer
      summary: Create a customer record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, display_name]
              properties:
                tenant_id: { type: string, format: uuid }
                display_name: { type: string }
                email: { type: string, format: email }
                customer_type: { type: string }
                external_id: { type: string }
      responses:
        "201": { description: Customer created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listCustomers
      summary: List customers
      parameters:
        - { name: tenant_id, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200": { description: Customer list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tickets:
    post:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createTicket
      summary: Create a support ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, subject]
              properties:
                tenant_id: { type: string, format: uuid }
                customer_id: { type: string, format: uuid }
                subject: { type: string }
                body: { type: string }
                priority: { type: string, enum: [low, normal, high, urgent], default: normal }
                assigned_to: { type: string, format: uuid }
      responses:
        "201": { description: Ticket created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listTickets
      summary: List tickets
      parameters:
        - { name: tenant_id, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string } }
        - { name: priority, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200": { description: Ticket list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tickets/{ticket_id}:
    get:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getTicket
      summary: Get a ticket by ID
      parameters:
        - { name: ticket_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Ticket, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: replaceTicket
      summary: Full update of a ticket record
      parameters:
        - { name: ticket_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                category: { type: string }
                priority: { type: string, enum: [low, normal, high, urgent] }
                status: { type: string, enum: [open, in_review, awaiting_approval, resolved, closed] }
                assigned_to: { type: string, format: uuid }
                metadata_json: { type: object, additionalProperties: true }
      responses:
        "200": { description: Ticket updated, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: updateTicketStatus
      summary: Update ticket status or assignment
      parameters:
        - { name: ticket_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [open, in_review, awaiting_approval, resolved, closed] }
                assigned_to: { type: string, format: uuid }
                priority: { type: string, enum: [low, normal, high, urgent] }
      responses:
        "200": { description: Ticket updated, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: closeTicket
      summary: Close a ticket (soft delete â€” sets status=closed)
      parameters:
        - { name: ticket_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Ticket closed, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /timeline-events:
    post:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createTimelineEvent
      summary: Append a timeline event to a customer or ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, event_type]
              properties:
                tenant_id: { type: string, format: uuid }
                customer_id: { type: string, format: uuid }
                ticket_id: { type: string, format: uuid }
                event_type: { type: string }
                actor_id: { type: string, format: uuid }
                summary: { type: string }
                payload: { type: object, additionalProperties: true }
      responses:
        "201": { description: Event recorded, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /customers/{customer_id}/timeline:
    get:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getCustomerTimeline
      summary: Get timeline events for a customer
      parameters:
        - { name: customer_id, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200": { description: Timeline events, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tenants/{tenant_id}/tickets:
    get:
      tags: [customers]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getTenantTickets
      summary: List tickets for a tenant
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
        - { name: status, in: query, schema: { type: string } }
      responses:
        "200": { description: Ticket list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # â”€â”€ Connected Systems & Workspaces â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /connected-systems:
    post:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createConnectedSystem
      summary: Register a connected system for a tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, system_key, display_name]
              properties:
                tenant_id: { type: string, format: uuid }
                system_key: { type: string }
                display_name: { type: string }
                provider_family: { type: string }
                provider_domain: { type: string }
                connector_family: { type: string }
                status: { type: string, enum: [active, inactive, error], default: active }
                self_serve_capable: { type: boolean, default: true }
      responses:
        "201": { description: Connected system created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /connected-systems/{system_id}:
    get:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getConnectedSystem
      summary: Get a connected system by ID
      parameters:
        - { name: system_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Connected system, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: replaceConnectedSystem
      summary: Full update of a connected system record
      parameters:
        - { name: system_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [display_name]
              properties:
                display_name: { type: string }
                provider_domain: { type: string }
                connector_family: { type: string }
                auth_type: { type: string }
                service_mode: { type: string, enum: [self_serve, assisted, managed] }
                self_serve_capable: { type: boolean }
                assisted_capable: { type: boolean }
                managed_capable: { type: boolean }
                config_json: { type: object, additionalProperties: true }
                status: { type: string, enum: [active, pending, error, archived] }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: updateConnectedSystem
      summary: Update connected system status or metadata
      parameters:
        - { name: system_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [active, inactive, error] }
                display_name: { type: string }
                self_serve_capable: { type: boolean }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: archiveConnectedSystem
      summary: Archive a connected system (soft delete â€” sets status=archived)
      parameters:
        - { name: system_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Archived, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tenants/{tenant_id}/connected-systems:
    get:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getTenantConnectedSystems
      summary: List connected systems for a tenant
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Connected system list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /workspaces:
    post:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createWorkspace
      summary: Create a workspace registry entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, workspace_key, display_name]
              properties:
                tenant_id: { type: string, format: uuid }
                workspace_key: { type: string }
                display_name: { type: string }
                workspace_type: { type: string, default: brand }
                bootstrap_status: { type: string, enum: [pending, ready, failed], default: pending }
                linked_brand_key: { type: string }
      responses:
        "201": { description: Workspace created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listWorkspaces
      summary: List workspaces
      parameters:
        - { name: tenant_id, in: query, schema: { type: string } }
        - { name: bootstrap_status, in: query, schema: { type: string } }
      responses:
        "200": { description: Workspace list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /tenants/{tenant_id}/workspaces:
    get:
      tags: [connected-systems]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getTenantWorkspaces
      summary: List workspaces for a tenant
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Workspace list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # â”€â”€ Planner â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /planner/resolve-intent:
    post:
      tags: [planner]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: resolveIntent
      summary: Resolve an intent key to a task route
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent_key]
              properties:
                intent_key: { type: string }
                tenant_id: { type: string, format: uuid }
                context: { type: object, additionalProperties: true }
      responses:
        "200": { description: Intent resolved, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /planner/create-plan:
    post:
      tags: [planner]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createExecutionPlan
      summary: Create an execution plan (runs access gate before planning)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, intent_key]
              properties:
                tenant_id: { type: string, format: uuid }
                user_id: { type: string, format: uuid }
                intent_key: { type: string }
                input_context: { type: object, additionalProperties: true }
      responses:
        "201": { description: Plan created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Access denied by decision engine, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /planner/plans/{plan_id}:
    get:
      tags: [planner]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getExecutionPlan
      summary: Get an execution plan by ID
      parameters:
        - { name: plan_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Execution plan, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [planner]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: updateExecutionPlan
      summary: Update execution plan status
      parameters:
        - { name: plan_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan_status: { type: string, enum: [pending, active, completed, failed, cancelled] }
      responses:
        "200": { description: Plan updated, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # â”€â”€ Bootstrap Readiness â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /bootstrap/readiness/{tenant_id}:
    get:
      tags: [bootstrap]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getBootstrapReadiness
      summary: Run 8 first-execution readiness checks for a tenant
      description: >
        Checks: active_tenant_context, active_membership, commercial_eligibility,
        connector_available, workspace_bootstrapped, policy_path_resolved,
        review_path_resolved, managed_assignment_ready. Falls back to legacy tables
        when new platform tables are empty.
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
        - { name: persist, in: query, schema: { type: boolean } }
      responses:
        "200":
          description: Readiness report
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ok, ready, overall_status, tenant_id, checks]
                properties:
                  ok: { type: boolean }
                  ready: { type: boolean }
                  overall_status: { type: string, enum: [ready, degraded, not_ready] }
                  tenant_id: { type: string }
                  checks: { type: object, additionalProperties: true }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /bootstrap/onboarding:
    post:
      tags: [bootstrap]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createOnboardingState
      summary: Create or reset onboarding state for a tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id]
              properties:
                tenant_id: { type: string, format: uuid }
                onboarding_template: { type: string }
                current_step: { type: string }
      responses:
        "201": { description: Onboarding state created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [bootstrap]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listOnboardingStates
      summary: List onboarding states
      parameters:
        - { name: tenant_id, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string } }
      responses:
        "200": { description: Onboarding states, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /bootstrap/onboarding/{tenant_id}/step:
    patch:
      tags: [bootstrap]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: advanceOnboardingStep
      summary: Advance or update the onboarding step for a tenant
      parameters:
        - { name: tenant_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_step]
              properties:
                current_step: { type: string }
                completion_status: { type: string, enum: [in_progress, complete, skipped] }
                step_data: { type: object, additionalProperties: true }
      responses:
        "200": { description: Step advanced, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # â”€â”€ Logic Graph â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

  /logic-definitions:
    post:
      tags: [logic]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createLogicDefinition
      summary: Create a logic definition node
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [logic_key, logic_type]
              properties:
                logic_key: { type: string }
                logic_type: { type: string, enum: [rule, decision, policy, constraint] }
                display_name: { type: string }
                parent_logic_id: { type: string, format: uuid }
                definition_body: { type: object, additionalProperties: true }
                tenant_id: { type: string, format: uuid }
      responses:
        "201": { description: Logic definition created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [logic]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: listLogicDefinitions
      summary: List logic definitions
      parameters:
        - { name: logic_type, in: query, schema: { type: string } }
        - { name: tenant_id, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string } }
      responses:
        "200": { description: Logic definition list, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /logic-definitions/{logic_id}/children:
    get:
      tags: [logic]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: getLogicChildren
      summary: Get child logic definitions for a parent node
      parameters:
        - { name: logic_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Child nodes, content: { application/json: { schema: { $ref: "#/components/schemas/PlatformListResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /logic-definitions/{logic_id}/status:
    patch:
      tags: [logic]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: updateLogicStatus
      summary: Update status of a logic definition
      parameters:
        - { name: logic_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [draft, active, deprecated, archived] }
      responses:
        "200": { description: Status updated, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /logic-packs:
    post:
      tags: [logic]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createLogicPack
      summary: Create a logic pack (collection of logic definitions)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pack_key, display_name]
              properties:
                pack_key: { type: string }
                display_name: { type: string }
                pack_version: { type: string }
                tenant_id: { type: string, format: uuid }
                status: { type: string, default: draft }
      responses:
        "201": { description: Logic pack created, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /logic-packs/{pack_id}/attach:
    post:
      tags: [logic]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: attachLogicDefinition
      summary: Attach a logic definition to a logic pack
      parameters:
        - { name: pack_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [logic_id]
              properties:
                logic_id: { type: string, format: uuid }
                sort_order: { type: integer }
      responses:
        "201": { description: Attached, content: { application/json: { schema: { $ref: "#/components/schemas/OkResponse" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /adaptation-records:
    post:
      tags: [logic]
      security: [backendBearerAuth: [], backendApiKeyAuth: []]
      operationId: createAdaptationRecord
      summary: Create an adaptation record (proposed logic change)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [logic_id, adaptation_type, proposed_change]
              properties:
                logic_id: { type: string, format: uuid }
                adaptation_type: { type: string, enum: [override, extension, replacement] }
                proposed_change: { type: object, additionalProperties: true }
[...]
