openapi: 3.1.0
info:
  title: Mad4B Growth Intelligence - Tenant AI - MCP Actions
  version: 2.0.2-platform-plugins
  summary: Tenant GPT schema with MCP meta-operations plus tenant self-serve Platform Plugin routes.
  description: Tenant MCP schema. Use connect_activate with tool_args.mode and integration_modes. Also supports Platform Plugin catalog, install, and resolve.
servers:
  - url: https://auth.mad4b.com
    description: Mad4B platform auth subdomain
tags:
  - name: activation
    description: Once-per-session activation probes, session history, scope context, and customer growth guidance.
  - name: growth-dashboard
    description: Tenant-facing mobile-friendly growth cockpit, typed cards, next-best actions, preferences, digests, and feedback.
  - name: system-layer
    description: MCP-style governed system layer backed by connector registries, principal context, and runtime validation.
  - name: platform-plugins
    description: Tenant-facing and admin-governed Platform Plugin catalog, install, resolve, contribution, and promotion surfaces.
  - name: session-archive
components:
  securitySchemes:
    userBearerAuth:
      type: oauth2
      description: Tenant GPT OAuth. ChatGPT signs in through the Growth Intelligence Platform popup, then /auth/oauth/token mints a fresh Mad4B tenant access JWT with issuer, audience, subject, scope, user_id, and tenant_id claims. Google Sign-In is only an upstream identity proof inside the popup; do not call OAuth.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mad4b.com/auth/oauth/authorize
          tokenUrl: https://auth.mad4b.com/auth/oauth/token
          scopes:
            https://auth.mad4b.com/scopes/tenant.links: Access tenant-scoped Growth Intelligence links for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.status: Read tenant connection status for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.activation: Activate managed or dedicated tenant connection mode for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.install: Provision tenant local connector install bundles for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.system-tools: Use tenant-scoped governed system tools for the signed-in user.
  schemas:
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean
  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
security:
  - userBearerAuth:
      - https://auth.mad4b.com/scopes/tenant.links
      - https://auth.mad4b.com/scopes/tenant.status
      - https://auth.mad4b.com/scopes/tenant.activation
      - https://auth.mad4b.com/scopes/tenant.install
      - https://auth.mad4b.com/scopes/tenant.system-tools
paths:
  /activation/session-context:
    get:
      tags:
        - activation
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: activateSession
      summary: Read previous session history and platform scope context
      description: Hard activation layer that reads prior user session envelopes as a paginated history log, scoped user request transcripts, plus audit activity, developer scopes, API credential scopes, and connected-system scopes. Admin/service sessions may also receive execution-log prompt and response summaries..
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
          description: Optional user id. Admin callers may inspect any user; user JWT callers are restricted to themselves.
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Number of previous session/history rows to return per page. Keep small for GPT activation probes.
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Pagination offset for reading older previous session history.
        - name: include_raw
          in: query
          schema:
            type: boolean
            default: false
          description: Include bounded raw request/response dumps where allowed by caller scope.
        - name: raw_max_chars
          in: query
          schema:
            type: integer
            default: 4000
            maximum: 20000
          description: Maximum characters per raw dump field when include_raw=true.
      responses:
        "200":
          description: Session history and related platform scopes
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - subject
                  - pagination
                  - session_history
                  - related_scopes
                  - history
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - session_context
                  subject:
                    type: object
                    additionalProperties: false
                    properties:
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                      is_admin:
                        type: boolean
                  last_session:
                    type: object
                    additionalProperties: true
                    properties: {}
                  pagination:
                    type: object
                    additionalProperties: false
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      include_raw:
                        type: boolean
                      raw_max_chars:
                        type: integer
                      has_more_session_history:
                        type: boolean
                  session_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        transcript:
                          type: object
                          additionalProperties: false
                          properties:
                            user_request:
                              type: string
                            ai_response:
                              type: string
                            request_fields_available:
                              type: array
                              items:
                                type: string
                        raw_dump:
                          type: object
                          additionalProperties: true
                          properties: {}
                  related_scopes:
                    type: array
                    items:
                      type: string
                  history:
                    type: object
                    additionalProperties: true
                    properties: {}
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Session context read failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /system/tools:
    get:
      tags:
        - system-layer
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: listTools
      summary: List MCP-style system tools visible to the current principal
      description: Lists fixed OpenAPI-compatible tools available through the auth-host system layer. Tool calls are governed by principal context. Results are bounded and page-aware; oversized responses return response_chunked=true, chunk_id, page.next_cursor, cache TTL metadata, and require response_chunk_read befo.
      responses:
        "200":
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  principal:
                    type: object
                    additionalProperties: true
                    properties: {}
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /system/tools/call:
    post:
      tags:
        - system-layer
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: callTool
      x-openai-isConsequential: false
      summary: Call a governed MCP-style system tool
      description: Calls a fixed system-layer tool through principal-aware runtime validation. Tenant principals are scoped to their tenant; admin principals can inspect all connector registry records and run provider-bootstrap probes. Oversized results return a chunk continuation envelope with response_chunked=true,.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  pattern: ^[a-z][a-z0-9_:-]{1,128}$
                  description: Tool key returned by listTools; runtime validates registration, tenant scope, and arguments before dispatch.
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields. Admin provider tools require admin/service auth.
                  properties:
                    mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                        - hybrid
                    integration_modes:
                      type: array
                      items:
                        type: string
                    device_id:
                      type: string
                      pattern: ^[a-z0-9-]{2,32}$
      responses:
        "200":
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/platform/plugins/catalog:
    get:
      tags:
        - platform-plugins
      operationId: tenantPlatformPluginCatalog
      summary: List installable Platform Base plugins for this tenant
      description: Tenant-facing catalog. Tenant/user IDs come from auth; no secrets are returned.
      parameters:
        - name: include_bindings
          in: query
          schema:
            type: boolean
            default: true
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
      responses:
        "200":
          description: Tenant-scoped Platform Plugin catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  tenant_facing:
                    type: boolean
                  plugins:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /tenant/platform/plugins/install:
    post:
      x-openai-isConsequential: true
      tags:
        - platform-plugins
      operationId: tenantPlatformPluginInstall
      summary: Install a Platform Base plugin for this tenant
      description: Installs a Platform Base plugin for the signed-in tenant. Tenant/user IDs come from auth; no secrets are accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - plugin_key
              properties:
                plugin_key:
                  type: string
                source_mode:
                  type: string
                  enum:
                    - managed
                    - dedicated
                  default: dedicated
                fallback_allowed:
                  type: boolean
                  default: false
                required_for_device_install:
                  type: boolean
                  default: false
                notes:
                  type: string
                  maxLength: 1000
                connection:
                  type: object
                  additionalProperties: false
                  description: Optional metadata-only connection. Do not include secrets.
                  properties:
                    connection_scope:
                      type: string
                      enum:
                        - tenant_connection
                        - user_connection
                      default: tenant_connection
                    api_base_url:
                      type: string
                      description: HTTPS base URL only. No credentials.
                    mcp_endpoint:
                      type: string
                      description: HTTPS endpoint only. No credentials.
                    webhook_url:
                      type: string
                      description: HTTPS webhook URL only. No credentials.
                    account_label:
                      type: string
                    display_label:
                      type: string
                    account_metadata:
                      type: object
                      additionalProperties: true
                      properties: {}
      responses:
        "200":
          description: Plugin installed for tenant
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  tenant_facing:
                    type: boolean
                  platform_base_mutated:
                    type: boolean
                    enum:
                      - false
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "400":
          description: Invalid install payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /tenant/platform/plugins/resolve:
    post:
      x-openai-isConsequential: false
      tags:
        - platform-plugins
      operationId: tenantPlatformPluginResolve
      summary: Resolve tenant readiness for a Platform Plugin action/tool
      description: Checks tenant plugin readiness without executing actions or returning secrets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - plugin_key
              properties:
                plugin_key:
                  type: string
                action_key:
                  type: string
                tool_key:
                  type: string
                agent_id:
                  type: string
                requested_credential_scope:
                  type: string
                  enum:
                    - user_connection
                    - tenant_connection
                    - platform_managed
                    - device_connector
                    - none
      responses:
        "200":
          description: Tenant-scoped plugin readiness result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  allowed:
                    type: boolean
                  reason:
                    type: string
                  tenant_facing:
                    type: boolean
                  secrets_included:
                    type: boolean
                    enum:
                      - false
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/sessions/{id}/turn:
    post:
      tags:
        - session-archive
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: writeSessionTurn
      x-openai-isConsequential: false
      summary: Append one turn to a customer_sessions archive
      description: Append one conversation turn to the active customer_sessions row. Writes the full content to the Drive transcript Doc and JSONL sidecar, and stores a bounded preview, sha256 hash, and Drive anchor in gpt_session_turns. Registered as the admin tool gpt_session_turn_write.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id returned by getActivationSessionContext.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - role
                - content
              properties:
                role:
                  type: string
                  enum:
                    - user
                    - assistant
                    - tool
                content:
                  type: string
                action_key:
                  type: string
      responses:
        "200":
          description: Turn write result with Drive anchor and archive status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - session_id
                  - turn_index
                  - turn_id
                  - archive_status
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  turn_index:
                    type: integer
                  turn_id:
                    type: string
                  drive_doc_id:
                    type: string
                  drive_anchor:
                    type: string
                  archive_status:
                    type: string
        "400":
          description: Missing role/content or invalid role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Session belongs to a different user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Cannot add turns to a closed session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Turn write failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /gpt/sessions/{id}/end:
    post:
      tags:
        - session-archive
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
      operationId: endSession
      x-openai-isConsequential: false
      summary: Close a customer_sessions archive
      description: Close the active customer_sessions row. Optionally writes a session_summaries row, finalizes the Drive transcript through closeGptSessionArchive, and triggers the exportSessionToDrive pipeline so drive_export_url is populated for activation readback. Registered as the admin tool gpt_session_end.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id returned by getActivationSessionContext.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                summary:
                  type: string
                user_email:
                  type: string
      responses:
        "200":
          description: Session close result with archive and Drive export pointers
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - session_id
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  archive:
                    type: object
                    additionalProperties: true
                    properties: {}
                  drive_export:
                    oneOf:
                      - type: object
                        additionalProperties: true
                        properties:
                          drive_file_id:
                            type: string
                          drive_web_url:
                            type: string
                      - type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Session belongs to a different user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Session is already closed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Session end failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
x-gpt-action-auth-preset:
  authentication_type: OAuth
  schema_url: https://auth.mad4b.com/openapi.tenant-gpt.auth.yaml
  client_id: mad4b-tenant-gpt
  client_secret: <resolved-from-governed-platform-secret>
  client_secret_ref: platform_secret:TENANT_GPT_OAUTH_CLIENT_SECRET
  client_secret_config_key: tenant_gpt.oauth.client
  authorization_url: https://auth.mad4b.com/auth/oauth/authorize
  token_url: https://auth.mad4b.com/auth/oauth/token
  token_exchange_method: Default (POST request)
  callback_urls_to_allow:
    - https://chat.openai.com/aip/g-d36db295032b9022dd77233041763f513e8ba5fa/oauth/callback
    - https://chat.openai.com/aip/{g-GPT-ID}/oauth/callback
    - https://chatgpt.com/aip/{g-GPT-ID}/oauth/callback
  scope_links:
    - https://auth.mad4b.com/scopes/tenant.links
    - https://auth.mad4b.com/scopes/tenant.status
    - https://auth.mad4b.com/scopes/tenant.activation
    - https://auth.mad4b.com/scopes/tenant.install
    - https://auth.mad4b.com/scopes/tenant.system-tools
