openapi: 3.1.0
info:
  title: Governed HTTP Client â€” AI Platform - Auth Dispatcher Admin Control Actions
  version: 3.0.0-platform
  summary: Admin GPT action schema — MCP-like dispatcher for activation, admin control, and system layer.
  description: Single-host admin GPT schema generated from openapi.yaml. Dispatches activation, admin-control, and system-layer routes via auth.mad4b.com.
servers:
  - url: https://auth.mad4b.com
    description: Governed HTTP Client â€” AI Platform - Auth Dispatcher Admin Control Actions
tags:
  - name: activation
    description: Once-per-session activation probes, session history, and scope context.
  - name: admin-control
    description: Personal administrator control surface for CLI, database, and runtime environment operations.
  - name: system-layer
    description: MCP-style governed system layer backed by connector registries, principal context, and runtime validation.
  - name: runtime-verification
    description: Runtime verification control plane, production parity ledger, and paginated evidence surfaces.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key or User JWT
      description: |
        Send Authorization: Bearer <BACKEND_API_KEY> for admin/service access, or Authorization: Bearer <USER_JWT> after user sign-in.
  schemas:
    SchemaImportJob:
      type: object
      additionalProperties: true
      properties:
        job_id:
          type: string
        action_key:
          type: string
        source_type:
          type: string
          enum:
            - upload
            - repo_link
            - rollback
        source_url:
          type: string
          nullable: true
        source_ref:
          type: string
          nullable: true
        source_filename:
          type: string
          nullable: true
        endpoints_upserted:
          type: integer
        endpoints_deprecated:
          type: integer
        warnings:
          type: array
          items:
            type: string
          nullable: true
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
        error_message:
          type: string
          nullable: true
        imported_by:
          type: string
          nullable: true
        imported_at:
          type: string
          format: date-time
    HardActivationEvidenceStep:
      type: object
      additionalProperties: true
      properties:
        attempted:
          type: boolean
        ok:
          type: boolean
          nullable: true
        activation_layer:
          type: string
          nullable: true
        evidence_source:
          type: string
          nullable: true
    HardActivationRunResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - activation_complete
        - response_profile
        - runtime_classification
        - evidence_matrix
        - completeness
        - report_policy
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - hard_activation_orchestrator
        activation_complete:
          type: boolean
        run_id:
          type: string
          nullable: true
        session_id:
          type: string
          nullable: true
        response_profile:
          type: string
          enum:
            - evidence
            - summary
            - dashboard
            - diagnostic
            - full
        snapshot:
          type: object
          additionalProperties: true
          properties:
            snapshot_id:
              type: string
            generated_at:
              type: string
              format: date-time
            registry_version:
              type: string
              nullable: true
            data_watermark:
              type: string
              format: date-time
            profile:
              type: string
            subject_scope:
              type: string
              enum:
                - platform_admin
                - tenant_user
        state_model:
          type: object
          additionalProperties: false
          properties:
            validation_state:
              type: string
            evidence_state:
              type: string
            session_state:
              type: string
            dashboard_state:
              type: string
            delivery_state:
              type: string
            consumer_ack_state:
              type: string
        dynamic_tabs_manifest:
          type: object
          additionalProperties: true
          properties: {}
        operational_summary:
          type: object
          additionalProperties: true
          properties: {}
        operational_dashboard_manifest:
          type: object
          additionalProperties: true
          properties: {}
        completeness:
          type: object
          additionalProperties: true
          properties:
            known_surfaces:
              type: integer
            visible_surfaces:
              type: integer
            summarized_surfaces:
              type: integer
            fully_hydrated_surfaces:
              type: integer
            deferred_surfaces:
              type: integer
            blocked_surfaces:
              type: integer
            stale_surfaces:
              type: integer
            coverage_status:
              type: string
            details_omitted_silently:
              type: boolean
              enum:
                - false
        awareness_index:
          type: object
          additionalProperties: true
          properties: {}
        surface_refs:
          type: array
          items:
            type: object
            additionalProperties: true
            properties: {}
        response_projection:
          type: object
          additionalProperties: true
          properties: {}
        runtime_classification:
          type: object
          additionalProperties: true
          properties:
            activation_status:
              type: string
            status_authority:
              type: string
            reason_code:
              type: string
        evidence_matrix:
          type: object
          additionalProperties: true
          properties:
            session_context:
              $ref: "#/components/schemas/HardActivationEvidenceStep"
            provider_bootstrap:
              $ref: "#/components/schemas/HardActivationEvidenceStep"
        report_policy:
          type: object
          additionalProperties: true
          properties:
            may_report_session_context_loaded:
              type: boolean
            may_report_activation_complete:
              type: boolean
            session_context_claim_requires:
              type: string
        secrets_included:
          type: boolean
          enum:
            - false
    ActivationAwarenessResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - response_profile
        - snapshot
        - dynamic_tabs
        - operational_summary
        - dashboard
        - completeness
        - awareness_index
        - auth_context
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - activation_awareness_readback
        response_profile:
          type: string
          enum:
            - evidence
            - summary
            - dashboard
            - diagnostic
            - full
        snapshot:
          type: object
          additionalProperties: true
          properties: {}
        dynamic_tabs:
          type: object
          additionalProperties: true
          properties: {}
        operational_summary:
          type: object
          additionalProperties: true
          properties: {}
        dashboard:
          type: object
          additionalProperties: true
          properties: {}
        completeness:
          type: object
          additionalProperties: true
          required:
            - known_surfaces
            - visible_surfaces
            - summarized_surfaces
            - fully_hydrated_surfaces
            - deferred_surfaces
            - blocked_surfaces
            - stale_surfaces
            - coverage_status
            - details_omitted_silently
          properties:
            known_surfaces:
              type: integer
            visible_surfaces:
              type: integer
            summarized_surfaces:
              type: integer
            fully_hydrated_surfaces:
              type: integer
            deferred_surfaces:
              type: integer
            blocked_surfaces:
              type: integer
            stale_surfaces:
              type: integer
            degraded_surfaces:
              type: integer
            coverage_status:
              type: string
            details_omitted_silently:
              type: boolean
              enum:
                - false
            deferred_details_have_refs:
              type: boolean
        awareness_index:
          type: object
          additionalProperties: false
          properties:
            score:
              type: integer
              minimum: 0
              maximum: 100
            coverage:
              type: integer
              minimum: 0
              maximum: 100
            freshness:
              type: integer
              minimum: 0
              maximum: 100
            authorization_visibility:
              type: integer
              minimum: 0
              maximum: 100
            attention_detection:
              type: integer
              minimum: 0
              maximum: 100
            detail_availability:
              type: integer
              minimum: 0
              maximum: 100
        auth_context:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ActivationDynamicTabDetailResponse:
      type: object
      additionalProperties: true
      required:
        - ok
        - activation_layer
        - snapshot
        - subject
        - container
        - tab
        - sections
        - page
        - policy
        - secrets_included
      properties:
        ok:
          type: boolean
        activation_layer:
          type: string
          enum:
            - activation_dynamic_tab_detail
        snapshot:
          type: object
          additionalProperties: true
          properties: {}
        subject:
          type: object
          additionalProperties: true
          properties: {}
        container:
          type: object
          additionalProperties: true
          properties: {}
        tab:
          type: object
          additionalProperties: true
          properties: {}
        sections:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              section_key:
                type: string
              row_count:
                type: integer
              rows:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  properties: {}
              page:
                type: object
                additionalProperties: false
                properties:
                  cursor:
                    type: integer
                  limit:
                    type: integer
                  has_more:
                    type: boolean
                  next_cursor:
                    type: integer
                    nullable: true
        page:
          type: object
          additionalProperties: false
          properties:
            cursor:
              type: integer
            limit:
              type: integer
            returned_rows:
              type: integer
            has_more:
              type: boolean
            next_cursor:
              type: integer
              nullable: true
        policy:
          type: object
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ActivationRunAckResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - run_id
        - affected_rows
        - secrets_included
      properties:
        ok:
          type: boolean
        run_id:
          type: string
        affected_rows:
          type: integer
        error:
          type: object
          nullable: true
          additionalProperties: true
          properties: {}
        secrets_included:
          type: boolean
          enum:
            - false
    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
              properties: {}
            - type: "null"
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          enum:
            - false
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean
  responses:
    BadRequest:
      description: Invalid request body or missing required field
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid or missing backend API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
security:
  - backendBearerAuth: []
paths:
  /activation/hard-run/summary:
    get:
      tags:
        - activation
        - runtime-verification
      operationId: getActivationHardRunSummary
      summary: Read compact hard activation summary
      description: |
        Returns a summary-first activation status and registry counts without loading the full hard activation evidence graph. Use this endpoint when tool/client response budgets cannot safely receive full activation evidence.
      security:
        - backendBearerAuth: []
      responses:
        "200":
          description: Compact hard activation summary.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        "424":
          description: Activation summary reports degraded surfaces.
  /activation/awareness:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: readActivationAwareness
      x-openai-isConsequential: false
      summary: Read complete activation awareness manifests
      description: Returns Dynamic Tabs and Dashboard manifests, attention summaries, completeness, freshness, awareness index, snapshot metadata, and governed detail references without silently omitting surfaces.
      parameters:
        - in: query
          name: profile
          schema:
            type: string
            enum:
              - evidence
              - summary
              - dashboard
              - diagnostic
              - full
            default: evidence
        - in: query
          name: attention_limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        "200":
          description: Activation awareness readback.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationAwarenessResponse"
        "401":
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Awareness read failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/dynamic-tabs/detail:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: readActivationDynamicTabDetail
      x-openai-isConsequential: false
      summary: Read one authorized Dynamic Tab detail page
      parameters:
        - in: query
          name: container_key
          required: true
          schema:
            type: string
        - in: query
          name: tab_key
          required: true
          schema:
            type: string
        - in: query
          name: section_key
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - in: query
          name: snapshot_id
          schema:
            type: string
      responses:
        "200":
          description: Cursor-paginated Dynamic Tab detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationDynamicTabDetailResponse"
        "400":
          description: Missing or invalid detail scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Container, tab, or section not found within caller scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/runs/{runId}/ack:
    post:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: acknowledgeActivationRun
      x-openai-isConsequential: false
      summary: Record consumer acknowledgement for an activation run
      parameters:
        - in: path
          name: runId
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                acknowledged_by:
                  type: string
                  maxLength: 180
                consumer_state:
                  type: string
                  enum:
                    - acknowledged
                    - rejected
                  default: acknowledged
      responses:
        "200":
          description: Acknowledgement recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationRunAckResponse"
        "404":
          description: Activation run not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/activation/awareness:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: readTenantActivationAwareness
      x-openai-isConsequential: false
      summary: Read signed-in tenant activation awareness
      description: Tenant scope is resolved from the signed user JWT and active membership. Client-supplied tenant identity is not trusted.
      parameters:
        - in: query
          name: profile
          schema:
            type: string
            enum:
              - evidence
              - summary
              - dashboard
            default: evidence
        - in: query
          name: attention_limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        "200":
          description: Tenant-scoped activation awareness.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationAwarenessResponse"
        "401":
          description: User JWT required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Active tenant membership required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /tenant/activation/dynamic-tabs/detail:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: readTenantActivationDynamicTabDetail
      x-openai-isConsequential: false
      summary: Read one tenant-authorized Dynamic Tab detail page
      parameters:
        - in: query
          name: container_key
          required: true
          schema:
            type: string
        - in: query
          name: tab_key
          required: true
          schema:
            type: string
        - in: query
          name: section_key
          schema:
            type: string
        - in: query
          name: cursor
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - in: query
          name: snapshot_id
          schema:
            type: string
      responses:
        "200":
          description: Tenant-scoped cursor-paginated Dynamic Tab detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationDynamicTabDetailResponse"
        "400":
          description: Missing or invalid detail scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Caller lacks active tenant membership or requested object scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Container, tab, or section not found within caller scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/hard-run/legacy-full:
    post:
      deprecated: true
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: runLegacyFullHardActivation
      x-openai-isConsequential: false
      summary: Run legacy full hard activation response
      description: Compatibility route for callers that require the previous fully hydrated Dynamic Tabs, Operational Intelligence, and Dashboard payload. New callers should use /activation/hard-run with response_profile=full only when necessary.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                tenant_id:
                  type: string
                user_id:
                  type: string
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 10
                include_raw:
                  type: boolean
                  default: false
                include_turns:
                  type: boolean
                  default: false
                close_previous_sessions:
                  type: boolean
                  default: false
                response_profile:
                  type: string
                  enum:
                    - evidence
                    - summary
                    - dashboard
                    - diagnostic
                    - full
                  default: evidence
                session_policy:
                  type: string
                  enum:
                    - reuse_or_create
                    - create_new
                    - reuse_only
                    - read_only
                  default: reuse_or_create
                idempotency_key:
                  type: string
                  maxLength: 180
                conversation_ref:
                  type: string
                  maxLength: 500
                reuse_window_hours:
                  type: integer
                  minimum: 1
                  maximum: 168
                  default: 24
                container_key:
                  type: string
                tab_key:
                  type: string
                section_key:
                  type: string
                cursor:
                  type: integer
                  minimum: 0
                  default: 0
                detail_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
                max_response_chars:
                  type: integer
                  minimum: 5000
                  maximum: 500000
                authorized_access_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                authorized_surface_limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                provider_arguments:
                  type: object
                  additionalProperties: true
                  properties: {}
      responses:
        "200":
          description: Legacy full activation completed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
        "424":
          description: Required activation evidence incomplete.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
  /activation/hard-run:
    post:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: runHardActivation
      x-openai-isConsequential: false
      summary: Run evidence-first hard activation with complete awareness
      description: Orchestrates hard activation by collecting session-context evidence first and provider-bootstrap evidence second. Activation is not complete unless both evidence surfaces are present and valid. This prevents final activation reports from claiming session context was opened or loaded without getActi.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                tenant_id:
                  type: string
                user_id:
                  type: string
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 10
                include_raw:
                  type: boolean
                  default: false
                include_turns:
                  type: boolean
                  default: false
                close_previous_sessions:
                  type: boolean
                  default: false
                response_profile:
                  type: string
                  enum:
                    - evidence
                    - summary
                    - dashboard
                    - diagnostic
                    - full
                  default: evidence
                session_policy:
                  type: string
                  enum:
                    - reuse_or_create
                    - create_new
                    - reuse_only
                    - read_only
                  default: reuse_or_create
                idempotency_key:
                  type: string
                  maxLength: 180
                conversation_ref:
                  type: string
                  maxLength: 500
                reuse_window_hours:
                  type: integer
                  minimum: 1
                  maximum: 168
                  default: 24
                container_key:
                  type: string
                tab_key:
                  type: string
                section_key:
                  type: string
                cursor:
                  type: integer
                  minimum: 0
                  default: 0
                detail_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 25
                max_response_chars:
                  type: integer
                  minimum: 5000
                  maximum: 500000
                authorized_access_limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                authorized_surface_limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                provider_arguments:
                  type: object
                  additionalProperties: true
                  properties: {}
      responses:
        "200":
          description: Hard activation complete.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
        "424":
          description: Required activation evidence is missing or degraded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardActivationRunResponse"
  /activation/session-context:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: getActivationSessionContext
      x-tenant-gpt-operationId: activateSession
      summary: Read previous session history and platform scope context
      description: Hard activation layer that reads prior user session envelopes as a paginated history log, scoped user request transcripts, plus audit activity, developer scopes, API credential scopes, and connected-system scopes. Admin/service sessions may also receive execution-log prompt and response summaries..
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
          description: Optional user id. Admin callers may inspect any user; user JWT callers are restricted to themselves.
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Number of previous session/history rows to return per page. Keep small for GPT activation probes.
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Pagination offset for reading older previous session history.
        - name: include_raw
          in: query
          schema:
            type: boolean
            default: false
          description: Include bounded raw request/response dumps where allowed by caller scope.
        - name: raw_max_chars
          in: query
          schema:
            type: integer
            default: 4000
            maximum: 20000
          description: Maximum characters per raw dump field when include_raw=true.
      responses:
        "200":
          description: Session history and related platform scopes
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - subject
                  - pagination
                  - session_history
                  - related_scopes
                  - history
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - session_context
                  subject:
                    type: object
                    additionalProperties: false
                    properties:
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                      is_admin:
                        type: boolean
                  last_session:
                    type: object
                    additionalProperties: true
                    properties: {}
                  pagination:
                    type: object
                    additionalProperties: false
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      include_raw:
                        type: boolean
                      raw_max_chars:
                        type: integer
                      has_more_session_history:
                        type: boolean
                  session_history:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        transcript:
                          type: object
                          additionalProperties: false
                          properties:
                            user_request:
                              type: string
                            ai_response:
                              type: string
                            request_fields_available:
                              type: array
                              items:
                                type: string
                        raw_dump:
                          type: object
                          additionalProperties: true
                          properties: {}
                  related_scopes:
                    type: array
                    items:
                      type: string
                  history:
                    type: object
                    additionalProperties: true
                    properties: {}
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Session context read failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /activation/platform-access:
    get:
      tags:
        - activation
      security:
        - backendBearerAuth: []
      operationId: getActivationPlatformAccess
      summary: Read platform-wide activation access and registry counts
      description: |
        Hard activation evidence for admin/service sessions. Returns explicit all-brand scope plus counts and readiness for brands, plugins, logics, engines, and runtime-callable actions.
      responses:
        "200":
          description: Platform-wide activation access summary
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - activation_layer
                  - principal
                  - access_scope
                  - access
                  - counts
                  - readiness
                properties:
                  ok:
                    type: boolean
                  activation_layer:
                    type: string
                    enum:
                      - platform_access
                  principal:
                    type: object
                    additionalProperties: true
                    properties:
                      type:
                        type: string
                      is_admin:
                        type: boolean
                      user_id:
                        type: string
                      tenant_id:
                        type: string
                  access_scope:
                    type: string
                    enum:
                      - platform_admin_all
                      - user_scoped
                  access:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: string
                      plugins:
                        type: string
                      logics:
                        type: string
                      engines:
                        type: string
                      actions:
                        type: string
                  counts:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: object
                        additionalProperties: true
                        properties: {}
                      plugins:
                        type: object
                        additionalProperties: true
                        properties: {}
                      logics:
                        type: object
                        additionalProperties: true
                        properties: {}
                      engines:
                        type: object
                        additionalProperties: true
                        properties: {}
                      actions:
                        type: object
                        additionalProperties: true
                        properties: {}
                  readiness:
                    type: object
                    additionalProperties: true
                    properties:
                      brands:
                        type: string
                      plugins:
                        type: string
                      logics:
                        type: string
                      engines:
                        type: string
                      actions:
                        type: string
                  degraded_surfaces:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Platform access read failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /system/connectors:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: listSystemConnectors
      summary: List connector systems visible to the current principal
      description: Principal-aware facade over connected_systems. Tenant users are automatically scoped to their tenant; admin principals can inspect all tenants.
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
          description: Admin-only filter. Tenant principals are always forced to their own tenant_id.
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - pending
              - error
              - archived
        - name: connector_family
          in: query
          schema:
            type: string
        - name: provider_family
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Principal-scoped connector registry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  connectors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /system/connectors/{system_id}:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: getSystemConnector
      summary: Get one connector system visible to the current principal
      description: Principal-aware connector registry read. Tenant users can only read systems in their tenant; admins can read any system.
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Principal-scoped connector registry record
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  connector:
                    type: object
                    additionalProperties: true
                    properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Connector system not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /system/tools:
    get:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: listSystemTools
      x-tenant-gpt-operationId: listTools
      summary: List MCP-style system tools visible to the current principal
      description: Lists fixed OpenAPI-compatible tools available through the auth-host system layer. Tool calls are governed by principal context. Results are bounded and page-aware; oversized responses return response_chunked=true, chunk_id, page.next_cursor, cache TTL metadata, and require response_chunk_read befo.
      responses:
        "200":
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  principal:
                    type: object
                    additionalProperties: true
                    properties: {}
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /system/tools/call:
    post:
      tags:
        - system-layer
      security:
        - backendBearerAuth: []
      operationId: callSystemTool
      x-tenant-gpt-operationId: callTool
      x-openai-isConsequential: false
      summary: Call a governed MCP-style system tool
      description: Calls a fixed system-layer tool through principal-aware runtime validation. Tenant principals are scoped to their tenant; admin principals can inspect all connector registry records and run provider-bootstrap probes. Oversized results return a chunk continuation envelope with response_chunked=true,.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  pattern: ^[a-z][a-z0-9_:-]{1,128}$
                  description: Tool key returned by listTools; runtime validates registration, tenant scope, and arguments before dispatch.
                arguments:
                  type: object
                  additionalProperties: true
                  deprecated: true
                  description: Legacy tool arguments. Tenant GPT callers should use tool_args.
                  properties: {}
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields. Admin provider tools require admin/service auth.
                  properties:
                    mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                        - hybrid
                    integration_modes:
                      type: array
                      items:
                        type: string
                    device_id:
                      type: string
                      pattern: ^[a-z0-9-]{2,32}$
      responses:
        "200":
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tenant scope violation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/system/connectors:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminSystemConnectors
      summary: List connector systems from the system registry
      description: Read-only admin facade over the connected_systems table. Use this before choosing connector-specific actions or MCP-style tool calls.
      parameters:
        - name: tenant_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - pending
              - error
              - archived
        - name: connector_family
          in: query
          schema:
            type: string
        - name: provider_family
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Connector registry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  connectors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/system/connectors/{system_id}:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminSystemConnector
      summary: Get one connector system from the system registry
      description: Returns one connected_systems row plus its installation summary. This is a governed alternative to raw DB inspection for connector inventory.
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Connector registry record
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  connector:
                    type: object
                    additionalProperties: true
                    properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Connector system not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/system/tools:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminSystemTools
      summary: List MCP-style system layer tools
      description: Lists fixed OpenAPI-compatible tools available through the admin system layer. This behaves like a small MCP tools/list facade over governed platform registries. Results are bounded and page-aware; oversized responses return response_chunked=true, chunk_id, page.next_cursor, cache TTL metadata, and.
      responses:
        "200":
          description: System layer tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/system/tools/call:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: callAdminSystemTool
      x-openai-isConsequential: false
      summary: Call an MCP-style system layer tool
      description: Calls a fixed, governed system-layer tool. Tools expose the connected_systems registry and admin-only provider-bootstrap probes for Drive, Sheets, and GitHub activation evidence. Oversized results return a chunk continuation envelope with response_chunked=true, chunk_id, page.next_cursor, cache TTL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  enum:
                    - connector_registry_list
                    - connector_registry_get
                    - activation_drive_probe
                    - activation_sheets_bootstrap_read
                    - activation_github_validate
                    - activation_provider_bootstrap_validate
                    - activation_bootstrap_config_upsert
                arguments:
                  type: object
                  additionalProperties: true
                  deprecated: true
                  description: Legacy tool arguments. Prefer tool_args for wrapper-safe callers.
                  properties: {}
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Tool arguments. For connector_registry_get, include system_id. For activation bootstrap upsert, include GitHub binding fields.
                  properties: {}
      responses:
        "200":
          description: System tool result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  name:
                    type: string
                  result:
                    type: object
                    additionalProperties: true
                    properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/apis-services/google-auth-platform:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminGoogleAuthPlatformTabs
      summary: Read simulated Google Auth Platform tabs
      description: Returns governed DB-backed tab state for the platform-controlled Google Auth Platform and APIs & Services console simulation.
      parameters:
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
        - in: query
          name: owner_type
          schema:
            type: string
            enum:
              - platform
              - tenant
            default: platform
        - in: query
          name: tenant_id
          schema:
            type: string
      responses:
        "200":
          description: Google Auth Platform tab state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  project_key:
                    type: string
                  console_root:
                    type: string
                  tabs:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/apis-services/google-auth-platform/{tab}:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminGoogleAuthPlatformTab
      summary: Read one simulated Google Auth Platform tab
      description: Returns one governed tab state, such as overview, branding, audience, clients, data_access, verification_center, settings, or api_credentials.
      parameters:
        - in: path
          name: tab
          required: true
          schema:
            type: string
            enum:
              - overview
              - branding
              - audience
              - clients
              - data_access
              - verification_center
              - settings
              - api_credentials
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
      responses:
        "200":
          description: Google Auth Platform tab state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/apis-services/credentials:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getAdminApisServicesCredentials
      summary: Read simulated APIs & Services Credentials tab
      description: Returns the governed APIs & Services Credentials tab and linked platform credential-client registry records.
      parameters:
        - in: query
          name: project_key
          schema:
            type: string
            default: growth-intelligence-os
      responses:
        "200":
          description: APIs & Services Credentials state
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
  /gpt/tools:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listAdminTools
      summary: List admin platform tools from the governed registry
      description: Returns paginated DB-backed and virtual Admin tools. Use limit/cursor/q/tag for bounded discovery; clients unable to send query parameters should call admin_tool_catalog_search through callAdminTool. Read all response chunks before fallback. Repository lifecycle mutations remain capability-gated an.
      x-runtime-governance:
        admin_branch_reconcile_continuation:
          policy: admin_branch_reconcile_continuation_contract
          virtual_tool: admin_branch_reconcile
          adapter: runAdminBranchReconcile
          adapter_version: admin-branch-reconciliation-v1
          apply_supported: false
          github_ref_update_force: false
          requires_confirmation_for_future_apply: RECONCILE_BRANCH_<BRANCH_SLUG>
          shared_reconciliation_checkpoint: true
          secrets_included: false
        github_branch_fast_forward_to_base:
          policy: capability_envelope_gated_ref_update
          virtual_tool: github_branch_fast_forward_to_base
          adapter: runGithubBranchFastForwardToBase
          recipe_key: github.branch.fast_forward_to_base
          requires_prior_dry_run_tool: admin_branch_reconcile
          requires_expected_base_sha: true
          requires_expected_branch_sha: true
          applies_only_when_classification: behind_only
          requires_capability_envelope: true
          requires_confirmation: RECONCILE_BRANCH_<BRANCH_SLUG>
          github_ref_update_force: false
          requires_same_cycle_readback: true
          secrets_included: false
        github_branch_merge_commit_create:
          policy: capability_envelope_gated_multi_parent_merge_commit
          virtual_tool: github_branch_merge_commit_create
          adapter: runGithubBranchMergeCommitCreate
          recipe_key: github.branch.create_multi_parent_merge_commit
          requires_prior_dry_run_tool: admin_branch_reconcile
          applies_only_when_classification: [diverged_no_overlap, diverged_same_files]
          requires_expected_base_sha: true
          requires_expected_branch_sha: true
          requires_resolution_commit_sha: true
          resolution_commit_sole_parent: expected_base_sha
          resolution_commit_changed_files_must_match_branch_scope: true
          resolution_commit_max_files: 50
          requires_capability_envelope: true
          requires_confirmation: CREATE_MERGE_COMMIT_<BRANCH_SLUG>
          merge_commit_parent_order: [expected_branch_sha, expected_base_sha]
          merge_commit_tree_source: validated_resolution_commit_tree
          github_ref_update_force: false
          protected_branch_update_allowed: false
          requires_same_cycle_ref_readback: true
          requires_same_cycle_parent_readback: true
          requires_same_cycle_tree_readback: true
          expected_readback_classification: ahead_only
          expected_readback_behind_by: 0
          secrets_included: false
        github_branch_fast_forward_smoke:
          policy: disposable_branch_smoke_with_cleanup
          virtual_tool: github_branch_fast_forward_smoke
          adapter: runGithubBranchFastForwardSmoke
          recipe_key: github.branch.fast_forward_smoke
          creates_branch_prefix: gpt/fast-forward-smoke-
          creates_branch_at: default_branch_parent_commit
          requires_capability_envelope: true
          requires_dry_run_classification: behind_only
          delegates_apply_to: github_branch_fast_forward_to_base
          github_ref_update_force: false
          requires_same_cycle_readback: true
          cleanup_required: true
          cleanup_in_finally: true
          secrets_included: false
        chunked_tool_response_continuation:
          policy: chunk_read_before_alternative_surface
          required_tool: response_chunk_read
          required_before_fallback: true
          applies_to: any_governed_tool_response
          secrets_included: false
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Maximum tools to return in this page.
        - name: cursor
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Zero-based list cursor for the next page.
        - name: q
          in: query
          schema:
            type: string
          description: Optional text filter over name, displayName, description, and path.
        - name: tag
          in: query
          schema:
            type: string
          description: Optional exact tag filter.
        - name: max_chars
          in: query
          schema:
            type: integer
            minimum: 5000
            maximum: 150000
            default: 45000
          description: Maximum JSON characters before returning an automatic response chunk.
      responses:
        "200":
          description: Admin tool catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - tools
                properties:
                  ok:
                    type: boolean
                  caller_type:
                    type: string
                  count:
                    type: integer
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        inputSchema:
                          type: object
                          additionalProperties: true
                          properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Tool list failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /gpt/tools/call:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: callAdminTool
      x-openai-isConsequential: false
      summary: Execute any admin platform tool by name
      description: Executes a governed DB-backed or virtual Admin tool returned by listAdminTools. Pass tool arguments in tool_args according to the returned inputSchema. Use admin_tool_catalog_search when the client cannot send list pagination/search parameters. DB-backed path parameters are substituted automaticall.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  description: Governed DB-backed or virtual tool key returned by listAdminTools; runtime validates registration and inputSchema before dispatch.
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Arguments matching the tool inputSchema. For connect_activate, pass mode and integration_modes here; for connect_device_install, pass device_id here; for admin_control pass tool, sql, args etc. here.
                  properties:
                    mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                      description: Activation mode for connect_activate.
                    device_id:
                      type: string
                      pattern: ^[a-z0-9-]{2,32}$
                      description: Stable lowercase device id for connect_device_install.
                    workspace_name:
                      type: string
                    integration_modes:
                      type: object
                      additionalProperties: true
                      description: Optional per-app managed/dedicated source policy.
                      properties: {}
                    n8n_activation_mode:
                      type: string
                      enum:
                        - managed_main_server
                        - self_hosted_local
                    provisioning_credential_mode:
                      type: string
                      enum:
                        - managed
                        - dedicated
                    app_key:
                      type: string
                    auth_type:
                      type: string
                    display_label:
                      type: string
      responses:
        "200":
          description: Upstream tool response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Tool not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Tool call failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /device/tools:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listDeviceTools
      summary: List device-tagged tools (MCP-style local device control surface)
      description: Returns the device-tagged subset of the admin or tenant tool registry. Use this MCP-style facade to control local device apps (n8n, browser, files, Windows, Cloudflare) primarily from auth.mad4b.com instead of the direct connector.mad4b.com schema.
      responses:
        "200":
          description: Device tool catalog
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - tools
                properties:
                  ok:
                    type: boolean
                  protocol:
                    type: string
                    example: openapi-mcp-facade
                  surface:
                    type: string
                    example: device
                  caller_type:
                    type: string
                  count:
                    type: integer
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        inputSchema:
                          type: object
                          additionalProperties: true
                          properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Device tool list failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /device/tools/call:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: callDeviceTool
      x-openai-isConsequential: false
      summary: Execute a device-tagged tool by name (MCP-style dispatch)
      description: Dispatches a device-tagged tool through the auth.mad4b.com facade. Rejects tool keys not tagged 'device' with 403. Reuses the gpt/tools dispatcher so audit, admin scope-grant resolution, and grant_dispatch logging keep working.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  description: Device tool key from listDeviceTools, e.g. connector_n8n, connector_browser, connector_win, connector_files.
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Arguments matching the device tool inputSchema.
                  properties: {}
      responses:
        "200":
          description: Upstream device tool response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Tool exists but is not in the device-tools surface
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Tool not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Device tool call failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/cli/local-connector/install-bundle:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getLocalConnectorInstallBundle
      summary: Generate and upload local connector installer
      description: Generate a pre-filled Windows .bat installer for the local connector stack (cloudflared + Node.js service via NSSM). Reads cf_token and connector_secret from local_connector_user_configs in DB for the given user_id + device_id. Falls back to server env only if no DB row exists. Uploads to Google Dr.
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: string
          description: User ID whose device config to load from DB. Defaults to platform admin.
        - name: device_id
          in: query
          required: false
          schema:
            type: string
          description: Device ID (hostname) to load config for. Defaults to mohammedlap.
      responses:
        "200":
          description: Installer uploaded, drive link returned
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - drive
                properties:
                  ok:
                    type: boolean
                  drive_upload_status:
                    type: string
                    enum:
                      - uploaded
                      - failed
                      - not_configured
                      - attempted
                  drive_error:
                    oneOf:
                      - type: object
                        additionalProperties: true
                        properties: {}
                      - type: "null"
                  drive:
                    oneOf:
                      - type: object
                        additionalProperties: true
                        properties:
                          file_id:
                            type: string
                          drive_link:
                            type: string
                          filename:
                            type: string
                      - type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Install bundle generation failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/cli/local-connector/self-repair:
    post:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: repairLocalConnector
      x-openai-isConsequential: false
      summary: Self-repair the admin local connector
      x-runtime-governance:
        local_connector_tunnel_provisioning_continuation:
          policy: local_connector_tunnel_provisioning_continuation_contract
          interruption_signal: connector_tunnel_provisioning_required
          required_next_action: provision_tunnel_token
          status_code: 409
          shared_reconciliation_checkpoint: true
          secrets_included: false
      description: "Retry bounded connector health up to three total attempts for transient 1033/HTTP 530. Stop on pass or authorization-gated reachability. Generate repair installer assets only after retry exhaustion and degraded readback. Returns no-secret diagnosis and retry evidence."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                user_id:
                  type: string
                  description: User ID whose device to repair. Defaults to platform admin.
                device_id:
                  type: string
                  description: Device hostname to repair. Defaults to mohammedlap.
      responses:
        "200":
          description: Self-repair result with diagnosis and drive link
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - diagnosis
                  - repair
                properties:
                  ok:
                    type: boolean
                  diagnosis:
                    type: object
                    additionalProperties: true
                    properties:
                      device_id:
                        type: string
                      tunnel_url:
                        type: string
                      cf_tunnel_id:
                        type: string
                      cf_tunnel_status:
                        type: string
                      config_source:
                        type: string
                        enum:
                          - db
                          - env
                          - env_fallback
                  repair:
                    type: object
                    additionalProperties: true
                    properties:
                      action:
                        type: string
                      drive_upload_status:
                        type: string
                        enum:
                          - uploaded
                          - failed
                          - not_configured
                          - attempted
                      drive_error:
                        oneOf:
                          - type: object
                            additionalProperties: true
                            properties: {}
                          - type: "null"
                      drive:
                        oneOf:
                          - type: object
                            additionalProperties: true
                            properties:
                              file_id:
                                type: string
                              drive_link:
                                type: string
                              filename:
                                type: string
                          - type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Self-repair failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/cli/dns:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listDnsRecords
      summary: List DNS records for a zone
      description: Lists all DNS records for the specified zone via Cloudflare API. Defaults to mad4b.com.
      parameters:
        - name: zone
          in: query
          required: false
          schema:
            type: string
            default: mad4b.com
          description: Domain zone to query, e.g. mad4b.com.
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Filter by record type, e.g. A, CNAME, TXT.
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Filter by record name.
      responses:
        "200":
          description: DNS record list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - records
                properties:
                  ok:
                    type: boolean
                  zone:
                    type: string
                  records:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties: {}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: DNS list failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/schema-import/jobs:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: listSchemaImportJobs
      summary: List schema import jobs with optional action_key filter
      parameters:
        - name: action_key
          in: query
          schema:
            type: string
          description: Filter by action_key. Omit to list all jobs.
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: "#/components/schemas/SchemaImportJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/cli/data-source/census:
    get:
      tags:
        - admin-control
      security:
        - backendBearerAuth: []
      operationId: getPlatformDataSourceCensus
      summary: SQL data-source census across platform tables
      description: Returns row counts and last-write timestamps for every SQL table mapped in the platform registry (brands, actions, endpoints, plugins, execution_log, etc.) plus the Sheets mirror configuration. Use to verify SQL is the runtime authority, find empty tables that may need seeding, and audit migration.
      responses:
        "200":
          description: Per-table census with summary
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - data_source
                  - summary
                  - tables
                properties:
                  ok:
                    type: boolean
                  data_source:
                    type: object
                    additionalProperties: true
                    properties:
                      runtime_authority:
                        type: string
                        enum:
                          - sql
                      mode:
                        type: string
                      sheets_role:
                        type: string
                      sheets_mirror_configured:
                        type: boolean
                  summary:
                    type: object
                    additionalProperties: true
                    properties:
                      total_tables:
                        type: integer
                      seeded_tables:
                        type: integer
                      empty_tables:
                        type: integer
                  tables:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        sql_table:
                          type: string
                        sheet_name:
                          type: string
                        sql_row_count:
                          oneOf:
                            - type: integer
                            - type: "null"
                        sql_last_write_at:
                          oneOf:
                            - type: string
                            - type: "null"
                        sql_seeded:
                          type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Census query failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
