openapi: 3.1.0
info:
  title: Mad4B Platform — Unified HTTP Client
  version: 1.0.0
  summary: Single GPT connector for all cloud platform operations.
  description: "Mad4B: multi-tenant, Human-Managed, governed-registry-driven execution system for multi-agent business intelligence workflows. Created by Essam Nagy (nagy.essam.website). Admin connector for dispatch, provisioning, schema, and infrastructure."
servers:
  - url: https://auth.mad4b.com
    description: Mad4B platform — Cloud Run via auth subdomain
tags:
  - name: activation
    description: Fast activation bootstrap, session context, and platform access.
  - name: dispatch
    description: Universal intent-based dispatcher — routes to cloud or local connector at runtime.
  - name: device
    description: Local device provisioning and health.
  - name: schema
    description: Schema import and management.
  - name: admin
    description: Release readiness and admin control.
  - name: connect
    description: Tenant backend connection onboarding — managed or dedicated mode.
components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key, user JWT, or platform API key
      description: "Send Authorization: Bearer <BACKEND_API_KEY|USER_JWT|pk_api_key>"
  schemas:
    DispatchResult:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        routed: { type: boolean }
        intent_key: { type: string }
        workflow_key: { type: string }
        target_module: { type: string }
    Error:
      type: object
      properties:
        ok: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
security:
  - backendBearerAuth: []
paths:

  /activation/bootstrap-config:
    get:
      tags: [activation]
      operationId: getActivationBootstrapConfig
      summary: Get authoritative backend runtime bootstrap config
      description: "Returns the full bootstrap row built from Cloud Run env and live DB state. Replaces Activation Bootstrap Config!A2:J2 Sheets readback. Call this instead of Sheets for activation contract validation. sheets_required is always false."
      responses:
        '200':
          description: Backend runtime bootstrap config
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  activation_layer: { type: string }
                  source: { type: string, example: backend_runtime }
                  sheets_required: { type: boolean, example: false }
                  bootstrap_row:
                    type: object
                    properties:
                      system_name: { type: string }
                      api_base_url: { type: string }
                      environment: { type: string }
                      registry_sheet_id: { type: string, nullable: true }
                      activity_sheet_id: { type: string, nullable: true }
                      github_repo: { type: string, nullable: true }
                      cloudflare_zone: { type: string, nullable: true }
                      connector_url: { type: string }
                      bootstrap_version: { type: string }
                      activated_at: { type: string, nullable: true }
                  platform_state:
                    type: object
                    properties:
                      tenant_count: { type: integer }
                      membership_count: { type: integer }
                      connection_count: { type: integer }
                      active_connections: { type: integer }
                      device_count: { type: integer }
                      enabled_devices: { type: integer }
                      last_activation_at: { type: string, nullable: true }
                  note: { type: string }

  /activation/env-bootstrap:
    get:
      tags: [activation]
      operationId: getActivationEnvBootstrap
      summary: Read activation env flags and cache policy (legacy)
      description: "Returns env bootstrap IDs, credential presence flags, and cache policy. sheets_required is false — use /activation/bootstrap-config for the authoritative runtime bootstrap row."
      responses:
        '200':
          description: Env bootstrap config
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  activation_layer: { type: string }
                  source: { type: string }
                  sheets_required: { type: boolean, example: false }
                  bootstrap_authority: { type: string, example: backend_runtime }
                  bootstrap: { type: object, additionalProperties: true }
                  cache_policy: { type: object, additionalProperties: true }
                  env_presence: { type: object, additionalProperties: true }

  /activation/session-context:
    get:
      tags: [activation]
      operationId: getActivationSessionContext
      summary: Get GPT activation session context
      description: Loads session context, platform access, transcript availability, developer apps, credentials, installations, and degraded surfaces.
      parameters:
        - name: user_id
          in: query
          required: false
          schema: { type: string }
        - name: tenant_id
          in: query
          required: false
          schema: { type: string }
        - name: include_raw
          in: query
          required: false
          schema: { type: boolean }
      responses:
        '200':
          description: Session context
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  activation_layer: { type: string }
                  subject: { type: object, additionalProperties: true }
                  context: { type: object, additionalProperties: true }
                  platform_access: { type: object, additionalProperties: true }
                  degraded_surfaces: { type: array, items: { type: object } }

  /activation/platform-access:
    get:
      tags: [activation]
      operationId: getActivationPlatformAccess
      summary: Get platform access and surface counts
      description: Returns platform access scope, counts, registry surfaces, and degraded surfaces for activation classification.
      parameters:
        - name: user_id
          in: query
          required: false
          schema: { type: string }
        - name: tenant_id
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Platform access
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  activation_layer: { type: string }
                  access_scope: { type: string }
                  counts: { type: object, additionalProperties: true }
                  degraded_surfaces: { type: array, items: { type: object } }

  /dispatch:
    post:
      tags: [dispatch]
      operationId: dispatch
      summary: Universal intent dispatcher
      description: Routes intent_key to the correct module. Local connector ops (local.shell.run, local.file.read, local.file.write, local.health.check) execute directly. Other intents return route metadata with suggested_endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent_key, user_id, tenant_id]
              properties:
                intent_key:
                  type: string
                  description: Route key, e.g. local.shell.run, local.file.read, local.health.check
                  enum:
                    - local.shell.run
                    - local.file.read
                    - local.file.write
                    - local.health.check
                    - local.device.install
                user_id:
                  type: string
                tenant_id:
                  type: string
                device_id:
                  type: string
                  description: Required for all local.* intents.
                agent_id:
                  type: string
                  description: Caller agent UUID for skill grant validation.
                payload:
                  type: object
                  additionalProperties: true
                  description: "Intent-specific payload. local.shell.run: {alias}. local.file.read: {path}. local.file.write: {path, content}."
      responses:
        '200':
          description: Dispatched result or route metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DispatchResult' }
        '400': { description: Missing fields }
        '403': { description: Skill not granted }
        '404': { description: Route not found for intent_key }

  /dispatch/routes:
    get:
      tags: [dispatch]
      operationId: listDispatchRoutes
      summary: List all active dispatch routes
      description: Returns all active task_routes with their intent_key, workflow_key, target_module, and whether they are directly dispatched or require a specific endpoint call.
      responses:
        '200':
          description: Route list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  count: { type: integer }
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        intent_key: { type: string }
                        workflow_key: { type: string }
                        target_module: { type: string }
                        execution_layer: { type: string }
                        directly_dispatched: { type: boolean }

  /local-connector/install:
    post:
      tags: [device]
      operationId: installDevice
      summary: Provision a Cloudflare tunnel and local connector for a user device
      description: Creates tunnel, DNS, allowlist, and install.bat. Owner/admin uses env credentials; user/API clients use DB app connections.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, tenant_id, device_id]
              properties:
                user_id: { type: string, description: "User UUID; admin alias is accepted for platform admin." }
                tenant_id: { type: string, description: "Tenant UUID; platform alias is accepted for platform tenant." }
                device_id: { type: string, description: "Stable machine name, e.g. mohammedlap" }
                hostname:
                  type: string
                  description: Optional full route hostname under .connector.mad4b.com. Omit to auto-generate from user_id and device_id.
                cloudflare_connection_id:
                  type: string
                  description: Optional DB app connection for non-admin Cloudflare credentials.
                hostinger_connection_id:
                  type: string
                  description: Optional DB app connection for non-admin Hostinger credentials.
                reprovision: { type: boolean, default: false }
                local_apps:
                  type: array
                  description: Optional path-based apps to expose on the same connector host.
                  items:
                    type: object
                    properties:
                      app_key: { type: string, example: webbrowsing }
                      path_prefix: { type: string, example: /webbrowsing }
                      local_port: { type: integer, example: 9222 }
                      status:
                        type: string
                        enum: [planned, active, disabled]
                        default: planned
                custom_aliases:
                  type: array
                  items:
                    type: object
                    properties:
                      alias: { type: string }
                      cmd: { type: string }
                      args: { type: array, items: { type: string } }
                      description: { type: string }
      responses:
        '200':
          description: Install bundle with tunnel credentials and install.bat
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  config_id: { type: string }
                  tunnel_url: { type: string }
                  dns_record: { type: object, additionalProperties: true }
                  connector_secret: { type: string }
                  cf_tunnel_id: { type: string }
                  app_routes:
                    type: array
                    items:
                      type: object
                      properties:
                        app_key: { type: string }
                        route_mode: { type: string, enum: [host, path] }
                        hostname: { type: string }
                        path_prefix: { type: string, nullable: true }
                        local_port: { type: integer }
                        service_url: { type: string }
                        public_url: { type: string }
                        status: { type: string, enum: [planned, active, disabled] }
                  cloud_run_env: { type: object, additionalProperties: true }
                  installation: { type: object, additionalProperties: true }

  /local-connector/install/status:
    get:
      tags: [device]
      operationId: deviceInstallStatus
      summary: Check local connector installation status for a device
      description: Returns config and shell allowlist for the given user+device. installed=false means /install has not been called yet.
      parameters:
        - name: user_id
          in: query
          required: true
          schema: { type: string }
        - name: tenant_id
          in: query
          required: true
          schema: { type: string }
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Install status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  installed: { type: boolean }
                  config: { type: object, additionalProperties: true }
                  aliases: { type: array, items: { type: object } }
                  app_routes: { type: array, items: { type: object } }

  /local-connector/health:
    get:
      tags: [device]
      operationId: deviceHealth
      summary: Check local connector reachability via platform proxy
      description: Platform calls the device tunnel and returns health. Slower than calling connector.mad4b.com/health directly but works without knowing the device secret.
      parameters:
        - name: user_id
          in: query
          required: true
          schema: { type: string }
        - name: tenant_id
          in: query
          required: true
          schema: { type: string }
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Health result (ok=false if unreachable)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  tunnel_url: { type: string }
                  agent: { type: object, additionalProperties: true }
                  error: { type: object, additionalProperties: true }

  /admin/schema-import/upload:
    post:
      tags: [schema]
      operationId: schemaImportUpload
      summary: Import a schema file into the platform
      description: Accepts JSON/YAML schema content or a repo URL. Validates, upserts endpoints, and logs the import job. Use source_type=upload for direct content, repo_link for a GitHub URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_type]
              properties:
                source_type:
                  type: string
                  enum: [upload, repo_link, rollback]
                content: { type: string }
                source_url: { type: string }
                source_ref: { type: string }
                source_filename: { type: string }
      responses:
        '200':
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  job_id: { type: string }
                  endpoints_upserted: { type: integer }
                  warnings: { type: array, items: { type: string } }

  /admin/schema-import/rollback:
    post:
      tags: [schema]
      operationId: schemaImportRollback
      summary: Rollback the last schema import
      description: Reverts the most recent schema import job. Restores deprecated endpoints and removes newly-added ones.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id: { type: string, description: Import job to roll back. Omit to roll back the last job. }
      responses:
        '200':
          description: Rollback result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  rolled_back_job_id: { type: string }
                  endpoints_restored: { type: integer }

  /admin/release/readiness:
    get:
      tags: [admin]
      operationId: releaseReadiness
      summary: Check platform release readiness
      description: Returns failing checks, warnings, and a go/no-go decision for the current codebase state. Covers CI, migrations, agent health, and governance drift.
      responses:
        '200':
          description: Readiness report
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  ready: { type: boolean }
                  checks: { type: array, items: { type: object } }
                  warnings: { type: array, items: { type: string } }

  /admin/cli/gcloud:
    post:
      tags: [admin]
      operationId: adminGcloud
      summary: Run a gcloud CLI command on Cloud Run
      description: Executes gcloud on the Cloud Run container. Use for service restarts, traffic updates, log reads, or env var updates. Admin principal required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [args]
              properties:
                args:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                  description: gcloud arguments, e.g. ["run", "services", "update-traffic", "http-generic-api", "--to-latest"]
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 600000
                  default: 120000
      responses:
        '200':
          description: CLI output
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  stdout: { type: string }
                  stderr: { type: string }
                  exit_code: { type: integer }
        '400': { description: Missing args }
        '403': { description: Admin principal required }

  /admin/cli/dns:
    get:
      tags: [admin]
      operationId: listDnsRecords
      summary: List DNS records for a domain via Hostinger API
      description: Returns all DNS records for the given domain from Hostinger. Defaults to mad4b.com. Admin principal required.
      parameters:
        - name: domain
          in: query
          required: false
          schema: { type: string, default: mad4b.com }
        - name: api_key_ref
          in: query
          required: false
          schema: { type: string, enum: [cloud_plan, shared_manager], default: cloud_plan }
      responses:
        '200':
          description: DNS records list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  domain: { type: string }
                  records: { type: object, additionalProperties: true }
        '403': { description: Admin principal required }
    post:
      tags: [admin]
      operationId: upsertDnsRecord
      summary: Add or update a DNS record via Hostinger API
      description: Upserts a single DNS record (CNAME, A, TXT, etc.) for the given domain using the Hostinger API. Defaults to mad4b.com. Admin principal required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type, content]
              properties:
                domain: { type: string, default: mad4b.com }
                name: { type: string, description: "Record name, e.g. connector or n8n" }
                type: { type: string, enum: [A, AAAA, CNAME, TXT, MX, NS, SRV] }
                content: { type: string, description: "Record value, e.g. tunnel-id.cfargotunnel.com." }
                ttl: { type: integer, default: 300 }
                api_key_ref: { type: string, enum: [cloud_plan, shared_manager], default: cloud_plan }
      responses:
        '200':
          description: Upsert result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  domain: { type: string }
                  name: { type: string }
                  type: { type: string }
                  result: { type: object, additionalProperties: true }
        '400': { description: Missing name, type, or content }
        '403': { description: Admin principal required }
    delete:
      tags: [admin]
      operationId: deleteDnsRecord
      summary: Delete a DNS record via Hostinger API
      description: Removes a DNS record by name and type for the given domain using the Hostinger API. Defaults to mad4b.com. Admin principal required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                domain: { type: string, default: mad4b.com }
                name: { type: string }
                type: { type: string, enum: [A, AAAA, CNAME, TXT, MX, NS, SRV] }
                api_key_ref: { type: string, enum: [cloud_plan, shared_manager], default: cloud_plan }
      responses:
        '200':
          description: Delete result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  domain: { type: string }
                  name: { type: string }
                  type: { type: string }
                  result: { type: object, additionalProperties: true }
        '400': { description: Missing name or type }
        '403': { description: Admin principal required }

  /connect/status:
    get:
      tags: [connect]
      operationId: tenantConnectionStatus
      summary: Get authenticated tenant's connection state
      description: Returns the tenant's connection mode (managed/dedicated), active devices, and provisioning status. Send user JWT from /auth/login or /auth/google in Authorization header.
      responses:
        '200':
          description: Connection status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  user: { type: object, additionalProperties: true }
                  tenant: { type: object, additionalProperties: true }
                  connection:
                    type: object
                    properties:
                      mode: { type: string }
                      status: { type: string }
                      cloudflare_mode: { type: string }
                      google_auth_mode: { type: string }
                      n8n_activation_mode:
                        type: string
                        enum: [managed_main_server, self_hosted_local]
                      device_count: { type: integer }
                      activated_at: { type: string }
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id: { type: string }
                        tunnel_url: { type: string }
                        is_enabled: { type: boolean }
        '403': { description: User JWT required }

  /connect/activate:
    post:
      tags: [connect]
      operationId: tenantConnectionActivate
      summary: Set tenant backend connection mode
      description: "Activates managed (platform provisions CF tunnel and uses its own Google SA) or dedicated (tenant supplies own CF/Hostinger credentials). User JWT required."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              properties:
                mode:
                  type: string
                  enum: [managed, dedicated]
                cloudflare_mode:
                  type: string
                  enum: [managed, dedicated]
                  default: managed
                google_auth_mode:
                  type: string
                  enum: [managed, dedicated]
                  default: managed
                n8n_activation_mode:
                  type: string
                  enum: [managed_main_server, self_hosted_local]
                  default: managed_main_server
                  description: managed_main_server uses n8n.mad4b.com; self_hosted_local provisions device-local n8n route.
                cf_api_token:
                  type: string
                  description: Dedicated mode only — Cloudflare API token for tunnel provisioning.
                cf_account_id:
                  type: string
                  description: Dedicated mode only — Cloudflare account ID.
                hostinger_api_key:
                  type: string
                  description: Dedicated mode only — Hostinger DNS API key.
      responses:
        '200':
          description: Activation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  connection:
                    type: object
                    properties:
                      mode: { type: string, enum: [managed, dedicated] }
                      status: { type: string }
                      cloudflare_mode: { type: string, enum: [managed, dedicated] }
                      google_auth_mode: { type: string, enum: [managed, dedicated] }
                      n8n_activation_mode:
                        type: string
                        enum: [managed_main_server, self_hosted_local]
                      device_count: { type: integer }
                      activated_at: { type: string }
                  notice: { type: string }
        '403': { description: User JWT required }

  /connect/device-install:
    post:
      tags: [connect]
      operationId: tenantDeviceInstall
      summary: Provision a local connector for the authenticated tenant's device
      description: Creates or reuses a connector config, DNS tunnel, default n8n/browser app routes, and install bundle. User JWT required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
                  description: Stable machine identifier, e.g. mohammedlap or johns-pc.
                hostname:
                  type: string
                  description: Optional full hostname under .connector.mad4b.com.
                cloudflare_connection_id: { type: string }
                hostinger_connection_id: { type: string }
                local_apps:
                  type: array
                  items:
                    type: object
                    properties:
                      app_key: { type: string }
                      path_prefix: { type: string }
                      local_port: { type: integer }
                      status: { type: string, enum: [planned, active, disabled] }
      responses:
        '200':
          description: Connector install bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  config_id: { type: string }
                  device_id: { type: string }
                  tunnel_url: { type: string }
                  connector_secret: { type: string }
                  cf_tunnel_id: { type: string }
                  credential_source: { type: string }
                  dns_record: { type: object, additionalProperties: true }
                  app_routes:
                    type: array
                    items:
                      type: object
                      properties:
                        app_key: { type: string }
                        route_mode: { type: string, enum: [host, path] }
                        hostname: { type: string }
                        path_prefix: { type: string, nullable: true }
                        local_port: { type: integer }
                        service_url: { type: string }
                        public_url: { type: string }
                        status: { type: string, enum: [planned, active, disabled] }
                  installation: { type: object, additionalProperties: true }
        '403': { description: User JWT required }

  /admin/cli/control:
    post:
      tags: [admin]
      operationId: adminControl
      summary: Admin CLI — run governed platform control actions
      description: Executes tool=shell (allowlisted shell commands on Cloud Run), tool=gcloud, tool=github, tool=db, or tool=env. action=status/list/run for shell. Admin principal required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tool]
              properties:
                tool:
                  type: string
                  enum: [shell, gcloud, github, db, env, windows_app, hostinger]
                action:
                  type: string
                  enum: [status, list, run]
                  default: list
                alias: { type: string }
                extra_args:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Control result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok: { type: boolean }
                  tool: { type: string }
                  action: { type: string }
                  stdout: { type: string }
                  stderr: { type: string }
                  exit_code: { type: integer }
                  result: { type: object, additionalProperties: true }
                  aliases:
                    type: array
                    items:
                      type: object
                      properties:
                        alias: { type: string }
                        description: { type: string }
                        allow_extra_args: { type: boolean }
        '403': { description: Admin principal required }
