openapi: 3.1.0
info:
  title: Mad4B Growth Intelligence - Tenant AI - MCP Actions
  version: 2.0.0-mcp
  summary: Tenant GPT schema. Five meta-operations; all platform tools discovered via listTools and called via callTool.
  description: 'MCP-style tenant action schema. Workflow: 1) activateSession at conversation start to get session_id and platform context. 2) listTools to discover available operations for this tenant. 3) callTool to execute any operation by name. For tenant activation, call connect_activate with tool_args.mode set to managed or dedicated. 4) writeSessionTurn after each exchange. 5) endSession when the conversation ends.'
servers:
  - url: https://auth.mad4b.com
    description: Mad4B platform — auth subdomain
components:
  securitySchemes:
    userBearerAuth:
      type: oauth2
      description: Tenant GPT OAuth. ChatGPT signs in through the Growth Intelligence Platform popup, then /auth/oauth/token mints a fresh Mad4B tenant access JWT with issuer, audience, subject, scope, user_id, and tenant_id claims. Google Sign-In is only an upstream identity proof inside the popup; do not call OAuth.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mad4b.com/auth/oauth/authorize
          tokenUrl: https://auth.mad4b.com/auth/oauth/token
          scopes:
            https://auth.mad4b.com/scopes/tenant.links: Access tenant-scoped Growth Intelligence links for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.status: Read tenant connection status for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.activation: Activate managed or dedicated tenant connection mode for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.install: Provision tenant local connector install bundles for the signed-in user.
            https://auth.mad4b.com/scopes/tenant.system-tools: Use tenant-scoped governed system tools for the signed-in user.
  schemas:
    ToolItem:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
          description: Tool key — pass this as name to callTool.
        displayName:
          type: string
        description:
          type: string
        method:
          type: string
        path:
          type: string
        tags:
          type: array
          items:
            type: string
        inputSchema:
          type: object
          additionalProperties: true
          nullable: true
    GptSession:
      type: object
      additionalProperties: true
      properties:
        session_id:
          type: string
        session_status:
          type: string
        turn_count:
          type: integer
        started_at:
          type: string
        ended_at:
          type: string
          nullable: true
        drive_export_url:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
security:
  - userBearerAuth:
      - https://auth.mad4b.com/scopes/tenant.links
      - https://auth.mad4b.com/scopes/tenant.status
      - https://auth.mad4b.com/scopes/tenant.activation
      - https://auth.mad4b.com/scopes/tenant.install
      - https://auth.mad4b.com/scopes/tenant.system-tools
paths:
  /activation/session-context:
    get:
      tags:
        - session
      operationId: activateSession
      summary: Open conversation session and load tenant platform context
      description: Call once at conversation start. Auto-closes previous open sessions, opens a new one, returns session_id plus platform context (scope, recent sessions). Use session_id for writeSessionTurn and endSession calls.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Session opened
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - ok
                  - session_id
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                    description: Use this in /gpt/sessions/{id}/turn and /gpt/sessions/{id}/end.
                  closed_sessions:
                    type: integer
                  gpt_sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/GptSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/tools:
    get:
      tags:
        - tools
      operationId: listTools
      summary: List all available platform tools for this tenant
      description: |
        Returns the full catalog of platform operations available to this tenant from the DB tool registry. Each tool has a name (pass to callTool), description, and inputSchema. Call this to discover what operations are available before using callTool.
      responses:
        '200':
          description: Tool catalog
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - tools
                properties:
                  ok:
                    type: boolean
                  caller_type:
                    type: string
                  count:
                    type: integer
                  tools:
                    type: array
                    items:
                      $ref: '#/components/schemas/ToolItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/tools/call:
    post:
      x-openai-isConsequential: false
      tags:
        - tools
      operationId: callTool
      summary: Execute any platform tool by name
      description: Executes a tool from the tenant registry. Use listTools first to get tool names and required arguments. Path params are substituted automatically; GET uses query string, POST uses request body. Returns the raw upstream response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Tool name from listTools (e.g. connector_shell, connect_status).
                tool_args:
                  type: object
                  additionalProperties: true
                  description: Arguments matching the tool inputSchema.
      responses:
        '200':
          description: Upstream tool response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                  result:
                    description: Raw upstream tool response payload.
        '400':
          description: Missing name or path parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Tool not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/sessions/{id}/turn:
    post:
      x-openai-isConsequential: false
      tags:
        - session
      operationId: writeSessionTurn
      summary: Record a conversation turn (user, assistant, or tool message)
      description: |
        Persists a message turn to the active session. Call after every user or assistant exchange. role=user for human input, role=assistant for GPT reply, role=tool for tool-call results.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id from activateSession.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
                - content
              properties:
                role:
                  type: string
                  enum:
                    - user
                    - assistant
                    - tool
                content:
                  type: string
                action_key:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Turn written
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  turn_index:
                    type: integer
        '400':
          description: Missing fields
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
        '409':
          description: Session already closed
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
  /gpt/sessions/{id}/end:
    post:
      x-openai-isConsequential: false
      tags:
        - session
      operationId: endSession
      summary: Close the session and archive conversation to Google Drive
      description: |
        Marks the session completed and exports the full conversation JSON to Drive with hierarchical filing (year-month/day/user_time_id.json). Returns the Drive link. Call when the conversation is ending.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: session_id from activateSession.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                  nullable: true
                  description: One-paragraph summary of what was accomplished.
      responses:
        '200':
          description: Session closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  session_id:
                    type: string
                  drive_export:
                    type: object
                    nullable: true
                    properties:
                      drive_file_id:
                        type: string
                      drive_web_url:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
        '409':
          description: Session already ended
      security:
        - userBearerAuth:
            - https://auth.mad4b.com/scopes/tenant.links
            - https://auth.mad4b.com/scopes/tenant.status
            - https://auth.mad4b.com/scopes/tenant.activation
            - https://auth.mad4b.com/scopes/tenant.install
            - https://auth.mad4b.com/scopes/tenant.system-tools
x-gpt-action-auth-preset:
  authentication_type: OAuth
  schema_url: https://auth.mad4b.com/openapi.tenant-gpt.auth.yaml
  client_id: mad4b-tenant-gpt
  client_secret: <stored-in-platform-runtime-config>
  client_secret_config_key: tenant_gpt.oauth.client
  authorization_url: https://auth.mad4b.com/auth/oauth/authorize
  token_url: https://auth.mad4b.com/auth/oauth/token
  token_exchange_method: Default (POST request)
  callback_urls_to_allow:
    - https://chat.openai.com/aip/g-d36db295032b9022dd77233041763f513e8ba5fa/oauth/callback
    - https://chat.openai.com/aip/{g-GPT-ID}/oauth/callback
    - https://chatgpt.com/aip/{g-GPT-ID}/oauth/callback
  scope_links:
    - https://auth.mad4b.com/scopes/tenant.links
    - https://auth.mad4b.com/scopes/tenant.status
    - https://auth.mad4b.com/scopes/tenant.activation
    - https://auth.mad4b.com/scopes/tenant.install
    - https://auth.mad4b.com/scopes/tenant.system-tools
