openapi: 3.1.0
info:
  title: Mad4B Growth Intelligence — Tenant AI
  version: 1.0.0
  summary: Governed tenant access to the Growth AI Intelligence-Human Managed Platform.
  description: "Scoped tenant brain: sign in, activate your backend connection (managed or dedicated), provision your Cloudflare tunnel, and access governed multi-agent workflows. Multi-tenant, Human-Managed, registry-driven. Created by Essam Nagy (nagy.essam.website)."
servers:
  - url: https://auth.mad4b.com
    description: Mad4B platform — auth subdomain
tags:
  - name: governance
    description: Tenant scope policy and access boundary. Call /policy first to understand what this scope permits.
  - name: connect
    description: Backend connection activation and device provisioning.
  - name: connector
    description: Local connector install, status, and health.
  - name: credentials
    description: Secure credential storage for dedicated connection mode.
components:
  securitySchemes:
    userBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: User JWT
      description: "Configured by GPT Action OAuth. ChatGPT obtains the per-user tenant token through the OAuth popup; do not call OAuth token or Google ID-token endpoints as normal actions."
  schemas:
    AuthResult:
      type: object
      properties:
        ok: { type: boolean }
        user_id: { type: string }
        email: { type: string }
        display_name: { type: string }
        tenant_id: { type: string }
        token: { type: string }
        memberships:
          type: array
          items: { type: object, additionalProperties: true }
    Error:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
security:
  - userBearerAuth: []
paths:

  /policy:
    get:
      tags: [governance]
      operationId: tenantPolicy
      summary: Tenant scope governance policy
      description: "Returns this tenant GPT's governance boundary: permitted operations, what requires platform admin, and the access model for managed vs dedicated modes. No auth required. Call this first to understand what is and is not available at tenant scope."
      security: []
      responses:
        '200':
          description: Tenant governance policy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  scope: { type: string, example: tenant }
                  permitted_operations:
                    type: array
                    items: { type: string }
                    description: Operations this tenant GPT is authorised to perform.
                  platform_admin_required:
                    type: array
                    items: { type: string }
                    description: "Operations blocked at tenant scope — require platform admin principal: /admin/*, /activation/*, /dispatch."
                  connection_modes:
                    type: array
                    items: { type: string, enum: [managed, dedicated] }
                    description: "managed: platform provisions infrastructure. dedicated: tenant supplies own credentials."
                  access_model:
                    type: string
                    description: Description of the JWT-based tenant access model.

  /connect/status:
    get:
      tags: [connect]
      operationId: tenantConnectionStatus
      summary: Get authenticated tenant's connection state
      description: Returns the tenant's connection mode (managed/dedicated), active devices, and provisioning status. ChatGPT sends the tenant OAuth bearer token configured for this action.
      responses:
        '200':
          description: Connection status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  user: { type: object, additionalProperties: true }
                  tenant: { type: object, additionalProperties: true }
                  connection:
                    type: object
                    properties:
                      mode: { type: string, enum: [managed, dedicated] }
                      status: { type: string, enum: [active, pending, inactive] }
                      cloudflare_mode: { type: string }
                      google_auth_mode: { type: string }
                      n8n_activation_mode:
                        type: string
                        enum: [managed_main_server, self_hosted_local]
                      device_count: { type: integer }
                      activated_at: { type: string }
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id: { type: string }
                        tunnel_url: { type: string }
                        is_enabled: { type: boolean }
        '403': { description: User JWT required }

  /connect/activate:
    post:
      tags: [connect]
      operationId: tenantConnectionActivate
      summary: Set tenant backend connection mode (managed or dedicated)
      description: "Activates managed (platform provisions CF tunnel and uses its own Google SA) or dedicated (tenant supplies own CF/Hostinger credentials). Upserts tenant_backend_connections row. User JWT required."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              properties:
                mode:
                  type: string
                  enum: [managed, dedicated]
                cloudflare_mode:
                  type: string
                  enum: [managed, dedicated]
                  default: managed
                google_auth_mode:
                  type: string
                  enum: [managed, dedicated]
                  default: managed
                n8n_activation_mode:
                  type: string
                  enum: [managed_main_server, self_hosted_local]
                  default: managed_main_server
                  description: managed_main_server uses n8n.mad4b.com; self_hosted_local provisions device-local n8n route.
                cf_api_token:
                  type: string
                  description: Dedicated mode only — Cloudflare API token for tunnel provisioning.
                cf_account_id:
                  type: string
                  description: Dedicated mode only — Cloudflare account ID.
                hostinger_api_key:
                  type: string
                  description: Dedicated mode only — Hostinger DNS API key.
      responses:
        '200':
          description: Activation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  connection:
                    type: object
                    properties:
                      mode: { type: string, enum: [managed, dedicated] }
                      status: { type: string }
                      cloudflare_mode: { type: string, enum: [managed, dedicated] }
                      google_auth_mode: { type: string, enum: [managed, dedicated] }
                      n8n_activation_mode:
                        type: string
                        enum: [managed_main_server, self_hosted_local]
                      device_count: { type: integer }
                      activated_at: { type: string }
                  notice: { type: string }
        '403': { description: User JWT required }

  /connect/device-install:
    post:
      tags: [connect]
      operationId: tenantDeviceInstall
      summary: Provision a local connector for the authenticated tenant's device
      description: Creates a connector config for the given device_id under the tenant. Returns tunnel_url, connector_secret, and install steps. User JWT required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
                  description: "Stable machine identifier, e.g. mohammedlap or johns-pc."
                hostname:
                  type: string
                  description: Optional full hostname under .connector.mad4b.com.
                cloudflare_connection_id: { type: string }
                hostinger_connection_id: { type: string }
                local_apps:
                  type: array
                  items:
                    type: object
                    properties:
                      app_key: { type: string }
                      path_prefix: { type: string }
                      local_port: { type: integer }
                      status: { type: string, enum: [planned, active, disabled] }
      responses:
        '200':
          description: Connector install bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  config_id: { type: string }
                  device_id: { type: string }
                  tunnel_url: { type: string }
                  connector_secret: { type: string }
                  cf_tunnel_id: { type: string }
                  credential_source: { type: string }
                  dns_record: { type: object, additionalProperties: true }
                  app_routes:
                    type: array
                    items:
                      type: object
                      properties:
                        app_key: { type: string }
                        route_mode: { type: string, enum: [host, path] }
                        hostname: { type: string }
                        path_prefix: { type: string, nullable: true }
                        local_port: { type: integer }
                        service_url: { type: string }
                        public_url: { type: string }
                        status: { type: string, enum: [planned, active, disabled] }
                  installation: { type: object, additionalProperties: true }
        '403': { description: User JWT required }

  /local-connector/install:
    post:
      tags: [connector]
      operationId: tenantLocalConnectorInstall
      summary: Full local connector provisioning with Cloudflare tunnel and DNS
      description: "Provisions a Cloudflare tunnel for the device, adds DNS CNAME, seeds DB config and shell allowlist. Returns install.bat for the device. Idempotent per user+device. Owner/admin uses env credentials; tenants use DB app connections (cloudflare_connection_id, hostinger_connection_id)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, tenant_id, device_id]
              properties:
                user_id: { type: string }
                tenant_id: { type: string }
                device_id: { type: string, description: Stable machine name. }
                cloudflare_connection_id:
                  type: string
                  description: App connection ID for dedicated CF credentials. Omit to use platform managed credentials.
                hostinger_connection_id:
                  type: string
                  description: App connection ID for dedicated Hostinger credentials. Omit to use platform managed DNS.
                reprovision:
                  type: boolean
                  default: false
                  description: Set true to rotate the tunnel and connector_secret.
                custom_aliases:
                  type: array
                  items:
                    type: object
                    properties:
                      alias: { type: string }
                      cmd: { type: string }
                      args: { type: array, items: { type: string } }
                      description: { type: string }
      responses:
        '200':
          description: Install bundle with tunnel credentials and install.bat
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  config_id: { type: string }
                  tunnel_url: { type: string }
                  connector_secret: { type: string }
                  cf_tunnel_id: { type: string }
                  cloud_run_env: { type: object, additionalProperties: true }
                  installation: { type: object, additionalProperties: true }

  /local-connector/install/status:
    get:
      tags: [connector]
      operationId: tenantLocalConnectorStatus
      summary: Check local connector installation status for a device
      description: Returns config and shell allowlist for the given user+device. installed=false means /local-connector/install has not been called yet for this device.
      parameters:
        - name: user_id
          in: query
          required: true
          schema: { type: string }
        - name: tenant_id
          in: query
          required: true
          schema: { type: string }
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Install status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  installed: { type: boolean }
                  config: { type: object, additionalProperties: true }
                  aliases: { type: array, items: { type: object } }

  /local-connector/health:
    get:
      tags: [connector]
      operationId: tenantLocalConnectorHealth
      summary: Check local connector reachability via platform proxy
      description: Platform calls the device tunnel and returns health. Slower than calling the connector directly but works without knowing the device secret. Returns ok=false if unreachable.
      parameters:
        - name: user_id
          in: query
          required: true
          schema: { type: string }
        - name: tenant_id
          in: query
          required: true
          schema: { type: string }
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Health result (ok=false if unreachable)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  tunnel_url: { type: string }
                  agent: { type: object, additionalProperties: true }
                  error: { type: object, additionalProperties: true }

  /app-connections:
    post:
      tags: [credentials]
      operationId: tenantSaveAppConnection
      summary: Save credentials for a third-party integration (Cloudflare, Hostinger)
      description: "Stores encrypted API key credentials for cloudflare or hostinger. Returns connection_id used in /local-connector/install. auth_type must be api_key."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, tenant_id, app_key, auth_type, credentials]
              properties:
                user_id: { type: string }
                tenant_id: { type: string }
                app_key:
                  type: string
                  enum: [cloudflare, hostinger]
                  description: "cloudflare: tunnel provisioning. hostinger: DNS management."
                auth_type:
                  type: string
                  enum: [api_key]
                display_label:
                  type: string
                  description: Human-readable label for this connection.
                credentials:
                  type: object
                  additionalProperties: true
                  description: "cloudflare: {cloudflare_api_token, cloudflare_account_id}. hostinger: {hostinger_api_token}."
      responses:
        '200':
          description: Connection created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  connection_id: { type: string }
                  app_key: { type: string }
        '400': { description: Missing required fields }
        '403': { description: Authentication required }
