openapi: 3.1.0

info:
  title: Governed HTTP Client
  version: 2.8.0-ai-resolvers
  summary: Governed outbound HTTP execution with async jobs, native governance diagnostics, and AI generation resolvers
  description: >
    OpenAI Action schema for the GPT-native governed HTTP client backend.
    This schema exposes synchronous governed execution through /http-execute,
    async job lifecycle endpoints through /jobs, /jobs/{jobId}, and
    /jobs/{jobId}/result, a native governance diagnostic route through
    /governance/resolve-context-diagnostic, and first-class AI generation
    resolver routes through /ai/implementation-plan, /ai/task-manifest, and
    /ai/registry-readiness. The governance diagnostic and AI resolver routes
    are included directly in the parent schema so they do not depend on
    endpoint child schema overlay fallback.

servers:
  - url: https://auth.mad4b.com
    description: Governed HTTP backend

tags:
  - name: health
    description: Backend health and queue status.
  - name: jobs
    description: Async governed execution jobs.
  - name: execution
    description: Synchronous governed HTTP execution.
  - name: governance
    description: Runtime governance diagnostics.
  - name: ai
    description: AI generation resolvers for implementation plans and task manifests.
  - name: local-manager
    description: Local Manager device-code linking, device controls, and Windows update metadata.

components:
  securitySchemes:
    backendBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Backend API Key
      description: >
        Required when BACKEND_API_KEY is enabled on the backend. Send as
        Authorization: Bearer <BACKEND_API_KEY>.
    backendApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >
        Alternative Custom GPT-safe backend authentication header. Send
        x-api-key: <BACKEND_API_KEY>.
    localManagerBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: User JWT or Local Manager device token
      description: >
        Bearer token minted by /auth/login, /auth/register, or approved device-link polling.

  schemas:

    ReadbackRequest:
      type: object
      additionalProperties: false
      properties:
        required:
          type: boolean
          default: false
        mode:
          type: string
          enum: [none, echo, location_followup]
          default: none

    ReadbackResult:
      type: object
      properties: {}
      additionalProperties: true
      description: Optional readback result when requested and available.

    QueryObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
          - type: "null"

    StringMap:
      type: object
      properties: {}
      additionalProperties:
        type: string

    PathParamsObject:
      type: object
      properties: {}
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean

    JsonValue:
      oneOf:
        - type: object
          properties: {}
          additionalProperties: true
        - type: array
          items: {}
        - type: string
        - type: number
        - type: integer
        - type: boolean
        - type: "null"

    ExecuteHttpRequest:
      type: object
      additionalProperties: false
      required:
        - parent_action_key
        - endpoint_key
      properties:
        target_key:
          type: string
          description: >
            Brand or target selector resolved server-side through governed registries.
            Keep this as a top-level execution field, not inside body, when it is
            used for routing.
        brand:
          type: string
          description: Optional brand name resolver input.
        brand_domain:
          type: string
          description: Optional brand domain resolver input.
        provider_domain:
          type: string
          description: >
            Optional execution server source. May be omitted when the endpoint row
            defines a fixed provider domain or when governed placeholder resolution applies.
        parent_action_key:
          type: string
          description: Governing parent action key from Actions Registry.
        endpoint_key:
          type: string
          description: Governing endpoint key from API Actions Endpoint Registry.
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
          description: >
            Optional HTTP method override. When omitted, backend resolves the
            authoritative method from the endpoint registry/schema contract.
        path:
          type: string
          pattern: "^/"
          description: >
            Optional relative path override. When omitted, backend resolves the
            authoritative path from the endpoint registry/schema contract.
        path_params:
          $ref: "#/components/schemas/PathParamsObject"
        query:
          $ref: "#/components/schemas/QueryObject"
        headers:
          $ref: "#/components/schemas/StringMap"
          description: >
            Optional non-sensitive headers. Authorization must never be supplied by caller.
        body:
          $ref: "#/components/schemas/JsonValue"
        expect_json:
          type: boolean
          default: true
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
          description: Optional override bounded by backend policy.
        readback:
          $ref: "#/components/schemas/ReadbackRequest"
        force_refresh:
          type: boolean
          description: Force registry reload before execution.

    ExecuteHttpResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - status
        - provider_domain
        - parent_action_key
        - endpoint_key
        - method
        - path
      properties:
        ok:
          type: boolean
        status:
          type: integer
          description: Upstream HTTP status code or backend execution status.
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
        path:
          type: string
        openai_schema_file_id:
          type: string
        schema_name:
          type: string
        resolved_auth_mode:
          type: string
          enum:
            - ""
            - none
            - basic_auth
            - bearer_token
            - api_key_query
            - api_key_header
            - oauth_gpt_action
            - custom_headers
        runtime_capability_class:
          type: string
        runtime_callable:
          type: boolean
        registry_runtime_callable:
          type: boolean
        primary_executor:
          type: string
        endpoint_role:
          type: string
        execution_mode:
          type: string
        transport_required:
          type: boolean
        request_schema_alignment_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        response_schema_alignment_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        transport_request_contract_status:
          type: string
          enum: [pending, validated, degraded, blocked]
        resolved_provider_domain_mode:
          type: string
          enum:
            - ""
            - fixed_domain
            - placeholder_runtime_resolved
            - brand_bound_domain
        placeholder_resolution_source:
          type: string
        resilience_applied:
          type: boolean
        final_query:
          type: object
          additionalProperties: true
        request_url:
          type: string
        response_headers:
          type: object
          additionalProperties: true
        data:
          $ref: "#/components/schemas/JsonValue"
        readback:
          $ref: "#/components/schemas/ReadbackResult"
        upstream_status:
          type: integer
          description: Present on compact/specialized success envelopes.
        post_id:
          oneOf:
            - type: integer
            - type: string
        link:
          type: string
        error:
          $ref: "#/components/schemas/ErrorObject"

    ResolveContextDiagnosticRequest:
      type: object
      additionalProperties: true
      properties:
        business_type_key:
          type: string
          description: Business type key, for example hvac_air_conditioning_services.
        business_activity_type_key:
          type: string
          description: Optional business activity type key.
        knowledge_profile_key:
          type: string
          description: Optional business type knowledge profile key.
        brand_key:
          type: string
          description: Brand key, for example arab_cooling.
        target_key:
          type: string
          description: >
            Optional execution target key. When this diagnostic route is called
            through /http-execute, target_key should remain top-level in the
            governed execution envelope rather than inside body.
        mutation_intent:
          type: string
          default: resolve_context_diagnostic
        requestPayload:
          type: object
          additionalProperties: true
          description: Optional nested request payload for diagnostic testing.
        brand:
          type: object
          additionalProperties: true
          description: Optional brand context override for diagnostics.
        endpoint:
          type: object
          additionalProperties: true
          description: Optional endpoint context override for diagnostics.
        action:
          type: object
          additionalProperties: true
          description: Optional action context override for diagnostics.
      description: >
        Diagnostic payload for resolving governed business type, brand path,
        Brand Core, validation, and execution readiness without mutation.

    ResolveContextDiagnosticResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - diagnostic
      properties:
        ok:
          type: boolean
        diagnostic:
          type: object
          additionalProperties: true
          required:
            - resolution_status
            - knowledge_ready
            - execution_ready
          properties:
            request:
              type: object
              additionalProperties: true
            path_resolver_load:
              type: object
              additionalProperties: true
            resolution_status:
              type: string
              description: ready, validating, blocked, not_requested, or not_attempted.
            knowledge_ready:
              type: boolean
            execution_ready:
              type: boolean
            business_type:
              type: object
              additionalProperties: true
            brand:
              type: object
              additionalProperties: true
            brand_core:
              type: object
              additionalProperties: true
            validation_state:
              type: object
              additionalProperties: true
            execution_target:
              type: object
              additionalProperties: true

    JobCreateRequest:
      type: object
      additionalProperties: false
      properties:
        request_payload:
          $ref: "#/components/schemas/ExecuteHttpRequest"
        job_type:
          type: string
          default: http_execute
        max_attempts:
          type: integer
          minimum: 1
          maximum: 10
        webhook_url:
          type: string
          format: uri
        callback_secret:
          type: string
        idempotency_key:
          type: string
        target_key:
          type: string
        brand:
          type: string
        brand_domain:
          type: string
        provider_domain:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE]
        path:
          type: string
          pattern: "^/"
        path_params:
          $ref: "#/components/schemas/PathParamsObject"
        query:
          $ref: "#/components/schemas/QueryObject"
        headers:
          $ref: "#/components/schemas/StringMap"
        body:
          $ref: "#/components/schemas/JsonValue"
        expect_json:
          type: boolean
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 300
        readback:
          $ref: "#/components/schemas/ReadbackRequest"
        force_refresh:
          type: boolean
      description: >
        Provide either request_payload or the top-level execution fields.
        Do not send both at once. After normalization, execution still requires
        parent_action_key and endpoint_key.

    JobSummary:
      type: object
      additionalProperties: false
      required:
        - job_id
        - job_type
        - status
        - created_at
        - updated_at
        - requested_by
        - target_key
        - parent_action_key
        - endpoint_key
        - attempt_count
        - max_attempts
        - status_url
        - result_url
      properties:
        job_id:
          type: string
        job_type:
          type: string
        status:
          type: string
          enum: [queued, running, retrying, succeeded, failed, cancelled]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        requested_by:
          type: string
        target_key:
          type: string
        parent_action_key:
          type: string
        endpoint_key:
          type: string
        attempt_count:
          type: integer
        max_attempts:
          type: integer
        next_retry_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        status_url:
          type: string
        result_url:
          type: string
        deduplicated:
          type: boolean
        terminal:
          type: boolean
        active:
          type: boolean

    JobResultPending:
      type: object
      additionalProperties: false
      required: [job_id, status, message, status_url]
      properties:
        job_id:
          type: string
        status:
          type: string
        message:
          type: string
        status_url:
          type: string

    JobResultSuccess:
      type: object
      additionalProperties: false
      required: [job_id, status, result]
      properties:
        job_id:
          type: string
        status:
          type: string
        result:
          $ref: "#/components/schemas/JsonValue"

    JobResultFailure:
      type: object
      additionalProperties: false
      required: [job_id, status, error]
      properties:
        job_id:
          type: string
        status:
          type: string
        error:
          oneOf:
            - $ref: "#/components/schemas/ErrorResponse"
            - type: object
              additionalProperties: true

    HealthResponse:
      type: object
      additionalProperties: false
      required: [ok, service, status, version, jobs, timestamp]
      properties:
        ok:
          type: boolean
        service:
          type: string
        status:
          type: string
        version:
          type: string
        jobs:
          type: object
          additionalProperties: false
          required: [total, queued_buffer_size, statuses]
          properties:
            total:
              type: integer
            queued_buffer_size:
              type: integer
            statuses:
              type: object
              additionalProperties: false
              required: [queued, running, succeeded, failed, retrying, cancelled]
              properties:
                queued:
                  type: integer
                running:
                  type: integer
                succeeded:
                  type: integer
                failed:
                  type: integer
                retrying:
                  type: integer
                cancelled:
                  type: integer
        dependencies:
          type: object
          additionalProperties: true
          description: Optional backend dependency health details.
        timestamp:
          type: string
          format: date-time

    ErrorObject:
      type: object
      additionalProperties: false
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          oneOf:
            - type: object
              additionalProperties: true
            - type: "null"

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error]
      properties:
        ok:
          type: boolean
          enum: [false]
        error:
          $ref: "#/components/schemas/ErrorObject"
        execution_guardrail:
          type: boolean

    # -- AI resolver schemas --------------------------------------------------

    AiIntentMaturation:
      type: object
      additionalProperties: true
      description: >
        First-class intent maturation context produced by the AI resolver.
        Carry the full object forward from /ai/implementation-plan into
        /ai/task-manifest to preserve route/workflow continuity.
      properties:
        intent_key:
          type: string
          description: Resolved intent key, e.g. ai_implementation_plan_generation.
        resolver_type:
          type: string
          enum: [implementation_plan, task_manifest]
        maturation_status:
          type: string
          enum: [matured, blocked]
        upstream_resolver_type:
          type: string
          description: resolver_type from the prior route, if applicable.
        upstream_intent_key:
          type: string
          description: intent_key from the prior route, if applicable.
        execution_intent:
          type: object
          additionalProperties: true
        route_workflow_state:
          type: object
          additionalProperties: true
        mutation_intent:
          type: object
          additionalProperties: true
        blocked_reason:
          type: string
          description: Non-empty only when maturation_status is blocked.

    AiUsage:
      type: object
      additionalProperties: true
      description: OpenAI token usage for the generation call.
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer

    AiImplementationPlanRequest:
      type: object
      additionalProperties: true
      required:
        - userPrompt
      properties:
        userPrompt:
          type: string
          description: The user's high-level request to generate an implementation plan for.
        systemContext:
          type: string
          description: >
            Optional extra system context injected before the intent maturation block.
            Do not include intent_maturation here; it is injected automatically.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: >
            Optional explicit intent key override. When omitted, defaults to
            ai_implementation_plan_generation.
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
          description: >
            Optional carry-forward from a prior AI resolver call. Supply when
            chaining resolvers so route/workflow context is preserved.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.

    AiImplementationPlanResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - planMarkdown
      properties:
        ok:
          type: boolean
          enum: [true]
        type:
          type: string
          enum: [implementation_plan]
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
        planMarkdown:
          type: string
          description: >
            Full Markdown implementation plan. Pass this as implementationPlan
            in the body of a subsequent /ai/task-manifest call.
        usage:
          oneOf:
            - $ref: "#/components/schemas/AiUsage"
            - type: "null"

    AiTaskManifestRequest:
      type: object
      additionalProperties: true
      required:
        - implementationPlan
      properties:
        implementationPlan:
          type: string
          description: >
            The Markdown implementation plan to break down into tasks.
            Pass the planMarkdown from /ai/implementation-plan here.
        systemContext:
          type: string
          description: >
            Optional extra system context injected before the intent maturation block.
        model:
          type: string
          default: gpt-4o
          description: OpenAI model to use. Defaults to gpt-4o.
        intent_key:
          type: string
          description: >
            Optional explicit intent key override. When omitted, defaults to
            ai_task_manifest_generation.
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
          description: >
            Carry-forward from /ai/implementation-plan. Supply the full
            intent_maturation object to preserve route/workflow continuity
            between the two resolver steps.
        routing_context:
          type: object
          additionalProperties: true
          description: Optional governed routing context for intent resolution.

    AiTaskManifestResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - type
        - intent_maturation
        - taskMarkdown
      properties:
        ok:
          type: boolean
          enum: [true]
        type:
          type: string
          enum: [task_manifest]
        intent_maturation:
          $ref: "#/components/schemas/AiIntentMaturation"
        taskMarkdown:
          type: string
          description: Markdown task checklist derived from the implementation plan.
        usage:
          oneOf:
            - $ref: "#/components/schemas/AiUsage"
            - type: "null"

    AiRegistryReadinessBinding:
      type: object
      additionalProperties: false
      required:
        - intent_key
        - route_found
        - route_executable
        - workflow_found
        - workflow_executable
      properties:
        intent_key:
          type: string
        route_found:
          type: boolean
        route_executable:
          type: boolean
        route_id:
          type: string
        route_task_key:
          type: string
        route_workflow_key:
          type: string
        workflow_found:
          type: boolean
        workflow_executable:
          type: boolean
        workflow_id:
          type: string
        workflow_key:
          type: string
        workflow_route_key:
          type: string

    AiRegistryReadinessDetail:
      type: object
      additionalProperties: false
      required:
        - mode
        - required_intent_keys
        - bindings
        - missing_intent_keys
        - unresolved_task_authority
        - missing_workflow_bindings
        - unresolved_workflow_authority
        - task_routes_ready
        - workflow_registry_ready
        - ok
      properties:
        mode:
          type: string
          enum: [validate_only]
        required_intent_keys:
          type: array
          items:
            type: string
        bindings:
          type: array
          items:
            $ref: "#/components/schemas/AiRegistryReadinessBinding"
        missing_intent_keys:
          type: array
          items:
            type: string
        unresolved_task_authority:
          type: array
          items:
            type: string
        missing_workflow_bindings:
          type: array
          items:
            type: string
        unresolved_workflow_authority:
          type: array
          items:
            type: string
        task_routes_ready:
          type: boolean
        workflow_registry_ready:
          type: boolean
        ok:
          type: boolean

    AiRegistryReadinessResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - readiness
      properties:
        ok:
          type: boolean
        degraded:
          type: boolean
          description: Present and true when readiness check is not fully passing.
        message:
          type: string
        readiness:
          $ref: "#/components/schemas/AiRegistryReadinessDetail"

security: []

paths:

  /health:
    get:
      tags: [health]
      security: []
      operationId: getHealth
      summary: Health and queue status
      responses:
        "200":
          description: Service health response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /governance/resolve-context-diagnostic:
    post:
      tags: [governance]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: resolveContextDiagnostic
      summary: Resolve governed context diagnostic
      description: >
        Resolves business type, brand path, Brand Core documents, validation
        state, and execution readiness without performing a mutation. This is a
        native backend route in the parent OpenAI schema, so it does not require
        endpoint child schema overlay to pass method/path validation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveContextDiagnosticRequest"
      responses:
        "200":
          description: Governed context diagnostic result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolveContextDiagnosticResponse"
        "400":
          description: Invalid diagnostic request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden by governance policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Governed context resolution blocked or incomplete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Schema or resolver validation failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Diagnostic execution failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs:
    post:
      tags: [jobs]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: createJob
      summary: Create an async governed execution job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobCreateRequest"
      responses:
        "200":
          description: Existing job returned due to idempotent deduplication
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/JobSummary"
                  - type: object
                    properties:
                      deduplicated:
                        type: boolean
        "202":
          description: Job accepted and queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSummary"
        "400":
          description: Invalid job request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs/{jobId}:
    get:
      tags: [jobs]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getJob
      summary: Get async job status
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/JobSummary"
                  - type: object
                    properties:
                      terminal:
                        type: boolean
                      active:
                        type: boolean
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /jobs/{jobId}/result:
    get:
      tags: [jobs]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getJobResult
      summary: Get async job result or current completion state
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Completed job result or failure payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/JobResultSuccess"
                  - $ref: "#/components/schemas/JobResultFailure"
        "202":
          description: Job is not complete yet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResultPending"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /http-execute:
    post:
      tags: [execution]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: executeHttpRequest
      summary: Execute a governed outbound HTTP request
      description: >
        Executes a governed HTTP request. The backend resolves routing, schema,
        auth, and provider-domain rules server-side. Backend bearer auth is
        enforced only when BACKEND_API_KEY is configured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteHttpRequest"
      responses:
        "200":
          description: Execution response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteHttpResponse"
        "400":
          description: Invalid request or routing payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden by policy or execution governance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Target job or target resource not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Request or response schema validation failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Execution failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /ai/implementation-plan:
    post:
      tags: [ai]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: generateImplementationPlan
      summary: Generate a structured implementation plan
      description: >
        Generates a Markdown implementation plan from a user prompt via an
        OpenAI-backed planning resolver. The response includes a first-class
        intent_maturation object that must be carried forward into the body of
        a subsequent /ai/task-manifest call to preserve route and workflow
        context continuity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiImplementationPlanRequest"
      responses:
        "200":
          description: Implementation plan generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiImplementationPlanResponse"
        "400":
          description: Missing or blocked intent, or missing userPrompt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: OpenAI API key not configured or upstream failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /ai/task-manifest:
    post:
      tags: [ai]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: generateTaskManifest
      summary: Generate a task checklist from an implementation plan
      description: >
        Generates a Markdown task checklist from an implementation plan via an
        OpenAI-backed task resolver. Supply the planMarkdown from a prior
        /ai/implementation-plan response as implementationPlan, and pass the
        full intent_maturation object to preserve route and workflow continuity
        across the two resolver steps.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiTaskManifestRequest"
      responses:
        "200":
          description: Task manifest generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiTaskManifestResponse"
        "400":
          description: Missing or blocked intent, or missing implementationPlan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: OpenAI API key not configured or upstream failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /ai/registry-readiness:
    get:
      tags: [ai]
      security:
        - backendBearerAuth: []
        - backendApiKeyAuth: []
      operationId: getAiRegistryReadiness
      summary: Check AI resolver intent binding in Task Routes and Workflow Registry
      description: >
        Validation-only diagnostic that confirms the two required AI resolver
        intent keys (ai_implementation_plan_generation and
        ai_task_manifest_generation) are bound to executable Task Routes rows
        and linked Workflow Registry rows. Returns 200 when both bindings are
        fully ready, or 409 when one or more bindings are missing or lack
        executable authority.
      responses:
        "200":
          description: All AI resolver intent keys are route/workflow bound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiRegistryReadinessResponse"
        "401":
          description: Invalid backend API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: One or more AI resolver intent bindings are missing or unresolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiRegistryReadinessResponse"
        "500":
          description: Registry readiness check failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"


